page-my-wallet {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .YourWalletBalanceGridColumn {
        background-color: $header_bcolor;
    }

    .YourWalletBalanceHeading {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .YourWalletBalance {
        margin-bottom: 5px;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: $subfont_cartpage !important;
        box-shadow: none !important;
    }

    .AddMoneyButton {
        color: $welcome_text_fontColor;
        background-color: $welcome_backgroundColor;
        text-transform: none;
        margin-top: 30px;
    }

    .button.AddMoneyButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.AddMoneyButton:active {
        background-color: $welcome_backgroundColor;
    }

    .LatestTransactionsHeader {
        color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 20px;
    }

    .TransactionDateGridColumn {
        background-color: $item_border_color;
    }

    .TransactionDate {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .TransactionTime {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .TransactionAmount {
        padding-left: 35px;
    }

    .TransactionStatus {
        background-color: $offer_Title_Color;
        color: $welcome_text_fontColor;
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .TransactionID {
       color: $button_checkout_bcolor;
    }

    .OptionsColumn {
        margin-top: 5px;
    }

    .label-md {
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

}
