<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">My Wallet</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="MainContent">
  <ion-grid no-margin no-padding class="YourWalletBalanceGrid">
    <ion-row class="YourWalletBalanceGridRow">
      <ion-col class="YourWalletBalanceGridColumn">
        <ion-row justify-content-center align-items-center class="YourWalletBalanceHeading">
          Your Wallet Balance
        </ion-row>
        <ion-row  justify-content-center align-items-center class="YourWalletBalance">
          Rs.{{this.balance}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="EnterAmountGrid">
    <ion-row no-margin no-padding class="EnterAmountGridRow">
      <ion-col class="EnterAmountGridColumn">
        <ion-item padding-right>
          <ion-label stacked>Enter Amount</ion-label>
          <ion-input type="number" [(ngModel)]="input"></ion-input>
        </ion-item>
      </ion-col>
      <button ion-button round full margin-left margin-right class="AddMoneyButton" (click)="goToPayment(input)">Add Money to FF Wallet</button>
    </ion-row>
  </ion-grid>

  <ion-list no-margin padding class="LatestTransactionsList">
    <ion-list-header no-lines no-margin no-padding class="LatestTransactionsHeader">
      Latest Transactions
    </ion-list-header>
    <hr no-margin>
  </ion-list>

  <ion-grid no-margin no-padding class="TransactionDateGrid">
    <ion-row class="TransactionDateGridRow">
      <ion-col push-4 col-4 class="TransactionDateGridColumn">
        <ion-row justify-content-center align-items-center class="TransactionDate">
          Feb 10 2017
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-list no-margin class="OptionsList">
    <ion-item *ngFor='let d of walletdesc; let i =index;' no-lines no-margin no-padding class="Options">
      <ion-grid no-margin no-padding class="OptionsGrid">
        <ion-row no-margin padding-top class="OptionsRow">
   
          <ion-col  col-1 no-margin no-padding class="OptionsIconColumn">
            <img  no-margin no-padding width="50" height="30" src={{d.icon}} class="OptionsIcon" />
          </ion-col>
          <ion-col col-7 no-margin class="OptionsColumn">
            <ion-row class="TransactionTime">
              {{d.transactionDate}}PM
            </ion-row>
            <ion-row class="TransactionID">
              {{d.transactionId}}
            </ion-row>
          </ion-col>
          <ion-col col-4 no-margin no-padding class="OptionsCheckBoxColumn">
            <ion-row class="TransactionAmount">
              {{d.transactionamount}}
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-row justify-content-center align-items-center class="TransactionStatus">
                  {{d.transactionStatus}}
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
  </ion-list>





 











</ion-content>