<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{ "CLUB_LOCATOR" | translate }}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentCard">
  <ion-grid>
  <ion-item-divider class="li ghtgrey">
    {{"SHOWING_RESULTS_OF_GYMS" | translate}}
    <strong> {{ "NEAR_TO_YOU" | translate}}</strong>
  </ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let item of clubArray;let i =index">
      <ion-avatar item-start>
        <img src="./assets/img/talgym.png">
      </ion-avatar>
      <h2 class="gymname">{{item.GymName}}</h2>
      <h5 item-end class="distance">{{dist}}</h5>
      <p class="address">{{item.ShortPostalAddress}}</p>
      <button round ion-button class="buttonDetails" outline (click)="goToClubDetails(item)">&nbsp;&nbsp;{{item.offers}}&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>