page-club-locator {

    .contentCard
{
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.NotificationIcon
{
    height:35px;
     width:30px;
}
    .gymname{
        padding-bottom: 2px;
        color:$GymName;  
    }

    .distance{
        color:$GymDistance !important;
        font-size: 11px !important; 
    }

    .address{
        padding-bottom: 4px;
        font-size:12px;
        color:$GymDistance;
    }

.buttonDetails
{
    border-color: $cardlabelbuyclr;
    color: $cardlabelbuyclr;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid $rangeknobboxshadow;
}

.noti
{
    margin-right:11px;
    margin-top: 7px;    
}
.toolbar-title-md {
    color: $welcome_text_fontColor;
}
 

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: $welcome_text_fontColor;
    background-color: transparent;
    padding-right: 400px;
}


.Title {
    background-color: $welcome_backgroundColor;
    font-family: $welcome_text_font;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} 
}
