page-membership {
    
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .noti
    {
        margin-right:11px;
        margin-top: 7px;
        
    }
    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }


    //content
    .subtitle
    {
        font-family: 'Champagne & Limousines' !important;
        color : #8D69B2;
        text-align: center;
        font-size: 20px;
        margin-bottom : 10px;
    }

    .listClass
    {
        margin-top :20px;
    }
    .item1
    {
       
        padding-left: 17px;
        padding-top: 25px;
        padding-bottom: 20px;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: #e0e0e0;

        border-left: solid;
        border-left-width: 1px;
        border-left-color: #e0e0e0;

        border-right: solid;
        border-right-width: 1px;
        border-right-color: #e0e0e0;

        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e0e0e0;

    }

    .item2
    {
        padding-left: 17px;
        padding-top: 20px;
        padding-bottom: 30px;
        
        border-left: solid;
        border-left-width: 1px;
        border-left-color: #e0e0e0;

        border-right: solid;
        border-right-width: 1px;
        border-right-color: #e0e0e0;

        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e0e0e0;

    }
    .avatarCol
    {
        margin-right: 0px;
    }
    .avatarC
    {
        background-color: #e0e0e0;
        border-radius: 100px;
        padding: 8px;
        height: 40px;
        width: 40px;
    }
    .img
    {
        height: 30px;
        width: 30px;
    }
    .mainRow
    {
        padding-left: 0px;
    }
    .expiryRed
    {
        color : red;
        font-weight: 500
    }
    .locateImg
    {
        width: 6px;
        margin-top :7px;
    } 
    .membertitle
    {
        font-size: 15px
    }
    .expiredDate
    {
        font-size: 14px;
        margin-top : 5px;
    }
    .slotClass
    {
        font-size: 12px
    }

    .activationDate, .totalCost, .totalSessions , .balanceSessions
    {
        font-size: 12px;
        margin-top : 3px;
        color : #bdbdbd
    }

    .list1
    {
        margin-top : 15px;

    }

    //from inspect
    .list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede;
    }

    .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede;
    }

    .item-md , .item-ios {
        padding-left: 0px;
    }


    .label-md, .label-ios {
        margin: 13px 8px 27px 0;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img, .item-ios ion-avatar ion-img, .item-ios ion-avatar img  {
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        height: 30px;
    }

    .toolbar-title-md {
        padding: 0 0px;
    }

    [icon-only] ion-icon {
        padding: 0 0.2em;
    }

    
.labelgrid{
    padding-top:0px;
    vertical-align: text-top;
}

.labelrow{
   text-align: center;
   padding-bottom:20px;
}

.labeldesc{
   text-align:center;
   font-size: 20px;
   padding-top:13px;
   padding-left:15px;
   color:$button_backgroundColor;
   
}
.coltext{
    padding-top:12px;
}
.gridtext{
    padding-top:15px;
}
.desc{
   padding-top:0px;
   padding-right:12px;
   font-size:12px;
}

.colbutton{
    margin-left:20px;
    margin-right:20px;
}
.labelclass{
  
    font-size:20px;
    font-family: 'Champagne & Limousines' !important;
}
.buybutton{
    background-color:$save_button_color;  
}

}
