<ion-header>
  <ion-navbar no-margin padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">My Memberships</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
        <img  height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- CONTENT -->
<ion-content padding *ngIf="!membership">

  <div class="subtitle">
    <b>{{subTitle}}</b>
  </div>
  <ion-list class="listClass">
    <ion-item *ngFor="let member of allPurposes; let i = index" class="list1" (click)="expandDescription(i)">
      <ion-grid no-margin no-padding>
        <ion-row class="mainRow">
          <ion-col col-1 class="avatarCol">
            <ion-avatar class="avatarC">
              <img src="assets/img/PT/{{member.icon}}" class="img">
            </ion-avatar>
          </ion-col>

          <ion-col col-1></ion-col>
          <ion-col col-10>
            <div class="item1">
              <div class="membertitle">
                <b>{{member.title}}</b>
              </div>
              <div class="expiredDate">{{member.expiry}}
                <label class="expiryRed">Wed, Jul 11, 2018</label>
              </div>
              <div class="slotClass">
                <img src="assets/img/locationb.svg" class="locateImg"> {{member.slot}}</div>
            </div>
          </ion-col>
        </ion-row>

        <!-- DISABLE BY DEFAULT -->

        <ion-row *ngIf="description">
          <ion-col col-2>
          </ion-col>
          <ion-col col-10 *ngIf="i==index">
            <div class="item2" no-margin>
              <div class="activationDate"> {{member.activationDate}} Mon, Jun 11,2018</div>
              <div class="totalCost">{{member.totalCost}}</div>
              <div class="totalSessions"> {{member.totalSessions}}</div>
              <div class="balanceSessions"> {{member.balanceSessions}}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>


<!-- -----For displaying empty Membarship page ----------->
<ion-content class="contentclass" *ngIf="membership">
  <ion-grid class="contentgrid">
    <ion-grid class="gridImage">
      <ion-row>
        <ion-col>
          <img class="IMG" src="assets/img/img4.png" height="170px" width="100%" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="labelgrid">
      <ion-row class="labelrow">
        <!-- <ion-col> -->
        <ion-label class="labelclass">Its lonely over here.Nothing to show </ion-label>
        <!-- </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-grid class="gridtext" no-padding no-margin>
      <ion-row class="labeldesc" no-padding no-margin>
        <ion-col class="coltext">
          <ion-label text-wrap class="desc">Start Buying memberships here</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="joingrid">
      <ion-row class="rowbutton">
        <ion-col class="colbutton">
          <button ion-button round full class="buybutton"> BUY MEMBERSHIP </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>