page-club-details {


    .contentCard
{
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.labelTour{
    font-weight:500;
    font-size:20px;
    margin-bottom:1px; 
    padding-right:12px;
    color:$ClubTour;
}
.clubImg
{
    width:100%;
     height:180px
}
// .colclick{
//    border-left:1px solid $ClubCol;
// }
.colpicture{
    color:$coupon_detail_fontcolor;
    font-size:11pt;
}
.colenquiry{
  //  border-left:1px solid $ClubCol;
    color:$coupon_detail_fontcolor;
    font-size:11pt;
}
.club1{
    color:$coupon_detail_fontcolor;
    font-size:11pt;
     margin: 0px !important;
}
.club2{
    color:$coupon_detail_fontcolor;
    font-size:11pt; 
}
.labelDay{
    width: 100%;
    font-size:14px;
    color:$coupon_detail_fontcolor;
    // display: flex;
    // justify-content: flex-start;    
}
.row1{
    width: 100%;
}
.spanDay{
    margin-bottom:12px;
    display: flex;
    justify-content: flex-start;    
}
.spansize{
    font-weight:500;
    font-size:20px;
    margin-bottom:1px ;
    padding-left:5px;
     color:$ClubTour;
}
    .lightgrey
    {
        background-color: $ClubBackColor;
        color:$item_color;
    }
    .textPhoneNumber{
        color:$ClubTour;
    }
    .iconEmail{
        color:$ClubTour;
    }
    .PhoneNumber{
        padding-bottom: 2px;
        font-size:12px;
        color:$coupon_detail_fontcolor;
    }
.callicon{
    color:$ClubTour;
}
.textemail{
    color:$ClubTour;
}
.email{
    padding-bottom: 2px;
    font-size:12px;
    color:$coupon_detail_fontcolor;
}
    .club{

        .label {
            margin: 0;
        }
    }

    .mapicon{
        color:$ClubTour;
    }
    .address{
        font-weight:350;
        font-size:13px;
         color:$coupon_detail_fontcolor;
    }
    .gymname{
        font-weight:400;
        font-size:20px;
        margin-bottom:5px;
        color:$ClubTour;
    }
    .buttonDetails
{
    border-color: $Label_Location;
    color: $Label_Location;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid $rangeknobboxshadow;
}

.lightgrey
{
    background-color: $ClubBackColor;
    color: $input_fontColor;
}
    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }
     
    
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

.Title {
    background-color: $welcome_backgroundColor;
    font-family: $welcome_text_font;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} 
}
