<ion-header class="Header">
  <ion-navbar no-margin padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{"CLUB_DETAILS" | translate}}</ion-title>
    <ion-buttons right>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentCard">
  <ion-grid>
    <ion-list>
      <img class="clubImg" src="./assets/img/{{getClubDetails.img}}">
      <ion-item text-center>
        <h2 class="gymname">
          {{getClubDetails.GymName}}
        </h2>
        <p class="address">
          {{getClubDetails.ShortPostalAddress}}
          <br> {{getClubDetails.FIELD14}}
        </p>

        <!-- <ion-icon class="mapicon" item-end name="md-navigate" (click)="goToMaps()">   </ion-icon>-->

        <a class="mapicon" item-end href="http://maps.google.com/?q='{{getClubDetails.CompleteAddress }}'">

          <ion-icon class="mapicon" item-end name="md-navigate"></ion-icon>

        </a>

      </ion-item>

      <ion-item-divider no-margin text-start class="club1">
        <strong> {{"CONTACT_INFORMATION" | translate}}</strong>
      </ion-item-divider>

      <ion-item text-start>
        <h2 class="textPhoneNumber">
          {{"PHONENUMBER" | translate}}
        </h2>
        <p class="PhoneNumber">
          {{getClubDetails.PhoneNumber}}
        </p>
        <ion-icon class="callicon" item-end name="ios-call" (click)="callOption()">
        </ion-icon>
      </ion-item>

      <ion-item text-start>
        <h2 class="textemail">
          {{"EMAIL" | translate}}
        </h2>
        <p class="email">
          {{getClubDetails.Email}}
        </p>
        <ion-icon class="iconEmail" item-end name="md-mail" (click)=" sendEmailTo()">
        </ion-icon>
      </ion-item>
      <ion-item-divider text-start class="club2">
        <strong> {{"OPENING_HOURS" | translate}}</strong>
      </ion-item-divider>


      <ion-item text-start>
        <ion-row no-margin>
          <ion-col col-6 text-center class="labelDay">
            <ion-row no-margin class="row1">{{"MSUNDAY" | translate}}</ion-row>
            <ion-row no-margin>12:00 AM to 11:59 PM</ion-row>
          </ion-col>
          <ion-col col-6 class="colstyle">
          </ion-col>
        </ion-row>
      </ion-item>


      <ion-item-divider text-start class="lightgrey club">
        <ion-row no-padding>
          <ion-col col-5 no-padding class="colpicture">
            <strong>{{"PICTURES" | translate}}</strong>
          </ion-col>
          <ion-col   no-margin col-1></ion-col>
          <ion-col no-padding no-margin  col-1>|</ion-col>
          <ion-col  col-5 class="colenquiry">
            &nbsp; &nbsp;
            <strong> {{"ENQUIERY" | translate}}</strong>
          </ion-col>
        </ion-row>
      </ion-item-divider>

      <ion-item text-start>
        <ion-row  no-padding>
          <ion-col col-5 (click)="goToVirtualTour()" no-padding no-margin>
            <h3 class="labelTour" >
              <strong > {{"TAKE360" | translate}}&#176; {{"TOUR" | translate}}</strong>
            </h3>
          </ion-col>
          <ion-col col-1></ion-col>
          <ion-col col-1>|</ion-col>
          <ion-col col-5 class="colclick">
            <span class="spansize">
              &nbsp; &nbsp;{{"CLICK_HERE" | translate}}
            </span>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>