<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="FFLogoRow">
          <img src="assets/img/SignupLogo.png" class="FFLogo" />
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          Welcome
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="ProgressGrid">
    <ion-row class="ProgressGridRow">
      <ion-col col-3 class="ProgressGridColumn">
        <ion-row class="ProgressIndicator">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-margin padding class="LanguageList">

    <ion-list-header no-lines no-margin no-padding class="LanguageListHeader">
      Choose a language to get started.
    </ion-list-header>

    <ion-item no-lines no-margin no-padding (click)="gotoSignupMobile(i)" *ngFor="let language of allLanguages; let i = index"
      class="ListItem">
      <ion-grid no-margin no-padding class="ListItemGrid">
        <ion-row no-margin no-padding class="ListItemRow">
          <ion-col col-11 no-margin no-padding [ngClass]="{'language': language.status==true}" class="ItemLabel">
            {{language.name1}} {{language.name2}}
          </ion-col>
          <ion-col col-1 no-margin no-padding [ngClass]="{'language': language.status==true}" class="CheckIconColumn">
            <ion-icon name="checkmark" *ngIf="language.status" class="CheckIcon"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>

</ion-content>