page-signup-language {
    
    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
    
    .WelcomeText {
        color: $welcome_text_fontColor;
        font-size: $welcome_text_fontSize;
        font-family: $welcome_text_font;
    }
 
    .LanguageListHeader { 
        color: $welcome_backgroundColor;
        font-size: $subTitle_fontSize;
        font-family: $welcome_text_font;
    }
 
    .ProgressGridColumn {
        background-color: $progressBar_backgroundColor;
        height: $progressBar_height;
    }
 
    .item-md.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px;
    }
 
    .col {
        padding: 0px;
    }
 
    .language {
        color: $progressBar_backgroundColor;
    }
 
    .label-md {
        margin: 0px;
    }
    
}
