<ion-header dir="ltr" no-border>
  <ion-navbar color="purple" text-center no-margin no-padding class="aboutMenuBar">
    <button ion-button icon-only menuToggle class="menuButton">
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title class="menuBarTitle">About</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="aboutContent">
  <ion-row class="imageEmptySpaceDiv">
    <ion-col>

    </ion-col>
  </ion-row>

  <div [innerHTML]="aboutHTML"></div>

  <ion-row class="applicationVersionDiv">
    <ion-col>
      <ion-row class="applicationVersionNumber">
        <img class="versionimage" src="assets/icon/android.png">&nbsp;&nbsp;Application Version : {{versionNumber}}
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="emptyDivSpace">
    <ion-col>

    </ion-col>
  </ion-row>
</ion-content>