page-about {

    .aboutMenuBar {
       
    }

    .menuButton {
       
    }

    .menuBarTitle {
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .aboutContent {
        margin-top: 20px;
    }

    .imageEmptySpaceDiv {
        background-color: #EAEAEA;
        height: 10px;
    }

    .applicationVersionDiv {
        background-color: white;
        height: 90px;
        border-bottom: 1px solid #DCDCDC;
        border-top: 1px solid #DCDCDC;
    }
  
    .applicationVersionNumber {
        padding-top: 30px;
        padding-left: 35px;
        font-size: 16px;
        font-weight: bold;
    }

    .versionimage {
        margin-top: 3px;
        height: 14px;
        width: 14px;
    }

    .emptyDivSpace {
        background-color: #EAEAEA;
        height: 60px;
    }

}
