<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="FFLogoRow">
          <img src="assets/img/SignupLogo.png" class="FFLogo" />
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="ProgressGrid">
    <ion-row class="ProgressGridRow">
      <ion-col col-6 class="ProgressGridColumn">
        <ion-row class="ProgressIndicator">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="SubHeadingGrid">
    <ion-row class="SubHeadingGridRow">
      <ion-col class="SubHeadingGridColumn">
        <br>
        <ion-row class="SubHeading">
          {{'SIGNINWITHYOURMOBILENUMBER' | translate}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="inputBoxGrid">
    <ion-row class="inputBoxRow">
      <ion-col col-4 class="CountrySelectButtonColumn">
        <button ion-item clear icon-left (click)="CountryModal()" class="CountrySelectButton">
          <img class="Image" [src]="defaultFlag" width="20vh" height="13vh">&nbsp;
          <b class="Dcodesize">{{defaultDialcode}}</b>&nbsp;&nbsp;
          <ion-icon name="md-arrow-dropdown" class="arrow"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 class="phone">
        <ion-item class="inputItem">
          <ion-input class="inputBox" type="tel" (keyup)="dynamic()" placeholder="{{'ENTERYOURMOBILENUMBER' | translate}}" [(ngModel)]="phoneNumber"
            maxlength=15></ion-input>
        </ion-item>
      </ion-col>
      <button ion-button round full class="continueButton" (click)='showAlert()'>{{'CONTINUE' | translate}}</button>
    </ion-row>
  </ion-grid>

  <ion-grid class="GuestGrid">
    <ion-row class="GuestGridRow">
      <ion-col class="GuestGridColumn">
        <!-- <br>
        <br>
        <br>
        <br> -->
        <ion-row justify-content-center align-items-center class="GuestRow">
          <a ion-text (click)="gotoDashboard()" class="SubHeading">{{'CONTINUEASGUEST' | translate}}</a>
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center class="OrRow">
          {{'OR' | translate}}
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="memberButton" (click)='goToBecomeMember()'>{{'BECOMEAMEMBER' | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>