page-login {
    .MainContent{
        min-height: 95vh !important;
    }
    
    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
 
    .WelcomeText {
        color: $welcome_text_fontColor;
        font-size: $welcome_text_fontSize;
        font-family: $welcome_text_font;
    }
 
    .ProgressGridColumn {
        background-color: $progressBar_backgroundColor;
        height: $progressBar_height;
    }

    .SubHeading {
        color: $welcome_backgroundColor;
        font-size: $subTitle_fontSize;
        font-family: $welcome_text_font;
    }

    .OrRow {
        color: $become_a_member_button;
        font-size: $subTitle_fontSize;
        font-family: $welcome_text_font;
    }

    .inputBoxRow {
        min-width: 100%;
        width: 100% !important;
        font-size: 2vh;
        max-width: 100% !important;
    }

    .Dcodesize {
        color: $dialCode_fontColor;
        max-width: 100% !important;
        font-size: 12px;
    }

    .arrow { 
        color: $become_a_member_button;
        position: absolute;
        right: 0;
    }

    .phone {
        margin-top: 0vh;
    }

    .inputBox {
        height: 45px;
    
        .text-input {
            padding-top: 4px;
            padding-left: 10px;
            color: $dialCode_fontColor;
            font-size: 15px;
            padding-bottom: 5px
        }

        ::placeholder { 
            color: $become_a_member_button;
            font-size: 15px;
         }

        color: $become_a_member_button;
    }

    .continueButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        margin-top: 30px;
        background-color: $welcome_backgroundColor;
    }

    .memberButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        background-color: $become_a_member_button;
    }

    .button.continueButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.continueButton:active {
        background-color: $welcome_backgroundColor;
    }

    .button.memberButton:hover {
        background-color: $become_a_member_button;
    }
      
    .button.memberButton:active {
        background-color: $become_a_member_button;
    }

    input {
        color: $dialCode_fontColor;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

}
