<ion-content class="mainContent">
  <!-- CARD AS MODAL -->

  <ion-content class="modal" no-padding no-margin>
    <ion-grid no-margin no-padding>
      <ion-row>
        <div class="Header">{{'CUSTOMISE START DATE' | translate}}</div>
        <br>
        <br>
      </ion-row>
      <ion-row margin class="dateContent">
        <ion-col col-3 class="startDateText">{{'START DATE' | translate}}</ion-col>
        <ion-col col-1>
          <button ion-button clear outline class="incrementDate" (click)="subDateCalendar()">-</button>
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-5 class="inputbox">
          {{date}}
          <img src="assets/img/calendar.svg" class="calendar" />
        </ion-col>
        <ion-col col-1>
        </ion-col>
        <ion-col col-1>
          <button ion-button clear outline class="incrementDate" (click)="addDateCalendar()">+</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

  <!-- FOOTER BUTTONS -->
  <ion-footer no-margin no-padding class="footerButtons">
    <ion-row no-margin no-padding class="footerRow">
      <ion-col col-6 no-margin no-padding>
        <button ion-button no-margin full class="cancel" (click)="closeModal()">{{'CANCEL_BUTTON' | translate}}</button>
      </ion-col>
      <ion-col col-6 no-margin no-padding>
        <button ion-button no-margin full class="save" (click)="closeModal()">{{'SAVE' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>