page-cart-date-modal {
    .mainContent 
    {
background-color: $transparent_background;
::-webkit-scrollbar{
    display:none;
    }
    }
    .modal{
        overflow: hidden;
        top: 55%;
        height: 45%;
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
   

    .Header
    {
        background-color: $header_bcolor;
        padding: 10px;
        height: 40px;
        color: $header_color ;
        position: fixed;
        z-index: 1000;
        width: 100%;
        font-size :15px;
        font-weight: 400;
    }
      
   
   .grid[no-padding] > .row > .col {
    padding: 5px;
}
   .calendar
   {
       position: absolute;
       top:3px;
       right: 3px;
      height: 23px;
   }
    .inputbox
    {
       height: 30px;
       align-content: center;
       align-items: center;
        font-size:13px;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: $item_border_color;
    
        border-left: solid;
        border-left-width: 1px;
        border-left-color: $item_border_color;
    
        border-right: solid;
        border-right-width: 1px;
        border-right-color: $item_border_color;
    
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: $item_border_color;
    }

    .dateContent
    {
        align-content: center;
        align-items: center;
    }

    .startDateText
    {
        font-weight: bold;
    }
    .incrementDate{
        border-radius: 100%;
        background-color: $startdate_button_color;
        -webkit-box-shadow: $box_shadow;
        box-shadow: $box_shadow;
        height: 2.2rem;
        width: 1rem;
        padding: 0 0.8em;

    }

    .footerButtons
    {
        
        overflow: hidden;
        width: 94%;
        margin-left: 12px;
        margin-right: 1px;
    }
    .footerRow{
        height: 55px;;
    }
    .cancel
    {
        background-color: $cancel_button_color;
        height: 55px;
        text-transform: none;
        font-weight: 400
    }
    .save
    {
        background-color: $save_button_color;
        height: 55px;
        text-transform: none;
        font-weight: 400

    }
}
