<ion-header style="background-color:#8e66b5; border-bottom-left-radius: 100%;border-bottom-right-radius: 100%" dir="ltr"
  no-border class="header">
  <div no-padding>
    <ion-icon class="iconshare"><img src="assets/img/share.svg" (click)="screenShot()"></ion-icon>
    <ion-icon class="iconEdit"><img src="assets/img/editcancel.svg" (click)="presentPopover($event)" class="iconEditHeight"></ion-icon>
    <ion-col col-6>
      <ion-row class="tselection">
        <div class="trainerDetails">
          <ion-avatar item-center class="anytavatar1">
            <img class="anytavatarimg" src="assets/img/FacilityIcons/{{FacilityImage}}">
          </ion-avatar>
          <h3 style="color:#8AD1E0; margin-top: 1rem; margin-bottom: 0.5rem; margin-left: 1rem;" text-center>{{FacilityName}}</h3>
        </div>
      </ion-row>
    </ion-col>
  </div>
</ion-header>

<br/>

<ion-content no-padding>
  <br>
  <br><br>
  <ion-grid padding>
    <ion-row>
      <ion-col col-1 class="DateAndTimeIcon">
        <img class="Image" src="assets/img/Icons-Svg/trial.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentDateAndTime">
        {{Date}}
        <p class="TimeColor">{{availableSlot}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1 class="PurposeIcon">
        <img class="Image" src="assets/img/FacilityIcons/{{FacilityImage}}">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentPurpose">
        {{FacilityName}} Court <span style="font-size:13px;color:grey"> - {{FacilityCourt}} </span>
      </ion-col>
    </ion-row>

    <ion-row class="VenueIconRow">
      <ion-col col-1 class="VenueIcon">
        <img class="Image" src="assets/img/Icons-Svg/noun_1583126.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentVenue">
        Studio 10 x 10
      </ion-col>
    </ion-row>

    <ion-row class="AppointmentStatusRow">
      <ion-col col-1 class="AppointmentStatusIcon">
        <img class="Image" src="assets/img/Icons-Svg/contract.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentStatus">
        Booked
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="GoToScheduleColumn">
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="GoToScheduleButton" (click)='GotoSchedule()'>My Schedules</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>