<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">{{'OFFERS' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-card class="offercards">
    <img src="assets/img/{{claimedOffer.OfferBgImage}}" class="cbackground" />
    <div class="ctitle">{{claimedOffer.OfferName}}</div>
  </ion-card>

  <div class="ctxtheader1">{{claimedOffer.OfferShortName}}</div>
  <div class="cvalidity">&nbsp;&nbsp;{{'OFFERVALIDTILL' | translate}} - {{day}} {{date}}</div>
  <div class="cdescription">
    {{claimedOffer.OfferDescription}}
  </div>

  <ion-list no-lines class="radiobuttonlist">

    <ion-item no-padding *ngFor="let offer of offerObject;let i=index">
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col col-7 no-padding class="package">
            &nbsp;&nbsp;{{offer.packageType}}
          </ion-col>
          <ion-col col-3 no-padding class="combinedprices">
            <s class='strickedprice'>₹{{offer.strickPrice}}</s>
            &nbsp;
            <span class='price'>₹{{offer.discountPrice}}</span>
          </ion-col>
          <ion-col col-1 no-padding>
            <ion-row>
              <img src="assets/img/greentick.svg" *ngIf="offer.status" (click)="removeFromCart(i)" class="checked1">
              <img src="assets/img/circle.svg" *ngIf="!offer.status" (click)="addToCart(i)" class="checked1">
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="foot" no-padding no-border>
  <ion-grid no-padding no-border>
    <ion-row class="footrow" no-padding>
      <ion-col class="cartitems" col-4>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-3>
              <div class="cartlogo">
                <ion-icon name="md-cart"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-7>
              <ion-row class="chkoutinnerrow1" no-padding>
                {{itemCount}} {{'ITEMSINCART' | translate}}
              </ion-row>
              <ion-row class="chkoutinnerrow2" no-padding>
                ₹ {{totalAmount}}
              </ion-row>
              <ion-row class="chkoutinnerrow" no-padding>
                {{'PLUSTAXES' | translate}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-8 [ngClass]="[oneItemSelected==true ? 'viewcartChange' : 'viewcart']" (click)="goToCart1()" (ngModel)="OfferFlow">
        <div class="vtxt">{{'VIEWCART' | translate}}&nbsp;&nbsp;&nbsp;
        </div>
        <div class="arrowicon">
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>