page-offer-detail {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .noti {
        margin-right:11px;
        margin-top: 7px;
    }
    
    .card-md {
        margin-top: 15px;
    } 

    ion-card {
        position: relative;
        text-align: center;
        height: 130px;
    }

    .ctitle {
        position: absolute;
        top: 15px;
        font-size: 22px;
        padding: 10px;
        font-weight: bold;
        color: $welcome_text_fontColor;
        background-color: $offer_Heading_Color;
    }

    .ctxtheader1 {
        font-size: 36px;
        padding-inline-start: 16px;
    }

    .cvalidity {
        font-size: 13px;
        color: $offer_Validity_Color;
        padding-inline-start: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cdescription {
        line-height: 20px;
        font-size: 13px;
        margin: 12px;
        color: $button_itemsincart_bcolor;
        margin-bottom: 20px;
        margin-left: 19px;
    }

    .radiobuttonlist {
        max-height: 170px;
        overflow-y: scroll;
    }

    .package {
        margin-top: 2px;
        font-size: 13px;
        font-weight: 500;
        margin-inline-start: 10px;
    }

    .strickedprice {
        font-size: 13px;
        color: $button_itemsincart_bcolor;
    }

    .price {
        font-size: 13px;
        color: $offer_Validity_Color;
    }

    .checked {
        margin-inline-start: 20px;
        color: $offer_Heading_Color;
        font-size: 22px;
    }

    .checked1 {
        margin-inline-start: 20px;
        color: $offer_Heading_Color;
        height: 27px;;
    }

    .foot {
        height: 50px;
    }

    .footrow {
        height: 50px;
    }

    .cartitems {
        background-color: $button_itemsincart_bcolor;
    }

    .cartlogo {
        margin-top: 16px;
        margin-left: 12%;
        margin-inline-start: 5px;
        font-size: 17px;
        color: $welcome_text_fontColor;
    }

    .chkoutinnerrow1 {
        margin-top: 12px;
        font-size: 9px;
        color: $welcome_text_fontColor;
    }

    .chkoutinnerrow2 {
        font-size: 11px;
        color: $welcome_text_fontColor;
    }

    .chkoutinnerrow {
        font-size: 10px;
        color: $welcome_text_fontColor;
    }

    .viewcart {
        background-color: $button_checkout_bcolor;
        color: $welcome_text_fontColor;
    }

    .viewcartChange {
        background-color: $viewCartChange_Color;
        color: $welcome_text_fontColor;
    }
    
    .vtxt {
       margin-top: 16px;
       margin-left: 60%;
    }

    .arrowicon {
        position: absolute;
        margin-top: -20px;
        margin-left: 90%;
        font-size: 22px;
    }

}
