
<ion-row class="faclitityOption">
  <ion-card class="facilityCard">
    <ion-card-content align-item-center>
      <ion-grid>
        <ion-row text-center>
          <ion-col col-6>
            <ion-radio [value]="any" type="radio" name="facility"  color="secondary" icon="ion-android-radio-button-on"></ion-radio>
            Court 1
          </ion-col>
          <ion-col col-6>
            <ion-radio [value]="any" type="radio" name="facility"  color="secondary" icon="ion-android-radio-button-on" (click)="goToCart()" ></ion-radio>
            Court 2
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-row>
