<ion-header no-border>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <button ion-button menuToggle icon-only class="MenuToggleButton">
        <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
      </button>
    <ion-title class="titlesclass">{{ 'MYPROFILE' | translate }}</ion-title>
    <ion-buttons right>
      <button class="editbtn" ion-button clear>
        {{ 'EDIT' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentProfile" dir="ltr">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col text-end no-padding class="bgclr" col-12>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <img class="profilepic"  src="assets/img/userimage.jpg" />
      </ion-col>
    </ion-row>
    <br>
    <br>
    <ion-row class="namerow" no-padding no-margin>
      <ion-col no-padding text-center>
        <p>
          {{profileDetails.ProfileName}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row no-padding no-margin>
      <ion-col no-margin col-6 text-end>
        <ion-row>
          <ion-col align-self-start class="clsseg">
            <span class="bal"> {{"CLIENT_ID" | translate}} - {{profileDetails.clientId}} </span>
          </ion-col>
        </ion-row>
        <!-- &nbsp;Client Id 42352&nbsp;  -->
      </ion-col>
      <ion-col no-margin col-6 text-start>
        <ion-row>
          <ion-col col-auto>
            <img class="sun" src="assets/icon/sun.svg">
          </ion-col>
          <ion-col align-self-start class="clsseg">
            <span class="bal"> {{profileDetails.membershiptype}} </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div padding>
      <ion-segment  mode="ios" [(ngModel)]="testing">
        <ion-segment-button value="val1">
          <ion-row>
            <ion-col col-auto>
              <img class="clsicon" src="assets/icon/moneybag.svg">
            </ion-col>
            <ion-col align-self-start class="clsseg">
              <span class="bal"> INR {{profileDetails.outstandingbalance}} </span>
            </ion-col>
          </ion-row>
        </ion-segment-button>
        <ion-segment-button icon-left value="val">
          <ion-row>
            <ion-col col-auto>
              <img class="clsicon" src="assets/icon/black_wallet.svg">
            </ion-col>
            <ion-col align-self-start class="clsseg1">
              <span class="bal">INR {{profileDetails.walletBalance}}</span>
            </ion-col>
          </ion-row>
        </ion-segment-button>
        <ion-segment-button value="val2">
          <ion-row>
            <ion-col col-auto>
              <img class="clsicon" src="assets/icon/class.svg">
            </ion-col>
            <ion-col align-self-start class="clsseg">
              {{ 'CLASSES' | translate }}
            </ion-col>
          </ion-row>
        </ion-segment-button>
      </ion-segment>
    
    </div>
  </ion-grid>

  <ion-grid>
    <div [ngSwitch]="testing">
     
      <div [hidden]="testing != 'val'">
        <ion-list-header>
          {{ 'TRACKERATTENDANCE' | translate }}
        </ion-list-header>
       
            <canvas #barCanvas>
              </canvas>
        
       
        <br> 
            <ion-grid text-center>
                <ion-row>
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToPurchaseHistory()">
                      <ion-card-content>
                        <ion-row text-center>
                          <img class="signout" src="assets/img/ProfilePageIcons/purchaseHistory.svg">
                        </ion-row>
                        <ion-row>
                          <span class="purchasecrd"> {{ 'PURCHASEHISTORY' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToMyReferrals()">
                      <ion-card-content>
                        <ion-row text-center>
                          <img class="signout" src="assets/img/ProfilePageIcons/referrals.svg">
                        </ion-row>
                        <ion-row>
                          <span class="crdtxt"> {{ 'MYREFERRAL' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToMyMembership()">
                      <ion-card-content>
                        <ion-row text-center>
                          <img class="signout" src="assets/img/ProfilePageIcons/memberships.svg">
                        </ion-row>
                        <ion-row>
                          <span class="crdtxt1"> {{ 'MYMEMBERSHIP' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToEditProfile()">
                      <ion-card-content>
                        <ion-row text-center>
                          <img class="signout" src="assets/img/ProfilePageIcons/editProfile.svg">
                        </ion-row>
                        <ion-row>
                          <span class="crdtxt"> {{ 'EDITMYPROFILE' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
      
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToMyWallets()">
                      <ion-card-content>
                        <ion-row text-center>
                          <img class="signout" src="assets/img/ProfilePageIcons/wallets.svg">
                        </ion-row>
                        <ion-row>
                          <span class="crdtxt"> {{ 'WALLETS' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
      
                  <ion-col col-4>
                    <ion-card class="optioncrds" (click)="goToSignOut()">
                      <ion-card-content>
                        <ion-row text-center class="signoutRow">
                          <img class="signout" src="assets/icon/onn_off.svg">
                        </ion-row>
                        <ion-row>
                          <span class="crdtxt"> {{ 'SIGNOUT' | translate }} </span>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
      
       
      </div>
    </div>
  </ion-grid>
</ion-content>