page-profile-new {

    .contentProfile
    {
        position: absolute;
       
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      
    }
 
    @media only screen and (min-width: 600px) {
        .contentProfile
        {
            position: absolute;
           
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
           
        }
       
    }

    @media only screen and (min-width: 768px) {
        .contentProfile
        {
      
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
         
        }
    }

    .scroll-content{
        margin-top:55px;
    }
    
    .headerSubtext{

        margin-top:6px;
        font-size: 12px;
        
            }
        .paymentoptions{
            ion-button{
        
                margin: 0px 0px 0px 0px;
            }
        
            .label-md {
                margin: 0px 0px 0px 0px;
                padding: 0px;
            }
        
        }
           
        .profilepic
        {
            position: absolute ;
            align-self: center
            ;
           top :-45px;
             left:38%;
           margin-left: auto;
           margin-right:auto;
            border-radius: 50%;
            width:100px;
            height:100px;
            z-index:10;
        }

        .bgclr
        {
            height:50px;
            background-color:map-get($colors, burgandy);
            position:relative
        }


        .toolbar-background
        {
            background :$profile_background_color;
        }

       
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

        .editbtn
        {
            margin-top: 10px;
            color:$welcome_text_fontColor;
            text-transform: none;
        }

        .toolbar-title
        {
            color:$welcome_text_fontColor;
        }

        .titlesclass{
            font-family: 'Champagne & Limousines' !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: -1;
          
           // border-bottom: solid 3px $title_border_bottomColor;
            }

            .segment-ios .segment-button {
                border-color: map-get($colors, button);
                color: $input_fontColor;
            }
        .segment-ios .segment-button.segment-activated
        {
            background-color: $Segment_background_color;
           color:map-get($colors, burgandy);
        }

        .clsicon
        {
         
            height: 20px;
            width: 20px;
            margin-top: 2px;
            margin-inline-start: 5px;
        }

        .clsseg
        {   
            margin-top: -4px;
            left: -9px;
        }
        .clsseg1
        {   
            font-size: 11px;
            padding-left: 25px;
            position: absolute;
            width: 100%;
            margin: 0;
            min-height: 1px;
            -ms-flex-preferred-size: 0;
            -webkit-flex-basis: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            margin-top: -4px;
            margin-left: 5px;
        }

        .bal
        {
            font-size: 11px;
            // color:white;
        }

        .sun
        {
            height: 20px;
            width: 20px;
            margin-top: -3px;
            margin-inline-end: 3px;
        }

        .signout
        {
            height: 30px;
            width: 30px;
            margin: auto;

        }

        .crdtxt
        {
            margin-top: 5px;
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
            color:$Purchase_Card_Color;
        }
        .crdtxt1
        {
            margin-top: 5px;
            font-size: 12px;
            margin-left: -10px;
            margin-right: auto;
            color:$Purchase_Card_Color;
        }
.signoutRow
{
    margin-top : 7px;
}
        .purchasecrd
        {
            margin-top: -4px;
            font-size: 11px;
            margin-left: auto;
            margin-right: auto;
            color:$Purchase_Card_Color;
        }

        .optioncrds
        {
            height: 90px;
        }

        .namerow
        {
            margin-top:10px;
            color: map-get($colors, burgandy); ;
            font-weight: bold;
            font-size: 20px;
        }
     
}
