<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="FFLogoRow">
          <img src="assets/img/SignupLogo.png" class="FFLogo" />
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="ProgressGrid">
    <ion-row class="ProgressGridRow">
      <ion-col col-9 class="ProgressGridColumn">
        <ion-row class="ProgressIndicator">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ClientDetailsGrid">
    <ion-row class="ClientDetailsGridRow">
      <ion-col col-3 class="ClientPhotoColumn">
        <br>
        <ion-row class="ClientPhotoRow">
          <ion-avatar class="ClientProfilePhotoAvatar">
            <img src="{{selectedCenterObject.picture}}" class="ClientProfilePhoto" />
          </ion-avatar>
        </ion-row>
      </ion-col>
      <ion-col col-9 class="ClientNameContactColumn">
        <br>
        <ion-row class="ClientName">
          {{selectedCenterObject.firstName}} {{selectedCenterObject.middleName}} {{selectedCenterObject.lastName}}
        </ion-row>
        <ion-row class="ClientContact">
          {{fetchDialCode}} - {{fetchPhoneNumber}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="emptydiv">

  </div>

  <ion-grid class="TermsPolicyGrid">
    <ion-row class="TermsPolicyGridRow">
      <ion-col class="TermsPolicyGridColumn">
        <ion-row padding-left padding-right class="TermsPolicy">
          <p class="para">
            {{'BYCONTINUING' | translate}}, {{'YOUAGREETOOUR' | translate}}
            <a ion-text (click)="gotoTerms()" class="link">{{'TERMSOFSERVICE' | translate}}</a> {{'AND' | translate}}
            <a ion-text (click)="gotoPolicy()" class="link">{{'PRIVACYPOLICY' | translate}}</a>. {{'LOREMIPSUM' | translate}}
          </p>
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="continueButton" (click)='gotoOTP()'>{{'CONTINUE' | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>