page-signup-terms-eula {

    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
 
    .WelcomeText {
         color: $welcome_text_fontColor;
         font-size: $welcome_text_fontSize;
         font-family: $welcome_text_font;
    }
 
    .ProgressGridColumn {
        background-color: $progressBar_backgroundColor;
        height: $progressBar_height;
    }

    .ClientProfilePhoto {
        border-radius: 50%;
    }

    .ClientName {
        color: $clientName_fontColor;
        font-size: $clientName_fontSize;
        margin-bottom: 5px;
    }

    .ClientContact {
        color: $become_a_member_button;
        font-size: 12px;
    }

    .para {
        color: $become_a_member_button;
        font-size: 13px;
        line-height: 23px;
    }

    .link {
        color: $termsPolicy_fontColor;
        font-size: 13px;
        text-decoration: underline;
        text-decoration-color: $termsPolicy_fontColor;
    }

    .continueButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        background-color: $welcome_backgroundColor;
    }

    .button.continueButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.continueButton:active {
        background-color: $welcome_backgroundColor;
    }

    .emptydiv {
        min-height : 90px;
    }

    .TermsPolicyGrid {
        position:fixed;
        bottom:40px;
        width:100%;
    }
    
}
