<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-buttons left class="close">
      <button ion-button icon-only (click)="closeModal()">
        <img src="assets/icon/delete.svg" class="closeIcon">
      </button>
    </ion-buttons>
    <ion-input (ionChange)="onInput($event)" [(ngModel)]="myInput" (keyup)="onBackPress($event)" placeholder="{{'SEARCHCITYORLOCALITY' | translate}}"
      class="locinput"></ion-input>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row no-padding (click)="chooseCurrentLoc()" class="currentloctxt">
      <ion-col col-11>
        {{'CURRENTLOCATION' | translate }}
      </ion-col>
      <ion-col col-1>
        <img src="assets/icon/currentLocation.svg" class="currenticon">
      </ion-col>
    </ion-row>
    <ion-list *ngIf="myInput.length == 0">
      <ion-row no-padding class="recentheader">
        {{'RECENTSEARCH' | translate}}
      </ion-row>
      <ion-row no-padding class="recentList">
        <ion-item *ngFor="let r of recent.recentarray" (click)="addNewHistoryItem(r.name)" no-padding class="itemcolor">
          {{r.name}}
        </ion-item>
      </ion-row>
    </ion-list>
    <ion-row no-padding class="popularheader">
      {{'POPULARLOCATION' | translate}} Mumbai
    </ion-row>
    <ion-row no-padding class="popularList">
      <ion-item *ngFor="let l of locations" (click)="addNewHistoryItem(l.name)" no-padding class="itemcolor">
        {{l.name}}
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>