page-location-modal {

    .Header {
        background-color: $welcome_backgroundColor;
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .toolbar-background-md {
        background-color: $welcome_backgroundColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .text-input {
        border-bottom: 2px solid $location_color;
        font-family: $welcome_text_font;
    }

    .closeIcon {
        margin-top: 9px;
        float: right;
        width: 15px;
        height: 15px;
        margin-inline-start: 8px;
    }

    .locinput
    {
        font-size: 22px;
        color: $searchbar-md-input-text-color; 
        background-color: $welcome_backgroundColor;
        ::placeholder {
            opacity: 1; 
            color: $location_color;
            font-size: 20px;
        }
    }
    
    .currentloctxt {
        color: $range-ios-knob-background-color;
        padding: 12px;
    }

    .currenticon {
        margin: -4px;
        height: 15px;
        width: 15px;
        margin-inline-start: 52%;
    }

    .recentheader {
        background-color: $header_background;
        padding: 10px;
        font-weight: 500;
    }

    .itemcolor {
        color: $itemcolorloc;
    } 
 
    .popularheader {
        background-color: $header_background;
        padding: 10px;
        font-weight: 500;
    }

    .label {
        padding-inline-start: 15px;
    }

}