page-appointment-attendance-popup {
    .blueloc{
        width: 32px;
        height: 20px;
        margin-left:-4px;    
    }
    
    .logoimage{
        padding-top:0px;
        margin-top:0px;          
    }

    .colimage{
        margin-left:2px;
    }
    .label1{
        font-size:18px;
        color:$text-color;
        font-weight: bold; 
        margin-top:20px;  
    }
    .labelcol{
        margin-top:0px;
        padding-top: 0px;
        align-items:center
    }
    .rowimage{
        margin-top:-50px
    }
    .classgrid{
        margin-top:12px;
        margin-bottom:4px;
    }
    .gridimage{
        align-content: center;
        height:70px;
    }
    .coltrainericon{       
        margin-right:-12px;
        max-width: 128px;
    }
    .Image2{
    padding-left:20px;
    }
    .label2{
        color:$button_backgroundColor;
        font-size:15px;
    }
    .labelLocation{
        font-weight: bold; 
        color:$text-color; 
               
    }
    .gridlocation{
        height:50px;
    }
    .labelcol2{
        margin-right:2px;        
    }
    .colavatar{
        margin-left:50px;
    }
    .trainericon{
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    .icontimer{
        color :$addbutton_relateditems;
        margin-left:5px;
        } 
        
    .noButton{
        background-color:$button_backgroundColor;
        width:100px;
    } 
    .yesButton{
        width:100px;

    }
    .gridtimer{
        height:60px;
    }
    .labelloc{
        font-size: 13px;
        color:$button_backgroundColor;
    }
    .lblAvailable{
        color:$button_backgroundColor;  
    }
    .gridbutton{
        height: 20px;
        display: inline-block;
    }
    .colCancel{ 
        padding-left :36px;
        padding-right:10px; 
        margin-left:2px;
        width: 40px;
    }
    
   .colConfirm{    
            padding-right:40px; 
            width:50px;
         }
}
