<ion-content padding class="contentpage">
    <ion-grid class="contentgrid" *ngFor="let list of apptattendance['AppointmentAttendance']">

        <ion-grid class="gridimage">
            <ion-row class="rowimage">
                <ion-col class="colimage">
                    <img class="logoimage" src="assets/img/img2.jpg" height="170px" width="100%" />
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="classgrid">
            <ion-row no-padding no-margin class="rowclass">
                <ion-col class="labelcol">
                    <ion-label class="label1" no-padding no-margin > {{ 'ARE_YOU_ATTENDING' | translate }} </ion-label>                    
                    <ion-label class="label1" no-padding no-margin>Zumba {{ "APPOINTMENT" | translate}}</ion-label> 
                    </ion-col>
            </ion-row>
            <ion-row class="rowtrainericon">
                <ion-col class="coltrainericon">
                    <ion-label class="label2">{{'WITH' | translate }} {{list.TrainerName}} </ion-label>
                </ion-col>
                <ion-col class="Image2">
                    <ion-avatar class="avatarimage"><img class="trainericon" src="{{list.TrainerPic}}"></ion-avatar>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="gridlocation">
            <ion-row no-padding no-margin class="rowlocation">
                <ion-col col-1 no-padding no-margin class="collocation">
                    <img class="blueloc" src="assets/icon/locationblue.svg">
                </ion-col>
                <ion-col col-10 no-padding no-margin class="collabel">
                    <ion-row no-padding no-margin class="rowCapacity">
                        <ion-label no-padding no-margin class="labelLocation">{{ 'WHERE' | translate }}</ion-label>
                    </ion-row>
                    <ion-row no-padding no-margin>
                        <ion-label no-padding no-margin class="labelloc"> {{list.AppointmentLocation }} </ion-label>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid class="gridtimer">
            <ion-row no-padding no-margin class="rowtimer">
                <ion-col col-1 no-padding no-margin class="coltimer">
                    <ion-icon class="icontimer" name="ios-time"></ion-icon>
                </ion-col>
                <ion-col col-10 no-padding no-margin>
                    <ion-row no-padding no-margin class="rowCapacity">
                        <ion-label no-padding no-margin class="labelLocation">{{ 'TIME' | translate }}</ion-label>
                    </ion-row>
                    <ion-row no-padding no-margin>
                        <ion-label no-padding no-margin class="lblAvailable"> {{list.AppointmentDateTime }} -
                            {{list.AppointmentEndTime}} </ion-label>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid class="gridbutton">
            <ion-row class="rowButton">
                <ion-col class="colCancel">
                    <button (click)="gotodash()" ion-button class="noButton" round>{{ 'NO' | translate }}</button>
                </ion-col>
                <ion-col class="colConfirm">
                    <button (click)="gotodash()" ion-button class="yesButton" color="purple" round>{{ 'YES' | translate }}</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-grid>
</ion-content>