<ion-header>
    <ion-navbar text-center>
        <ion-title class="Title">
            {{ "CATEGORY_NAME" | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contentCard">
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-searchbar placeholder="{{ 'VIDEO_NAME' | translate}}" [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
    <ion-list>
        <ion-row no-padding *ngFor="let item of items;let i = index" (click)="goToPlayer(item)">
            <ion-col no-padding col-12>
                <ion-card>
                    <ion-card-header text-wrap>
                        <b> {{item.VideoTitle}} </b>
                    </ion-card-header>
                    <ion-card-content>
                        <img  class="videoImg" src="assets/img/{{item.VideoThumbnail}}">
                        <ion-badge class="badgeposition">
                            {{videoList[i].Videolength}}
                        </ion-badge>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
    </ion-grid>
</ion-content>