page-video-list {

            
.contentCard
{
    width: 100%;
    background-color:$videolistbackground-color;
}
@media only screen and (min-width: 600px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.badgeposition{
          position: absolute;
          bottom: 25px;
          right: 25px;
}

.Title {
    background-color: $welcome_backgroundColor;
    font-family: 'Champagne & Limousines' !important;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
    }
    .toolbar-title-md {
        color: $welcome_text_fontColor;
        padding-left: 55px;
    }

    .searchbar-md .searchbar-input {
    background-color: $welcome_text_fontColor;
    color:$input_fontColor;
}

.videoImg
{
    height:250px;
    width:100%;
}
}