<ion-header dir="ltr" no-border>
  <!-- Header -->
  <ion-navbar color="purple" text-center class="navbarclass">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" class="HeaderIcon"></ion-icon>
    </button>
    <ion-title class='titlesclass'>Freeze</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
   
</ion-header>
<!-- End of header -->
<!-- End of Slider -->


   <!--  
        <span (click)="selectDateNew(item)"  style=" border-radius: 50%;padding:2px; padding-top:3px; text-align:center !important ;padding-bottom:3px;" text-center >
        &nbsp;{{day| amDateFormat: 'D'}}&nbsp;
      
        </span> -->
      
      
      
     <!--

  <span [style.color]='item.textColor' style="margin-top:6px;">

      
          </span>
     -->   
<!-- New Slider -->

<ion-content padding>

    <ion-card class="SuspendedCard" >
        <ion-card-content no-padding>
          <ion-row class ="cardrow">
            <ion-col col-3 class="FreezeIconColumn" no-padding>
              
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row class="SuspendedCardHeading">
                &nbsp;&nbsp; {{purpose.purpose}}
                <!-- Cycling 20 Sessions -->
              </ion-row>
              <ion-row class="CardLocationPrice">
                <ion-col col-8 no-padding class="LocationPrice">
                  &nbsp;&nbsp;&nbsp;Expires on -
                  <a ion-text class="Date"> 06th March 2019 </a>
                </ion-col>
              </ion-row>
              <ion-row class="CardLocation">
                <ion-col col-1>
                  <img class="locicon" src="assets/icon/locationgrey.svg" height="15px" width="15px;" />
                </ion-col>
                <ion-col col-5 no-padding class="LocationPrice">
                  Cuffe Parade
                </ion-col>
                <ion-col col-6 no-padding class="LocationPrice">
                  Total Cost -
                  <a ion-text class="Amount">INR  {{purpose.RecurringAmount}}  </a>
                </ion-col>
              </ion-row>
             
              <ion-label class="LabelFreeze">
                  {{purpose.contractStatus}} 
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    <ion-row>


        <ion-col  text-start col-12  no-padding no-margin>
    <span class="calendarheader">From</span>
    
            <ion-slides class="calendarSlides"  no-padding  no-margin   >
                <ion-slide text-start  *ngFor="let month of YearArr ;  let wi = index " >
          
    
                  
    <ion-row no-padding no-margin class="calheader">
        <ion-col col-1 no-padding no-margin>
      
            <button ion-button icon-only no-padding  clear class="arrows arrowsLeft" (click)="slidePrev(0)">
                <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
              </button>
      
        </ion-col>
      
      
      <ion-col class="monthCol" col-10>
      
         
      <span class="monthName">
      {{month[wi].date | amDateFormat: 'MMM - YYYY' }}
      </span>
      </ion-col>
      
      
        
      <ion-col col-1 no-padding no-margin>
      
      
              <button ion-button icon-only no-padding  clear class="arrows arrowsRight" (click)="slideNext(0)">
                  <ion-icon name="md-arrow-dropright" class="  iconArrowRight "></ion-icon>
                </button>
         
      </ion-col> 
      
      
      </ion-row>
          
    <ion-row class="daterows">
    
    
    
        <ion-col col-12 no-padding no-margin>
         
          <span class="width-slide" [style.background-color]="day.isColor" [style.color]="day.textColor" (click)=" selectDate(day,'from')"  no-padding no-margin *ngFor="let day of month; let i=index">
        
              {{day.date| amDateFormat: 'D'}}
        
          </span>
          </ion-col>
    
        </ion-row>  
            
                </ion-slide>
        
            </ion-slides>
          
          
          
          </ion-col> 
    
    
    </ion-row>
    
    
    
    
    <br>
    <br>
   
   <!-- ------------------------Second----------------Calander------------------------- -->
    
   
    <ion-row>
    
    
      <ion-col  text-start col-12 no-padding no-margin>
    
    <span class='calendarheader'>To</span>
          <ion-slides class="calendarSlides" no-padding  no-margin   >
              <ion-slide text-start  *ngFor="let month of YearArrayTo ;  let wi = index " >
        
    
                
    <ion-row no-padding no-margin  class="calheader">
      <ion-col col-1 no-padding no-margin>
    
          <button ion-button icon-only no-padding  clear class="arrows arrowsLeft" (click)="slidePrev(1)">
              <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
            </button>
    
      </ion-col>
    
    
    <ion-col class="monthCol" col-10>
    
       
      <span class="monthName">
    {{month[wi].date | amDateFormat: 'MMM  YYYY' }}
      </span>
    </ion-col>
    
    
      
    <ion-col col-1 no-padding no-margin>
    
    
            <button ion-button icon-only no-padding  clear class="arrows arrowsRight" (click)="slideNext(1)">
                <ion-icon name="md-arrow-dropright" class="  iconArrowRight "></ion-icon>
              </button>
       
    </ion-col> 
    
    
    </ion-row>
        
    <ion-row>
    
    
    
      <ion-col  text-start col-12 no-padding no-margin>
       
        <span class="width-slide" [style.background-color]="day.isColor" [style.color]="day.textColor" (click)=" selectDate(day,'to')"  no-padding no-margin *ngFor="let day of month; let i=index">
      
            {{day.date| amDateFormat: 'D'}}
      
        </span>
        </ion-col>
    
      </ion-row>  
          
              </ion-slide>
      
          </ion-slides>
        
        
        
        </ion-col> 
    
    
    </ion-row>
    

  <br>

  <br>
  
  <br>
  <button class="fbutton" ion-button full round (click)="goToCart()">  Freeze Membership - Pay INR {{purpose.RecurringAmount}}
    
    <!-- Freeze Membership - Pay INR 3000 -->
  </button>

</ion-content>






  