page-freeze {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .ActiveCard {
        box-shadow: none;
        border: 1px solid #d3d1d1;
    }

    .ActiveIconColumn {
        background-color: #d3d1d1;
    }

    .ActiveCardHeading {
        font-size: 15px;
    }
        
    .CardLocation {
        margin-top: 5px;
    }

    .LocationPrice {
        font-size: 12px;
    }

    .Date {
        color: #6CB961;
        font-size: 10.5px;
    }

    .Amount {
        color: #b4b3b3;
        font-size: 10px;
    }

    .LabelActive {
        position: absolute; 
        top: -25px;
        right: -25px;
        background-color: #6CB961;
        padding-right: 4px;
        padding-left: 4px;
        color: #FFFFFF;
        margin-right: 24px;
        margin-top: 24px;
        font-size: 12px;
    }

    .card-md {
        margin:0px;
        width: 100%;
        margin-bottom: 20px;
    }

    .CalendarHeading {
        color: $welcome_backgroundColor;
      //  background-color: #DADADA;
    }

    .CalendarHeading .button-inner {
        color: $welcome_backgroundColor;
        padding-bottom: 4px;
    }

    .CalendarMonth {
        padding-top: 10px;
    }

    .row {
        margin-top: 0%;
        padding: 0%;
    }
      
    ion-slides {
        margin: 0px;
        max-width: 100%;
    }
    
    .arrows {
        background-color: transparent;
    
        &:hover {
            background-color:  transparent;
        }
    
        color: $welcome_backgroundColor;
    
        &:focus {     
            background-color:  transparent; 
        }
    
        &:active {
            background-color:  transparent; 
        }
    
        &:visited {
            background-color:  transparent; 
        }
    
        text-shadow:none !important;
        border:none !important;
        box-shadow:none !important;
        
    
    }
    
    .arrowsLeft {
        display: inline-block;
        padding-bottom: 10px;
        //float: left;
    }
    
    .arrowsRight {
        display: inline-block;
        padding-bottom: 10px;
       // float: right;
    }
    
    .width-slide {
        display: inline-block;
       // float: left;
        width: 13.25%;
        text-align: left;
        margin-bottom: 10px;
        margin-right: 0px;
        margin-left: 3px;
        font-size: 12px;
        padding-left: 14px;
        margin-right: -3px;

    }

    .fbutton {
        background-color:  $welcome_backgroundColor;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-transform: none;
    }

    .button.fbutton:hover {
        background-color: $welcome_backgroundColor;
    }

    .swiper-slide {
       margin-top: 8px;
    }

    .daterows
    {
        border: solid 2px  #DADADA;
        margin-inline-start: 2px;
    }

   .calheader
   {
    background-color:  #DADADA;
    margin-inline-start: 2px;
   }

    .calendarheader {
        color: #45CBCC;
        margin-inline-start: 2px;
    }

    .calendarSlides {
        width:100%;
    }

    .monthName
    {
        text-transform: uppercase;
        color: $welcome_backgroundColor;
        font-weight: 600;
        font-size: 16px;
    }

   .monthCol
   {
    padding-top: 12px;     
   }


   .swiper-slide {
    text-align: center;
    position: relative;
    display:block; 
    display: block; 
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.SuspendedCard {
    height: 65px;
    box-shadow: 1px solid #d3d1d1;
  //  border-bottom: 1px solid #d3d1d1;
}

.FreezeIconColumn {
    background-color: #d3d1d1;
} 

.LabelFreeze {
    position: absolute; 
    top: -25px;
    right: -25px;
    background-color: #53BA71;
    padding-right: 4px;
    padding-left: 4px;
    color: #ffffff;
    margin-right: 26px;
    margin-top: 26px;
    font-size: 10px;
}

.locicon
{
    position: absolute;
    margin-top: -2px;
    margin-inline-start: -3px;
}

.cardrow
{
    height: 65px;
}

}
