page-dashboard {
  
    .blur {
        filter: grayscale(100%);
        filter: brightness(10%);
        opacity: 1;
        scroll-content {
            overflow-y: hidden;
        }
    }

    .TransparentHeader {
        width: 100%;
        height: 120%; 
        background-color: transparent;
        position: absolute;
        z-index: 500;
    }

    .NavigationBar {
        padding: 2px; 
        border-bottom: 3px solid $welcome_backgroundColor;
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .NotificationIcon {
        margin-top: 9px;
        margin-right: 11px;
        float: right;
    }

    .SegmentIcons {
        margin-top: 12px;
    }

    .SegmentLabel {
        height: 20px;
        border-bottom-width: 5px; 
    }

    .segment-md.segment-disabled, .segment-md .segment-button-disabled {
        opacity: 1;
    }

    .segment-md .segment-button {
        border-bottom-width: 0px; 
        text-transform: none;
        color: $input_fontColor;
        font-size:15px;
        font-weight: bold;
        font-family: $welcome_text_font;
        line-height: 0rem;
    }

    .margtop2 {
        margin-top: 2px;
    }

    .margtop3 {
        margin-top: 3px;
    }

    .margtop8 {
        margin-top: 8px;
    }

    .TransparentContent {
        width: 100%;
        height: 120%; 
        background-color: transparent;
        position: absolute;
        z-index: 500;
    }

    .OfferRow {
        background-color: $offer_Heading_Color;
        height: 40px;
    }

    .Offer {
        font-family: $welcome_text_font; 
        color: $welcome_text_fontColor;
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 10px;
    }

    .MyScheduleRow {
        background-color: $offer_Heading_Color;
        height: 40px;
    }

    .MySchedule {
        font-family: $welcome_text_font; 
        color: $welcome_text_fontColor;
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 10px;
    }

    .UpcomingClassesRow {
        background-color: $offer_Heading_Color;
        height: 40px;
    }

    .UpcomingClasses {
        font-family: $welcome_text_font; 
        color: $welcome_text_fontColor;
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 10px;
    }

    .UpcomingClassesListRow {
        height: 140px;
    }

    .UpcomingClassesListColumn1 {
        border: 1px solid $welcome_text_fontColor;
    }

    .TrainerAvatar {
        margin-top: 10px;
        border-radius: 50%;
    }

    .SeesionName {
        top: 90px;
        float : left;
        text-align: left;
        font-style: bold;
        font-weight: 100;
        font-size: 12px;
        width: 100%;
        left :60px;
        color: $welcome_text_fontColor;
    }
    
    .SessionDateTime {
        top: 115px;
        text-align: left;
        font-size: 12px;
        width: 100%;
        font-style: bold;
        color: $session_datetime_Color;
        left : 60px;
    }
    
    .SessionDuration {
        top: 135px;
        font-weight: 500;
        text-align: left;
        font-size: 12px;
        width: 100%;
        left : 60px;
        color: $input_fontColor;
    }

    .FabButton {
        padding-right: 2px;
        padding-bottom: 2px;
        margin-bottom: 70px;
    }

    .MainFavicon {
        color: $welcome_text_fontColor;
        background-color: $welcome_backgroundColor;
    }

    .MainFavicon:hover {
        color: $welcome_text_fontColor;
        background-color: $welcome_backgroundColor;
    }

    .TopFab {
        bottom : 5px;
        background-color: $fab_background_Color;
        margin-right: 90%;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
    }

    .MiddleFab {
        background-color: $fab_background_Color;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
        top: 5px; 
    }

    .BottomFab {
        background-color: $fab_background_Color;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
        bottom: 5px;
    }

    .fab ion-icon[name=ios-add] {
        font-size: 3.2rem;
        font-weight: bolder;
    }
    
    .fab-close-active .fab-close-icon {
        opacity: 1;
        -webkit-transform: scale(1.4) rotateZ(0deg);
        transform: scale(1.4) rotateZ(0deg);
    }
    
    ion-fab-list[side=top] {
        right: 30px;
    }
    
    ion-fab-list[side=bottom] {
        right: 30px;
        bottom: 10px;
    }

    .text1 {
        font-size: 11px;
        color: $fab_Label_Color;
    }

}
