<ion-header [ngClass]="{'blur': toggle}" class="Header">

    <ion-card ion-fixed (click)="closeFab(fab)" *ngIf="toggle" class="TransparentHeader"></ion-card>

    <ion-navbar no-margin padding text-center class="NavigationBar">
        <button ion-button menuToggle icon-only class="MenuToggleButton">
            <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
        </button>
        <ion-title class="Title">{{'DASHBOARD' | translate}}</ion-title>
        <ion-buttons right class="noti">
            <button ion-button icon-only (click)="goToNotification()">
                <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-segment [(ngModel)]="topTab" class="SegmentIcons">
        <ion-segment-button value="Classes" disabled="false" (click)="goToSearchClasses()" class="segmentIconButton leftalgn left5 margtop2">
            <img width="30px" src="assets/icon/classes.svg" class="ClassesSvg" />
        </ion-segment-button>
        <ion-segment-button value="MySchedules" disabled="false" (click)="goToMySchedules()" class="segmentIconButton">
            <img width="30px" src="assets/icon/calender.svg" class="MySchedulesSvg" />
        </ion-segment-button>
        <ion-segment-button value="Memberships" disabled="false" (click)="goToMemberships()" class="segmentIconButton righttalgn right8 margtop3">
            <img width="30px" src="assets/icon/identity.svg" class="MembershipsSvg" />
        </ion-segment-button>
    </ion-segment>

    <ion-segment class="SegmentLabel margtop8">
        <ion-segment-button value="Classes" (click)="goToSearchClasses()" class="segmentLabelButton leftalgn left3">
            <label class="ClassesLabel">{{'CLASSES' | translate}}</label>
        </ion-segment-button>
        <ion-segment-button value="MySchedules" (click)="goToMySchedules()" class="segmentLabelButton">
            <label class="MySchedulesLabel">{{'MYSCHEDULES' | translate}}</label>
        </ion-segment-button>
        <ion-segment-button value="Memberships" (click)="goToMemberships()" class="segmentLabelButton righttalgn right2">
            <label class="MembershipsLabel">{{'MEMBERSHIPS' | translate}}</label>
        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content [ngClass]="{'blur': toggle}" class="MainContent">

    <ion-card ion-fixed (click)="closeFab(fab)" *ngIf="toggle" class="TransparentContent"></ion-card>

    <ion-grid no-padding class="OffersGrid">
        <ion-row (click)="gotoOffersPage()" class="OfferRow">
            <ion-row class="Offer">{{'OFFERS' | translate}}</ion-row>
        </ion-row>
        <page-offer-card-dashboard></page-offer-card-dashboard>
        <ion-row class="MyScheduleRow">
            <ion-row class="MySchedule">
                <img width="35px" src="assets/icon/myschedules.svg" class="MySchedulesSvg" />&nbsp;&nbsp;{{'MYSCHEDULES'
                | translate}}
            </ion-row>
        </ion-row>
        <page-schedule-card-dashboard></page-schedule-card-dashboard>
        <ion-row class="UpcomingClassesRow">
            <ion-row class="UpcomingClasses">
                <img width="35px" src="assets/icon/upcomingclasses.svg" class="ClassesSvg" />&nbsp;&nbsp;{{'UPCOMINGCLASSES'
                | translate}}
            </ion-row>
        </ion-row>
    </ion-grid>

    <ion-grid no-padding class="UpcomingClassesList">
        <ion-row class="UpcomingClassesListRow">
            <ion-col col-6 *ngFor="let c of classList['ClassList'], let i = index" [style.background-color]="colorarray[i]" (click)="goToClassDetails(c)"
                class="UpcomingClassesListColumn1">
                <ion-row justify-content-center align-items-center>
                    <ion-avatar class="TrainerAvatar">
                        <img width="60px" src="assets/img/{{c.UserImage}}" class="TrainerAvatar">
                    </ion-avatar>
                </ion-row>
                <ion-row>
                    <ion-col col-2 class="ColumnForPurposeIcon">
                        <ion-avatar class="PurposeIcon">
                            <img width="35px" src="assets/img/PT/{{c.PurposeLogo}}" class="PurposeIcon">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-10 class="ColumnForSessionDetails">
                        <div class="SeesionName">{{c.PurposeName}} {{'SESSIONS' | translate}}</div>
                        <div class="SessionDateTime">{{date[i]}} {{c.StartTime}} {{c.DurationEndtime}}</div>
                        <div class="SessionDuration">{{timeToGo[i]}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<!-- Favicon icons -->
<ion-fab #fab right bottom class="FabButton">
    <!-- main favicon button -->
    <button ion-fab (tap)="toggleBackground()" class="MainFavicon">
        <ion-icon name="ios-add" class="AddIcon">
        </ion-icon>
    </button>

    <!-- favicon icon 1 -->
    <ion-fab-list side="top" class="FabList1">
        <button ion-fab mini (click)="goToBookAppoint(fab)" class="TopFab">
            <img height="25px" width="25px" src="assets/icon/bookappoint.svg" class="BookAppointSvg" />
        </button>
        <p class="text1">{{"BOOKAPPOINTMENT" |translate}}</p>
    </ion-fab-list>

    <!-- favicon icon 2 -->
    <ion-fab-list side="left" class="FabList2">
        <button ion-fab mini (click)="goToSearchClassesbyFab(fab)" class="MiddleFab">
            <img height="25px" width="25px" src="assets/icon/searchclasses.svg" class="SearchClassesSvg" />
        </button>
        <p class="text1">{{"SEARCHCLASSES" |translate}}</p>
    </ion-fab-list>

    <!-- favicon icon 3 -->
    <ion-fab-list side="bottom" class="FabList3">
        <button ion-fab mini (click)="goToBookFacility(fab)" class="BottomFab">
            <img height="25px" width="25px" src="assets/icon/facility.svg" class="BookFacilitySvg" />
        </button>
        <p class="text1">{{"SEARCHFACILITY" |translate}}</p>
    </ion-fab-list>

</ion-fab>