page-booked-appointment {

    .header {
        width: 140%;
        margin-left: -20%;
        background-color: $welcome_backgroundColor;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    .iconshare {
        display: flex;
        justify-content: flex-end;
        margin-inline-end: 5px;
        margin-top: 17px;
        height: 25px;
        width: 25px !important;
        margin-inline-start: 360px;
    }

    .iconEdit {
        display: flex;
        justify-content: flex-end;
        margin-inline-end: 20px;
        margin-top: -22px;
        width: 25px !important;
        position: absolute;
        right: 5px;
        margin-inline-end: 81px;
    }

    .iconEditHeight {
        height: 20px;
    }

    .tselection {
        justify-content: center;
        align-items: center;
    }

    .anytavatar1 {
        align-content: center;
        width: 60px;
        margin-left: 20px;
    }

    .anytavatarimg { 
        max-width: 12vh !important; 
        max-height: 12vh !important; 
        border-radius: 50%;
    }

    .UserName {
        color: $welcome_text_fontColor; 
        margin-top: 0.5rem;
        margin-bottom: 0.3rem; 
        margin-left: 1rem;
    }

    .AppointmentFor {
        color: $welcome_text_fontColor; 
        margin-left: 1rem;
    }

    .PurposeName {
        color: $Purpose_Color;    
        margin-top: -1rem;
        margin-bottom: 0.5rem; 
        margin-left: 1rem;
    }

    .DateAndTimeIcon {
        padding-bottom: 0px;
        padding-top: 10px; 
    }

    .Image {
        width: 3vh; 
        height: 3vh;
    }

    .AppointmentDateAndTime {
        padding-bottom: 0px;
        padding-top: 10px; 
    }
 
    .TimeColor {
        color: $details_Color;
        font-size: 12px;
    }

    .PurposeIcon {
        padding-bottom: 0px;
        padding-top: 10px; 
    }

    .AppointmentPurpose {
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .GoToScheduleColumn {
        padding-top: 5vh;
        margin-bottom: 10px; 
    }
         
    .GoToScheduleButton {
        background-color: $welcome_backgroundColor;
        text-transform: none;
    }

    .button.GoToScheduleButton:hover {
        background-color: $welcome_backgroundColor;
    }

}
    

