<ion-header dir="ltr" no-border class="header">
  <div no-padding>
    <ion-icon class="iconshare"><img src="assets/img/share.svg" (click)="screenShot()"></ion-icon>
    <ion-icon class="iconEdit"><img src="assets/img/editcancel.svg" (click)="presentPopover($event)" class="iconEditHeight"></ion-icon>
    <ion-col col-6>
      <ion-row class="tselection">
        <div class="trainerDetails">
          <ion-avatar item-center class="anytavatar1">
            <img class="anytavatarimg" src="assets/img/{{fetchdetails.UserImage}}">
          </ion-avatar>
          <h6 text-center class="UserName">{{fetchdetails.UserName}}</h6>
          <p class="AppointmentFor">{{'APPOINTMENTFOR' | translate}}</p>
          <h3 text-center class="PurposeName">{{fetchdetails.PurposeName}}</h3>
        </div>
      </ion-row>
    </ion-col>
  </div>
</ion-header>

<ion-content no-padding>
  <br>
  <br>
  <ion-grid padding>
    <ion-row>
      <ion-col col-1 class="DateAndTimeIcon">
        <img src="assets/img/Icons-Svg/trial.svg" class="Image">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentDateAndTime">
        {{fetchdetails.Date}}
        <p class="TimeColor">{{showtime()}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1 class="PurposeIcon">
        <img src="assets/img/PT/{{fetchdetails.PurposeLogo}}" class="Image">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentPurpose">
        {{fetchdetails.PurposeName}} {{session}} {{'SESSIONS' | translate}}
      </ion-col>
    </ion-row>

    <ion-row class="VenueIconRow">
      <ion-col col-1 class="VenueIcon">
        <img src="assets/img/Icons-Svg/noun_1583126.svg" class="Image">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentVenue">
        {{fetchdetails.CenterAddress}}
      </ion-col>
    </ion-row>

    <ion-row class="AppointmentStatusRow">
      <ion-col col-1 class="AppointmentStatusIcon">
        <img src="assets/img/Icons-Svg/contract.svg" class="Image">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentStatus">
        Booked
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="GoToScheduleColumn">
        <ion-row justify-content-center align-items-center>
          <button ion-button round full (click)='GotoSchedule()' class="GoToScheduleButton">{{'MYSCHEDULES' | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>