page-feedback {


              
    .contentCard
    {
        width: 100%; 
        background-color: $feedback_header;      
    }
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
     .NotificationIcon
    {
        height:35px; width:30px 
    }

    .noti
    {
        margin-right:11px;
        margin-top: 7px;
        
    }
    .menuBarTitle {
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .questionDiv {
    background-color: $feedback_header;
        height: 70px;
        border-bottom: 2px solid $feedback_message;
    }

    .questionDivText {
        padding-top: 20px;
        color: $feedback_que;
        font-size: 17px;
    }

    .list {
        .itemOfList {
          .item-inner {
            height: 85px;
          }
        }
    }

    .itemAvatar {  
        height: 45px;
        width: 45px;
        background-color: $feedback_avatar;
        border-radius:50%;
    }

    .label-md {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .imgInAvatar {
        padding-left: 8px;
        padding-top: 8px;
        padding-right: 4px;
        padding-bottom: 4px;
    }

    .itemHeading {
        font-size: 15px;
        color: $feedback_que;
        font-weight: normal;
        margin-top: 8px;
    }

    .itemSubContext{
        font-size: 12px;
        color: $feedback_subitem_color;
        font-weight: normal;
    }

    .contentcolor {
        background-color: $feedback_header;
    }

}
