<ion-header dir="ltr" no-border>
  <ion-navbar color="purple" text-center no-margin no-padding class="feedbackMenuBar">
    <button ion-button icon-only menuToggle class="menuButton">
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title class="menuBarTitle">{{"FEEDBACK" | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentCard" no-border>
  <ion-row class="questionDiv">
    <ion-col>
      <ion-row class="questionDivText" justify-content-center align-items-center>
        {{'Feedback_Question' | translate }}
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-list class="listOfItems">
    <button ion-item no-padding class="itemOfList" (click)="mailOption()">
      <ion-grid class="itembuttongrid">
        <ion-row class="itemrow" no-padding>
          <ion-col col-2 no-padding>
            <ion-avatar class="itemAvatar" item-start>
              <img class="imgInAvatar" src={{mail}}>
            </ion-avatar>
          </ion-col>
          <ion-col col-5>
            <ion-row>
              <h2 class="itemHeading">{{"FeedbackMail" | translate}}</h2>
            </ion-row>
            <ion-row>
              <h3 class="itemSubContext">{{"MailSubHeading" | translate}}</h3>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
    <button ion-item no-padding class="itemOfList" (click)="callOption()">
      <ion-grid class="itembuttongrid">
        <ion-row class="itemrow" no-padding>
          <ion-col col-2 no-padding>
            <ion-avatar class="itemAvatar" item-start>
              <img class="imgInAvatar" src={{call}}>
            </ion-avatar>
          </ion-col>
          <ion-col text-wrap col-10>
            <ion-row>
              <h2 class="itemHeading">{{ 'FeedbackCall' | translate}}</h2>
            </ion-row>
            <ion-row >
              <h3 class="itemSubContext">{{"CallSubHeading" | translate}}</h3>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>