page-offer-card-dashboard {
    
    width: 100%;
    
    .mainSlides {
        height: 250px;
    }

    .title1 {
        color: $offer_Title_Color;
        font-family: $welcome_text_font;
        font-size: 20px;
        position: absolute;
        top: 12%;
        float : left;
        text-align: left;
        font-style: bold;
        font-weight: 800;
        width: 100%;
        left : 15px;
    }

    .title2 {
        color: $welcome_text_fontColor;
        font-size: 20px;
        position: absolute;
        top: 22%;
        text-align: left;
        font-style: bold;
        width: 92%;
        left : 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .title3 {
        color: $welcome_text_fontColor;
        font-size: 16px;
        position: absolute;
        top: 35%;
        text-align: left;
        font-weight: 100;
        left: 15px;
        right: 5vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .title4 {
        color: $offer_Validity_Color;
        font-size: 12px;
        position: absolute;
        top: 48%;
        text-align: left;
        width: 100%;
        left: 15px;
    }
    
    .row1 {
        align-content: center;
        margin-left : 17px;
        margin-right :10px;    
    }

    .button1 {
        background-color: $offer_Title_Color;
        position: absolute;
        top: 65%;
        font-weight:200; 
        width : 90%;
        height: 40px;
        text-transform: none;
    }

    .button.button1:hover {
        background-color: $offer_Title_Color;
    }
      
    .button.button1:active {
        background-color: $offer_Title_Color;
    }
  
    ion-card {
        margin:0px;
        padding:0px;
        width: 100%;
    }

    .card-md {
        margin: 0px;
        border-radius: 2px;
        width: 100%;
    }

    .swiper-slide img {
        align-content: center;
    }
    
    .swiper-pagination-bullet-active {
        background: $welcome_text_fontColor;
    }

    .swiper-slide img {
        width: 100%;
        height: 500px;
    }

}
