<ion-slides no-padding no-margin pager class="mainSlides">
  <ion-slide no-padding no-margin *ngFor="let offer of offersList['Offers'], let i = index" class="slide1">
    <ion-card no-padding no-margin class="card1">
      <img no-padding no-margin src="assets/img/{{offer.OfferBgImage}}" class="imageClass" />
      <p class="title1">{{offer.OfferName}}</p>
      <p class="title2">{{offer.OfferShortName}}</p>
      <p class="title3">{{offer.OfferDescription}} </p>
      <p class="title4">{{'OFFERVALIDTILL' | translate}} - {{day[i]}} {{date[i]}}</p>
      <ion-row class="row1">
        <button ion-button round (click)="goToOfferDetails(i)" class="button1">{{'CLAIMTHISOFFER' | translate}}</button>
      </ion-row>
    </ion-card>
  </ion-slide>
</ion-slides>