<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">{{'APPLYFILTER' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <!--TIME RANGE-->
  <ion-grid no-padding padding-bottom class="fixedbg">
    <ion-row no-padding>
      <ion-label padding-left no-margin class="TimeRangeLabel">
        {{'TIMERANGE' | translate}}
      </ion-label>
      <ion-item no-padding no-border no-shadow no-lines>
        <ion-range (ionChange)="sliderChanger()" [(ngModel)]="knobValue" dualKnobs="true" pin="false" max="48" no-border no-padding
          no-shadow class="timeslider"></ion-range>
      </ion-item>
    </ion-row>
    <div [ngStyle]="{'left': leftknob + '%'}" class="selectedStartTime">{{startTime}}</div>
    <div [ngStyle]="{'left': rightknob + '%'}" class="selectedEndTime">{{endTime}}</div>
  </ion-grid>
  <!--TIME RANGE-->

  <!--LEVEL SECTION-->
  <ion-grid padding-top padding-bottom no-padding class="LevelGrid">
    <ion-row>
      <ion-col col-3 no-padding no-margin>
        <ion-label padding-left class="TimeRangeLabel">
          {{'LEVEL' | translate}}
        </ion-label>
      </ion-col>
      <ion-col col-3 margin-top (click)="goToBeginner()">
        <ion-row justify-content-center align-items-center>
          <img *ngIf="!selectedBeginner" height="25px" width="25px" src="assets/img/Filter_Level.svg" />
          <img *ngIf="selectedBeginner" height="25px" width="25px" src="assets/img/Filter_Level_Selected.jpg" />
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-label no-margin padding-left class="LevelLabel">
            {{'BEGINNER' | translate}}
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-3 margin-top (click)="goToMedium()">
        <ion-row justify-content-center align-items-center>
          <img *ngIf="!selectedMedium" height="25px" width="25px" src="assets/img/Filter_Level.svg" />
          <img *ngIf="selectedMedium" height="25px" width="25px" src="assets/img/Filter_Level_Selected.jpg" />
        </ion-row>
        <ion-row justify-content-center align-items-center>
          <ion-label no-margin padding-left class="LevelLabel">
            {{'MEDIUM' | translate}}
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-3 margin-top (click)="goToAdvanced()">
        <ion-row justify-content-center align-items-center>
          <img *ngIf="!selectedAdvanced" height="25px" width="25px" src="assets/img/Filter_Level.svg" />
          <img *ngIf="selectedAdvanced" height="25px" width="25px" src="assets/img/Filter_Level_Selected.jpg" />
        </ion-row>
        <ion-row justify-content-center align-items-center no-margin>
          <ion-label no-margin padding-left class="LevelLabel">
            {{'ADVANCED' | translate}}
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--LEVEL SECTION-->

  <!--TAGS SECTION-->
  <ion-grid no-padding class="TagsGrid">
    <ion-row no-padding>
      <ion-label padding-left no-margin class="TagsLabel">
        {{'TAGS' | translate}}
      </ion-label>
    </ion-row>
    <ion-row no-padding padding-top no-margin justify-content-center align-items-center class="tagbuttons">
      <ion-col *ngFor="let t of tagsToShow; let i = index;" col-auto class="tagsautocol">
        <button ion-button outline (click)="ClickTag(i)" [ngClass]="t.TagStatus ? 'reviewbuttonsSelected' : 'reviewbuttons'">{{t.TagName}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--TAGS SECTION-->

  <!--RATING SLIDER SECTION-->
  <ion-grid padding-top no-padding class="RatingSliderGrid">
    <ion-row no-padding>
      <ion-label padding-left no-margin class="RatingSliderLabel">
        {{'RATINGSLIDER' | translate}}
      </ion-label>
    </ion-row>
    <ion-row no-padding no-margin justify-content-center align-items-center>
      <ion-col col-10 no-padding no-margin>
        <ion-slides no-padding no-marging dir="ltr" class="RatingSlides">
          <ion-slide text-center *ngFor="let durationarray of RatingSeriesArray; let i = index " class="Slide">
            <div no-padding no-marging (click)="SelectDuration(durationObj)" *ngFor="let durationObj of durationarray; let di=index"
              class="width-slide">
              <span text-center [style.color]="durationObj.textColor" class="durationtxt">
                &nbsp;{{displayHalf(durationObj.duration,durationObj)}}&nbsp;
                <div [style.background-color]="durationObj.isColor" class="circlearound"></div>
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--RATING SLIDER SECTION-->

  <!--LOCATION DISTANCE SLIDER SECTION-->
  <ion-grid no-padding padding-bottom class="LocationSliderGrid">
    <ion-row no-padding>
      <ion-label padding-left no-margin class="LocationSliderLabel">
        {{'LOCATIONDISTANCESLIDER' | translate}}
      </ion-label>
      <ion-item no-padding no-border no-shadow no-lines>
        <ion-range (ionChange)="sliderChangerDis()" [(ngModel)]="knobValueDis" dualKnobs="true" pin="false" max="48" no-border no-padding
          no-shadow class="distanceslider"></ion-range>
      </ion-item>
    </ion-row>
    <div [ngStyle]="{'left': leftknobDis + '%'}" class="selectedStartDistance">{{startDistance}}</div>
    <div [ngStyle]="{'left': rightknobDis + '%'}" class="selectedEndDistance">{{endDistance}}</div>
  </ion-grid>
  <!--LOCATION DISTANCE SLIDER SECTION-->

</ion-content>