page-filter {

    .NavigationBar {
        border-bottom: 3px solid $welcome_backgroundColor;
    }
    
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .noti {
        margin-right: 11px;
        margin-top: 7px;  
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    //------------------------------------------------TIME RANGE-----------------------------------------------------------//
    .fixedbg {
        background-color: $welcome_text_fontColor;
        border-bottom: 10px solid $headings_Color; 
    }

    .TimeRangeLabel {
        color: $welcome_backgroundColor;
        font-size: 20px;
        font-family: $welcome_text_font;
        font-weight: bold;
        background-color: $headings_Color;
        padding-top: 10px;
        padding-bottom: 10px; 
    }

    .timeslider {
        height: 35px;
        padding: 10px;
        padding-top: 0px;
    }

    .selectedStartTime {
        position: absolute;
        z-index: 102;
        width: 47px;
        top: 80px;
        background-color: $welcome_text_fontColor;
        color: $selectedStartTimeclr;
        font-size: 11px;
    }

    .selectedEndTime {
        position: absolute;
        z-index: 100;
        width: 47px;
        top: 80px;
        color: $classbuttonstxt;
        background-color: $welcome_text_fontColor;
        font-size: 11px;
    }   

    .range .range-knob {
        left: 12px;
        top: 9px;
        border-top: 1px solid $rangeknobbordertop;
        border-radius: 50%;
        position: absolute;
        z-index: 100;
        width: 25px;
        height: 25px;
        background: $welcome_text_fontColor;
        box-shadow: 2px 4px 3px $rangeknobboxshadow;
    }
    
    .range .range-bar { 
        height: 3px;
        background: $rangebg;
    }

    .range .range-bar-active {
        bottom: 0;
        width: auto;
        z-index: 10;
        background: $range-ios-knob-background-color;
    }

    //------------------------------------------------LEVEL SECTION--------------------------------------------------------//

    .LevelLabel {
        color: $welcome_backgroundColor;
        font-size: 17px;
        font-family: $welcome_text_font;
        font-weight: bold;
    }

    //------------------------------------------------TAGS SECTION---------------------------------------------------------//

    .TagsLabel {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $welcome_backgroundColor;
        font-size: 20px;
        font-family: $welcome_text_font;
        font-weight: bold;
        background-color: $headings_Color;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tagsautocol {
        margin-left: 6px;
        margin-right: 0px;
    }

    .reviewbuttonsSelected {
        margin-left: 5px;
        margin-right: 5px;
        padding : 9px;
        height: 28px;
        font-size: 13px;
        text-transform: none;
        color: $button_Text_Color;
        border-color: $button_Border_Color;
    }

    .reviewbuttons {
        margin-left: 5px;
        margin-right: 5px;
        padding : 9px;
        height: 28px;
        font-size: 13px;
        text-transform: none;
        color: $label_color;
        border-color: $button_Border_Color;
    }

    //------------------------------------------------RATING SLIDER SECTION------------------------------------------------//

    .RatingSliderLabel {
        margin-top: 0px;
        margin-bottom: 10px;
        color: $welcome_backgroundColor;
        font-size: 20px;
        font-family: $welcome_text_font;
        font-weight: bold;
        background-color: $headings_Color;
        padding-top: 10px;
        padding-bottom: 10px; 
    }

    .RatingSlides {
        width: 100%;
    }

    .Slide {
        height: 50px; 
    }
    
    .width-slide {
        display: inline-block;
        width: 20%;
        height: 20px;
        text-align: center;
        margin-right: 0px;
        border-radius: 50%;
        font-size: 12px;
    }

    .durationtxt {
        z-index: 1000;
        font-size: 15px;
    }

    .circlearound {
        position: absolute;
        top: 1px;
        margin-left: 6px;
        z-index: -2;
        height: 40px;
        width: 40px;
        background-color: $button_Border_Color;
    }

    //------------------------------------------------LOCATION DISTANCE SLIDER---------------------------------------------//
    .LocationSliderGrid {
        border-bottom: 34px solid $headings_Color; 
    }

    .LocationSliderLabel {
        margin-top: 0px;
        margin-bottom: 10px;
        color: $welcome_backgroundColor;
        font-size: 20px;
        font-family: $welcome_text_font;
        font-weight: bold;
        background-color: $headings_Color;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .distanceslider {
        height: 35px;
        padding: 10px;
        padding-top: 0px;
    }

    .selectedStartDistance {
        position: absolute;
        z-index: 102;
        width: 47px;
        top: 550px;
        background-color: $welcome_text_fontColor;
        color: $selectedStartTimeclr;
        font-size: 11px;
    }

    .selectedEndDistance {
        position: absolute;
        z-index: 100;
        width: 47px;
        top: 550px;
        color: $classbuttonstxt;
        background-color: $welcome_text_fontColor;
        font-size: 11px;
    }
}
