<ion-header *ngIf="!appFromCart" style="background-color:#8e66b5; border-bottom-left-radius: 100%;border-bottom-right-radius: 100%"
  dir="ltr" no-border class="header">

  <div no-padding>
    <ion-icon class="iconshare" (click)="screenShot()"><img src="assets/img/share.svg"></ion-icon>
    <ion-icon class="iconEdit" (click)="presentPopover($event)"><img src="assets/img/editcancel.svg" class="iconEditHeight"></ion-icon>
    <ion-col col-6>
      <ion-row class="tselection">
        <div class="trainerDetails">
          <ion-avatar item-center class="anytavatar1">
            <img class="anytavatarimg" src="assets/img/pro-pic.png">
          </ion-avatar>
          <h6 style="color:white; margin-top: 0.5rem;
              margin-bottom: 0.3rem;" text-center>{{trainername}}</h6>
          <div class="starsdiv"> <img class="stargeneral" *ngFor="let s of starRating( trianerrating )" src="assets/icon/{{s}}"></div>
          <p style="color:#C3C3C3" text-center class="totalUsers"><i>({{ratingsurveycount}} users)</i></p>
          <p style="color:white">Appointment for</p>
          <h3 style="color:#8AD1E0;    margin-top: -1rem;
              margin-bottom: 0.5rem;" text-center>{{purpose}}</h3>
        </div>
      </ion-row>
    </ion-col>
  </div>
</ion-header>


<!-- From cart -->
<ion-header *ngIf="appFromCart" style="background-color:#8e66b5; border-bottom-left-radius: 100%;border-bottom-right-radius: 100%"
  dir="ltr" no-border class="header">

  <div no-padding>
    <ion-icon class="iconshare" (click)="screenShot()"><img src="assets/img/share.svg"></ion-icon>
    <ion-icon class="iconEdit" (click)="presentPopover($event)"><img src="assets/img/editcancel.svg" class="iconEditHeight"></ion-icon>
    <ion-col col-6>
      <ion-row class="tselection">
        <div class="trainerDetails">
          <ion-avatar item-center class="anytavatar1">
            <img class="anytavatarimg" src="assets/img/{{trainerIcon}}">
          </ion-avatar>
          <h6 style="color:white; margin-top: 0.5rem;
                margin-bottom: 0.3rem;" text-center>{{trainername}}</h6>
          <div class="starsdiv"> <img class="stargeneral" *ngFor="let s of starRating( trianerrating )" src="assets/icon/{{s}}"></div>
          <p style="color:#C3C3C3" text-center class="totalUsers"><i>({{objFromCartProvider.ratingsurveycount}} users)</i></p>
          <p style="color:white">Appointment for</p>
          <h3 style="color:#8AD1E0;    margin-top: -1rem;
                margin-bottom: 0.5rem;" text-center>{{objFromCartProvider.purpose}}</h3>
        </div>
      </ion-row>
    </ion-col>
  </div>
</ion-header>
<!--  // from cart -->




<ion-content no-padding *ngIf="!appFromCart" no-bounce class="no-scroll">
 
  <ion-grid padding>
    <ion-row>
      <ion-col col-1 class="DateAndTimeIcon">
        <img class="Image" src="assets/img/Icons-Svg/trial.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentDateAndTime">
        {{date}}
        <p class="TimeColor">{{availableSlot}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 class="PurposeIcon">
        <img class="Image" src="assets/img/PT/{{icon}}">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentPurpose">
        {{purpose}} {{purposeTotalSessions}} Sessions
      </ion-col>
    </ion-row>
    <ion-row class="VenueIconRow">
      <ion-col col-1 class="VenueIcon">
        <img class="Image" src="assets/img/Icons-Svg/noun_1583126.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentVenue">
        Studio 10 x 10
      </ion-col>
    </ion-row>
    <ion-row class="AppointmentStatusRow">
      <ion-col col-1 class="AppointmentStatusIcon">
        <img class="Image" src="assets/img/Icons-Svg/contract.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentStatus">
        Booked
      </ion-col>
    </ion-row>
   
  </ion-grid>
  <br>
</ion-content>

<!-- FROM CART -->

<ion-content no-padding *ngIf="appFromCart">
  <br>
  <br><br>
  <ion-grid padding>
    <ion-row>
      <ion-col col-1 class="DateAndTimeIcon">
        <img class="Image" src="assets/img/Icons-Svg/trial.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentDateAndTime">
        {{objFromCartProvider.date}}
        <p class="TimeColor">{{objFromCartProvider.availableSlot}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 class="PurposeIcon">
        <img class="Image" src="assets/img/Purpose-Svg/cardio.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentPurpose">
        {{objFromCartProvider.purpose}} {{objFromCartProvider.purposeTotalSessions}} Sessions
      </ion-col>
    </ion-row>
    <ion-row class="VenueIconRow">
      <ion-col col-1 class="VenueIcon">
        <img class="Image" src="assets/img/Icons-Svg/noun_1583126.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentVenue">
        Studio 10 x 10
      </ion-col>
    </ion-row>
    <ion-row class="AppointmentStatusRow">
      <ion-col col-1 class="AppointmentStatusIcon">
        <img class="Image" src="assets/img/Icons-Svg/contract.svg">&nbsp;&nbsp;
      </ion-col>
      <ion-col col-10 class="AppointmentStatus">
        Booked
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <br>
</ion-content>

<ion-footer no-shadow no-border>
    <ion-row>
        <ion-col class="GoToScheduleColumn" text-center>
          <button full (click)="GotoSchedule()" class="GoToScheduleButton" round ion-button>
            My Schedules
          </button>
        </ion-col>
      </ion-row>
  </ion-footer>