page-appointment-booked {

    .bottom {
        align-content: center;
        background: rgb(142, 102, 181);
        height: 170px;
        width: 100vw;
        min-height:120px;
        margin-bottom: 40px;
        border-bottom-left-radius:95%;
        border-bottom-right-radius:95%;
        padding-top: 20px;
    }
    .header
    {
        width: 140%;
    margin-left: -20%;
    }

    .iconshare
    {
        display: flex;
    justify-content: flex-end;
    margin-inline-end: 5px;
    margin-top: 17px;
    height: 25px;

    width:25px !important;

    margin-inline-start:360px;

    }
    .iconEditHeight
    {
        height: 20px;
    }
    .iconEdit
    {
        display: flex;
        justify-content: flex-end;
        margin-inline-end: 20px;
        margin-top: -22px;
        width:25px !important;
        position: absolute;
        right:5px;

        
    margin-inline-end: 81px;

    }
    .mysvg {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .stargeneral
    {   margin-top: 1px;
        height: 16px;
        width: 16px;
        display:inline-block
    }

    .tselection {
        justify-content: center;
        align-items: center;
    }

    .anytavatarimg{
        max-width: 12vh !important; 
        max-height: 12vh !important; 
       }

    .anytavatar1 {
        align-content: center;
        width: 60px;
        margin-left: 20px;
    }
    
    .avtr {
        height: 90px;
        width: 80px;
        clip-path: circle(40%);
        margin-left: auto;
        margin-right: auto;
        z-index: -1;
    }

    .name {
        font-weight: bold;
        color: white;
        font-size: 20px;
    }
    
    .DateAndTimeIcon {
        padding-bottom: 0px;
        padding-top: 10px; 
    }

    .AppointmentDateAndTime {
        padding-bottom: 0px;
        padding-top: 10px; 
    }

    .TimeColor {
        color: #C3C3C3;
        font-size: 12px;
    }

    .PurposeIcon {
        padding-bottom: 0px;
        padding-top: 10px; 
    }

    .AppointmentPurpose {
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .TrainerIcon {
        margin-top: 5px;
    }

    .TrainerAvatar {
        max-width: 45px;
    }

    .AppointmentTrainer {
        margin-top: 5px;
    }
    .starsdiv
    {
        margin-left: 15px;
    }
.totalUsers
{
    margin-top:0px;
}
    .Image {
        width: 3vh; 
        height: 3vh;
    }

    .GoToScheduleColumn {
        padding-top: 5vh;
        margin-bottom: 10px; 
    }
 
    .GoToScheduleButton {
        background-color:  rgb(142, 102, 181);
        text-transform: none;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }
}
