page-buy-main {

           
    .contentCard
    {
        width: 100%; 
        background-color: $feedback_header;      
    }
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    

   
    .foot
    {
        height: 50px;
        width: 100%;
    }
    @media only screen and (min-width: 600px) {
        .foot
        {
            position: absolute;
           
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .foot
        {
            position: absolute;
           
            left: 0;
            right: 0;
            bottom: 0;
          
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
        }
    }


.NotificationIcon{
    height:35px;
    width:30px;
}

.men-seg{
    background-color: white;
    }
    
    .checked1 {
        margin-inline-start: 20px;
        color: secondary;
        height: 27px;;
    }
    
    .segment-md .segment-button {
    
        &.activated,
        &.segment-activated {
          border-color: $location_background;
          background-color: $location_background;
          color:white;
        }
    
    }
    .noti
    {
        margin-right:11px;
        margin-top: 7px;
        
    }
    .header {

        font-family: $welcome_text_font;
       
    }
ion-segment {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 28%;
      width: auto;
    }
  }
    .cartitems
    {
        background-color: $clsiconArrow;
    }

    .viewcart
    {
        background-color: $viewCart;
    }

    .viewcartChange {
        background-color: $viewCartChange_Color;
        color: white;
    }

    .vtxt
    {
        display: flex;
        justify-content: flex-end;
       margin-top: 16px;
       margin-inline-end: 20px;
    }

    .arrowicon
    {
        display: flex;
        justify-content: flex-end;
        margin-inline-end: 10px;
        margin-top: -20px;
        
        font-size: 22px;
    }

    .chkoutinnerrow
    {
        font-size: 10px;
        color: white;
    }

    .chkoutinnerrow1
    {
        margin-top: 12px;
        font-size: 9px;
        color: white;
    }

    .chkoutinnerrow2
    {
        font-size: 11px;
        color: white;
    }

    .cartlogo
    {
        margin-left:12%;
        margin-top: 16px;
        margin-inline-start: 5px;
        font-size: 17px;
        color: white;
    }
   
    .footrow
    {
        height: 50px;
    }
    
    .viewcart
    {
        color: white;

    }
}
