<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle icon-only>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title text-center class="header"> {{'BUYMEMBERSHIP' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
        <img  src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentCard">

  <ion-segment color="classcolor" [(ngModel)]="buy" class="men-seg">
    <ion-segment-button *ngFor="let b of buyMembership; let i=index" value={{b.purposeName}} (click)="console(b.purposeName)"
      class="seg-style">
      {{b.purposeName}}&nbsp;
    </ion-segment-button>
  </ion-segment>


  <div *ngFor="let b of buyMembership; let z=index" [ngSwitch]="buy">
    <ion-list *ngSwitchCase="b.purposeName" ngSelected="selected">
      <ion-item *ngFor="let s of b.purposePackage ; let i=index">
        <ion-row>
          <ion-col col-9>
            <h3>{{s.packageName}}</h3>
            <br>
            <p>&nbsp; ₹ {{s.packagePrice}} </p>
          </ion-col>
          <ion-col text-end col-3>
            <br>
            <img src="assets/img/greentick.svg" class="checked1" (click)="removeFromCart(i, z)" *ngIf="!s.status">
            <button ion-button small outline class="checked1" color="secondary" *ngIf="s.status" (click)="addToCart(i,z)">
              {{'ADD' | translate}}</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="foot" no-padding no-border>
  <ion-grid no-padding no-border>
    <ion-row class="footrow" no-padding>
      <ion-col class="cartitems" col-4>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-3>
              <div class="cartlogo">
                <ion-icon name="md-cart"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-7>
              <ion-row class="chkoutinnerrow1" no-padding>
                {{count}} {{'ITEM_IN_CART' | translate}}
              </ion-row>
              <ion-row class="chkoutinnerrow2" no-padding>
                ₹ {{add}}.00
              </ion-row>
              <ion-row class="chkoutinnerrow" no-padding>
                {{'PLUSTAXES' | translate}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-8 [ngClass]="[addBoolean==true ? 'viewcartChange' : 'viewcart']" (click)="goToCart1()">
        <div class="vtxt"> {{'VIEWCART' | translate}} &nbsp;&nbsp;&nbsp;
        </div>
        <div class="arrowicon">
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>