<ion-content class="mainContent" (click)="closeModal()">
  
  
<ion-content class="modal" no-padding no-margin>
  <div class="Header"> Upgrade Confirmation</div>
  <br>
  <br>
  <ion-grid padding-top>
    <ion-row>
      <ion-col col-7 class="renewDetails">
        Upgrade to {{this.month}} Months Home
      </ion-col>
      <ion-col col-5 class="renewDetails1">

      </ion-col>
      <ion-row class="renewDetailspass">
        Membership
      </ion-row>
    </ion-row>
    <br>
    <br>


    <ion-grid>
      <ion-row>
        <ion-col col-3 no-padding style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;" class="labelcost">New Cost</ion-label>

          <ion-label style="margin-top:6px !important;" class="value">INR {{upgradeMembership.homeRate}}</ion-label>
        </ion-col>

        <ion-col col-1 no-padding style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;" class="label2">
            <div class="any"></div>
          </ion-label>
        </ion-col>

        <ion-col col-3 no-padding class="cost1" style="padding-left:5px">
          <ion-label class="labelcost" no-margin style="margin-bottom:5px;">Old Cost</ion-label>

          <ion-label style="margin-top:6px  !important;" class="value">INR {{this.oldcost}}</ion-label>
        </ion-col>

        <ion-col col-1 no-padding style="padding-left:4px">
          <ion-label no-margin style="margin-bottom:5px !important">
            <div class="any"></div>
          </ion-label>
          <ion-label no-margin style="margin-bottom:5px;">
            <div class="any2" style="margin-top:1px !important;"></div>
          </ion-label>
        </ion-col>

        <ion-col col-4 no-padding class="colrenew" style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;" class="renew" text-wrap>Difference Payable</ion-label>
          <ion-label style="margin-top:6px !important;" class="renewDetails">INR {{ totalcost() }} </ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>




    <button class="fbutton1" ion-button full round (click)="goToCart(total)"> Upgrade
      <br>
      Home Membership - Pay INR {{ total }}</button>
    <p class="Para">
      ** By Upgrading to home membership you are able to access home locations only **</p>


    <ion-row justify-content-center align-items-center>
        <ion-col col-1></ion-col>
        <ion-col col-4>
          <hr>
        </ion-col>
        <ion-col col-2 class=ffbutton1>
          OR
        </ion-col>
        <ion-col col-4>
          <hr>
        </ion-col>
        <ion-col col-1></ion-col>

      </ion-row>
    <br>
    <ion-row class="additionalPayment" align-self-center>
      <div class="passInfo">
        <p class="passInfoPara">
          Only by paying additonal
          <strong>INR 3000</strong>, enjoy access to 26 locations across 3 cities</p>
        <p class="passInfoPara1">
          <b>Upgrade to Passport Membership</b>
        </p>
      </div>

    </ion-row>
    <br>
    <ion-row justify-content-center align-items-center class="eligibleloc">
      Eligible Locations for Passport (26 Locations)
    </ion-row>
    <hr class="hr">
    <ion-row>


      <ion-col *ngFor="let c of city.cities" col-6 padding-left>
        <b> {{ c.Cityname}}</b>

        <br>

        <p *ngFor="let cl of c.Location" class="eligibleloc">

          &nbsp;&nbsp;- {{cl}}
        </p>
      </ion-col>


    </ion-row>
    <ion-row>

    </ion-row>


  </ion-grid>


  <button class="fbutton" ion-button full round (click)="goToCart(upgradeMembership.passportRate)">Upgrade
    <br>
    Passport Membership - Pay INR {{upgradeMembership.passportRate}}
  </button>

  <br>
  <br>
  <br>

</ion-content>

</ion-content>