page-upgrade-home-action-modal {

    .mainContent 
        {
    background-color: $transparent_background;
    ::-webkit-scrollbar{
        display:none;
        }
        }
        .modal 
        {
           
            overflow: hidden;
            top: 30%;
            height: 70%;
            width: 95%;
           
            margin-left: auto;
            margin-right: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .Header
        {
            background-color: $header_bcolor;
            padding: 10px;
            height: 40px;
            color:black ;
            position: fixed;
            z-index: 1000;
            width: 100%;
            font-size :15px;
            font-weight: 600;
        }
        .hr { 
            width : 100%;
            border-bottom: solid 1px #cdcdcd;
        }
    
    
        //
        
        .btncol1
        {
            background-color:$button_itemsincart_bcolor;
            color:$welcome_text_fontColor;
            font-size: 13px;
        
        }
        .btncol2
        {
            background-color:$save_button_color;
            color:$welcome_text_fontColor;
            font-size: 14px;
        }
        .btnrow
        {
            height: 55px;
        
            vertical-align: bottom;
        }
        .proceed
        {
           // position:absolute; 
            margin-top:5px; 
            display:flex;
            justify-content: flex-end;
    
            margin-inline-end:45px;
        }
        .cartItemsProceed
        {
            position:absolute; 
            display: flex;
            align-content: center;
           margin-inline-start : 25px;
            top:20px; 
            //left:5px;
        }
        .cartItemsProceed1
        {
            position:absolute; 
            top:0px; 
          //  display: flex;
            margin-inline-start : 5px;
            //margin-top :10px
        }
        .renewDetails
        {
            color : #6ACBCD;
            font-weight: bold;
        }
        .renewDetails1{
    font-weight: bold;
    color : grey;
        }
    .eligibleloc
    {
        
        color : grey;
        margin-left: 5px;
    }
    .renewDetailspass
    {
        color :  #6ACBCD;
        font-weight: bold;
    
        margin-left: 5px;
    
    }
    .cityHeader
    {
        font-weight: bold;
        color:gray;
    }
        //
        .footer{
            margin-left: 10px;
            margin-right: auto;
            width:95%;
        }
        .citylist
        {
            color: gray;
            line-height: 25px;
        }


        .fbutton
        {
            background-color:$welcome_backgroundColor;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-transform: none;
            height:50px;
            line-height: 20px;
        }   

        .fbutton1{
            background-color: gray;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-transform: none;
            height:50px;
            margin-top:10px;
            line-height: 20px;
            
        }
.button.fbutton:hover {
    background-color: $welcome_backgroundColor;
}
  
.button.fbutton:active {
    background-color: $welcome_backgroundColor;
}
.mar-40
{
    margin-left: 20px;

}
.ffbutton1
{
  
    border-radius:  100%;
    background-color: #ebe7e7;
    color: #696767;
    height: 50px;
    padding-left: 17px;
    padding-top: 17px;


}
.passInfoPara {
    text-align: center;
}
.Para{
    text-align: center;
    color : grey;
    font-size:12px;
    font-style: italic;
    padding-left:50px;
    padding-right:50px;
    margin-top: 5px;
}
.passInfoPara1 {
    text-align: center;
    color: rgb(247, 76, 8);
}
.additionalPayment
{
    align-content: center;
    border: dashed 1px rgb(231, 204, 48);
    background-color: lightyellow;
    padding: 5px;
}
.passInfo
{
    margin-left : auto;
    margin-right: auto;
}

.labelcost{
    color:#979797;
    font-size: 10px;
    margin-right:12px;
}
.value{
    color:#979797;
    font-size: 14px;
    margin-right:12px;
} 

.any{
    margin-top: 18px;
    display: flex;
    vertical-align: center;
    background-color: gray;
     height:2.5px; 
     width:12px;        
}
.cost1{
    padding-left:0px;
}
.label2{
    padding-right:2px;
}
.any2{

    display: flex;
    background-color: gray;
     height:1.5px; 
     width:12px;
     padding-bottom:2px;
     margin-bottom:2px;
}
.renew{
    color : #6ACBCD;
   font-size:12px;

}


}
