<ion-header>
  <ion-navbar color="purple" text-center class="navbarclass">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" class="HeaderIcon"></ion-icon>
    </button>
    <ion-title class="titlebar">{{dummyResponse.title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="contentClass">
  <ion-grid class="MainGrid">
    <!-- ROW 1 -->
    <ion-row class="row1">
      <ion-col class="row1col1">
        <img src="{{dummyResponse.userImg}}" class="userimg">
      </ion-col>
    </ion-row>

    <!-- ROW 2 -->
    <ion-row class="row2">
      <ion-col class="row2col1" text-center>
        {{dummyResponse.userName}}
      </ion-col>
    </ion-row>


    <!-- ROW 3 -->
    <ion-row class="row3">
      <ion-col class="row3col1" text-center>
        {{dummyResponse.userStatus}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{dummyResponse.userClientId}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        <img src ="assets/img/location.svg" class="locateImg">
        &nbsp;{{dummyResponse.userSlot}}
      </ion-col>
    </ion-row>

    <!-- Row 4 -->
    <ion-row class="row4" no-padding>
      <ion-col col-4 class="row4col1">
        {{dummyResponse.itemHeading1}}
      </ion-col>
      <ion-col col-4 class="row4col2">
        {{dummyResponse.itemHeading2}}
      </ion-col>
      <ion-col col-4 class="row4col3">
        {{dummyResponse.itemHeading3}}
      </ion-col>
    </ion-row>

    <!-- Row 5 -->
    <ion-row class="row5" no-padding>
      <ion-col col-4 class="row5col1">
        {{dummyResponse.subItemHeader}}
      </ion-col>
      <ion-col col-4 class="row5col2">
      </ion-col>
      <ion-col col-4 class="row5col3">
      </ion-col>
    </ion-row>


    <!-- ROW 6 -->
    <ion-row class="row6">
      <ion-col class="row6col1">
        Email
        <br>
        <ion-item class="item" no-padding>
          <ion-input  type="email"  disabled="true" [value]="dummyResponse.contactEmail" class="inputemail"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- ROW 7 -->
    <ion-row class="row7">
      <ion-col class="row7col1">
        Mobile
        <br>
        <ion-item class="item" no-padding>
          <ion-input type="number" [value]="dummyResponse.contactMobile" disabled="true"  class="inputmobile"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>