page-profile 
{
    //Header
    .titlebar
    {
        background-color : #8D69B2;
        color : white;
        font-family: 'Champagne & Limousines' !important;
    }
  
    //Client profile image
    .row1
    {
        margin-top: 60px;
    }
    .row1col1
    {
        align-content: center;
        text-align: center;
    }
    .userimg
    {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }


    //Client name
    .row2col1
    {
        font-family: 'Champagne & Limousines' !important;
        color: #8D69B2;
        font-size : 20px;
        font-weight: bold;
        margin-top:3px;
    }


    //Client status
    .row3col1
    {
        margin-top:5px;
        font-size: 14px;
    }
    .locateImg
    {
        width: 9px;
    }   


    //Header of input
    .row4
    {
        margin-left :5px;
        margin-right: 5px;
        margin-top: 30px;
        background-color: #ECEFF4;
        font-weight: bold;
        font-size: 13px;
    }
    .row4col1, .row4col2, .row4col3
    {
        margin-top:7px;
    }

    .row5col1, .row5col2, .row5col3
    {
        margin-bottom:7px;
    }
    .row5
    {
        background-color: #ECEFF4;
        margin-left :5px;
        margin-right: 5px;
    }



    //Input
    .row6
    {
        margin-left :5px;
        margin-right: 5px;
        margin-top:30px;
    }
    .row6col1
    {
        font-size: 14px;
    }
    .inputemail
    {
     font-size: 13px;
     color: #b4b4b4;
    }
    .inputmobile
    {
     font-size: 12px;
     color: #b4b4b4;
    }
    .row7
    {
        margin-top : 25px;
        margin-left :5px;
        margin-right: 5px;
    }


    //from inspect
    .text-input-md
     {
        margin: 0px 0px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }

    .text-input::-moz-placeholder {
        color: #b4b4b4;
      }
      
      .text-input:-ms-input-placeholder {
        color:#b4b4b4;
      }
      
      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: #b4b4b4;
      }

      .back-button-md {
        margin: 0 0px; 
        min-width: 44px;
        box-shadow: none;
    }
    
    .bar-button-md {
        margin: 0 0.0rem; 
        padding: 0 0px; 
        border-radius: 0px; 
        height: 32px;
        border: 0; 
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    
}
