<ion-header no-border>

  <ion-navbar>
    <!-- <button class='menuicon' ion-button icon-only menuToggle>
      <ion-icon name="menu" class="whticon"></ion-icon>
    </button> -->
    <ion-title class='Header'>{{"Choose Trainer" | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
          <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
  </ion-buttons>
  </ion-navbar>

  <ion-grid class="mygrid" no-padding>

    <ion-row *ngIf="cartOrbooked">
      <ion-col col-4 class="segCol1">
      </ion-col>
      <ion-col col-4 class="segCol">
      </ion-col>
      <ion-col col-4 class="segCol">
      </ion-col>
    </ion-row>

    <div *ngIf="cartOrbooked" class="divseg"></div>

    <ion-row *ngIf="cartOrbooked" class="segRow">
      <ion-col col-4 class="segCol11">
        Select Trainer
      </ion-col>
      <ion-col col-4 class="segCol2">
        Select Slot
      </ion-col>
      <ion-col col-4 class="segCol2">
        Make payment
      </ion-col>
    </ion-row>

    <div class="belowheader">
      <ion-row class="row" no-padding no-margin>
        <ion-col col-6 no-padding>
          <ion-card class="card">
            <div class="card-header">
              Appointment type
            </div>
            <ion-card-content>
              <ion-avatar class="image">
                <img src="assets/img/Purpose-Svg/{{icon}}" class="imgKickBoxing">
              </ion-avatar>
              <div class="kickboxing">
                {{purpose}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="calluiboolean == true" class="margtop70">
      <ion-col col-12>
        <div class="list-header">
          <div class="cust-strt"> {{"ANY TRAINER"| translate}} </div>
        </div>
      </ion-col>
      <ion-avatar (click)="gotoDateTime()" item-center class="anytavatar1" padding>
        <img class="anytavatarimg" src="assets/img/anytrainer.png">
      </ion-avatar>
    </ion-row>

    <ion-row *ngIf="calluiboolean == true" class="specificrow">
      <ion-col col-12>
        <div class="list-header">
          <div class="cust-strt"> {{"CHOOSE SPECIFIC" | translate }} </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="mygrid" no-padding *ngIf="calluiboolean == false">
    <ion-row class='fixedrow1'>
      <button ion-button name="callButton">
        <ion-icon name="call" class="callIcon"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content class="main-content">
  <ion-grid class="specificgrid">
    <ion-row>

      <ion-col col-6>
        <ion-row *ngFor='let d of trainerList;let odd = odd; let i =index;' class="tselection">
          <div *ngIf='!odd' (click)="doToDateSpecific(i)" class="specificTrainer">
            <ion-avatar item-center class="anytavatar">
              <img class="anytavatarimg" src="assets/img/{{d.TrainerPicture}}">
            </ion-avatar>
            <h5 class="namesize" text-center>{{d.TrainerName}} </h5>
            <div class="starDiv">
              <img class="stargeneral" *ngFor="let s of starRating( d.TrainerRating )" src="assets/icon/{{s}}" no-margin>
            </div>
            <p class="ratingCount" text-center no-margin><i>({{d.RatingSurveyCount}} users)</i></p>
          </div>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row *ngFor='let d of trainerList;let even = even;let i =index;' class="tselection">
          <div *ngIf='!even' (click)="doToDateSpecific(i)" class="specificTrainer">
            <ion-avatar item-center class="anytavatar">
              <img class="anytavatarimg" src="assets/img/{{d.TrainerPicture}}">
            </ion-avatar>
            <h5 class="namesize" text-center>{{d.TrainerName}} </h5>
            <div class="starDiv">
              <img class="stargeneral" *ngFor="let s of starRating( d.TrainerRating )" src="assets/icon/{{s}}" no-margin>
            </div>
            <p class="ratingCount" text-center no-margin><i>({{d.RatingSurveyCount}} users)</i></p>
          </div>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>