// page-specificor-any-trainer {
//     .ext-end {
//         display: flex;
//         justify-content: flex-end;
//     }
//     .ext-start {
//         display: flex;
//         justify-content: flex-start;
//     }
//     .cust-strt {margin-inline-start:16px;}
//     .cust-end {margin-inline-end:16px;}
//     .notification
//     {
//         height: 38px;
//         float: right;
//         margin-top: 5px;
 
//     }
//     .starDiv
//     {
//         margin-left:10px;
//         margin-top:0px;
//     }
//     .Header
//     {
        
//         font-family: 'Champagne & Limousines' !important;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         text-align: center;
//         z-index: -1;
//         background-color: #8D69B2;
//         border-bottom: solid 3px #774E9A;
//     } 
//     .divseg
//     {
//         height : 5px;
//         background-color: #8D69B2;
//     }
// .segRow
// {
//     height : 5px;
//     background-color: #8D69B2;
//     font-size: 12px;
//     padding-top:5px;
// }
// .segCol1
// {
//     border-right: solid 1px black;
//     height: 3px;
//     background-color: rgb(0, 243, 243);
// }
// .segCol
// {
//     border-right: solid 1px black;
//     height: 3px;
//     background-color: rgba(142, 105, 178, 0.548);
// }

// .segCol11
// {
  
//     align-content: center;
//     text-align: center;
//     margin-left: auto;
//    margin-right: auto;
//    color : white;
//    font-style: bold;
// }

// .segCol2
// {
//     align-content: center;
//     text-align: center;
//     margin-left: auto;
//    margin-right: auto;
//    color : rgba(255, 255, 255, 0.404)

// }





//     .fixedrow1
//     {
// align-content: center;
// margin-left: auto;
// margin-right: auto;
// margin-top:auto;
// margin-bottom:auto;

//     }
//     .toolbar-title{
//         font-size: 20px;
//         color: #fff;
//     }

//     .anytrainers{
//         margin: auto;
//         position: relative;
//         background-color: #F7F7F7
       
//        }
    
    
//        .specifictrainers{
//         margin: auto;
//         position: relative;
//         height: 10px;
//         background-color: #F7F7F7
       
//        }
//     .specificrow
//     {
//         height: 10px;
//     }
//        .appointtype{
        
//         justify-content: center;
//        align-items: center;
        
    
//        }
    
//        .anytavatar{
//     align-content: center;
//      //margin: auto;
//      padding-left: 28px;
    
     
//        }

//        .anytavatar1
//        {
//         align-content: center;
//         margin: auto;
//        }
    
//        .anytavatarimg{
//         max-width: 12vh !important; 
//         max-height: 12vh !important; 
//        }
    
//        .appointlist{
    
//         align-items: center;
//         margin: auto;
//         height: 10vh;
       
    
//        }
    
//       //  .fixedrow{
//       //   overflow: hidden;
//       //  }
    
//        .tselection{
//            margin-top:10px;
//         justify-content: center;
//         align-items: center;
    
//        }

//        .specificTrainer
//        {
//         margin-top:33px;
//        }

//        .namesize
//     {
//         font-size: 15px;
//         margin:3px;
//         color: rgb(141, 141, 141)
//     }

//     .row
//     {
//      margin-top: 0%;
//      padding: 0%;
//      //margin: 0%;
   
     
     
//     }

//     .card
//     {
//       box-shadow: #000;
//       height: 110px;
//       width: 140px;
//       text-align: center;
//       align-content: center;
//       border-radius: 10px;
//       padding-right: 25px;
//    }

//    .card-header
//     {
//       padding-top: 15px;
//       font-size: 12px;
//       font-weight: bold;
//     }

//     .image
//     {
//         position: absolute;
//         // margin: 5%;
//         color : #6FD050;
//         height: 40px;
//         width: 30px;
//         margin-left: 40px;
//         align-content: center;
//     }

//     .stargeneral
//     {   margin-top: 1px;
//         height: 16px;
//         width: 16px;
//     }
    
//     .kickboxing
//     {
//         position: absolute;
//         color: #3DB9EC;
//         font-size: 12px;
//         font-weight: bold;
//         width: 9em; 
//         text-align: center; 
//         margin: 38px auto;
//     }

//     .ratingCount {
//         color:#C3C3C3;
//     }

//     .belowheader
//     {
//       padding-top : 15px;
//         background-color: #8D69B2;
//         border-bottom-right-radius: 80px !important;
//         border-bottom-left-radius: 80px !important;
       
       
      
//     }
    
//     .margtop70 {margin-top:70px;}
    
//     .list-header
//     {
//       //padding-left: 16px;
//       //margin-bottom: 13px;
//       min-height: 31px;
//       border-top: 1px solid #e7e7e7;
//       border-bottom: 1px solid #e7e7e7;
//       background-color:#f7f7f7;
//       font-size: 11px;
//       color: #999999;
//       font-weight:bold;
//     }
//     .label {margin:1px;}
//     .margtop5{margin-top:5px;} 
//     .whticon {color:#fff;}     

// }
page-specificor-any-trainer {
   
    .back-button-md,
    .back-button-ios {
      color:$background-color !important;
    }
    
    .ext-end {
        display: flex;
        justify-content: flex-end;
    }
    .ext-start {
        display: flex;
        justify-content: flex-start;
    }
    .cust-strt {margin-inline-start:16px;margin-top:8px}
    .cust-end {margin-inline-end:16px;}

    .notification
    {
        height: 38px;
        float: right;
        margin-top: 5px;

    }
    .starDiv
    {
        margin-left:10px;
        margin-top:0px;
    }
    .Header
    {
        
        font-family: 'Champagne & Limousines' !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
        background-color: #8D69B2;
        border-bottom: solid 3px #774E9A;
    } 
    .divseg
    {
        height : 5px;
        background-color: #8D69B2;
    }
    .noti
{
    margin-right:11px;
    margin-top: 7px;
    
}
.segRow
{
    height : 5px;
    background-color: #8D69B2;
    font-size: 12px;
    padding-top:5px;
}
.segCol1
{
    border-right: solid 1px black;
    height: 3px;
    background-color: rgb(0, 243, 243);
}
.segCol
{
    border-right: solid 1px black;
    height: 3px;
    background-color: rgba(142, 105, 178, 0.548);
}

.segCol11
{
  
    align-content: center;
    text-align: center;
    margin-left: auto;
   margin-right: auto;
   color : white;
   font-style: bold;
}

.segCol2
{
    align-content: center;
    text-align: center;
    margin-left: auto;
   margin-right: auto;
   color : rgba(255, 255, 255, 0.404)

}





    .fixedrow1
    {
align-content: center;
margin-left: auto;
margin-right: auto;
margin-top:auto;
margin-bottom:auto;

    }
    .toolbar-title{
        font-size: 20px;
        color: #fff;
    }

    .anytrainers{
        margin: auto;
        position: relative;
        background-color: #F7F7F7
       
       }
    
    
       .specifictrainers{
        margin: auto;
        position: relative;
        height: 10px;
        background-color: #F7F7F7
       
       }
    .specificrow
    {
        height: 10px;
    }
       .appointtype{
        
        justify-content: center;
       align-items: center;
        
    
       }
    
       .anytavatar{
    align-content: center;
     //margin: auto;
     padding-left: 28px;
    
     
       }

       .anytavatar1
       {
        align-content: center;
        margin: auto;
       }
    
       .anytavatarimg{
        max-width: 12vh !important; 
        max-height: 12vh !important; 
       }
    
       .appointlist{
    
        align-items: center;
        margin: auto;
        height: 10vh;
       
    
       }
    
      //  .fixedrow{
      //   overflow: hidden;
      //  }
    
       .tselection{
           margin-top:10px;
        justify-content: center;
        align-items: center;
    
       }

       .specificTrainer
       {
        margin-top:33px;
       }

       .namesize
    {
        font-size: 15px;
        margin:3px;
        color: rgb(141, 141, 141)
    }

    .row
    {
     margin-top: 0%;
     padding: 0%;
     //margin: 0%;
   
     
    }

    .card
    {
      box-shadow: #000;
      height: 110px;
      width: 140px;
      text-align: center;
      align-content: center;
      border-radius: 10px;
      padding-right: 25px;
   }

   .card-header
    {
      padding-top: 15px;
      font-size: 12px;
      font-weight: bold;
    }

    .image
    {
        position: absolute;
        // margin: 5%;
        color : #6FD050;
        height: 40px;
        width: 30px;
        margin-left: 40px;
        align-content: center;
    }

    .stargeneral
    {   margin-top: 1px;
        height: 16px;
        width: 16px;
    }
    
    .kickboxing
    {
        position: absolute;
        color: #3DB9EC;
        font-size: 12px;
        font-weight: bold;
        width: 9em; 
        text-align: center; 
        margin: 38px auto;
    }

    .ratingCount {
        color:#C3C3C3;
    }

    .belowheader
    {
      padding-top : 15px;
      background-color: #8D69B2;
      height:80px;
       // border-bottom-right-radius: 80px !important;
       // border-bottom-left-radius: 80px !important;
    }
    .margtop70 {margin-top:70px;}
    
    .list-header
    {
      //padding-left: 16px;
      //margin-bottom: 13px;
      min-height: 31px;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      background-color:#f7f7f7;
      font-size: 11px;
      color: #999999;
      font-weight:bold;
    }
    .label {margin:1px;}
    .margtop5{margin-top:5px;} 
    .whticon {color:#fff;}   

}
