<ion-header [ngClass]="{'blur': toggle}" class="Header">

  <ion-card ion-fixed (click)="closeFab(fab)" *ngIf="toggle" class="TransparentHeader"></ion-card>

  <ion-navbar no-margin padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{'MYSCHEDULES' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding [ngClass]="{'blur': toggle}" class="MainContent">

  <ion-card ion-fixed (click)="closeFab(fab)" *ngIf="toggle" class="TransparentContent"></ion-card>

  <ion-grid no-padding class="cardgrid">
    <ion-card no-padding *ngFor="let schedule of combinedArray, let i = index" (click)="goToMySchedules(schedule)" class="ccard">

      <ion-row no-padding class="statusgrid">
        <div class="cardlabeljoin">
          <img src="assets/icon/classesblack.svg" *ngIf="schedule['ClassId']" class="Classicon">
          <img src="assets/icon/facility.svg" *ngIf="schedule['FacilityId']" class="Classicon">
        </div>
      </ion-row>

      <ion-card-content no-padding>
        <ion-grid>

          <ion-row no-padding>

            <ion-col col-3 no-padding class="timeandduration">
              <ion-row class="strttime">
                {{date[i]}}
              </ion-row>
              <ion-row class="strttime">
                {{schedule.StartTime}}
              </ion-row>
            </ion-col>

            <ion-col col-9 no-padding class="clsinfo">
              <ion-row>

                <ion-col col-auto>
                  <ion-avatar *ngIf="schedule['ClassId']" class="classico">
                    <img src="assets/img/PT/{{schedule.PurposeLogo}}">
                  </ion-avatar>
                  <ion-avatar class="trainerLogo">
                    <img src="assets/img/{{schedule.UserImage}}" *ngIf="!schedule['ClassId'] && !schedule['FacilityId']">
                  </ion-avatar>
                  <ion-avatar class="trainerLogo">
                    <img src="assets/img/FacilityIcons/{{schedule.FacilityImage}}" *ngIf="schedule['FacilityId']">
                  </ion-avatar>
                </ion-col>

                <ion-col col-auto>
                  <ion-row>
                    <div *ngIf="!schedule['FacilityId']" class="classname">{{schedule.PurposeName}}</div>
                    <div *ngIf="!schedule['ClassId'] && !schedule['FacilityId']" class="nutriicon">
                      <img width="20px" height="22px" src="assets/icon/nutrition.svg">
                    </div>
                    <div *ngIf="schedule['FacilityId']" class="classname">{{schedule.FacilityName}}</div>
                  </ion-row>
                  <ion-row *ngIf="schedule['ClassId']" class="usercount">
                    <img *ngFor="let star of starRating( schedule.Rating )" src="assets/icon/{{star}}" class="stargeneral">&nbsp;
                    <span class="margtop4">({{schedule.Ratingcount}} users)</span>
                  </ion-row>
                  <ion-row *ngIf="!schedule['ClassId'] && !schedule['FacilityId']" class="margtop2">
                    {{schedule.UserName}}
                  </ion-row>
                  <ion-row *ngIf="schedule['FacilityId']" class="margtop2">
                    {{schedule.FacilityCourt}}
                  </ion-row>
                </ion-col>

              </ion-row>
            </ion-col>

          </ion-row>

          <ion-row no-padding class="bottomrow">

            <ion-col col-4 no-padding class="c1">
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <ion-avatar>
                    <img src="assets/icon/time.svg" class="timeico">
                  </ion-avatar>
                </ion-col>
                <ion-col col-10 no-padding>
                  <div class="trainername1">{{schedule['Duration']}}</div>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col col-4 no-padding class="c2">
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <ion-avatar>
                    <img src="assets/img/{{schedule.UserImage}}" *ngIf="schedule['ClassId']" class="trainericon">
                  </ion-avatar>
                </ion-col>
                <ion-col col-10 no-padding>
                  <div *ngIf="schedule['ClassId']" class="trainername">{{schedule.UserName}}</div>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col col-4 no-padding class="c3">
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <img src="assets/icon/locationblue.svg" class="blueloc">
                </ion-col>
                <ion-col col-10 no-padding>
                  <div class="locaname">{{schedule.classlocation}} ({{schedule.dist}} km)</div>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </ion-grid>
      </ion-card-content>

    </ion-card>
  </ion-grid>

  <ion-grid align-item-center text-center *ngIf="combinedArray === null">
    <ion-row padding-top no-margin>
      <ion-col text-center align-item-center>
        <ion-avatar align-item-center>
          <img src="assets/img/Noschedule.png" height="130px" width="240px" class="NoScheduleIMG" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row text-center no-padding no-margin>
      <ion-col col-4 push-4 no-padding no-margin>
        <p class="HiUser">Hi Jacky !</p>
      </ion-col>
    </ion-row>
    <ion-row text-center no-margin no-padding class="scheduleErrorText">
      <ion-col padding-right padding-left>
        <p>Looks like you don't any upcomming appointments</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- Favicon icons -->
<ion-fab #fab right bottom class="FabButton">
  <!-- main favicon button -->
  <button ion-fab (tap)="toggleBackground()" class="MainFavicon">
    <ion-icon name="ios-add" class="AddIcon">
    </ion-icon>
  </button>

  <!-- favicon icon 1 -->
  <ion-fab-list side="top" class="FabList1">
    <button ion-fab mini (click)="goToBookAppoint(fab)" class="TopFab">
      <img height="25px" width="25px" src="assets/icon/bookappoint.svg" class="BookAppointSvg" />
    </button>
    <p class="text1">{{"BOOKAPPOINTMENT" |translate}}</p>
  </ion-fab-list>

  <!-- favicon icon 2 -->
  <ion-fab-list side="left" class="FabList2">
    <button ion-fab mini (click)="goToSearchClassesbyFab(fab)" class="MiddleFab">
      <img height="25px" width="25px" src="assets/icon/searchclasses.svg" class="SearchClassesSvg" />
    </button>
    <p class="text1">{{"SEARCHCLASSES" |translate}}</p>
  </ion-fab-list>

  <!-- favicon icon 3 -->
  <ion-fab-list side="bottom" class="FabList3">
    <button ion-fab mini (click)="goToBookFacility(fab)" class="BottomFab">
      <img height="25px" width="25px" src="assets/icon/facility.svg" class="BookFacilitySvg" />
    </button>
    <p class="text1">{{"SEARCHFACILITY" |translate}}</p>
  </ion-fab-list>

</ion-fab>