page-scheduling {

    .blur {
        filter: grayscale(100%);
        filter: brightness(10%);
        opacity: 1;
        scroll-content {
            overflow-y: hidden;
        }
    }

    .TransparentHeader {
        width: 100%;
        height: 120%; 
        background-color: transparent;
        position: absolute;
        z-index: 500;
    }

    .NavigationBar {
        padding: 2px; 
        border-bottom: 3px solid $welcome_backgroundColor;
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .NotificationIcon {
        margin-top: 9px;
        margin-right: 11px;
        float: right;
    }

    .TransparentContent {
        width: 100%;
        height: 120%; 
        background-color: transparent;
        position: absolute;
        z-index: 500;
    }

    .ccard {
        border-bottom: solid 3px $range-ios-knob-background-color;
        background-color: $scheduleBackgroungcolor;
        height: 90px;
    }

    .ccard:hover {
        background-color: $cardHoverClasslist !important;
    }

    .statusgrid {
        z-index: 10000;
        display: flex;
        justify-content: flex-end;
        height: 1px;
    }

    .Classicon {
        padding: 3px;
        width: 34px;
        height: 34px;
    }

    .strttime {
        font-size: 13px;
        color: $strttime-color;
        text-transform: uppercase;
    }

    .classduration {
        color: $classduration-color;
        font-size: 11px;
    }

    .timeico {
        height: 15px;
        width: 15px;
        margin-top: 2px;
        color: $timeico-color;
    }

    .classico {
        height: 45px;
        width : 45px;
        border-radius: 20%;
    }

    .trainerLogo img { 
        border-radius: 100%;
        border-radius: 100%;
        width: 45px;
        height: 45px;
    }

    .classname {
        width: 165px;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $classname-color;
    }

    .nutriicon {
        position: absolute; 
        margin-inline-start: 25px; 
    }

    .usercount {
        font-size: 12px;
        color: $usercountTextcolor;
    }
    
    .stargeneral {   
        margin-top: 1px;
        height: 16px;
        width: 16px;
    }

    .margtop2 {
        color: #FCAD36;
        font-size: 12px;
    }

    .trainericon {
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }

    .trainername {  
        font-size: 12px;
        color: $trainername-color;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .trainername1 {
        font-size: 12px;
        color: $trainername-color;
        padding: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .blueloc {
        margin-top: 3px;
        width: 19px;
        height: 15px;
    }

    .locaname {
        margin-top: 2px;
        font-size: 10px;
        color: $range-ios-knob-background-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .NoScheduleIMG {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .HiUser {
        color: $errorname;
        font-size: 22px;
    }

    .scheduleErrorText ion-col p {
        font-size: 19px;
        padding-right: 15px;
        padding-left: 15px;
        color: $label_color; 
    }
    
    .FabButton {
        padding-right: 2px;
        padding-bottom: 2px;
        margin-bottom: 70px;
    }
    
    .MainFavicon {
        color: $welcome_text_fontColor;
        background-color: $welcome_backgroundColor;
    }
    
    .MainFavicon:hover {
        color: $welcome_text_fontColor;
        background-color: $welcome_backgroundColor;
    }
    
    .TopFab {
        bottom : 5px;
        background-color: $fab_background_Color;
        margin-right: 90%;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
    }
    
    .MiddleFab {
        background-color: $fab_background_Color;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
        top: 5px; 
    }
    
    .BottomFab {
        background-color: $fab_background_Color;
        color: $welcome_text_fontColor;
        position: absolute;
        right: 62px;
        bottom: 5px;
    }
    
    .fab ion-icon[name=ios-add] {
        font-size: 3.2rem;
        font-weight: bolder;
    }
    
    .fab-close-active .fab-close-icon {
        opacity: 1;
        -webkit-transform: scale(1.4) rotateZ(0deg);
        transform: scale(1.4) rotateZ(0deg);
    }
    
    ion-fab-list[side=top] {
        right: 30px;
    }
    
    ion-fab-list[side=bottom] {
        right: 30px;
        bottom: 10px;
    }
    
    .text1 {
        font-size: 11px;
        color: $fab_Label_Color;
    }

}

 