page-waiver-success {

    .main-content {
        background-color: $transparent_background;
        align-content: center;
        position: relative;
      }
    .modal{
        border-radius:10px;
        height: 190px;
        width:90%;
        margin-top: 90px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .redirecting
    {
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
      color: $subfont_cartpage;
    }
    .coll11
    {
      margin-left: auto;
      margin-right: auto;
      font-size:13px;
      font-weight: 500;
      color: $waiver_text;
    }
    .waiverText
    {
        font-weight: 600;
        font-size:15px;
        margin-left: auto;
        margin-right: auto;
        color:black;
    }
    .imgClass
    {
        height:40px;
    }
    .col11
    {
        margin-top : 5px;
    }
}
