<ion-content class="main-content" >
  <!-- CARD AS MODAL -->
  <ion-card padding class="modal">
    <ion-grid class="mainGrid" no-padding>
      <!-- ROW 1 -->
      <ion-row align-self-center class="waiverText">
        {{'WAIVER_SIGN_COMPLETE' | translate}}
      </ion-row>
      <br>
      <br>
      <!-- ROW 2 -->
      <ion-row class="row2">
        <ion-col col-1>
          <img src="assets/img/tick.svg" />
        </ion-col>
        <ion-col col-11 class="col11">
          {{'WAIVER_SUCCESS_MESSAGE' | translate}}
        </ion-col>

      </ion-row>
      <br>
      <!-- ROW 3 -->
      <ion-row class="redirecting">
        {{'REDIRECTING_PAYMENT_GATEWAY' | translate}}
      </ion-row>
      <!-- ROW 4 -->
      <ion-row class="redirecting">
        <ion-spinner class="spinnerClass" name="dots"></ion-spinner>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>