<ion-content>
    <!-- Main Grid -->
    <ion-grid no-padding>
        <!-- Grid 2 -->
        <ion-grid class="MainGrid">
            <!-- Row-1 -->
            <ion-row align-item-center>
                <ion-col col-1>
                    <button ion-button icon-only menuToggle clear>
                        <ion-icon name="arrow-round-back" class="arrowback"></ion-icon>
                    </button>

                </ion-col>
                <ion-col col-9 class="username">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{dummyResponse.userName}}

                </ion-col>
                <ion-col col-2>
                    <button ion-button class="editProf">
                        <img src="assets/img/edit.svg" class="imgEdit">
                    </button>
                </ion-col>
            </ion-row>
            <!-- Row-2 -->
            <ion-row align-item-center>
                <ion-col class="status" text-center align-self-center>
                    {{dummyResponse.active}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{dummyResponse.userStatus}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    {{dummyResponse.Birthdate}}
                </ion-col>
            </ion-row>
            <!-- Row-3 -->
            <ion-row align-item-center>
                <ion-col align-self-center>
                    <ion-avatar align-self-center>
                        <img class="userImage" src="{{dummyResponse.userImg}}">
                        <br>
                    </ion-avatar>
                </ion-col>
                <br>
            </ion-row>
            <!-- Row-4 -->

            <ion-row class="client-profile-design-top" align-item-center>
                <ion-col text-center col-6 align-self-center class="row5Col1">
                    <img src="{{payIcon}}" class="button-click2" />
                    <br>
                    <label style="font-size: 13px">{{dummyResponse.amount}}</label>

                    <p class="payNow">
                        <u>PAY NOW</u>
                    </p>

                    <br>
                </ion-col>
                <ion-col text-center col-6 class="client-profile-design" align-item-center>
                    <img src="assets/img/wallet.svg" class="button-click1" />
                    <br>
                    <label style="font-size: 13px">{{dummyResponse.wallet}}</label>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-grid>




    <ion-list class="listClass">
        <ion-item *ngFor="let item of allItems; let i = index" class="list1">
            <ion-grid no-margin no-padding>
                <ion-row class="mainRow">

                    <ion-col col-1 class="avatarCol">
                        <ion-avatar class="avatarC">
                            <ion-icon name="{{item.iconImg}}" class="img"></ion-icon>
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-1></ion-col>
                    <ion-col col-5 class="desc">
                        {{item.desc}}
                        <ion-col *ngIf="i==4" class="signout">
                                {{item.signout}}
                        </ion-col>
                    </ion-col>
                    
                    <ion-col col-1 class="referals" *ngIf="i==2">

                        <button ion-button item-end class="bdNum">{{item.referals}}</button>

                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <!-- Row 1 of Main grid -->

</ion-content>