page-new-profile 
{
    


    .button-click2
    {
        margin-top: 17px;
        color: #616161;
        border-color:#CDCDCD;
        height:28px;
        margin-bottom:3px;
    }   
    .button-click1
    {
       
        color: #616161;
        border-color:#CDCDCD;
        height:28px;
        margin-bottom:2px;
    }   

    //COLOR FOR BACK ARROW
    .arrowback
        {
            color:#ffffff;
        }
    
    //BACKGROUNF FOR CLIENT INFORMATION
    .MainGrid
        {
         
            padding: 0%;
            margin :0%;
            height:290px;
            background-color : #8D69B2;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            align-content: center;
            text-align: center;
        }

        .upSch
            {
                font-family: 'Champagne & Limousines' !important;
                font-size: 15px;
                font-weight: bold;
            }
    //dISPLAYING RED FOR ALERT
    .medicalAlert
        {
            font-family: 'Champagne & Limousines' !important;
            font-size : 16px;
            font-weight: bold;
            color : red;
        }
        
    //client name information 
    .username
        {
            font-family: 'Champagne & Limousines' !important;
            color : white;
            margin-left:auto;
            margin-right:auto;
            font-size: 22px;
            margin-top:20px;
        }
.payNow
{
    color : yellowgreen;
   
}
.signout
{
    color : #8D69B2;
}
.avatarC
{
    background-color :  #82d1e3;
    border-radius:100%;
}
.img
{
    margin-left :13px;
    margin-top:10px
}
.item-md {
    padding-left :0px;
}
.desc
{
    margin-top:10px;
}
.referals
{
    margin-top:3px;
    
   
}
.mainRow
{
    padding-left : 16px;
}
.listClass
{
    margin-top : 10px;
}
.editProf
{
    margin-right : 100px;
    background-color:rgb(105, 69, 141);
    height: 45px;
    width: 45px;
    border-radius: 100px;
}
.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 0px;
}
.bdNum
{
    margin-top : 10px;
    border-radius: 100px;
    height: 30px;
    width: 20px;
    background-color: #8D69B2;
}
.badge-md {
    border-radius: 100px;
      border-radius: 100px;
    width: 23px;

height: 22px;
    color: #fff;
    background-color: #8D69B2;
}
    .status
        {
            color : white; 
            font-size: 14px; 
            font-style: normal;
            margin-top:10px;
        }

    //icon color
    .chatIcon, .callIcon, .moreIcon
        {
            color:"#ffffff";
            padding: 15px;
        }

    //row font size
    .row5Col1
        {
            font-size: 12px;
            color : white;
        }

    //setting background color as transparent
        .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default 
        {
            color: #ffffff;
            background-color: transparent;
        }

    //displaying medical item name
    .medicalitem
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size :12px;
            color: orange;
            font-style: normal;
        }

    //icon click
    .button-click
        {
            margin-right:0px!important;
            width: 35px;
            height: 35px;
            color: white;
            border-width: 0px !important;
            border:solid;
            border-radius:50%;
            border-color:#CDCDCD;
            background-color:rgba(207, 216, 220, 0.61);
            margin-bottom:2px;
        }
                
            .imgEdit
            {
                width: 20px;
            }
    //item design for - few mins ago
    .client-profile-design
        {
            border-left:solid;
            font-size: 12px;
            height: 92px;
            border-left-width: 1px;
            border-color: white;
            color:white;
            padding-bottom: 20px;
        }
    
     //item for currency   
    .client-profile-design-top
        {
            border-top:solid;
            border-color: white;
            border-top-width: 1px;
        }
    
    //ASSIGNING IMAGE FOR DOT SEPERATOR
    .dot-seperator
        {  
            background-image:url(../assets/img/dots.jpg); background-repeat:repeat-x; height: 11px;
    
        }         
    
    //properties for user image - avatar
    .userImage
        {
            background-image:url(assets/img/userimage.jpg);
            background-repeat:repeat-x;
            align-content: center;
            align-items: center;
            float: center;
            margin-left: auto;
            margin-right:auto;
            width: 100px !important;
            height: 100px !important;
            border-radius: 100%;
            margin-bottom: 20px;
            margin-top:30px;
        }
                
    }
    


        
        

