<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="HelloGrid">
    <ion-row class="HelloGridRow">
      <ion-col class="HelloGridColumn">
        <br>
        <ion-row class="Hello">
          {{'HELLO' | translate}}, {{fetchDialCode}} - {{fetchPhoneNumber}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="SubHeadingGrid">
    <ion-row class="SubHeadingGridRow">
      <ion-col class="SubHeadingGridColumn">
        <ion-row class="SubHeading">
          {{'SELECTYOURCLUBTOCONTINUE' | translate}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="CenterGrid" *ngFor='let c of memberDetailsArray; let i = index;' (click)="goToSignupTermsEula(i)">
    <ion-row class="CenterRow">
      <ion-col col-10 class="CenterColumn">
        <ion-row no-padding no-margin class="MainCenterLabelRow">
          <ion-label no-padding no-margin class="MainCenterLabel">
            {{c.tenantName}}
          </ion-label>
        </ion-row>
        <ion-row *ngIf="c.memberType == 'Member'" class="SubCenterLabelRow">
          <ion-label no-padding no-margin class="SubCenterLabel">
            <p no-padding no-margin class="SubCenterPara">
              <a ion-text class="SubCenter">{{c.tenantlocation}}</a>&nbsp;&nbsp;
              <img src="assets/img/enquiryType1.png" class="EnquiryTypeIcon">
              <a ion-text class="EnquiryType">{{c.memberType}}</a>
            </p>
          </ion-label>
        </ion-row>
        <ion-row *ngIf="c.memberType == 'Prospect'" class="SubCenterLabelRow">
          <ion-label no-padding no-margin class="SubCenterLabel">
            <p no-padding no-margin class="SubCenterPara">
              <a ion-text class="SubCenter">{{c.tenantlocation}}</a>&nbsp;&nbsp;
              <img src="assets/img/enquiryType2.png" class="EnquiryTypeIcon">
              <a ion-text class="EnquiryType">{{c.memberType}}</a>
            </p>
          </ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-2 class="ArrowColumn">
        <ion-label margin-top margin-left class="ArrowLabel">
          <ion-icon name="ios-arrow-forward-outline" class="ArrowIcon"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <hr no-margin class="HorizontalLine">
  </ion-grid>

  <div class="emptydiv"> </div>
  <div class="foot" align="center">
    <img src="assets/img/ff-purp-logo.png" class="FooterImage">
  </div>

</ion-content>