page-welcome-screen {
    
    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
 
    .WelcomeText {
        color: $welcome_text_fontColor;
        font-size: $welcome_text_fontSize;
        font-family: $welcome_text_font;
    }

    .Hello {
        font-family: $welcome_text_font;
        font-size: $subTitle_fontSize;
        font-weight: bold;
    }

    .SubHeading {
        color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: $subTitle_fontSize;
    }

    .SubCenter {
        color: $subCenter_fontColor;
    }

    .EnquiryTypeIcon {
        height: 7px;
        width: 7px;
    }

    .EnquiryType {
        font-size: 12px;
        color: $enquiryType_fontColor;
    }

    .label-md {
        margin: 4px 4px 4px 0;
    }

    .foot {
        position:relative;
        bottom:0;
        width:100%;
        height:60px;
    }

    .emptydiv {
        min-height:80px;
    }

}
