<ion-content no-margin no-padding class="MainContent"  overflow-scroll="false">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="FFLogoRow">
          <img src="assets/img/SignupLogo.png" class="FFLogo" />
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="ProgressGrid">
    <ion-row class="ProgressGridRow">
      <ion-col col-12 class="ProgressGridColumn">
        <ion-row class="ProgressIndicator">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ClientDetailsGrid">
    <ion-row class="ClientDetailsGridRow">
      <ion-col col-3 class="ClientPhotoColumn">
        <br>
        <ion-row class="ClientPhotoRow">
          <ion-avatar class="ClientProfilePhotoAvatar">
            <img src="{{selectedCenterObject.picture}}" class="ClientProfilePhoto" />
          </ion-avatar>
        </ion-row>
      </ion-col>
      <ion-col col-9 class="ClientNameContactColumn">
        <br>
        <ion-row class="ClientName">
          {{selectedCenterObject.firstName}} {{selectedCenterObject.middleName}} {{selectedCenterObject.lastName}}
        </ion-row>
        <ion-row class="ClientContact">
          {{fetchDialCode}} - {{fetchPhoneNumber}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="OTPGrid">
    <ion-row class="OTPGridRow">
      <ion-col class="OTPGridColumn">
        <ion-row padding-left padding-right class="OTPLabel1Row">
          <p class="para">
            {{'OTPHASBEENSENTTOREGISTERMOBILENUMBER' | translate}}. xxxxxx{{ phoneLastDigits }}
          </p>
        </ion-row>
        <ion-row padding-left padding-right class="OTPLabel2Row">
          <p class="para">
            {{'PLEASEENTERINASPACEPROVIDEDBELOW' | translate}}.
          </p>
        </ion-row>
        <ion-row padding-left padding-right [ngStyle]="setOtpSix()" class="OTPRow">
          <ion-col col-2 class="OTPCol1">
            <ion-input (ionFocus)="saveFocus(0)" (keyup)="switchType($event,0)" #op11 [(ngModel)]="otp11" class="otplabel1" text-center
              fixed value="" [type]="otparry[0]" maxlength="1"></ion-input>
          </ion-col>
          <ion-col col-2 class="OTPCol2">
            <ion-input (ionFocus)="saveFocus(1)" (keyup)="switchType($event,1)" #op12 [(ngModel)]="otp12" class="otplabel2" text-center
              fixed value="" [type]="otparry[1]" maxlength="1"></ion-input>
          </ion-col>
          <ion-col col-2 class="OTPCol3">
            <ion-input (ionFocus)="saveFocus(2)" (keyup)="switchType($event,2)" #op13 [(ngModel)]="otp13" class="otplabel3" text-center
              fixed value="" [type]="otparry[2]" maxlength="1"></ion-input>
          </ion-col>
          <ion-col col-2 class="OTPCol4">
            <ion-input (ionFocus)="saveFocus(3)" (keyup)="switchType($event,3)" #op14 [(ngModel)]="otp14" class="otplabel4" text-center
              fixed value="" [type]="otparry[3]" maxlength="1"></ion-input>
          </ion-col>
          <ion-col col-2 class="OTPCol5">
            <ion-input (ionFocus)="saveFocus(4)" (keyup)="switchType($event,4)" #op15 [(ngModel)]="otp15" class="otplabel5" text-center
              fixed value="" [type]="otparry[4]" maxlength="1"></ion-input>
          </ion-col>
          <ion-col col-2 class="OTPCol6">
            <ion-input (ionFocus)="saveFocus(5)" (keyup)="switchType($event,5)" #op16 [(ngModel)]="otp16" class="otplabel6" text-center
              fixed value="" [type]="otparry[5]" maxlength="1"></ion-input>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ContinueGrid">
    <ion-row class="ContinueGridRow">
      <ion-col class="ContinueGridColumn">
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="ContinueButton" (click)="presentLoadingText()" [disabled]="isButtondisabled">{{'CONTINUE'
            | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>