page-otp {
  
  .HeadingGrid {
    background-color: $welcome_backgroundColor;
  }
.MainContent .scroll-content{
  overflow: hidden;
  max-height: 100%;
 
}

.ion-content
{
  bottom: 0;
  position: absolute;
}
  .WelcomeText {
    color: $welcome_text_fontColor;
    font-size: $welcome_text_fontSize;
    font-family: $welcome_text_font;
  }

  .ProgressGridColumn {
    background-color: $progressBar_backgroundColor;
    height: $progressBar_height;
  }

  .ClientProfilePhoto {
    border-radius: 50%;
  }

  .ClientName {
    color: $clientName_fontColor;
    font-size: $clientName_fontSize;
    margin-bottom: 5px;
  }

  .ClientContact {
    color: $become_a_member_button;
    font-size: 12px;
  }

  .para {
    color: $become_a_member_button;
    font-size: 13px;
    line-height: 23px;
  }

  .text-input-md {
    margin: 0px;
    padding-bottom: 8px;
  }
  
  .otplabel1 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;   
  }

  .otplabel2 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;  
  }

  .otplabel3 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;   
  }

  .otplabel4 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;  
  }

  .otplabel5 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;  
  }

  .otplabel6 {
    border-bottom: 2px solid $otpField_fontColor;
    font-size:20px;
    color: $otpField_fontColor;    
  }
  
  .continueButton {
    display: block;
    color: $welcome_text_fontColor;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: none;
    box-shadow: none;
    height: 40px;
    font-size: 15px;
    background-color: $welcome_backgroundColor;
  }
  
  .ContinueGrid {
   // position:fixed;
    margin-top:10px;
  }

  .button-ios {
    border-radius: 64px;
    height: 38px;
    font-size: 1.6rem;
    color: #fff;
    background-color: $welcome_backgroundColor;
    padding: 0 1em;
    text-transform: none;
  }

  .button-md {
    border-radius: 64px;
    height: 38px;
    font-size: 1.6rem;
    color: #fff;
    background-color: $welcome_backgroundColor;
    padding: 0 1em;
    text-transform: none;
  }
  
  .button.button:hover {
    background-color: $welcome_backgroundColor;
  }
      
  .button.button:active {
    background-color: $welcome_backgroundColor;
  }

}
