<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">{{'OFFERS' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-item no-lines *ngFor="let offer of offersList['Offers'], let i = index">
    <ion-card class="offercards">
      <img src="assets/img/{{offer.OfferBgImage}}" />
      <div class="ctitle">{{offer.OfferName}}</div>
      <div class="ctxtheader1">{{offer.OfferShortName}}</div>
      <div class="cdescription">{{offer.OfferDescription}}</div>
      <div class="cvalidity">&nbsp;&nbsp;{{'OFFERVALIDTILL' | translate}} - {{day[i]}} {{date[i]}}</div>
      <div class="cviewdetails" (click)="goToOfferDetails(i)">&nbsp;&nbsp;{{'VIEWDETAILS' | translate}}</div>
      <div class="ccoupon">{{'COUPONCODE' | translate}} -</div>
      <div class="code">&nbsp;{{offer.OfferCodeName}}</div>
      <ion-row class="row1">
        <button ion-button round (click)="goToOfferDetails(i)" class="claimbutton">{{'CLAIMTHISOFFER' | translate}}</button>
      </ion-row>
    </ion-card>
  </ion-item>

</ion-content>