page-offer {

    .NavigationBar {
        border-bottom: 3px solid $welcome_backgroundColor;
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .noti {
        margin-right: 11px;
        margin-top: 7px;
    }
   
    .card-background-page {

        .card-md {
            margin-top: 10px;
            margin-left: 6px;
        }

        ion-card {
            position: relative;
            text-align: center;
            height: 235px;
        }
      
        .ctitle {
            position: absolute;
            top: 5px;
            font-size: 22px;
            padding: 10px;
            font-weight: bold;
            color: $welcome_text_fontColor;
            background-color: $offer_Heading_Color;
        }

        .ctxtheader1 {
            position: absolute;
            top: 60px;
            font-size: 20px;
            color: $welcome_text_fontColor;
            padding-inline-start: 8px;
            width: 92%;
            text-align: left;
            font-style: bold;
            width: 94%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            left: 7px;
        }

        .cdescription {
            position: absolute;
            top: 100px;
            font-size: 13px;
            color: $welcome_text_fontColor;
            padding-inline-start: 8px;
            right: 5vw;
            left: 0px;
            text-align: left;
            font-weight: 100;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            left: 7px;
        }

        .cvalidity {
            position: absolute;
            top: 125px;
            font-size: 13px;
            color: $offer_Validity_Color;
            font-weight: bold;
            padding-inline-start: 8px;
        }

        .cviewdetails {
            position: absolute;
            top: 150px;
            font-size: 12px;
            color: $welcome_text_fontColor;
            padding-inline-start: 8px;
        }

        .ccoupon {
            position: absolute;
            top: 150px;
            font-size: 12px;
            color: $welcome_text_fontColor;
            margin-inline-start: 55%;
        }

        .code {
            position: absolute;
            top: 150px;
            font-size: 12px;
            font-weight: bold;
            color: $welcome_text_fontColor;
            margin-inline-start: 80%;
        }

        .row1 {
            align-content: center;
            margin-left: 14px;
            margin-right: 10px;    
        }

        .claimbutton {
            background-color: $offer_Title_Color;
            position: absolute;
            top: 180px;
            font-weight: 200; 
            width : 90%;
            height: 40px;
            text-transform: none;
        }

        .claimbutton:hover {
            background-color: $offer_Title_Color;
        }
      
    }

    .toolbar-title {
        font-size: 20px;
    }

    .label-md {
        margin: 0px;
    }

}
