page-feedback-flow {


    .contentCard
    {
        width: 100%; 
        background-color: $feedback_header;      
    }
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }




    .feedbackFlowHeader {
    
    }

    .back-button
    {
        z-index: 10000;
    }

    .headerTitle {
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Champagne & Limousines' !important;
        font-size: 25px;
        padding-bottom: 13px;
    }

    .grid {
        padding: 0%;
    }

    .text-input {
        padding-top:0px !important;
        margin-top :5px;
        margin-bottom:2px;
        margin: 13px 8px;
        /* margin: 13px 8px; */
    }

    .messageOptionGrid {
      height: 150px;
      background-color: white;
      border-bottom: 1px solid $feedback_message;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }

    .messageOptionHeaderDiv {
        background-color: $feedback_header;
        border-bottom: 1px solid $feedback_message;
    }

    .messageOptionHeader {
        line-height: 20px;
        color:$feedback_message_header;
        padding-top: 23px;
        padding-left: 10px;
        font-size: 14px;
    }

    .NotificationIcon
    {
        height:35px; width:30px
    }

    .Image
    {
        margin-right:10px;
        width:20px;
        height:13px
    }

    // .messageOptionTextBoxDiv {
    //     height: 110px; 
    // }

    .messageOptionTextBox {
        border: 1px solid $feedback_option;
        min-height: 120px;
        .text-input {
            padding-top: 8px;
            padding-left: 10px;
            color: $feedback_text_color;
            font-size: 15px;
        }
    }

    .addPictureGrid {
        background-color:$welcome_text;
        // height: 160px;
        border-bottom: 1px solid $feedback_message;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
  
    .addPictureHeaderDiv {
          background-color: $feedback_header;
        //   height: 90px;
    }
  
    .addPictureHeader {
        //   padding-top: 40px;
        //   padding-left: 10px;
          font-size: 14px;
          padding: 10px;

    }

    .addPictureEmptyDiv {
        height: 25px;
    }

    .addPictureEmptySpace {
        background-color: $welcome_text;
        border-bottom: 3px solid $welcome_text;
    margin-left: auto;
    margin-right:auto;
       
    }
.addPic
{
    margin-left:5px;
}
    .addPictureIcon {
        margin-top: 10px;
        height: 100px;
        width: 100px;
    }

    .getBackOptionGrid {
        // height: 350px;
        border-bottom: 1px solid $feedback_message;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        font-size:12px;
        background-color: white;
    }
  
    .getBackOptionHeaderDiv {
        background-color: $feedback_header;
        // height: 90px;
        border-bottom: 1px solid $feedback_message;
    }
  
    .getBackOptionHeader {
        // padding-top: 40px;
        // padding-left: 10px;
        font-size: 14px;
        padding: 10px;
    }

    .getBackOptionEmailDiv {
        height: 100px;
    }

    .getBackOptionEmailHeader.label {
        font-size: 17px;
        color: $input_fontColor;
        padding-bottom: 15px;
    }

    .getBackOptionPhoneNumberDiv {
        height: 50px;
        padding-left: 17px;
    }

    .getBackOptionPhoneNumberHeader.label {
        font-size: 17px;
        color: $input_fontColor;
        padding-bottom: 15px;
    }
    
    .inputBoxRow {
        min-width: 100%;
        width: 100% !important;
        font-size: 2vh;
        max-width: 100% !important ;
    }

    .Dcodesize {
        color: $Trainer_Name;
        max-width: 100% !important;
        font-size: 12px;
    }

    .arrow { 
        color: $feedback_arrow_color;
        position: absolute;
        right: 0;
    }

    .phoneInput {
        margin-top: 0vh;
    }

    .inputBox {
        height: 45px;
    
        .text-input {
            padding-top: 8px;
            padding-left: 10px;
            color: $feedback_text_color;
            font-size: 15px;
        }

        ::placeholder { 
            color: $feedback_arrow_color;
            font-size: 15px;
         }

         color: $Trainer_Name;
    }

    ::-webkit-input-placeholder{
        color: $feedback_arrow_color;
        font-size: 13px;
    }

    .getBackOptionContinueDiv {
        height: 100px;
        padding-top: 25px;
    }

    .getBackOptionContinueButton {
         margin-left: 13px;
    }

    .getBackOptionContinueText {
       // height: 40px;
        text-transform: none;
        font-size: 17px;
        background-color: $feedback_button;
    }

    .getBackOptionEmptySpaceDiv {
        background-color: $feedback_header;
        height: 35px;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: $feedback_option !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: $feedback_option !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: $feedback_option !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: $feedback_option!important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: $feedback_option !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: $feedback_option !important;
        box-shadow: none !important;
    }


    .closeIcon{
        height: 30px;
        width: 30px;
        position: absolute;
        margin-top: 15px !important;
        margin-left: 70px !important;
    }

    .feedbackimg
    {
        margin-top: 8px;
        height: 60px;
        margin-inline-start: 12px;
        width: 85%;
    }
}
