<ion-header dir="ltr" no-border>
  <ion-navbar color="purple" class="feedbackFlowHeader">
    <ion-title class="headerTitle">{{ 'FEEDBACK' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img class="notification"  src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentCard" align-items-center>
  <ion-row class="messageOptionHeaderDiv">
    <ion-col col-3>
      <img class="feedbackimg" src="assets/img/feedback.png">
    </ion-col>
    <ion-col col-7>
      <ion-row class="messageOptionHeader" align-items-center>
        {{ 'Type_your_message' | translate }}
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-grid class="messageOptionGrid">
    <ion-row class="messageOptionTextBoxDiv" no-padding no-margin>
      <ion-col no-padding no-margin>
        <ion-input class="messageOptionTextBox" no-padding [(ngModel)]="feedbackText" placeholder="{{ 'feedback_placeholder' | translate}}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="addPictureHeaderDiv">
    <ion-col>
      <ion-row class="addPictureHeader">
        {{"ADDIMAGE_FEEDBACK" |translate}}
      
      </ion-row>
    </ion-col>
  </ion-row>



  <ion-grid class="addPictureGrid" no-padding no-margin>
    <ion-row class="addPictureDiv" justify-content-center align-items-center>
      <ion-avatar (click)="showPrompt()">
        <img class="addPictureIcon" src="assets/icon/mobile.jpg">
      </ion-avatar>
    </ion-row>
    <ion-row *ngIf="imgFlag" class="addPictureEmptySpace">
       
         <ion-avatar *ngFor="let u of toDisplay;let i=index" class="addPic">
          <img class="removePictureIcon" src="assets/icon/noun_cancel.svg" (click)="removeimage(i)" class="closeIcon" />
          <img class="addPictureIcon" [src]="sanitizer.bypassSecurityTrustUrl(u)" />
        </ion-avatar>
   
    </ion-row>
  </ion-grid>


  <ion-grid  no-padding no-margin>
  <ion-row class="getBackOptionHeaderDiv">
    <ion-col>
      <ion-row class="getBackOptionHeader">
        {{ 'HowCanWeGetbackToYou' | translate }}       
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>



  <ion-grid class="getBackOptionGrid">
    <ion-row class="getBackOptionEmailDiv">
      <ion-col no-padding no-margin>
        <ion-item>
          <ion-label stacked class="getBackOptionEmailHeader">{{'Email' | translate }}</ion-label>
          <ion-input type="email" placeholder="{{ 'ENTEREMAIL' |translate }}" class="emailInput" [(ngModel)]="emailid"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row class="getBackOptionPhoneNumberDiv">
      <ion-col no-padding no-margin>
        <ion-label stacked class="getBackOptionPhoneNumberHeader">{{ 'PHONENUMBER' | translate}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- 
    <ion-row>
      <ion-col col-2 class="dialCode">
        <ion-item>
          <ion-input type="tel" placeholder="+91"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-10 class="phoneInput">
        <ion-item>
          <ion-input placeholder="Enter Phone Number" (keyup)="dynamic()" [(ngModel)]="phoneNumber" maxlength=20></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->

    <ion-row class="inputBoxRow">
      <ion-col col-4 class="dialCode">
        <button ion-item clear icon-left (click)="CountryModal()">
          <img class="Image" [src]="defaultFlag">&nbsp;
          <b class="Dcodesize">{{defaultDialcode}}</b>&nbsp;&nbsp;
          <ion-icon name="md-arrow-dropdown" class="arrow"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-8 class="phoneInput">
        <ion-item>
          <ion-input class="inputBox" type="tel" (keyup)="dynamic()" placeholder="{{ 'PHONE' | translate }}" [(ngModel)]="phoneNumber"
            maxlength=20></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="getBackOptionContinueDiv" align-items-center>
      <ion-col class="getBackOptionContinueButton">
        <button ion-button round full class="getBackOptionContinueText" (click)="showAlert()">{{ 'SUBMIT' | translate }}</button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>