page-renew {


    .contentRenew
    {
        position: absolute;
       
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;      
    }
 
    @media only screen and (min-width: 600px) {
        .contentRenew
        {
            position: absolute;
           
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
           
        }
       
    }

    @media only screen and (min-width: 768px) {
        .contentRenew
        {
      
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
         
        }
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .notification
    {
        height: 38px;
        float: right;
        margin-top: 5px
    }
  
    .itemDetails
    {
        background-color: $item_back_color;
    }
    .Row1{
        width:100%;
    }
    .mainRow
    {
        font-size: 12px;
        color: $main_row_color;
        padding-top :0px;
        padding-left : 10px;
    }
    .userImage
    {
        width: 100%;
        height: 103%;
    }
    .cardSub1
    {
        font-size: 13px;
    }
    .cardSub2
    {
        font-size: 11px;
    }
    .card-md
    {
        height: 70px;
    }
    .card-content-md {  
        padding: 05px 6px;
        line-height: 2;
    }
    .NotificationIcon
    {
        height:35px;
        width:30px;
    }
    .expiry
    {
      
        height: 15px;
        padding-left:10px;
        padding-top :1px;
        color: $welcome_text;
        background-color: $Withdraw_button;
        margin-inline-end: 0px;
        font-size: 11px;
    }
    // .gridRow1[no-padding] > .row > .col {
    //     padding-top: 3px;
    //     padding-bottom: 3px;
    //     padding-left: 22px;
    // }
    .gridRow1
    {
       // border: solid 1px black;
        padding-left: 10px;
        padding-right: 10px;
       
    }
    .gridRow2
    {
       // border-bottom: solid 1px black;
       padding-left: 10px;
       padding-right: 10px;
      
    }
    .imageClass
    {
        height: 14px;
        width: 20px;
        margin-left: 28px;
    }
    .avatarC
    {
        background-color: $avatar_back_color;
        border-radius: 100%;
        height: 25px;
        margin-inline-start :10px;
        padding: 5px;
        width: 25px;
    }
    .avatarC1
    {
        background-color:$avatar1_back_color;
        border-radius: 100%;
        height: 25px;
        margin-inline-start :10px;
        padding: 5px;
        width: 25px;
    }
    .img1
    {
        height: 14px;
        padding-left: 3px;
    }
    .colgrid1
        {
          // padding-left:15px;
            background-color: $column_back_color;
            border-bottom: solid 1px $welcome_text;
            border-left: solid 1px $column_back_color;
            color: $welcome_text;
            font-size: 13px;
            padding-top: 5px;
            padding-bottom: 5px;
            // padding-left: 20px;
        }
        .colgrid{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 18px;
            font-size: 13px;
            border-right: solid 1px  $home_border_color;
            border-bottom: solid 1px $home_border_color;
             border-right: solid 1px $home_border_color;
        }


        .colgrid2{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 18px;
            font-size: 13px;
            border-right: solid 1px $home_border_color;
            border-bottom: solid 1px $home_border_color;
             border-right: solid 1px $home_border_color;
             background-color:$month_grid;
        }
    .home
    {
        background-color: $avatar_back_color;
        color:$welcome_text;
        font-size: 13px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 18px;
       
    }
    .pass
    {   background-color: $avatar1_back_color;
        color: $welcome_text;
        font-size: 13px;
        padding-top: 5px;
        padding-left: 18px;
        padding-bottom: 5px;
        
    }

    
    .gridIcon
    {
        padding-top:5px;
    }



    .row2
    {
        width: 100%
    }
    .row3
    {
        width: 100%;
        padding-left:10px;
    }
    .row4
    {
        width: 100%
    }
    .row5
    {
        width: 100%;
        padding:8px;
    }
    .homeans{
        font-size: 13px;
        color:$arrowclr;
        font-weight: bold
    }
    .homeans1{
        font-size: 13px;
        color: $arrowclr;
    }

    .grid[no-padding] > .row > .col {
        padding-top: 5px;
        padding-left: 19px;
    }

.signs {
    color: $cardlabelbuyclr;
}

}
