<ion-header class="Header">
  <ion-navbar  no-margin  class="classdetailMenuBar" text-center>
    <ion-title class="Title">{{ 'RENEW' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentRenew" no-padding>
  <ion-grid no-padding>

    <ion-row class="itemDetails">

      <ion-row  class="Row1" *ngFor="let freeze of renewData;let i=index">
          <ion-col col-12>
              <ion-label class="mainRow" > {{ 'RENEWING' | translate }}  {{freeze['purposedescription']}} 1 {{"MONTHS" | translate}}</ion-label>         
        </ion-col>
      </ion-row>  
       

      <ion-row  no-padding no-margin *ngIf="renewFlag">
        <ion-col col-12>
        <ion-card >
          <ion-row *ngFor="let freeze of renewData;let i=index">
            <ion-col col-3 no-padding no-margin>
              <img src="assets/img/PT/{{freeze['frozenicon']}}" class="userImage">
            </ion-col>
            <ion-col col-7>
              <ion-card-content>
                <ion-row class="cardSub1">
                  {{freeze['purposedescription']}}
                  <!-- Gym Floor 1 Month -->
                </ion-row>
                <ion-row class="cardSub2"> {{"TOTALCOST" | translate }}- INR {{freeze['totalCost']}}</ion-row>
              </ion-card-content>
            </ion-col>
            <ion-col col-2 no-padding no-margin>
              <div class="expiry"> {{ 'EXPIRED' | translate }}</div>
            </ion-col>
          </ion-row>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-row>

    <br>
    <ion-row class="gridRow1">
      <ion-col col-4></ion-col>
      <ion-col col-4 class="home">
        <div class="gridIcon">
          <img no-padding no-margin src="assets/img/locationW.svg" class="imageClass" />
        </div>
        {{ 'HOME_RATE' | translate }}
        <br>
        <br>
      </ion-col>
      <ion-col col-4 class="pass">
        <div class="gridIcon">
          <img no-padding no-margin src="assets/img/locationW.svg" class="imageClass" />
        </div>
        {{ 'PASSPORT_RATE' | translate }}
        <br>
        <br>
      </ion-col>
    </ion-row>


    <ion-row class="gridRow2" *ngFor="let R of renewMembership;let i=index">
      <ion-col  col-4 class="colgrid1">
        <br>{{R.monthDuration}}  {{"MONTHS" | translate}}
        <br>
        <br>
      </ion-col>
      <ion-col col-4 (click)="openHome(R,i)" [ngClass]="[renewMembership[i].statushome==true ? 'colgrid2' : 'colgrid']">
        <br>INR {{R.homeRate}}</ion-col>
      <ion-col col-4 (click)="openPassport(R,i)" [ngClass]="[renewMembership[i].statuspass==true ? 'colgrid2' : 'colgrid']">
        <br>INR {{R.passportRate}}</ion-col>
    </ion-row>


    <!-- <ion-row class="gridRow2">
      <ion-col col-4 class="colgrid1" (click)="openModal()">
        <br>3 Months
        <br>
        <br>
      </ion-col>
      <ion-col col-4 class="colgrid" (click)="openHome()">
        <br>INR 8,000</ion-col>
      <ion-col col-4 class="colgrid" (click)="openPassport()">
        <br>INR 11,000</ion-col>
    </ion-row> -->

    <!-- <ion-row class="gridRow2">
      <ion-col col-4 class="colgrid1">
        <br>6 Months
        <br>
        <br>
      </ion-col>
      <ion-col col-4 class="colgrid" (click)="openHome()">
        <br>INR 14,000</ion-col>
      <ion-col col-4 class="colgrid" (click)="openPassport()">
        <br>INR 19,000</ion-col>
    </ion-row> -->

    <!-- <ion-row class="gridRow2">
      <ion-col col-4 class="colgrid1">
        <br>9 Months
        <br>
        <br>
      </ion-col>
      <ion-col col-4 class="colgrid" (click)="openHome()">
        <br>INR 20,000</ion-col>
      <ion-col col-4 class="colgrid" (click)="openPassport()">
        <br>INR 25,000</ion-col>
    </ion-row> -->

    <br>
    <br>

    <ion-row no-padding>
      <ion-row class="row2">
        <ion-col col-2>
          <ion-avatar class="avatarC">
            <img src="assets/img/HomeIcon.svg" class="img1">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="homeans">
            {{"WHAT_IS_HOME_RATE" |translate }}
        </ion-col>
        <ion-col col-2 *ngIf="description1" (click)="expandDescription1()" class="signs" padding-left>[ - ]</ion-col>
        <ion-col col-2 *ngIf="!description1" (click)="expandDescription1()" class="signs" padding-left>[ + ]</ion-col>
      </ion-row>
      <ion-row padding *ngIf="description1" class="homeans1">
        {{home}}
      </ion-row>
    </ion-row>

    <ion-row no-padding>
      <ion-row class="row4">
        <ion-col col-2>
          <ion-avatar class="avatarC1">
            <img src="assets/img/PassportIcon.svg" class="img1">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="homeans">
            {{"WHAT_IS_PASSPORT_RATE" |translate }}
        </ion-col>
        <ion-col col-2 *ngIf="description2" (click)="expandDescription2()" class="signs" padding-left>[ - ]</ion-col>
        <ion-col col-2 *ngIf="!description2" (click)="expandDescription2()" class="signs" padding-left>[ + ]</ion-col>
      </ion-row>
      <ion-row padding *ngIf="description2" class="homeans1">
        {{passport}}
      </ion-row>
    </ion-row>


  </ion-grid>
</ion-content>