page-virtual-tour {

    .contentCard
    {
        width: 100%;
    }
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .playVideo
    {
        width:100%;
        height:100%;
    }

}
