<ion-content>
  <ion-list>
    <button ion-item class="edit" (click)="gotoDateTime()">Edit Date & Time</button>
    <button ion-item class="cancel" (click)="cancelApointment()">Cancel</button>
  </ion-list>
</ion-content>