<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center class="title">
      Upgrade
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img class="notification" src="assets/img/notibell.svg"> </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-grid no-padding>

    <!-- <ion-row class="itemDetails">
      <ion-row class="mainRow">
        Your membership for upgrade
      </ion-row>
      <ion-row>
        <ion-card>
          <ion-row>
            <ion-col col-3 no-padding no-margin>
              <img src="assets/img/trainerr.jpg" class="userImage">
            </ion-col>
            <ion-col col-7>
              <ion-card-content>
                <ion-row class="cardSub1">
                  Gym Floor 1 Month
                </ion-row>
                <ion-row class="cardSub2">
                  Total cost - INR 5,000
                </ion-row>
              </ion-card-content>
            </ion-col>
            <ion-col col-2 no-padding no-margin>
              <div class="expiry">Expired</div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </ion-row> -->
    <ion-row class="itemDetails">
      <ion-row class="mainRow">
        Your membership for upgrade
      </ion-row>

    <ion-row *ngIf="upgradeFlag">
      <ion-card>
        <ion-row *ngFor="let freeze of upgradeData;let i=index">
          <ion-col col-3 no-padding no-margin>
            <img src="assets/img/PT/{{freeze['frozenicon']}}" class="userImage">
          </ion-col>
          <ion-col col-7>
            <ion-card-content>
              <ion-row class="cardSub1">
                {{freeze['purposedescription']}}
                <!-- Gym Floor 1 Month -->
              </ion-row>
              <ion-row class="cardSub2"> Total cost - INR {{freeze['totalCost']}}</ion-row>
            </ion-card-content>
          </ion-col>
          <ion-col col-2 no-padding no-margin>
            <div class="expiry">Expired</div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>

    <ion-row *ngIf="!upgradeFlag" col-12>
      <ion-card>
        <ion-row *ngFor="let contract of upgradeData;let i=index">
            <ion-title>{{contract.contractName}}</ion-title>
          <!-- <ion-col col-3 no-padding no-margin>
                  <img src="assets/img/PT/{{contract.package[i].purposelogo}}" class="userImage">
                </ion-col>
                <ion-col col-7>
                  <ion-card-content>
                    <ion-row class="cardSub1">
                      {{contract.package[i].name}}
                    </ion-row>
                    <ion-row class="cardSub2"> </ion-row>
                  </ion-card-content>
                </ion-col> -->
          <!-- <ion-row>
            <ion-col col-9 class="">
              <ion-card class="">
                <ion-card-content class="">
                  Package ADT
                  <br>
                  <ion-item lines icon-left no-padding>
                    <ion-grid>
                      <ion-row>
                        <ion-col col-2>
                          <img src="assets/img/PT/{{contract.package[i].purposelogo}}" height="35px" width="35px;" />
                        </ion-col>
                   
                      </ion-row>
                    </ion-grid>
                  </ion-item>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row> -->
          <!-- <ion-col col-3 no-padding no-margin>
            <img width="35px" src="assets/img/PT/{{contract.purposelogo}}" class="userImage1">
          </ion-col>
          <ion-col col-7>
            <ion-card-content>
              <ion-row class="cardSub1">
                {{contract.purpose}}
              </ion-row>
              <ion-row class="cardSub2"> Total cost - INR {{contract.RecurringAmount}}</ion-row>
            </ion-card-content>
          </ion-col>
          <ion-col col-2 no-padding no-margin>
            <div class="expiry">Expired</div>
          </ion-col> -->
        </ion-row>

        <!-- </ion-row> -->
      </ion-card>
    </ion-row>

</ion-row>

    <br>

    <ion-row class="gridRow1">
      <ion-col col-4></ion-col>
      <ion-col col-4 class="home">
        <div class="gridIcon">
          <img no-padding no-margin src="assets/img/HomeIcon.svg" class="imageClass" />
        </div>
        Home Rate
        <br>
        <br>
      </ion-col>
      <ion-col col-4 class="pass">
        <div class="gridIcon">
          <img no-padding no-margin src="assets/img/PassportIcon.svg" class="imageClass" />
        </div>
        Passport Rate
        <br>
        <br>
      </ion-col>
    </ion-row>

    <ion-row class="gridRow2" *ngFor="let U of upgradeMembership;let i=index">
      <ion-col col-4 class="colgrid1">
        <br> {{U.monthDuration}} Months
        <br>
        <br>
      </ion-col>
      <ion-col col-4 (click)="openHome(U,i)" [ngClass]="[upgradeMembership[i].statushome==true ? 'colgrid2' : 'colgrid']">
        <br> INR {{U.homeRate}}
      </ion-col>
      <ion-col col-4 (click)="openPassport(U,i)" [ngClass]="[upgradeMembership[i].statuspass==true ? 'colgrid2' : 'colgrid']">
        <br> INR {{U.passportRate}}
      </ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row no-padding>
      <ion-row class="row2">
        <ion-col col-2>
          <ion-avatar class="avatarC">
            <img src="assets/img/HomeIcon.svg" class="img1">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="homeans">
          What is Home Rate?
        </ion-col>
        <ion-col col-2 *ngIf="description1" (click)="expandDescription1()" class="signs" padding-left>[ - ]</ion-col>
        <ion-col col-2 *ngIf="!description1" (click)="expandDescription1()" class="signs" padding-left>[ + ]</ion-col>
      </ion-row>
      <ion-row padding *ngIf="description1" class="homeans1">
        {{home}}
      </ion-row>
    </ion-row>

    <ion-row no-padding>
      <ion-row class="row4">
        <ion-col col-2>
          <ion-avatar class="avatarC1">
            <img src="assets/img/PassportIcon.svg" class="img1">
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="homeans">
          What is Passpost Rate?
        </ion-col>
        <ion-col col-2 *ngIf="description2" (click)="expandDescription2()" class="signs" padding-left>[ - ]</ion-col>
        <ion-col col-2 *ngIf="!description2" (click)="expandDescription2()" class="signs" padding-left>[ + ]</ion-col>
      </ion-row>
      <ion-row padding *ngIf="description2" class="homeans1">
        {{passport}}
      </ion-row>
    </ion-row>

  </ion-grid>

</ion-content>