page-upgrade {
    .userImage1{
        width: 50%;
    }
        .title
        {
          margin-top: 10px;
            font-family: 'Champagne & Limousines' !important;
        }
        .notification
        {
            height: 38px;
            float: right;
            margin-top: 5px
        }
        .itemDetails
        {
            background-color: rgba(211, 211, 211, 0.582);
        }
        .mainRow
        {
            font-size: 12px;
            color:#579FB0;
            padding-top : 10px;
            padding-left : 10px;
        }
        .userImage
        {
            width: 100%;
            height: 103%;
        }
        .cardSub1
        {
            font-size: 13px;
        }
        .cardSub2
        {
            font-size: 11px;
        }
        .card-md
        {
            height: 70px;
        }
        .card-content-md {  
            padding: 05px 6px;
            line-height: 2;
        }
        .expiry
        {
          
            height: 15px;
            padding-left:10px;
            padding-top :1px;
            color: white;
            background-color: red;
            margin-inline-end: 0px;
            font-size: 11px;
        }
        // .gridRow1[no-padding] > .row > .col {
        //     padding-top: 3px;
        //     padding-bottom: 3px;
        //     padding-left: 22px;
        // }
        .gridRow1
        {
           // border: solid 1px black;
            padding-left: 10px;
            padding-right: 10px;
           
        }
        .gridRow2
        {
           // border-bottom: solid 1px black;
           padding-left: 10px;
           padding-right: 10px;
          
        }
        .imageClass
        {
            height: 14px;
            width: 20px;
            margin-left: 28px;
        }
        .avatarC
        {
            background-color: rgba(180, 84, 224, 0.644);
            border-radius: 100%;
            height: 25px;
            margin-inline-start :10px;
            padding: 5px;
            width: 25px;
        }
        .avatarC1
        {
            background-color:  rgba(235, 85, 222, 0.473);
            border-radius: 100%;
            height: 25px;
            margin-inline-start :10px;
            padding: 5px;
            width: 25px;
        }
        .img1
        {
            height: 14px;
            padding-left: 3px;
        }
        .colgrid1
        {
          // padding-left:15px;
            background-color: rgb(73, 185, 161);
            border-bottom: solid 1px white;
            border-left: solid 1px rgb(73, 185, 161);
            color: white;
            font-size: 13px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 18px;
        }
        .colgrid{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 18px;
            font-size: 13px;
            border-right: solid 1px lightgray;
            border-bottom: solid 1px lightgray;
             border-right: solid 1px lightgray;
        }


        .colgrid2{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 18px;
            font-size: 13px;
            border-right: solid 1px lightgray;
            border-bottom: solid 1px lightgray;
             border-right: solid 1px lightgray;
             background-color: green
        }
        .home
        {
            background-color: rgba(180, 84, 224, 0.644);
            color: white;
            font-size: 13px;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 18px;
           
        }
        .pass
        {   background-color: rgba(235, 85, 222, 0.473);
            color: white;
            font-size: 13px;
            padding-top: 5px;
            padding-left: 18px;
            padding-bottom: 5px;
            
        }
    
        
        .gridIcon
        {
            padding-top:5px;
        }
    
    
    
        .row2
        {
            width: 100%
        }
        .row3
        {
            width: 100%;
            padding-left:10px;
        }
        .row4
        {
            width: 100%
        }
        .row5
        {
            width: 100%;
            padding:8px;
        }
        .homeans{
            font-size: 13px;
            color: grey;
            font-weight: bold
        }
        .homeans1{
            font-size: 13px;
            color: grey;
        }
    
        .grid[no-padding] > .row > .col {
            padding-top: 5px;
            padding-left: 19px;
        }
    
        .signs {
            color: #F0A400;
        }
    
    
    
}
