page-myrefferal {

    .contentReferral
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
 
    @media only screen and (min-width: 600px) {
        .contentReferral
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media only screen and (min-width: 768px) {
        .contentReferral
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    } 

    .buttoncode{
        border-color:$fab_Label_Color;
    }
    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }     
    
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }   
        .memberButton {
            display: block;
            color: $welcome_text_fontColor;
            align-content: center;
            // margin-left: 10px;
            // margin-right: 10px;
            position: absolute;
            text-transform: none;
            box-shadow: none;
            height: 40px;
            font-size: 15px;
            background-color: $welcome_backgroundColor;
        }
        .codecol{
            align-self:center;   
                    
        }

        .label1 
        {
            font-size:12px;
            margin-top:15px;       
            padding-left:40px;   
            // display: block;
           
            // align-content: center;
           
            // position: absolute;
            // text-transform: none;
            // box-shadow: none;
            // height: 40px;
                          
        }
        
        .labelcol{
            font-size: 14px;        
            padding-top:18px;             
            font-weight:bold;
        }

        .NotificationIcon{
            height:35px;
            width:30px;
        }
        .referralImage{

            height:200px;
            width:510%;
            display: flex;
          //  margin-inline-start:20%;
        //    / margin-left:30%;
           // margin-right:50%;;
        }
       .bar-button-default-md,.bar-button-clear-md-default, .bar-button-md-default {
            color: white;
            background-color: transparent;
            padding-right: 0px;
        }
    .partitionRow{
        background-color: $partition_row_color;
        height: 40px;
        text-align: center;
    margin-left:10px;
    margin-right:10px;
        //align-self:center;
    }
.hrclass{
    border-bottom:1px solid black
}
    .colamt
    {
        padding:13px;
    }
   
    .labelcode
    {
        font-weight:bold;
        color:$input_fontColor;
    }
    .para {
        text-align: center;
     margin-left:40px;
     margin-right:40px;
        
    }

    .codesesc{
        text-align: center;
        margin-left:12px;
    }
    .rowbutton{
        align-self:center;
            }

            .label2{
                color:$redirecting_fontcolor;
                font-size:11px;  
                margin-left:auto;
                margin-right:auto;      
            }
            
            .colbutton{

                margin-left:40px;
                margin-right:50px;
                align-content: center;
            }

            .code1Row{
                background-color:$redirecting_fontcolor;
                height: 2.0px;
            }

            .sharecode{
                margin-top:-20px;
                padding-top:0px;
                margin-left:auto;
                margin-right:auto;
               
            }
}
