<ion-header class="Header">
  <ion-navbar  no-margin padding text-center>
      <button ion-button menuToggle icon-only class="MenuToggleButton">
          <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
        </button>
    <ion-title class="Title">{{ 'MYREFERRAL' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentReferral">
  <ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-12 >
          <img class="referralImage" src="assets/img/img3.jpg"  />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gridlabel">
      <ion-row  text-center class="partitionRow">  
        <ion-col col-12 class="colamt">
            {{"My_Refferal_Earning" | translate }} - <b>INR {{referralResponse.referralEarnings}}.00  </b>   
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col class="codesesc" col-auto>
          <p class="para">{{referralResponse.referralDescription}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row align-self-center>
        <ion-col col-4>
          <ion-row class="code1Row"></ion-row>
        </ion-col>
        <ion-col class="sharecode" col-3 text-center >
          <ion-row align-self-center class="rowcode">
            <h1 class="label2" align-self-center>{{"SHARE_YOUR_CODE" | translate }}</h1>
          </ion-row>
        </ion-col>
        <ion-col col-4 >
          <ion-row class="code1Row"></ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="rowbutton" >
        <ion-col class="codecol">
          <button ion-button  class="buttoncode" outline >
            <ion-label align-text-center class="labelcode">{{referralResponse.referralCode}}</ion-label>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-12 justify-content-center align-items-center>
          <button ion-button round full class="memberButton" (click)="share()">{{"START_INVITING_FRIENDS" | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>