page-class-details {

    .classdetailMenuBar {
        border-bottom: 3px solid $title_Border_Bottom;
    }

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .toolbar-background-md {
        background-color: $welcome_backgroundColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }
       
    .gridImage {    
        position: relative;
    }

    .userlevel {
        margin-top: -175px;
    }

    .top-left {
        position: absolute;
        margin-top: 6px;
        left: 11px;
        color: $Class_level;
        text-transform: uppercase;
        font-size: 11px;
    }

    .labelLevel {
        position: absolute;
        margin-top: 20px;
        text-align: left;
        font-size: 11px;
        width: 100%;
        font-style: bold;
        left : 11px;
        color: $label_color;
    }
    
    .starcount {   
        margin-top: -175px;
    }

    .usercount {
        position: absolute;
        margin-top: 6px;
        right: 0px; 
        font-size: 12px;
        color: $progressBar_backgroundColor;   
    }

    .stargeneral {    
        margin-top: 1px;
        height: 16px;
        width: 16px;   
    }

    .users {
        position: absolute;
        top: 13px;
        right: 9px;
        color: $label_color;
        font-size: 11px;
    }

    .margtop15 {
        margin-top: 15px;
    }
    
    .rowClassIMG {
        align-self: center;
        top: -30px;
        margin-top: 60px;
        position: absolute;
        margin-left: 50px;
        margin-right: 50px;
    }    

    .classico {
        height: 80px;
        width : 80px;
        border-radius: 20%;
        margin-left: 75px;
        margin-right: 75px;
    }

    .className {
        font-size: 30px;
        color: $welcome_text_fontColor;
        font-weight: 1000;
        font-family: $welcome_text_font;
        margin-left: 25px;
    }

    .shareButton { 
        position: absolute;
        left: 85%;
        background-color: $background-color;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        top: 150px;  
    }

    .iconShare {
        color: $progressBar_backgroundColor;
        font-size: 20px;
        padding: 3px;   
    }

    .icontimer {
        color: $addbutton_relateditems;
        margin-left: 5px;   
    }   

    .dateTime {
        font-weight: bold;
        font-size: 12px;
        color: $Label_Address;   
    }

    .labelDate {
        color: $Label_Address; 
        font-size: 12px;
    }

    .margtop5 {
        margin-top: 5px;
    }

    .centername {       
        color: $Center_name;
        font-size: 15px;
    }

    .negamargtop10 {
        margin-top: -10px;
    }
 
    .blueloc {
        width: 22px;
        height: 18px;
        margin-top: 3px;
    }

    .labelAddress {
        color: $Label_Address; 
        font-size: 11px; 
        line-height: 19px;
    }

    .labelLocation {
        font-size: 10px;
        color: $Label_Location;           
    }
    
    .getdirections {
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
    }

    .labelgetDirection {
        font-size: 10px;
        color: $Label_Location;
        display: flex;
        justify-content: flex-end;   
    }   
       
    .iconArrow {
        color: $header_color;
    }

    .iconcapacity {
        width: 8px;
        height: 14px;
    }
   
    .capacity {
        color: $Label_Capacity; 
        font-size: 13px; 
    }

    .lblAvailable {
        color: $Capacity_available;
        font-size: 11px;
    }

    .infotrainer {
        background-color: $Grid_Trainer;
    }

    .rowTrainer {
        height: 20px;
    }

    .labeltrainer {    
        font-size: 13px;
        color: $Trainer_Name;   
    }
    
    .negamargtop3 {
        margin-top: -3px;
    }
       
    .colimgTrainer {
        min-width: 105px;
        max-width: 105px;
    }

    .cardTrainer {  
       display: flex;
       justify-content: flex-start;
    }

    .imageTrainer {
        width: 88px;  
        height: 79px; 
        border-radius: 4px;
    }

    .coltrainer {
        margin-left: -27px;
    }

    .nameTrainer {
        font-size: 11px;
        font-weight: bold;  
        margin-inline-start: 15px;
        color: $Trainer_Name;
    }

    .margtop0 {
        margin-top: 0px;
    }

    .coldescTrainer {
        margin-inline-start: 15px;
        font-size: 11px;
        color: $Label_Address;
        margin-top: -10px;
    }

    .iconTag {
        color: $applycoupon_color;
    }

    .labeldesc {
        font-size: 13px;
        color: $Label_Capacity; 
    }
       
    .iconDesc {
        color: $description_backgroundColor;
        height: 20px;
        width: 25px;
    }

    .textDescription {
        font-size: 11px; 
        color: $Label_Address;
    }

    .footbutton {
        bottom: 0px;
        right: 0px;
    }

    .buttonJoin {
        background-color: $button_Join;
        display: block;
        height: 50px;   
    }
       
    .buttonWithdraw {
        background-color: $Withdraw-button;
        display: block;
        height: 50px;
    }

    ion-avatar img, ion-thumbnail img {
        display: block;
        margin-left: 13px;
    }

    #table { 
       display: table; 
    }

    .tr { 
       display: table-row; 
    }

    .td { 
       display: table-cell; 
    }

    .card, .card-md, .card-ios {
        webkit-box-shadow: none;
        box-shadow: none;
    }

    .chip-md {
        border-radius: 8px;
        height: 22px;
        font-size: 11px;
        line-height: 23px;
        color: $Label_Address;
        background: $header_bcolor;
        margin: 2px 0;
    }
   
    .chip-ios {
        border-radius: 8px;
        height: 22px;
        font-size: 11px;
        line-height: 23px;
        color: $Label_Address;
        background: $header_bcolor;
        margin: 2px 0;
    }

}