<ion-header class="Header">
  <ion-navbar text-center class="classdetailMenuBar">
    <ion-title class="Title">{{ 'SCHEDULING' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentClassDetail">
  <ion-grid no-padding no-margin>
    <ion-grid no-padding no-margin class="gridImage">
      <ion-row>
        <ion-col>
          <ion-row>
            <img no-padding no-margin height="170px" width="100%" src="{{cardFetchedDetails.BackgroundImage}}" class="cbackground" />
          </ion-row>
          <ion-row class="userRow">
            <ion-col col-3 class="userlevel">
              <ion-label class="top-left">{{cardFetchedDetails.ClassLevel}}</ion-label>
              <ion-label class="labelLevel">{{'CLASS LEVEL' | translate}}</ion-label>
            </ion-col>
            <ion-col col-6>
            </ion-col>
            <ion-col class="starcount">
              <ion-label class="usercount">
                <img *ngFor="let s of starRating( cardFetchedDetails.Rating )" src="assets/icon/{{s}}" class="stargeneral">&nbsp;
                <br />
              </ion-label>
              <br />
              <br />
              <i>
                <ion-label class="users margtop15">({{cardFetchedDetails.Ratingcount }} {{'USERS'| translate }} )</ion-label>
              </i>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center class="rowClassIMG">
            <ion-col>
              <ion-avatar class="classico">
                <img src="assets/img/PT/{{cardFetchedDetails.PurposeLogo}}" class="classImage">
              </ion-avatar>
              <ion-row justify-content-center align-items-center class="className">
                {{cardFetchedDetails.PurposeName}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button icon-start (click)="screenShot()" class="shareButton">
      <ion-icon name="md-share" class="iconShare"></ion-icon>
    </button>

    <br />

    <ion-grid>
      <ion-row no-padding no-margin class="rowTime">
        <ion-col col-1 no-padding no-margin>
          <ion-icon name="ios-time" class="icontimer"></ion-icon>
        </ion-col>
        <ion-col col-10 no-padding no-margin class="colTime">
          <ion-label no-padding no-margin class="dateTime">{{showtime() }} ( {{cardFetchedDetails.DurationEndtime }} )</ion-label>
          <ion-label class="labelDate margtop5">{{ date }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-label class="centername negamargtop10">{{cardFetchedDetails.CenterName }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 no-padding no-margin>
          <img src="assets/icon/locationblue.svg" class="blueloc">
        </ion-col>
        <ion-col col-10 no-margin no-padding>
          <ion-row no-padding no-margin class="rowLocation">
            <ion-label no-padding no-margin text-wrap class="labelAddress labelDate">{{cardFetchedDetails.CenterAddress}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-col col-1 no-padding no-margin>
              <ion-label class="labelLocation">
                <img height="15px" width="12px" src="assets/icon/currentLocation.svg" class="currenticon" />
              </ion-label>
            </ion-col>

            <ion-col col-7 no-padding no-margin>
              <ion-label class="labelLocation">
                {{cardFetchedDetails.dist}}{{ 'KM_FROM_YOUR_CURRENT_LOCATION' | translate }}
              </ion-label>
            </ion-col>

            <ion-col col-4 no-padding no-margin col-end>
              <a href="http://maps.google.com/?q='{{cardFetchedDetails.CenterAddress }}'" class="getdirections">
                <ion-label class="labelgetDirection">{{ 'GET DIRECTIONS' | translate }}
                  <ion-icon name="ios-arrow-forward" class="iconArrow"></ion-icon>
                </ion-label>
              </a>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!withdrawbutton">
      <ion-row no-padding no-margin>
        <ion-col col-1 no-padding no-margin>
          <img src="assets/icon/capacity_ICON.svg" class="iconCapacity" />
        </ion-col>
        <ion-col col-10 no-padding no-margin>
          <ion-row no-padding no-margin class="rowCapacity">
            <ion-label no-padding no-margin class="labelcapacity">
              <span class="capacity">{{ 'CAPACITY' | translate }}</span>
            </ion-label>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-label no-padding no-margin class="lblAvailable margtop5">{{cardFetchedDetails.CapicityStatus}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br />

    <ion-grid class="infotrainer">
      <ion-row class="rowTrainer">
        <ion-col col-4>
          <ion-label class="labeltrainer negamargtop3">{{ 'YOUR TRAINER' | translate}}</ion-label>
        </ion-col>
        <ion-col col-8 no-padding no-margin>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 class="colimgTrainer">
          <ion-card no-margin class="cardTrainer">
            <img src="assets/img/{{cardFetchedDetails.UserImage}}" class="imageTrainer" />
          </ion-card>
        </ion-col>
        <ion-col col-8 class="coltrainer">
          <ion-row>
            <ion-label class="nameTrainer margtop0">
              <br/> {{cardFetchedDetails.UserName}}
            </ion-label>
          </ion-row>
          <ion-row class="trainerRow">
            <ion-label text-wrap class="coldescTrainer">{{selectedClassDescription.UserBio}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br />

    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon ios="ios-pricetag" md="md-pricetag" class="iconTag"></ion-icon>
        </ion-col>
        <ion-col col-10 no-padding no-margin class="colTag">
          <ion-row>
            <ion-label no-padding no-margin class="labeldesc margtop5">{{ 'TAGS' | translate}}</ion-label>
          </ion-row>

          <br />

          <ion-row>
            <ion-col *ngFor="let t of cardFetchedDetails.Tags;let i=index" col-auto>
              <ion-chip class="margtop5">
                <ion-label>{{cardFetchedDetails.Tags[i]}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <br />

      <ion-row no-padding>
        <ion-col col-1 no-padding>
          <img src="assets/icon/description.svg" class="iconDesc">
        </ion-col>
        <ion-col col-10 no-padding no-margin>
          <ion-row no-padding>
            <ion-label no-padding no-margin class="labeldesc">{{ 'DESCRIPTION' | translate}}</ion-label>
          </ion-row>
          <ion-row class="textDescription">
            <ion-label text-wrap class="textDescription margtop5">{{selectedClassDescription.ClassDiscription}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br />

  </ion-grid>
</ion-content>

<ion-footer no-padding no-border class="foot">
  <!-- Join Button -->
  <ion-grid *ngIf='joinButton' no-padding no-margin class='footbutton'>
    <ion-row class="rowButtonJoin">
      <button ion-button full no-margin (click)="gotojoin()" class="buttonJoin">{{ 'JOIN' | translate }}</button>
    </ion-row>
  </ion-grid>

  <!-- Withdraw Button -->
  <ion-grid *ngIf="withdrawbutton" no-padding no-margin class='footbutton'>
    <ion-row class="rowButton">
      <button ion-button full no-margin (click)="gotowithdraw()" class="buttonWithdraw">{{ 'WITHDRAW' | translate }}</button>
    </ion-row>
  </ion-grid>

  <!-- Buy & Join Button  -->
  <ion-grid *ngIf="buyButton" no-padding no-margin class='footbutton'>
    <ion-row no-padding no-margin class="rowButtonJoin">
      <button ion-button full no-margin (click)="gotocart()" class="buttonJoin">{{ 'BUY & JOIN' | translate }}</button>
    </ion-row>
  </ion-grid>
</ion-footer>