<ion-header no-border no-shadow>
  <ion-navbar class="esignNavbar" >
    <ion-title class="esignTitle" >
      Sign Here
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
  
    <ion-col *ngIf="pltFlag">
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
   
 
  </ion-row>
  <!-- <button ion-button full color="danger" (click)="clearPad()">Clear</button>
  <button ion-button full color="secondary" (click)="savePad()">Save</button>
  -->
  <ion-grid class="buttonGrid" >
    <ion-row >
        <ion-col class="ionButtonCancel" width-100 >
            <button class="CancelButton" (click)="cancelPad()" ion-button round>Cancel</button>
              </ion-col>
      <ion-col class="ionButtonSubmit" width-100 >
      <button class="SubmitButton"  (click)="savePad()" ion-button round>Submit</button>
      </ion-col>
     
   </ion-row>
 </ion-grid>
 
</ion-content>