page-cart-waiver-esign {
    .esignNavbar {
        background-color: transparent;
    }
    .esignTitle {
        text-align: center;
    }
    
     
        .drawing-active {
          background: #fff;
        }
        .title {
          text-align: center;
          font-weight: bold;
    
        }
    
        .toolbar-background {
            
            background: #fff;
        }  
            .color-block {
                height: 40px;
            }
            .buttonGrid {
                position: absolute
            }
            .ionButtonSubmit {
                text-align: right;
            }
            .ionButtonCancel {
                text-align: left
            }
            .CancelButton {
                width:100% ;height:140% ;background-color:grey
            }
            .SubmitButton {
                width:100% ;height:140% ;background-color:#00B257
            }
           
        }
       
    


