<ion-header>
  <ion-navbar color="purple" class="notificationMenuBar" text-center>
    <button ion-button icon-only menuToggle class="menuButton">
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{ "Notifications" | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img class="notification" height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-grid class="gridavatar">
      <ion-row class="rowClassIMG">
        <ion-col col-12 clas="collabel">
          <ion-avatar class="userImage">
            <img class="userImage" src="assets/img/{{notificationDetails.img}}">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br/>
    <br/>
    <ion-grid class="gridlabel">
      <ion-row>
        <ion-col>
          <p class="label1" no-padding no-margin>{{notificationDetails.name}}</p>
          <p no-margin class="adminlabel">{{notificationDetails.role}}</p>
          <ion-label class="time" no-padding no-margin>{{notificationDetails.status}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <p class="para">{{notificationDetails.desc}}</p>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>