page-notification {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .notificationMenuBar{
        border-bottom: 3px solid $title_Border_Bottom;
       }

       .classico
       {
           height: 80px;
           width : 80px;
           border-radius: 20%;
           margin-left:75px;
           margin-right:75px;
         }
         .userImage {
            top:0px;
            left : 50px;
            right : 50px;
            position: absolute;
            width : 80px;
            height: 80px;
            border-radius: 100px;
            margin-left:15px;
        }
        .gridavatar{
            padding:0px;
        }
        .collabel{
            align-content: center;
        }
        .gridlabel{
            padding-top:40px;
            text-align: center;
            margin-left:12px;
        }
        .adminlabel{
            color:$Class_level;
            text-align: center;
        }
        .label1{
            font-weight:bold;
            font-size:16px;
            text-align: center;
        }
        .time{
            color:$Label_Address;
            text-align-last: right;
        }
        .para{
            color:$Label_Address;
            line-height: 20px;
            font-size:12px;            
        }
         
}
