page-login-error-feedback {

    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
 
    .WelcomeText {
        color: $welcome_text_fontColor;
        font-size: $welcome_text_fontSize;
        font-family: $welcome_text_font;
    }

    .FeedbackRow {
        color: $errorFeedback_fontColor;
        font-size: $errorFeedback_fontSize;
        font-family: $welcome_text_font;
    } 

    .Feedback {
        text-align: center;
    }

    .CloseButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        background-color: $welcome_backgroundColor;
    }

    .button.CloseButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.CloseButton:active {
        background-color: $welcome_backgroundColor;
    }

}
