<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>

  <ion-grid padding-left class="FeedbackMessageGrid">
    <ion-row class="FeedbackMessageGridRow">
      <ion-col class="FeedbackMessageGridColumn">
        <ion-row class="FeedbackRow">
          <p class="Feedback">
            {{'FEEDBACKMESSAGE' | translate}}
          </p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>

  <ion-grid class="CloseButtonGrid">
    <ion-row class="CloseButtonGridRow">
      <ion-col class="CloseButtonGridColumn">
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="CloseButton" (click)='close()'>{{'CLOSE' | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <br>
  <br>

  <ion-grid class="FooterLogoGrid">
    <ion-row class="FooterLogoGridRow">
      <ion-col class="FooterLogoGridColumn">
        <ion-row justify-content-center align-items-center>
          <img src="assets/img/ff-purp-logo.png" class="FooterImage">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>