<ion-content class="mainContent">

  <ion-content class="modal" no-padding no-margin>
    <div class="Header"> {{"RENEW_CONFIRMATION" | translate }}</div>
    <br>
    <br>
    
    <ion-grid padding-top>
       
      <ion-row>
        <ion-col col-8 class="renewDetails">
            {{"RENEWING" | translate }}  1  {{ "MONTHS" | translate }} gym
        </ion-col>
        <ion-col col-4 padding-left class="renewDetails1">
          INR {{renewPageData.passportRate}}
        </ion-col>
        <ion-row class="renewDetailspass">
          {{ "PASSPORT_MEMBERSHIP" | translate }}
        </ion-row>
      </ion-row>
      <br>
      <ion-row class="eligibleloc">
        {{ "ELIGIBLE_LOCATIONS" | translate }}
      </ion-row>
      <hr class="hr">
      <ion-row>
        <ion-col *ngFor="let c of city.cities" col-6 padding-left>
          <b> {{ c.Cityname}}</b>
          <br />
          <p *ngFor="let cl of c.Location" class="eligibleloc">
            &nbsp;&nbsp;- {{cl}}
          </p>
        </ion-col>
      </ion-row>  
     
    </ion-grid>

  </ion-content>

  <ion-footer class="footer">
    <ion-row class="btnrow">
      <ion-col col-4 class="btncol1" (click)="closeModal()">
        <div class="cartItemsProceed"> {{ "CANCEL_BUTTON" | translate }} </div>
      </ion-col>
      <ion-col col-8 right class="btncol2" (click)="goToCart()">
        <div class="proceed"> {{ "PROCEED_TO_PAY" | translate }} &nbsp;
          <br>
          INR {{renewPageData.passportRate}}/-
        </div>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-content>