page-renew-action-modal {

    .mainContent 
    {
            background-color: $transparent_background;
            ::-webkit-scrollbar{
            display:none;
            }
    }
    .modal 
    {       
        overflow: hidden;
        top: 30%;
        height: 70%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .Header
    {
        background-color: $header_bcolor;
        padding: 10px;
        height: 40px;
        color:$searchbar-md-input-background-color;
        position: fixed;
        z-index: 1000;
        width: 100%;
        font-size :15px;
        font-weight: 600;
    }
    .hr { 
        width : 100%;
        border-bottom: solid 1px $renew_hr_border;
    }

    .btncol1
    {
        background-color:$button_itemsincart_bcolor;
        color:$welcome_text_fontColor;
        font-size: 13px;
    
    }
    .btncol2
    {
        background-color:$save_button_color;
        color:$welcome_text_fontColor;
        font-size: 14px;
    }
    .btnrow
    {
        height: 55px;
        padding-left: 16px;
        padding-right: 16px;
        vertical-align: bottom;
    }
    .proceed
    {
       // position:absolute; 
        margin-top:5px; 
        display:flex;
        justify-content: flex-end;

        margin-inline-end:45px;
    }
    .cartItemsProceed
    {
        position:absolute; 
        display: flex;
        align-content: center;
       margin-inline-start : 25px;
        top:20px; 
        //left:5px;
    }
    .cartItemsProceed1
    {
        position:absolute; 
        top:0px; 
      //  display: flex;
        margin-inline-start : 5px;
        //margin-top :10px
    }
    .renewDetails
    {
        color : $renew_details_color;
        font-weight: bold;
    }
    .renewDetails1{
        font-weight: bold;
        color : $arrowclr;
     }
        .eligibleloc
        {    
            color : $arrowclr;
            margin-left: 5px;
        }

     .renewDetailspass
    {
    color :  $renew_details_color;
    font-weight: bold;

    margin-left: 5px;

}
  .cityHeader
  {
    font-weight: bold;
    color:$arrowclr;
  }   
   
}
