<div class='TransparentBack'   (click)="closeModal()"></div>

<ion-content no-margin no-padding class="TransactionFailedModal">
  <ion-grid no-margin no-padding class="TransactionFailedTitleGrid">
    <ion-row class="TransactionFailedTitleRow">
      <ion-col col-2 class="TransactionFailedTitleIconColumn">
        <img width="55" height="35" src="assets/icon/transactionFailed.svg" class="TransactionFailedTitleIcon" />
      </ion-col>
      <ion-col no-margin no-padding col-10 class="TransactionFailedTitleColumn">
        <b>{{'TRANSACTIONFAILED' | translate}}</b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="RefundMsgGrid">
    <ion-row padding class="RefundMsgRow">
      <ion-col class="RefundMsgColumn">
        <ion-row class="RefundMsg">
          {{'REFUNDMSG' | translate}}.
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="PayINRGrid">
    <ion-row padding class="PayINRRow">
      <ion-col class="PayINRColumn">
        <ion-row class="PayINR">
          <b>{{'TOPAY' | translate}} INR {{totalPrice}}</b>&nbsp;
          <span class="PayINRSubText">({{totalProducts}} {{'ITEMS' | translate}})</span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="ButtonsGrid">
    <ion-row justify-content-center align-items-center class="RetryButtonRow">
      <button ion-button (click)="retry()" block outline class="RetryButton">{{'RETRY' | translate}}</button>
    </ion-row>
    <ion-row justify-content-center align-items-center class="TryOthersButtonRow">
      <button ion-button (click)="tryothers()" block outline class="TryOthersButton">{{'TRYOTHERS' | translate}}</button>
    </ion-row>
  </ion-grid>
</ion-content>