page-payment-failed {

    .TransparentBack {
        top: 0;
        height: 60%;
        background-color: $transparent_background;
    }

    ion-content {
        top: 60%;
        height: 40%;
    }

    .TransactionFailedModal {
        border-left: 10px solid $transparent_background;
        border-right: 10px solid $transparent_background;
    }

    .TransactionFailedTitleGrid {
        background-color: $header_bcolor;
    }

    .TransactionFailedTitleRow {
        margin-top: 5px;
    }

    .TransactionFailedTitleColumn {
        margin-top: 5px;
        font-size: 15px;
    }

    .RefundMsgGrid {
        background-color: $RefundMsgGrid;
        font-size: 13px;
        color: $button_backgroundColor;
    }

    .PayINRGrid {
        background-color: $welcome_text_fontColor;
    }

    .PayINRSubText {
        color: $button_backgroundColor;
        font-size: 12px;
    }

    .RetryButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: none;
        height: 30px;
        font-size: 12px;
        background-color: $button_Join;
        border-color: $button_Join;
    }

    .button.RetryButton:hover {
        background-color: $button_Join;
    }
      
    .button.RetryButton:active {
        background-color: $button_Join;
    }

    .TryOthersButton {
        display: block;
        color: $header_color;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: none;
        height: 30px;
        font-size: 12px;
        background-color: $welcome_text_fontColor;
        border-color: $header_color;
    }

    .button.TryOthersButton:hover {
        background-color: $welcome_text_fontColor;
    }
      
    .button.TryOthersButton:active {
        background-color: $welcome_text_fontColor;
    }
    
}
