<ion-header dir="ltr" no-border class="header">

  <ion-navbar class="repeatBookingHeader" color="purple">
    <ion-buttons left>
    </ion-buttons>
    <ion-title *ngIf="cartOrbooked" class="headerTitle">Make Payment</ion-title>
    <ion-title *ngIf="!cartOrbooked" class="headerTitle">Repeat Booking</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
          <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
  </ion-buttons>
  </ion-navbar>

  <ion-grid class="mygrid" no-padding>

    <ion-row *ngIf="cartOrbooked">
      <ion-col col-4 class="segCol">
      </ion-col>
      <ion-col col-4 class="segCol">
      </ion-col>
      <ion-col col-4 class="segCol1">
      </ion-col>
    </ion-row>

    <div *ngIf="cartOrbooked" class="divseg"></div>

    <ion-row *ngIf="cartOrbooked" class="segRow">
      <ion-col col-4 class="segCol2">
        Select Trainer
      </ion-col>
      <ion-col col-4 class="segCol2">
        Select Slot
      </ion-col>
      <ion-col col-4 class="segCol11">
        Make payment
      </ion-col>
    </ion-row>

    <div class="belowheader">
      <ion-row class="row" no-padding no-margin>
        <ion-col col-6 no-padding>
          <ion-card class="card1">
            <div class="card-header1">
              Appointment type
            </div>
            <ion-card-content>
              <ion-avatar class="image1">
                <img src="assets/img/Purpose-Svg/{{icon}}" class="imgKickBoxing1">
              </ion-avatar>
              <div class="kickboxing1">
                {{purpose}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-6 no-padding>
          <ion-card class="card2">
            <div class="card-header2">
              Trainer
            </div>
            <ion-card-content>
              <ion-avatar class="image2">
                <img src="assets/img/{{trainerIcon}}" class="imgKickBoxing2">
              </ion-avatar>
              <div class="kickboxing2">
                {{trainername}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <ion-item no-lines no-padding class="DateandTime">
    <ion-avatar text-center no-margin item-start>
      <ion-icon class="clock" name="ios-time"></ion-icon>
    </ion-avatar>
    <h2>{{date}}</h2>
    <p class="subTiming">{{availableSlot}}</p>
  </ion-item>

</ion-header>

<ion-content>

  <div style="background-color:#F4F4F4"><br></div>
  <ion-grid *ngIf="cartOrbooked" class="choicegrid" no-padding no-margin>
    <ion-row  (click)="onlyOnce(10,5000)">
      <ion-col  col-6>
        <ion-radio  [value]="false" type="radio" color="secondary" icon="ion-android-radio-button-on"></ion-radio>
        <span class="sessionstxt">    {{purpose}} {{sessionten}} sessions </span>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-3 class="currency">
        <span class="sessionsprice">  {{price10}} INR </span> 
      </ion-col>
    </ion-row>
    <br>
    <ion-row (click)="onlyOnce(20,8000)">
      <ion-col col-6>
        <ion-radio  [value]="false" type="radio" color="secondary" icon="ion-android-radio-button-on"></ion-radio>
      <span class="sessionstxt">  {{purpose}} {{session20}} sessions  </span>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-3>
        <span class="sessionsprice">  {{price20}} INR </span>
      </ion-col>
    </ion-row>
    <br>
    <ion-row (click)="onlyOnce(30,15000)">
      <ion-col col-6>
        <ion-radio  [value]="false" type="radio" color="secondary" icon="ion-android-radio-button-on"></ion-radio>
        <span class="sessionstxt">     {{purpose}} {{session30}} sessions </span>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-3>
        <span class="sessionsprice">    {{price30}} INR  </span>
      </ion-col>
    </ion-row>
    <br>
    <ion-row (click)="onlyOnce(40,20000)">
      <ion-col col-6>
        <ion-radio  [value]="false" type="radio" color="secondary" icon="ion-android-radio-button-on"></ion-radio>
        <span class="sessionstxt">      {{purpose}} {{session40}} sessions  </span>
      </ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-3>
        <span class="sessionsprice">  {{price40}} INR  </span> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!cartOrbooked" class="choicegrid">
    <br>
    <ion-row radio-group [(ngModel)]="repeatSelected">
      <ion-col (click)="once()" class="onlyOnce">
        <ion-col>
          <ion-radio (click)="once()" [value]="false" type="radio" color="secondary" icon="ion-android-radio-button-on"></ion-radio>
        </ion-col>
        <ion-col>
          <b>Only Once</b>
        </ion-col>
      </ion-col>
      <ion-col (click)="repeats()" class="repeats">
        <ion-col>
          <ion-col>
            <ion-radio (click)="repeats()" [value]="true" type="radio" color="secondary"></ion-radio>
          </ion-col>
          <ion-col>
            <b>Repeats</b>
            <!-- ({{DateforTTForMWF | amAdd : '2' : 'days' | amDateFormat: 'ddd'}}-{{DateforTTForMWF | amAdd : '4' : 'days' | amDateFormat: 'ddd'}}-{{DateforTTForMWF  | amAdd : '1' : 'days' | amDateFormat: 'ddd'}}   ) -->
            <div text-center class='displayslots'>{{displaySlot}}</div>
            <div text-center class='sametime'>Same time</div>
          </ion-col>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="repeatSelected" no-padding class="inpgrid">
    <ion-row class="myrow">
      <ion-col col-4 text-start class="startappoint" no-padding>
        no. of appointments &nbsp;
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col col-2 class="samecols">
            <ion-input [(ngModel)]="repeattime" maxlength="2" class="noinput" type="tel" text-center no-padding (keyup)="isFilled()"></ion-input>
          </ion-col>
          <ion-col col-3 text-start class="samecols1">
            &nbsp; of {{purposeTotalSessions}} &nbsp;
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <div *ngIf="!cartOrbooked" style="background-color:#F4F4F4"><br></div>
  <ion-grid class='footimg' *ngIf="!cartOrbooked">
    <ion-row class="Footer_Section">
      <ion-col>
        <button [disabled]="isButtondisabled" ion-button full class="donebutton" [style.background]="buttonColor" (click)='gotoSuccess()'>Done</button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>