page-repeatbooking {
  
  .notification
  {
    margin-top:5px;
      height: 38px;
      float: right;
  }

  .divseg
  {
      height : 5px;
      background-color: #8D69B2;
  }
  .noti
{
    margin-right:11px;
    margin-top: 7px;
    
}
.segRow
{
  height : 5px;
  background-color: #8D69B2;
  font-size: 12px;
  padding-top:5px;
}
.segCol1
{
  border-right: solid 1px black;
  height: 3px;
  background-color: rgb(0, 243, 243);
}
.segCol
{
  border-right: solid 1px black;
  height: 3px;
  background-color: rgba(142, 105, 178, 0.548);
}

.segCol11
{

  align-content: center;
  text-align: center;
  margin-left: auto;
 margin-right: auto;
 color : white;
 font-style: bold;
}

.segCol2
{
  align-content: center;
  text-align: center;
  margin-left: auto;
 margin-right: auto;
 color : rgba(255, 255, 255, 0.404)

}

  .header {
    border-bottom: 1px solid #DCDCDC;
  }

  .headerTitle {
    border-bottom: solid 3px #774E9A;
  }

  .belowheader {
    padding-top : 15px;
    background-color: #8D69B2;
    height: 150px;
  }

  .row {
    margin-top: 0%;
    padding: 0%;
  }

  .card1 {
    box-shadow: #000000;
    height: 110px;
    width: 140px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding-right: 25px;
  }

  .card-header1 {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  .image1 {
    position: absolute;
    color : #6FD050;
    height: 40px;
    width: 30px;
    margin-left: 40px;
    align-content: center;
  }

  .kickboxing1 {
    position: absolute;
    color: #3DB9EC;
    font-size: 12px;
    font-weight: bold;
    width: 9em; 
    text-align: center; 
    margin: 38px auto;
  }

  .card2 {
    box-shadow: #000;
    height: 110px;
    width: 140px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding-right: 25px;
    float: right;
  }

  .card-header2 {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 55px;
  }

  .image2 {
    position: absolute;
    height: 40px;
    width: 30px;
    margin-left: 40px;
    align-content: center;
  }

  .imgKickBoxing2 {
    border-radius: 50%;
  }

  .kickboxing2 {
    position: absolute;
    color: #EC5172;
    font-size: 12px;
    font-weight: bold;
    width: 9em; 
    text-align: center; 
    margin: 35px auto;
  }

  .clock {
    color:#e0e0e0;
  }

  .subTiming {
    color:#97999C;
    font-size: 10px;
  }

  .choicegrid {
    margin-top: 25px;
    margin-inline-start: 10px;
  }
    
  .Anytext { 
    font-size: 20px;
    margin-top: 50px !important;
  } 

  .displayslots {
    -webkit-margin-start: 20px;
  }

  .sametime {
    margin-left: 20px;
  }

  .inpgrid {
    margin-top: 1.5vh;
    display: block;
  }
   
  .startappoint {
    margin-left: 20px;
    font-size: 12px;
    display: block !important;
    margin-top: auto;
    margin-bottom: 15px;
  }

  .samecols {
    font-size: 12px;
    display: block !important;
    margin-top: auto;
    margin-bottom:auto;
    padding-left: 1px;
  }

  .noinput {
      border: 1px solid #E0E0E0;
      height:auto;
      width: 50px;
      align-content: center;
      .text-input {
        padding: 7px;
        margin: 0;
        color: #A8A8A8;
      }
  }

  .samecols1 {
    font-size: 12px;
    display: block !important;
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 15px;
  }

  .maxhint {
    font-size: 12px;
    color:#A8A8A8;
  }

  

  .doneButton {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    box-shadow: none;
    font-weight: normal;
    height: 80px;
  }

  .button-inner {
    text-transform: none;
    color: white;
    font-size:15px;
  } 
    
  // text-align: center;
  // align-content: center;

  .item ion-avatar[item-start] {
    margin: 8px 0px 0px 0;
  }
    
  .radio-ios-secondary .radio-checked {
    color: #32db64;
  }

  .radio-ios .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
  }
    
  .button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .radio-ios .radio-checked {
    border-color: #32db64;
  }
    
  .radio-ios .radio-checked .radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #32db64;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
    
  .radio-ios-secondary .radio-inner {
    background-color: #32db64;
  }
    
  /* override radio button display with custom icon for both states */
  .item-radio input ~ .radio-icon {
    visibility: visible !important;
  }
    
  .item-radio > .radio-icon:before {
    content: "\f3a6" !important; /*deselected - Ionic class = ion-android-radio-button-off */
  }
    
  .item-radio > input[type=radio]:checked ~ .radio-icon:before {
    content: "\f3a7" !important; /*selected Ionic class = ion-android-radio-button-on */
  }
    
  .no-scroll .scroll-content {
    overflow: hidden;
  }
  
  .title {
    font-family: 'Champagne & Limousines' !important;
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
    .currency
    {
      margin-inline-end: 0px;
    }



.sessionstxt
{
  position: absolute;
  margin-inline-start: 8px;
  font-weight: 500;
}

.sessionsprice
{
  font-weight: 500;
}

.footimg {
  bottom:0px;
  right:0px;
}



.col {
  position : initial !important;
  }


}

  