<ion-header>
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
      <button ion-button menuToggle icon-only class="MenuToggleButton">
          <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
        </button>
    <ion-title class="Title">{{'MYMEMBERSHIP' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img  src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="contentCard"> 

  <ion-card no-padding class="offercards">
    <span padding *ngFor="let MOL of membershiOfferlist">
      <div class="ctxtheader1">&nbsp;{{MOL.OfferName}}</div>
      <div class="cvalidity">&nbsp;&nbsp;{{'OFFERVALIDTILL' | translate}}  {{MOL.OfferValidTill | amDateFormat : 'Do MMM YYYY'}}</div>
      <br>
      <button ion-button small round (click)="gotoDetails()" class="claimbutton">{{'CLAIMTHISOFFER' | translate}}</button>
    </span>
    <br>
    <br>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-segment mode="md" [(ngModel)]="memberShip">
          <ion-segment-button value="current">
              {{'CURRENTMEMBERSHIPS' | translate}}
          </ion-segment-button>
          <ion-segment-button value="past">
              {{'PASTMEMBERSHIP' | translate}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding class='emptygrid' no-padding>

    <ion-row *ngFor="let contractData of currentMembershipData;let i=index">
      <ion-card class="MembershipsCard">
        <ion-card-content no-padding>

          <ion-row>
            <ion-col col-3 class="RefreshIconColumn">
              <ion-row justify-content-center align-items-center>
                <img src="assets/img/freezeloading.svg" class="freezesvg">
              </ion-row>
            </ion-col>
            <ion-col col-9 no-padding class="cardhead">
              <ion-row class="CardHeading">
                <ion-col col-8>
                  &nbsp;&nbsp;{{contractData.contractName}}
                </ion-col>

                <ion-col col-4 text-center no-padding class="LabelActive">
                  {{contractData.contractStatus}}
                </ion-col>
              </ion-row>
              <ion-row class="CardLocationPrice">
                <ion-col col-1>
                  <img src="assets/icon/locationgrey.svg" class="locationSvg" />
                </ion-col>
                <ion-col col-10 no-padding class="LocationPrice">
                  <label class="locationColr">{{contractData.location}} </label> |
                  <label>{{'RECURRINGAMNT' | translate}}</label>
                  <label class="locationColr">{{currentMembershipData[i].RecurringAmount }}
                  </label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3 class="StartDateColumn">
              <span class="StartDateHeading">
                  {{'STARTDATE' | translate}}
                <br>
                <span class="StartDate">
                  {{contractData['start-date'] | amDateFormat : 'Do MMM YYYY'}}
                </span>
              </span>
              <span class="EndDateHeading">
                  {{'ENDDATE' | translate}}
                <br>
                <span class="EndDate">
                  {{contractData['end-date'] | amDateFormat : 'Do MMM YYYY'}}
                </span>
              </span>
            </ion-col>
            <ion-col col-9 class="PackageAdtColumn">
              <ion-card class="PackageAdtCard">
                <ion-card-content class="PackageAdt">
                    {{'PACKAGEADT' | translate}}
                  <br>
                  <ion-item  lines icon-left no-padding *ngFor="let PCK of currentMembershipitem">
                    <ion-grid>
                      <ion-row >
                        <ion-col col-2>
                          <img src="assets/img/PT/{{PCK.packagePurposelogo}}" class="packLogo"/>
                        </ion-col>
                        <ion-col col-10 class="PackageName" class="itemPackage" >
                          <ion-row>
                            {{PCK.name}} -{{PCK.packagePurposeValidity}}
                        
                          </ion-row>
                          <ion-row>
                            {{PCK.packagepurposeUsedSessions}}/{{PCK.packagepurposeTotalsessions}} {{'SESSIONSUSED' | translate}}
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3 class="EndDateColumn">
      
            </ion-col>
            <ion-col col-9>
              <ion-item no-lines icon-left no-padding>
                <ion-grid>
                  <ion-row>
                    <ion-col col-2>
                      <img src="assets/img/PT/{{contractData.purposelogo}}" class="contractLogo" />
                    </ion-col>
                    <ion-col col-10 class="PackageName">
                      <ion-row>
                        {{contractData.purpose}} {{contractData.totalsessions}} {{'SESSIONS' | translate}}
                      </ion-row>
                      <ion-row>
                        {{contractData.sessionUsed}} / {{contractData.totalsessions}} {{'SESSIONSUSED' | translate}}
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-row padding-top class="buttonRow">
        <ion-col text-end>
          <button small round ion-button class="FreezeButton" (click)="openFreezPage(contractData)">  {{'FREEZE' | translate}} </button>
          <button small round ion-button class="UpgradeButton" (click)="openUpgradePage(contractData)">  {{'UPGRADE' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-row>
    <br>

    <ion-grid no-margin no-padding class="EmptyGrid">
      <ion-row class="EmptyGridRow">
        <ion-col class="EmptyGridColumn">
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>
    <ion-row *ngFor="let MOL of membershipOwnedList">

      <ion-card class="SuspendedCard">
        <ion-card-content no-padding>
          <ion-row>
            <ion-col col-3 class="RefreshIconColumn" no-padding>
              <img src="assets/img/{{MOL.Membershipicon}}" class="membershipLogo" />
            </ion-col>

            <ion-col col-9 no-padding class="cardhead">

              <ion-row class="SuspendedCardHeading">
                <ion-col col-8>
                  &nbsp;&nbsp;{{MOL.Memershipname}}
                </ion-col>
                <ion-col col-4 text-center no-padding class="LabelSuspended">
                  {{MOL.Memberahipstatus}}
                </ion-col>
              </ion-row>

              <ion-row class="CardLocationPrice">
                <ion-col col-8 no-padding class="LocationPrice">
                  &nbsp;&nbsp;&nbsp;{{'EXPIRESON' | translate}}
                  <a ion-text class="Date">{{MOL.expiry | amDateFormat : 'Do MMM YYYY'}}</a>
                </ion-col>
              </ion-row>
              <ion-row class="CardLocation">
                <ion-col col-1>
                  <img src="assets/icon/locationgrey.svg" class="classlOC" />
                </ion-col>
                <ion-col col-5 no-padding class="LocationPrice">
                  {{MOL.location}}
                </ion-col>
                <ion-col col-6 no-padding class="LocationPrice">
                    {{'TOTALCOST' | translate}}
                  <a ion-text class="Amount">INR {{MOL.totalCost}}</a>
                </ion-col>
              </ion-row>
              <ion-row class="SuspendedReasonRow">
                <ion-col col-9 no-padding class="SuspendedReason">

                  &nbsp;&nbsp;&nbsp; {{'SUSPENDEDREASON' | translate}}
                  <a ion-text class="Amount">{{MOL.suspendedReason}}</a>

                </ion-col>
              </ion-row>
              <ion-row class="Subtext">
                <ion-col col-8 no-padding class="LocationPrice">

                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-row>
    <br>

    <ion-grid no-margin no-padding class="EmptyGrid">
      <ion-row class="EmptyGridRow">
        <ion-col class="EmptyGridColumn">
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-row *ngFor="let FRZL of membershipFrozenList">

      <ion-card class="SuspendedCard">
        <ion-card-content no-padding>
          <ion-row>
            <ion-col col-3 class="FreezeIconColumn" no-padding>
              <img src="assets/img/PT/{{FRZL.frozenicon}}" class="membershipLogo"/>
            </ion-col>
            <ion-col col-9 no-padding class="cardhead">
              <ion-row class="SuspendedCardHeading">
                <ion-col col-8>
                  &nbsp;&nbsp;{{FRZL.purposedescription}}
                </ion-col>
                <ion-col text-center no-padding col-4 class="LabelFreeze">
                  {{FRZL.frozenstatus}}
                </ion-col>


              </ion-row>
              <ion-row class="CardLocationPrice">
                <ion-col col-8 no-padding class="LocationPrice">
                  &nbsp;&nbsp;&nbsp;{{'EXPIRESON' | translate}}
                  <a ion-text class="Date">{{FRZL.expiry |amDateFormat : 'Do MMM YYYY'}}</a>
                </ion-col>
              </ion-row>
              <ion-row class="CardLocation">
                <ion-col col-1>
                  <img src="assets/icon/locationgrey.svg" class="classlOC"/>
                </ion-col>
                <ion-col col-5 no-padding class="LocationPrice">
                    {{FRZL.location}}
                </ion-col>
                <ion-col col-6 no-padding class="LocationPrice">
                    {{'TOTALCOST' | translate}}
                  <a ion-text class="Amount">INR {{FRZL.totalCost}} </a>
                </ion-col>
              </ion-row>
              <ion-row class="SuspendedReasonRow">
                <ion-col col-9 no-padding class="SuspendedReason">
                  &nbsp;&nbsp;&nbsp;{{'SESSIONS' | translate}} -
                  <a ion-text class="Amount"> {{FRZL.usedSessions}} / {{FRZL.totalSessions}} {{'REMAINING' | translate}}</a>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-row padding-top class="buttonRow">
        <ion-col text-end>
          <button small round ion-button class="Resume"> {{'RESUME' | translate}} </button>
          <button small round ion-button class="Renew" (click)="openRenewPage(FRZL)"> {{'RENEW' | translate}} </button>
          <button small round ion-button class="Upgrade" (click)="openUpgradePage(FRZL)"> {{'UPGRADE' | translate}} </button>
        </ion-col>
      </ion-row>

    </ion-row>

  </ion-grid>
</ion-content>