page-new-my-memberships {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
 
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
       
    }

    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }


.itemPackage
{
    
    font-size: 12px;
}
.NotificationIcon
{
    height:35px;
    width:30px;
}

.offercards
{
    background-image:url('../assets/img/fotoram.jpg');
}
.freezesvg{
    height:35px;
    width:20px;
}
.locationColr
{
    color:teal 
}
.locationSvg
{
    height:13px;
     width:13px;
}
.packLogo
{
    height:25px;
     width:25px; 
}
.contractLogo
{
    height:25px;
    width:25px;
}
.membershipLogo
{
    height:110px;
     width:100%;
}

.classlOC
{
    height:13px;
    width:13px;
}
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .noti
    {
        margin-right:11px;
        margin-top: 7px;
        
    }
    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }

    .card-md {
        margin: 0px;
        width: 100%;
        height: 140px;
    }

    .label-md {
        margin: 0px;
    }

    .ctxtheader1 {
        color:white;
        font-size: 22px;
        padding-left: 20px;
    }

    .cvalidity {
        color:white;
        font-size: 11px;
        padding-left: 18px;
        margin-top: 5px; 
    }

    .claimbutton {
        background-color: $offer_Title_Color;
        position: absolute;
        margin-left: 20px;
        font-weight: 200; 
        height: 35px;
        text-transform: none;
    }

    .button.claimbutton:hover {
        background-color: $offer_Title_Color;
    }
      
    .button.claimbutton:active {
        background-color: $offer_Title_Color;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: aqua;
        color: $welcome_backgroundColor;
        text-transform: none;
    }

    .segment-md .segment-button {
        text-transform: none;
        background-color: $segmentBackground;
    }

    .MembershipsCard {

        box-shadow: none;
        height: 258px;;
        border: 1px solid $packageBorder;
    }

    .RefreshIconColumn {
        background-color: $refreshBackground;
       
    }
    .buttonRow
    {
        width: 100%;
        display: flex;
        justify-content: flex-end
    }

    .CardHeading {
        font-size:13px;
        
    }
.cardhead
{
    width: 100%;;
  
}
    .LabelActive {
       height: 20px;
        background-color: $activeBck;
        color: $welcome_text_fontColor;
        font-size: 12px;
    }

    .LocationPrice {
        font-size: 12px;
    }

    .StartDateColumn {
        background-color: $refreshBackground;
    }

    .StartDateHeading {
        position: absolute;
       // bottom: 3%;
        color: $billing_item_color;
    }

    .StartDate {
        color: $welcome_text_fontColor;
        font-size: 11px;
    }

    .PackageAdtColumn {
        padding-left: 8px;
        font-size:13px;
    }

    .PackageAdtCard {
        box-shadow: none;
        border-bottom: 1px solid $packageBorder;
        border-right: 1px solid $packageBorder;
        border-top: 1px solid $packageBorder;
    }

    .PackageAdt {
        border-left: 2px solid $packageBdrLeft;
        padding-left: 8px;
        padding-top: 8px;
    }

    .PackageName {
        font-size: 12px;
    }

    .EndDateColumn {
        background-color: $refreshBackground ;
        height:64px;
    }

    .EndDateHeading {
        position: absolute;
        top:50px;
       // bottom: 3%;
        color: $billing_item_color;
    }

    .EndDate {
        color: $welcome_text_fontColor;
        font-size: 11px;
    }

    .RefreshIcon {
        font-size: 34px;
        color: $welcome_text_fontColor;
    }

    .FreezeButton {
        background-color: $welcome_backgroundColor;
        font-weight: 200; 
        height: 24px;
        width: 82px;
        text-transform: none;
    }

    .button.FreezeButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.FreezeButton:active {
        background-color: $welcome_backgroundColor;
    }

    .UpgradeButton {
        background-color: $welcome_backgroundColor;
        font-weight: 200; 
        height: 24px;
        width: 82px;
        text-transform: none;
    }

    .button.UpgradeButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.UpgradeButton:active {
        background-color: $welcome_backgroundColor;
    }

    .EmptyGridColumn{
        background-color: $avatar_background_cartpage;
        height: 15px;
    }

    .LabelSuspended {
      
        background-color: $packageBdrLeft;
    
        color: $welcome_text_fontColor;
        font-size: 12px;
        height: 20px;
  
    
       
    }

    .SuspendedCard {
        height: 110px;
        box-shadow: none;
        border: 1px solid $packageBorder;
    }

    .SuspendedCardHeading {
        font-size: 13px;
        display:flex;
        justify-content: flex-start;
    }

    .CardLocation {
        margin-top: 5px;
    }

    .SuspendedReasonRow {
        margin-top: 5px;
    }

    .SuspendedReason {
        font-size: 12px;
    }

    .Subtext {
        margin-top: 5px;
    }

    .FreezeIconColumn {
        background-color: $packageBorder;
    } 

    .LabelFreeze {
      
        background-color: $packageBorder;
     
        color: $coupon_detail_fontcolor;
        height: 20px;
        font-size: 12px;
    }

    .Resume {
        background-color: $welcome_backgroundColor;
        font-weight: 200; 
        height: 24px;
        width: 82px;
        text-transform: none;
    }

    .button.Resume:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.Resume:active {
        background-color: $welcome_backgroundColor;
    }

    .Renew {
        background-color: $welcome_backgroundColor;
        font-weight: 200; 
        height: 24px;
        width: 82px;
        text-transform: none;
    }

    .button.Renew:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.Renew:active {
        background-color: $welcome_backgroundColor;
    }

    .Upgrade {
        background-color: $welcome_backgroundColor;
        font-weight: 200; 
        height: 24px;
        width: 82px;
        text-transform: none;
    }

    .button.Upgrade:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.Upgrade:active {
        background-color: $welcome_backgroundColor;
    }

    .Date {
        color: $activeBck ;
        font-size: 10.5px;
    }

    .Amount {
        color: $amount ;
    }

    .CardLocPri {
        color: $cardlabeljoinclr ;
        font-size:12px;
    }
}
