<ion-header class="Header">
  <ion-navbar no-margin padding class="NavigationBar">
    <ion-title class="Title">
      {{'PAYMENTS' | translate}}
      <br>
      <span class="SubText"  *ngIf="!receivedWalletBoolean"> {{totalProducts}} {{'ITEMS' | translate}}, {{'TOPAY' | translate}} - {{totalPrice}} </span>
      <span class="SubText" *ngIf="receivedWalletBoolean">INR {{receivedWallet}} </span>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="MainContent">

  <ion-grid no-margin no-padding class="EmptySpaceGrid">
    <ion-row class="EmptySpaceRow">
      <ion-col class="EmptySpaceColumn">
        <ion-row class="EmptySpace">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="WalletCreditGrid">
    <ion-row class="WalletCreditHeadingRow">
      <ion-col class="WalletCreditHeadingColumn">
        <ion-row justify-content-center align-items-center class="WalletCreditHeading">
          <img width="50" height="30" src="assets/img/wallet.svg" class="WalletCreditHeadingIcon" />{{'WALLETCREDITS' | translate}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-margin class="CreditList">
    <ion-item-divider class="ItemDividerForCredit" (click)="goto()">
      <ion-item no-lines no-margin no-padding class="Credits">
        <ion-grid no-margin no-padding class="CreditsGrid">
          <ion-row no-margin no-padding class="CreditsRow">
            <ion-col col-1 no-margin no-padding class="CheckBoxColumn">
              <ion-icon no-margin no-padding name="ios-checkmark-circle" class="CheckBox"> </ion-icon>
            </ion-col>
            <ion-col col-11 no-margin no-padding class="CreditsColumn">
              INR 500
              <span class="CreditsSubText">(Credits Applied)</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-divider>
  </ion-list>

  <ion-grid no-margin no-padding class="OtherPaymentOptionGrid">
    <ion-row class="OtherPaymentOptionHeadingRow">
      <ion-col class="OtherPaymentOptionHeadingColumn">
        <ion-row justify-content-center align-items-center class="OtherPaymentOptionHeadingText">
          <img src="assets/img/OtherOption.png" class="OtherPaymentOptionHeadingIcon" />&nbsp;&nbsp;&nbsp;{{'OTHERPAYMENTOPTIONS'
          | translate}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-margin class="OptionsList">
    <ion-item-divider (click)='toggel(i)' *ngFor="let p of Paymentoptions;let i = index" class="ItemDividerForOptions">
      <ion-item no-lines no-margin no-padding class="Options">
        <ion-grid no-margin no-padding class="OptionsGrid">
          <ion-row no-margin padding-top class="OptionsRow">
            <ion-col col-1 no-margin no-padding class="OptionsIconColumn">
              <img no-margin no-padding width="50" height="30" src="assets/icon/{{p.paymenticon}}" class="OptionsIcon" />
            </ion-col>
            <ion-col col-7 no-margin class="OptionsColumn">
              &nbsp;&nbsp;{{p.paymentMode}}
              <span class="OptionsSubText">{{p.subtext}}</span>
            </ion-col>
            <ion-col push-1 col-3 no-margin no-padding *ngIf="p.isSelected" class="PaymentColumn">
              {{'PAY' | translate}} {{totalPrice}}&nbsp;
              <ion-icon name="ios-checkmark-circle" class="CheckIconOnSelection"></ion-icon>
            </ion-col>
            <ion-col push-3 col-1 no-margin no-padding *ngIf="!p.isSelected" class="OptionsCheckBoxColumn">
              &nbsp;&nbsp;
              <ion-icon item-right name="ios-radio-button-off" class="OptionsCheckBox"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item no-padding no-margin text-center *ngIf="p.isSelected" class="PaymentOption">
        <ion-grid no-margin no-padding class="PayWithOptionButtonGrid">
          <ion-row justify-content-center align-items-center class="PayWithOptionButtonRow">
            <button ion-button (click)="makePayment(p.razorPayoptionName)" :round class="PayWithOptionButton">{{p.buttonText
              || 'Pay with ' +' '+ &nbsp;p.paymentMode}}
            </button>
          </ion-row>
          <ion-row justify-content-center align-items-center class="TextBelowButton">
            {{'YOUWILLBEREDIRECTEDTORAZORPAY' | translate}}
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-divider>
  </ion-list>

</ion-content>