page-payment-options {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .SubText {
        font-size: 15px;
    }

    .EmptySpaceColumn {
        background-color: $welcome_text_fontColor;
        height: 15px;
    }

    .WalletCreditHeadingColumn {
        background-color: $header_bcolor;
    }

    .WalletCreditHeading {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .ItemDividerForCredit {
        margin-bottom: 17px;
    }

    .CheckBox {
        color: $progressBar_backgroundColor;
    }

    .CreditsSubText {
        color: $button_backgroundColor;
        font-size: 10px;
    }

    .OtherPaymentOptionHeadingColumn {
        background-color: $header_bcolor;
    }

    .OtherPaymentOptionHeadingText {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 0px;
    }
    
    .OtherPaymentOptionHeadingIcon {
        height: 20px;
        width: 20px;
    }

    .OptionsColumn {
        margin-top: 5px;
    }

    .OptionsSubText {
        color: $button_backgroundColor;
        font-size: 10px;
    }

    .PaymentColumn {
        color: $button_Join;
        font-size: 13px;
    }

    .CheckIconOnSelection {
        color: $progressBar_backgroundColor;
    }

    .OptionsCheckBox {
        color: $button_backgroundColor;
    }

    .PayWithOptionButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 30px;
        font-size: 13px;
        background-color: $button_Join;
    }

    .button.PayWithOptionButton:hover {
        background-color: $button_Join;
    }
      
    .button.PayWithOptionButton:active {
        background-color: $button_Join;
    }

    .TextBelowButton {
        font-size: 12px;
        color: $billing_item_color;
        margin-bottom: 5px;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
        padding-left: 60px;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .label-md {
        margin: 0px;
    } 

}
