//paths-globas to change
// --------------------------------------------------
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------

//$text-input-md-highlight-color-invalid: transparent;
//$text-input-md-highlight-color-valid: transparent;

$checkbox-md-icon-border-color-off:#FBB306;
$checkbox-md-item-start-margin-top:0px;
$checkbox-md-item-start-margin-end:0px;
$checkbox-md-icon-border-radius:50%;

$checkbox-md-item-start-margin-bottom:0px;
$checkbox-md-item-start-margin-start:0px;	
$checkbox-md-icon-size:22px;
$checkbox-md-icon-checkmark-width:2px;
$checkbox-md-item-end-margin-top:	0px	;

$checkbox-md-item-end-margin-end: 0px	;

$checkbox-md-item-end-margin-bottom :0px;

$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
$text-color:        #000;
$background-color:  #fff;

// Named Color Variables
// --------------------------------------------------
$colors: (
  purple :    #8D69B2,
  black :     #000000,
  grey :      #a2a2a4,
  white :     #ffffff,
  primary:    #3d3939,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #3F383F,
  main:       #FCB401,
  trans:      transparent,
  button:     #CDCDCD,
  classcolor: #666666,
  welcome_button_color:#BFBCB5,
  transparent:transparent,
  lightgrey:  #C3C3C3,
  burgandy:   #4B2324 ,
);

$item-md-detail-push-height: 20px;
$item-wp-detail-push-height: 20px;
$searchbar-md-input-background-color:black;
$searchbar-md-padding-horizontal:0px;
$searchbar-md-input-text-color:#fff;
$searchbar-md-min-height:30px;

@font-face {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/custom/Champagne\ &\ Limousines.ttf');
}

// SIGN-UP SELECTION PAGE
$welcome_backgroundColor: #794FA8;
$welcome_text_fontColor: #FFFFFF;
$welcome_text_fontSize: 3.5rem;
$welcome_text_font: 'Champagne & Limousines';
$progressBar_backgroundColor: #40C3C4;
$progressBar_height: 5px;
$subTitle_fontSize: 20px;
$dialCode_fontColor: #000000;

// LOGIN PAGE
$become_a_member_button: #A2A2A4;

// COUNTRY MODAL
$transparent_background_country_modal: rgba(0,0,0,0.5);

// WELCOME SCREEN PAGE
$subCenter_fontColor: #5CB6C8;
$enquiryType_fontColor: #A2A2A4;

// SIGN-UP TERMS EULA PAGE
$clientName_fontColor: #94D7E5;
$clientName_fontSize: 20px;
$termsPolicy_fontColor: #2A6AF6;

// OTP PAGE
$clientName_fontColor: #94D7E5;
$clientName_fontSize: 20px;
$otpField_fontColor: #A2A2A4;

// LOGIN ERROR PAGE
$hello_fontSize: 18.5px;
$change_fontColor: #D02D1D;

// LOGIN ERROR FEEDBACK PAGE
$errorFeedback_fontColor: #000000;
$errorFeedback_fontSize: 20px;

// DASHBOARD PAGE
$title_border_bottomColor: #774E9A;
$offer_Heading_Color: #8890D0;
$offer_Title_Color: #7cbb00;
$offer_Validity_Color: #3db8db;
$mySchedule_Card_Color: #6E5999;
$input_fontColor: #000000;
$session_datetime_Color: #B0BEC5;
$fab_background_Color: #BEC4C0;
$fab_Label_Color: #f3f3f3;

// OFFER CARD DASHBOARD PAGE

// OFFER LIST PAGE

// OFFER DETAILS PAGE
$viewCartChange_Color: #3BAA59;

// SCHEDULE CARD DASHBOARD PAGE

// APPLY FILTER PAGE
$headings_Color: #CDCDCD;
$button_Text_Color: #40C3C4;
$button_Border_Color: #40C3C4;

// CLASSES PAGE
$clistgrid : #7b4e9a;
$classbuttonsbackground : #f7f7f7;
$classbuttonstxt : #afb4b7;
$classbuttonshoverbg : rgb(238, 238, 238);
$classbuttonshoverclr : rgb(78, 78, 78);
$rangeknobboxshadow : #dedede;
$rangeknobbordertop : rgb(240, 240, 240);
$selectedStartTimeclr : #afb4b7;
$strttimeclr : #67bfce;
$usercountclr : #bcbcbc;
$trainernameclr :rgb(151, 150, 150);
$clsiconArrow: #a3a3a5;
$cardsbg : #ececec;
$rangebg : #f2f2f2;
$locationclr : #55a9a9;
$classdurationtxt : #a2a2a2;
$timeicocolor:#bfbfbf;
$cardlabelBuyclr : #23837E;
$cardlabeljoinedclr : #70BA65;
$cardlabelbuyclr : #FB9D2A;
$cardlabeljoinclr :#61A9AA;
$classtoolbarbg :#b2b2b2;
$classnametxtclr : #666666;
$ccardbg : #fafafa;
$arrowclr : grey;
$location_background : #9978BF;
$location_color : #D6BAEB;
$sold_text : #D88288;

// SEARCH LOCATION PAGE
$itemcolorloc : rgb(44, 44, 44);
$header_background : #F7F7F7;

// CLASS DETAILS PAGE
$item-md-detail-push-color: #794FA8;
$item-wp-detail-push-color: color($colors, purple);
$description_backgroundColor: rgba(219, 106, 72, 0.979);    
$button_Join:#00BA40;  
$range-ios-knob-background-color : #8CDBE6;
$welcome_text: #FFFFFF;
$Center_name:#922D61;
$Withdraw_button: Red;
$Class_level:#00cccd;
$Capacity_available:#158e49;
$Label_Location:#fba234;
$Center_name:#740042;
$Label_Capacity:#727272;
$Label_Address:#999999;
$Trainer_Name:#666666;
$Grid_Trainer:#fafafa;
$title_Border_Bottom:#7b4e9a;
$selected_Button_Color: #A589C6;

// CLASS WITHDRAW MODAL PAGE

// CLASS RATING PAGE
$classRatingclr : rgb(24, 24, 24);
$label_color: #C7C7C7;

// CLASS ATTENDANCE POP UP PAGE
$text-color:        #000;
$background-color:  #fff;

// CLASS WITHDRAW MODAL PAGE
$tranparent_Background: rgba(0,0,0,0.6);

// SEAT SELECTION PAGE
$TodalLabel_Color: #8F8F8F;
$CalendarIcon: #4EC2A2;
$SeatStatusRow_borderbottom: #dddddd;
$AvailableSpan: #00c195;
$UnAvailableSpan_BackgroundColor: #eaeaea;
$TrainerPodRow_BorderTop: #000000;
$TrainerPodColumn: #D9D9D9;
$UnAvailableSpace_BackgroundColor: #FFFFFF;
$UnAvailableSeats_BackgroundColor: #eaeaea;
$seatSelected_BackgroundColor: goldenrod;
$back: rgba(0,0,0,0.6);
$labelDate: #ACACAC;
$Cancel2: #a3a3a5;
$title: #FFFFFF;
$title_Color: #6A6A6A;
$buytxt: #067C02;

// MY SCHEDULE PAGE
$errorname:#4ED5E5;
$cardHoverClasslist:#F7F5E2;
$cardHoverAppointmentlist:#FEF4EE; 
$usercountTextcolor:rgb(151, 150, 150);
$scheduleBackgroungcolor:#fafafa;
$fab-background-color:#BEC4C0;
$fabtext-color:#f3f3f3;
$trainername-color:rgb(151, 150, 150);
$classname-color:#666666;
$timeico-color:#bfbfbf;
$classduration-color:#a2a2a2;
$strttime-color:#67bfce;
$ccard1-border-color:#D5BEEB;

// BOOKED APPOINTMENT PAGE

// MY MEMBERSHIP PAGE
$refreshBackground : #5A4B9E;
$activeBck : #6CB961;
$packageBorder : #d3d1d1;
$packageBdrLeft : rgb(235, 108, 4);
$amount : #b4b3b3;
$segmentBackground : #f5f3f3;
// FREEZE MEMBERSHIP PAGE

// UPGRADE MEMBERSHIP PAGE

// UPGRADE PRODUCT HOME RATE CONFIRM

// UPGRADE PRODUCT PASSPORT RATE CONFIRM

// RENEW MEMBERSHIP PAGE
$month_grid:green;
$item_back_color:rgba(211, 211, 211, 0.582);
$avatar_back_color:rgba(180, 84, 224, 0.644);
$avatar1_back_color:rgba(235, 85, 222, 0.473);
$column_back_color:rgb(73, 185, 161);
$home_border_color:lightgray;
$main_row_color:#579FB0;


// RENEW PRODUCT HOME RATE CONFIRM

// RENEW PRODUCT PASSPORT RATE CONFIRM

// BUY MEMBERSHIP PAGE
$viewCart : #65656F;

// APPOINTMENT MODAL PAGE

// CHOOSE TRAINER PAGE

// ANY TRAINER MODAL PAGE

// DATE AND TIME PAGE 

// REPEAT BOOKING PAGE [WITH SEESIONS/WITH ONLY ONCE OR REPEAT]

// APPOINTMENT BOOKED DETAILS PAGE -------- [AFTER BOOKING APPOINTMENT OR AFTER EDITING DATETIME/CANCEL APPOINTMENT]

// BOOKED APPOINTMENT PAGE -------- [DIRECTLY FROM SCHEDULE]
$details_Color: #C3C3C3;
$Purpose_Color: #8AD1E0;

// CANCEL APPOINTMENT MODAL PAGE

// APPOINTMENT ATTENDANCE POP UP PAGE
$text-color:        #000;
$background-color:  #fff;
$button_backgroundColor: #A2A2A4;

// SELECT FACILITY MODAL PAGE

// FACILITY DATE AND TIME PAGE

// BOOKED FACILITY PAGE -------- [AFTER BOOKING FACILITY OR AFTER EDITING DATETIME/CANCEL FACILITY]

// FACILITY BOOKED DETAILS PAGE -------- [DIRECTLY FROM SCHEDULE]
$facility_details_Color: #C3C3C3;
$facility_Purpose_Color: #8AD1E0;

// MY PROFILE PAGE
$profile_background_color:#4B2324;
$Segment_background_color:#989798;
$Purchase_Card_Color:#909092;

// TRANSACTION HISTORY LIST PAGE
$timeicoLabel-color:#979696;
$billcard-bgcolor : #FAFAFA;
$billnumber-color : #FEB57C;

// MY PURCHASE HISTORY PAGE
$border-color:#c4c4c4;
$emailBG-color:#ebebebab;
$emailbtn-color:#748eb6;

// MY REFERAL PAGE
 $partition_row_color:#B2EBF2;
// EDIT MY PROFILE PAGE

// MY WALLET PAGE

// LOGOUT MODAL PAGE

// PAYMENT OPTION PAGE

// PAYMENT SUCCESSFUL PAGE

// PAYMENT FAILURE MODAL PAGE
$RefundMsgGrid: #E7ECFB;

// CART PAGE
$avatar_background_cartpage : #EEEEEE;
$subfont_cartpage : #C2C2C2;
$item_border_color : #e0e0e0;
$billing_item_color :#979797;
$discount_font : rgb(196, 88, 84);
$button_itemsincart_bcolor : #a2a2a4;
$button_checkout_bcolor : #64646e;
$relateditems_backgroud : #eeeeee;
$addbutton_relateditems : #86bd58;

// APPLY COUPON MODAL PAGE
$transparent_background :rgba(0,0,0,0.5) !important;
$coupon_detail_fontcolor : #818181;
$card_subitem_bcolor : #f6f7fd;
$applycoupon_color : #FF6D00;
$box_shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

// COUPON APPLIED MODAL PAGE
$redirecting_fontcolor:#c2c2c2;

// WAIVER TERMS MODAL PAGE
$waiver_text : #606060;

// ENTER OTP MODAL PAGE

// E-SIGN PAGE

// WAIVER SIGN COMPLETE MODAL PAGE

// ATTACH DOCUMENT MODAL PAGE
$header_bcolor: #EBEBEB;
$header_color : #6A6A6A;
$item_color : #616161;

// START DATE MODAL PAGE 
$startdate_button_color : #FEFEFE;
$cancel_button_color : #6c6f73;
$save_button_color : #00ba40;

// FEEDBACK OPTIONS PAGE
$feedback_que:#5B5B5B;
$feedback_avatar:#B3DEF6;
$feedback_subitem_color:#B5B5B5;

// FEEDBACK PAGE
$feedback_message:#DCDCDC;
$feedback_header:#EAEAEA;
$feedback_option:#CBCBCB;
$feedback_message_header:#4c4b4b;
$feedback_text_color:#B0B0B0;
$feedback_arrow_color:#cccccc;
$feedback_button:#8B69B4;

// ABOUT PAGE

// CHAT MEMBER LIST PAGE

// CHAT PAGE

//VIDEO CATEGORY PAGE
$Category_Cards:#E6EEF5;

//VIDEO LIST PAGE
$videolistbackground-color: #edeeef;

//Video Playing Page
$VideoAddIcon:#99ACBE;

//Club Locator Page
$GymName:#c2508b;
$GymDistance:#57575c;

// CLUB DETAILS PAGE
$ClubCol:#cfcfcf;
$ClubTour:#01999e;
$ClubBackColor:#e0e0e077;


    // RENEW PRODUCT HOME RATE CONFIRM
    $payment_border:rgb(231, 204, 48);
    $payment_background_color:lightyellow;
    $passport_para_color:rgb(247, 76, 8);
    $button_backColor:#ebe7e7;
    $renew_details_color:#6ACBCD;
    $renew_hr_border:#cdcdcd;
    $OR_BUTTON_COLOR:#696767;

// Ionicons
@import "ionic.ionicons";

// Fonts
@import "roboto";

@import "noto-sans";