page-cart-waiver-otp 
 {




  
    .main-content{
      background-color: rgba(0,0,0,0.5) !important;
      padding: 30px;
      position: relative;
      overflow: hidden;
      overflow-y: hidden;
      z-index: -100;
      }
      

 
      .Modal{
        position: relative;
        top:200px;
        border-radius: 6px !important;
        overflow: hidden;
        height: 250px;
        z-index: 1000;
      }
        
      .scroll-content {
          overflow-y: hidden;
      }

      .toolbar-md {
        min-height: 40px;
    }
        
    .Otp-Desc
            {
                font-size: 17px;
                margin-top: 0px;
                font-family: 'Champagne & Limousines' !important;
                color: black;  
               
            }
        
            .Input
            {
                height: 50px;
                margin: 4px;
                border: 1px solid #DEDEDE;
                padding: 3px;
                font-size: 15px;
            }
        
            .donebutton
            {
                height: 50px;
                margin: 4px;
                text-transform: none;
                border-radius: 2px;
                font-size: 18px;
                background-color: #999999;
            }
        
            
        
            .Footer_Section
            {
                display: block;
                height: 50px;
                width: 100px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 75px;
                background-color: white;
                align-content: center;
               
             }
             .foot
             {
                bottom: 0px;
             }
        
             .resendOtp
             {
                 margin-right: 8px;
                 margin-top: 40px;
                 padding-inline-end: 5px;
                 float: right;
                 font-size: 15px;
                 text-decoration-line: underline;
                 color: #464646;        
             }
        
        
          .paddingGrid
          {
            font-size: 15px;
            padding: 0px;
            margin-top: -40px;
        
          }
        
          .otplabel1{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
          .otplabel2{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
          .otplabel3{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
          .otplabel4{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
          .otplabel5{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
          .otplabel6{
            border-bottom: 2px solid #CCCCCC;
             font-size:20px;
            color: #CCCCCC;
              
          }
        
        
          .subbutton{
                display: block;
                color: white;
                width: 95%;
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                text-transform: none;
                box-shadow: none;
                font-weight: normal;
                height: 35px;
                font-size:18px;
                background-color: #8D69B2;    
                border-radius: 23px;
        }
        
    
        
          .btnroww
          {
                margin-top: -12px;
                padding: 3px;
          }
        
        
          .URL_Section 
          {
            margin-top: 20px;
            color: cyan;
            font-size: 15px;
            margin-right: 8px;
            text-align-last: right;
            text-decoration-line: underline;
            text-decoration-style: dotted;
            
          }
        
         
        
        
          .Footer_Section 
          {
            display: block;
            height: 50px;
            width: 130px;
            right: 10%;
            left: 15%;
            background-color: white;
          }
        
          .footerrow
          {
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
          }
        
        
            
        }
        



