<!--
  Generated template for the CartWaiverActionModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
   
-->
<ion-content  class="main-content" padding (click)="closeModal($event)">
<!-- <div class="trasparentarea" (click)="closeModal($e)"></div> -->

    <ion-card class="Modal" padding>
   <h6 class="header" style="text-align: center">Enter OTP</h6>
    
  <ion-row class="Otp-Desc" padding>
      OTP has been sent to mobile number 981212****. 
      For signing waiver release form.
    Please enter the same in the space provided below.
    </ion-row>
    <ion-row no-padding>
        <ion-list no-padding>
          <!-- new changes -->
       
  
  
          <ion-grid class="paddingGrid">
            <ion-row class= "OTProw" padding>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(0)" (keyup)="switchType($event,0)" #op11 [(ngModel)]="otp11" class="otplabel1" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(1)" (keyup)="switchType($event,1)" #op12 [(ngModel)]="otp12" class="otplabel2" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(2)" (keyup)="switchType($event,2)" #op13 [(ngModel)]="otp13" class="otplabel3" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(3)" (keyup)="switchType($event,3)" #op14 [(ngModel)]="otp14" class="otplabel4" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(4)" (keyup)="switchType($event,4)" #op15 [(ngModel)]="otp15" class="otplabel5" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
              <ion-col col-2>
                <ion-input (ionFocus)="saveFocus(5)" (keyup)="switchType($event,5)" #op16 [(ngModel)]="otp16" class="otplabel6" text-center
                  fixed value="" type="tel" maxlength="1"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
  
  
  
          <ion-grid no-padding>
            
             <ion-row class="btnroww">
               <button (click)="submit()" [disabled]="isButtondisabled" class="subbutton" ion-button full color>Submit</button>
             </ion-row>
         
             <ion-row>
                 
                 <ion-col col-5 push-7 >
                  <div  (click)="resendOTP()" class="URL_Section">{{ tickWithbracket }}Resend OTP</div>
                </ion-col>
               </ion-row>
              
         
                 
         
           </ion-grid>
       
  
        </ion-list>
      </ion-row>
    </ion-card>
    </ion-content>



    
    