page-select-facility-modal {
    .Title {
        background-color: #ebebeb;
        font-family: #181818;
        font: 14px arial #333333;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: #181818;
        font-size:1.5rem;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #181818;
        background-color: transparent;
        padding-right: 400px;
    }
    .main-content {
        background-color: rgba(0,0,0,0.5) !important;
        padding: 30px;
        position: relative;
        overflow: hidden;
        overflow-y: hidden;
        
      }
      .facility{
        background-color: #A1DDE9;
        align-content: center;
    }
    .header {
        background-color: #EBEBEB;
    }
    .waiverTitle {
        background-color: #EBEBEB;
        font-size: 15px;
    }
      [col-6] {
        padding: 0px;
    }

      .grid {
          padding:0px;
      }

      .Modal {
          border-radius: 6px !important;
          overflow: hidden;
          
      }
      ion-app.md  .scroll-content {
        padding: 10px;
    }

    .facilityName {
        text-align: center;font:12px arial #333333; margin-top:3px;
    }

    .facilityImage{
        width:75%;;margin-left: 10%;
    }

    .cardContent{

        align-content: center ;width:70%; margin-left: auto; margin-right: auto;
    }
        
      .btnrow
      {
          height: 55px;
          padding-left: 16px;
          padding-right: 16px;
          vertical-align: bottom;
      }

      .proceed
      {
         // position:absolute; 
          margin-top:16px; 
          text-align: center;
        
          margin-inline-end:5px;
      }

      .cartItemsProceed
      {
          position:absolute; 
          text-align: center;
          margin-inline-start : 35px;
          margin-top:16px; 
       color:white;
          //left:5px;
      }
       

      .btncol1
      {
        background-color: #a3a3a5;
        font:13px arial #fff;
          font-size: 13px;
      
      }

      .btncol2
    {
        background-color: #0FB14A;
        color:$welcome_text_fontColor;
        font-size: 14px;
    }

    .btncoldis
    {
        background-color: #65656f;
        color:$welcome_text_fontColor;
        font-size: 14px;
    }


      .scroll-content {
          overflow-y: hidden;
      }

      .toolbar-md {
        min-height: 40px;
    }

    .termsHeading {
        border-bottom:1px solid #dedede;
    }
       .termsContent {
           font-size: 12px;
        height: 59%;
       } 
       .termsButton {
        border-top:1px solid #dedede;
       }
       .otpButton {
        background-color : #8D69B2;
       }

       .esignButton {
        background-color : #8D69B2;; 
       }


       
  .row {
    margin-top: 0%;
    padding: 0%;
  }
  
  ion-slides {
    margin: 0px;
    max-width: 100%;
  }

  .arrows {
    background-color: transparent;

    &:hover {
        background-color:  transparent;
    }

    color: grey;

    &:focus {     
        background-color:  transparent; 
    }

    &:active {
        background-color:  transparent; 
    }

    &:visited {
        background-color:  transparent; 
    }

    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;

  }


  .arrowsLeft{
    display: inline-block;
    float: left;

  }


  .arrowsRight{
    display: inline-block;
    float: right;

  }

.slideheight{
    height:70px;
}

  .width-slide {

    display:inline-block;
    width: 12vw;
    // height: 40px;
    // font-size: 1.2em;
    // line-height: 42px;
   text-align: center;
    margin-bottom: 10px;
    //@at-rootwidth: 100px;
    margin-right: 0px;
    //max-width: 15.285%;
    //max-height:42px;
    // border-radius: 50%;
    font-size: 12px;
  }

  .circlearound
  {
    border-radius: 50%;
    position: absolute;
    top: 7px;
    z-index: -2;
    height: 7vh;
    width: 12vw;
    background-color: #99DDE8;
    opacity: .6;
  }

  .durationtxt
  {
    // border-radius:50%;
    z-index: 1000;
    font : 13px arial #bfc5c8
  }

  .selecttxt
  {
    margin-top: 40px;
   
    font: 14px arial #f79232
  }

 .footer  {
    padding-left: 16px;
    padding-right: 16px;
  }

}


