<ion-content class="main-content" padding>

  <div>
    <br>
    <br>
    <br>
    <br>
  </div>

  <ion-content class="Modal">

    <ion-header>
      <ion-navbar no-margin padding class="NavigationBar">
        <ion-title class="Title">Select Facility</ion-title>
      </ion-navbar>
    </ion-header>

    <br>
    <br>

    <ion-scroll scrollY="true" class="termsContent">
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let f of facilityList; let i=index" (click)="SelectFacility(i)">
              <ion-card class="cardContent" [ngClass]="{'facility': f.status==true}">
                <img class="facilityImage" padding-top height="56px" width="56px" src="assets/img/FacilityIcons/{{f.FacilityPicture}}">
                <p class="facilityName" >{{f.FacilityName}}</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-scroll>

    <ion-row class="selecttxt">
      Select Hours
    </ion-row>

    <ion-row no-padding no-margin>
      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsLeft" (click)="slidePrev()">
          <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-10 no-padding no-margin>
        <ion-slides dir="ltr" no-padding no-marging>
          <ion-slide text-center class="slideheight"  *ngFor="let durationarray of TotalSeriesArray ;let i = index ">
            <div class="width-slide" (click)="SelectDuration(durationObj)" no-padding no-marging *ngFor="let durationObj of durationarray; let di=index">
              <span class="durationtxt" text-center [style.color]="durationObj.textColor">
                {{displayHalf(durationObj.duration,durationObj) }} hr
                <div class="circlearound" [style.background-color]="durationObj.isColor"></div>
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsRight" (click)="slideNext()">
          <ion-icon name="md-arrow-dropright" class="iconArrowRight"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </ion-content>

  <ion-footer>
    <ion-row class="btnrow">
      <ion-col col-4 class="btncol1" (click)="closeModal()">
        <div class="cartItemsProceed">Cancel</div>
      </ion-col>
      <ion-col col-8 right [ngClass]="{btncol2:ButtonClass,btncoldis:!ButtonClass}" (click)="goToFacilityDateTime()">
        <div class="proceed">Confirm</div>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-content>