page-seat-selection-moadal {

    .TodayGrid {
        margin-top: 52px;
    }
    
    .TodalLabel {
        font-size: 20px;
        color: $TodalLabel_Color;
    }
    
    .CalendarIcon {
        color: $CalendarIcon;
        font-size: 54px;
        margin-top: 4px;
    }
    
    .SeatStatusRow {
        border-bottom: 1px solid $SeatStatusRow_borderbottom; 
        font-size: 11px;  
        margin-top: 4px; 
        padding-bottom: 8px; 
        padding: 4px
    }
    
    .Available {
        display: inline;
    }
    
    .AvailableSpan {
        border-radius: 20%; 
        border: 1px solid #00c195; 
        width: 18px;
        height: 18px; 
    }
    
    .AvailableLabel {
        margin-bottom: 5px;
        position: absolute;
        top: 28%;
        left: 35%;
        font-size: 9px;
    }
    
    .Booked {
        display: inline;
    }
    
    .BookedSpan {
        border-radius: 20%; 
        background-color: $AvailableSpan; 
        width: 18px;
        height: 18px; 
    }
    
    .BookedLabel {
        margin-bottom: 5px;
        position: absolute;
        top: 28%;
        left: 35%;
        font-size: 9px; 
    }
    
    .UnAvailable {
        display: inline;
    }
    
    .UnAvailableSpan {
        border-radius: 20%; 
        background-color: $UnAvailableSpan_BackgroundColor;
        width: 18px;
        height: 18px;
    }
    
    .UnAvailableLabel {
        margin-bottom: 5px;
        position: absolute;
        top: 28%;
        left: 35%;
        font-size: 9px;
    }
    
    .TrainerPodRow {
        border-top: 2px solid $TrainerPodRow_BorderTop; 
        margin-top: 4px;
    }
    
    .TrainerPodColumn {
        margin-right: 40px; 
        margin-left: 40px; 
        border-bottom: 1px solid $TrainerPodRow_BorderTop; 
        border-right: 1px solid $TrainerPodRow_BorderTop; 
        border-left: 1px solid $TrainerPodRow_BorderTop; 
        background-color: $TrainerPodColumn; 
        font-size: 13px; 
    }
    
    .SeatHeader {
        width: 100%; 
    }

    .SeatSpan {
        margin: 0.8%; 
    }
    
    .UnAvailableSpace {
        background-color: $UnAvailableSpace_BackgroundColor;
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 20%;   
        width: 18px;
        height: 18px;
    }
    
    .UnAvailableSeats {
        background-color: $UnAvailableSeats_BackgroundColor;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 20%;  
        width: 18px;
        height: 18px; 
    }
    
    .UnAvailableSeatSpan {
        font-size: 10px; 
        color: $UnAvailableSeats_BackgroundColor;
    }
    
    .AvaiableSeatSpace {
        background-color: $AvailableSpan;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 20%;  
        width: 18px;
        height: 18px;
    }
    
    .AvailableSeatSpan {
        font-size: 10px;
        color: $AvailableSpan;
    }
    
    .SeatDiv {
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 20%;  
        width: 18px;
        height: 18px; 
    }
    
    .SeatLabelSpan {
        font-size: 10px;
        transform: translateY(-25%);
    }
    
    .TodayIonGrid{
        margin-top: 52px;  
    }
    
    .CalendarIconCol {
        color: $CalendarIcon;
        font-size: 54px;
        margin-top: 4px;  
    }    

    .package {
        margin-top: 2px;
        font-size: 13px;
        font-weight: 500;
        margin-inline-start: 10px;
    }

    .price {
        font-size: 13px;
        color: $offer_Validity_Color;
    }

    .checked1 {
        margin-inline-start: 20px;
        color: $offer_Heading_Color;
        height: 27px;;
    }

    page-seat-selection-moadal .seat .title {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }

    ion-content {
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
    }

    .scroll-content {
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
    }

    .seatSelected {
        border: 1px solid transparent;
        background-color: $seatSelected_BackgroundColor;
    }

    page-seat-selection-moadal .seat .label {
        margin: 0px;
    }   

    .seatNotSelected{
        border: 1px solid $AvailableSpan;
        background-color: None;
    }

    .back {
        height: 100%;
        top: 0;
        background-color: $back;
    }

    ion-content {
        left: 4%;
        top: 15%;
        width: 92%;
        height: 85%;
    }

    .mainContent {
        background-color: $transparent_background;
    }

    .content2 {
        align-content: center;
        position: relative;           
        display: block;
        margin: auto !important  ;
        margin-top: 30px !important ;
        margin-bottom: 0px;
        max-width:75;
        border-radius: 1%;
        width: 90vw  !important;
        height:100% !important;
        top:10px;
    
        .scroll-content {
            overflow: hidden;
        }      
        
    }
        
    .headingGrid {
        background-color: $avatar_background_cartpage;
        height: 30px;
        padding-top: 10px;            
    }

    .rowheader {
        padding-top:0px;
    }

    .labeldate {            
        font-weight: bold;
        font-size: 15px;
        color: $labelDate;
    }

    .colcalender {
        padding-top: 20px;
    }

    .rowdate {
        padding-bottom: 0px;
        height: 12px;
    }

    .ChangeSeatCol {
        padding-top: 0px;
    }

    .trainericon {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
        
    .trainername {  
        font-size: 12px;
        color: $TrainerPodRow_BorderTop;
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label1 {    
        font-style: italic;
    }

    .partitionRow { 
        background-color: $avatar_background_cartpage;
        height: 14px;
    }

    .seatnumber {
        font-weight: bold;
        color: $labelDate;
    }

    .seatImage {
        margin-top: 12px;
    }

    .labelseat {
        font-size: 12.5px;
        color: $coupon_detail_fontcolor;
        padding-left: 15px;
    }
    
    .Detect {
        font-size: 10px;
        text-decoration: underline;
        text-decoration-color: $applycoupon_color;
        color: $Withdraw-button;
    }
        
    .footerButtons {        
        overflow: hidden;
        width: 94%;
        margin-left: 12px;
        margin-right: 1px;
    }

    .footerRow {
        height: 55px;;
    }

    .cancel {
        background-color: $cancel_button_color;
        height: 55px;
        text-transform: none;
        font-weight: 400
    }

    .cancel2 {
        background-color: $Cancel2;
        height: 55px;
        text-transform: none;
        font-weight: 400
    }
            
    .save {
        background-color: $save_button_color;
        height: 55px;
        text-transform: none;
        font-weight: 40px;
    }
            
    .row1 {
        align-content: end;
        text-align: end;
    }

    .choicegrid {
        padding-left: 6px;
    }

    .seat {
            
        ion-header {
            left: 4%;
            top: 15%;
            width: 92%;
            height: 85%;
        }
        
        ion-content {
            left: 4%;
            top: 15%;
            width: 92%;
            height: 85%;
        }
        
        span {
            display: inline-block;
            padding: 0%;
            margin: 0%;
        }
        
        .title {
            background-color: $title;
            padding: 18px;
            color: $title_Color;
            position: fixed;
            z-index: 1000;
            width: 100%;
        }
        
        .toolbar-title {
            font-size: 15px;
            font-weight: 400;
        }
        
        .back {
            height: 100%;
            top:0;
            background-color: $back;
        }
        
        .classname {
            font-weight: bold;
        }

        .toolbar-title-md {
            padding: 0px;
        }

        .aname {
            font-size: 18px;
            padding-top: 3px;
        }
        
        .buytxt {
            margin-inline-start: 6px;
            color: $buytxt;
            margin-top: 3px;
        }
        
        .buyicon {
            margin-top: 3px;
        }
        
        .cardsrow {
            margin: 1px;
        }
        
        .customcard {
            padding: 1px;
        }
        
        .sessiontxt {
            margin-top: 6px;
            font-size: 12px;
            padding: 0px;
        }
        
    }

}