<div (click)="closeModal()" class='back'></div>

<ion-content no-padding class="seat">

  <ion-title class="Header">{{'SEATSELECTION' | translate}}</ion-title>

  <ion-grid *ngIf="!seatPurposeModalShow" class="TodayGrid">

    <ion-row>
      <ion-col text-center>
        <b class="TodalLabel">{{'TODAY' | translate}}</b>
        <br>
        <ion-icon name="md-calendar" class="CalendarIcon"></ion-icon>
      </ion-col>
      <br>
    </ion-row>

    <ion-row>
    </ion-row>

    <br>

    <ion-row no-padding class="SeatStatusRow">
      <ion-col offset-1 col-3>
        <span class="Available">
          <span class="AvailableSpan"></span>
          <span class="AvailableLabel">{{'AVAILABLE' | translate}}</span>
        </span>
      </ion-col>

      <ion-col offset-1 col-3>
        <span class="Booked">
          <span class="BookedSpan"></span>
          <span class="BookedLabel">{{'BOOKED' | translate}}</span>
        </span>
      </ion-col>

      <ion-col offset-1 col-3>
        <span class="UnAvailable">
          <span class="UnAvailableSpan"></span>
          <span class="UnAvailableLabel">{{'UNAVAILABLE' | translate}}</span>
        </span>
      </ion-col>
    </ion-row>

    <br>
    <br>
    <br>

    <ion-row margin-left margin-right class="TrainerPodRow">
      <ion-col no-margin padding-left padding-right text-center class="TrainerPodColumn">
        {{'TRAINERPOD' | translate}}
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col col-12 margin-bottom no-margin no-padding *ngFor="let  r of seatHeader;let i of index " class="SeatHeader">
        <span text-center [style.min-width]='size' [style.width]='size'>
          {{r}}
        </span>
        <span text-center *ngFor="let c of pos " [style.width]='size' class="SeatSpan">
          <div *ngIf="showSeatStatus(r,c)=='UASpace'" class="UnAvailableSpace">
          </div>
          <div *ngIf="showSeatStatus(r,c)=='UA'" class="UnAvailableSeats">
            <span class="UnAvailableSeatSpan">
              0
            </span>
          </div>
          <div *ngIf="showSeatStatus(r,c)=='B'" class="AvaiableSeatSpace">
            <span class="AvailableSeatSpan">
              0
            </span>
          </div>
          <div *ngIf="showSeatStatus(r,c)=='A'" (click)="SelectSeat(r,c)" [ngClass]="[showSeatSelectedStatus(r,c)==true ? 'seatSelected' : 'seatNotSelected']"
            class="SeatDiv">
            <span class="SeatLabelSpan">
              0{{c+1}}
            </span>
          </div>
        </span>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="seatPurposeModalShow" class="TodayIonGrid">
    <ion-grid>
      <ion-row no-padding no-margin class="rowdate">
        <ion-col text-center>
          <ion-label no-padding no-margin class="labeldate">{{'TODAY' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row no-padding no-margin class="colcalender">
        <ion-col text-center no-padding no-margin>
          <ion-icon name="md-calendar" class="CalendarIconCol"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>

      <ion-row>
        <ion-col col-2 no-padding no-margin class="classimage">
          <ion-avatar>
            <img src="assets/img/zmb.png" class="trainericon" />
          </ion-avatar>
        </ion-col>

        <ion-col col-4 no-padding no-margin class="classname">
          <ion-label>{{PurposeName}} {{'CLASSS' | translate}}</ion-label>
        </ion-col>

        <ion-col col-3 no-padding no-margin>
          <ion-label class="labelseat">{{'YOURSEAT' | translate}}</ion-label>
        </ion-col>

        <ion-col col-1 no-padding class="seatImage">
          <img height="20px;" width="20px;" src="assets/img/PT/seatimage.svg">
        </ion-col>

        <ion-col col-2 no-padding no-margin padding-left class="seatnumber">
          <ion-label *ngFor="let ss of selectedSeats" class="SeatNo">{{ss.Row}}{{ss.Col}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row text-align-end class="row1">
        <ion-col push-8 col-4 class="ChangeSeatCol">
          <a ion-text (click)="gotoSeatModal()" class="Detect">{{'CHANGESEAT' | translate}}</a>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col>
          <ion-row class="partitionRow"></ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="label1">* {{'MENTIONEDCLASSES' | translate}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list no-lines>
      <ion-item no-padding *ngFor="let p of purposeSessionsArray; let i = index;">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-7 no-padding class="package">
              &nbsp;&nbsp;{{p.purposeSessionsNumber}}
            </ion-col>
            <ion-col col-3 no-padding class="combinedprices">
              <span class='price'>INR {{p.purposeSessionCost}}</span>
            </ion-col>
            <ion-col col-1 no-padding>
              <ion-row>
                <img src="assets/img/greentick.svg" (click)="PurposeSessionData(i)" *ngIf="p.status" class="checked1">
                <img src="assets/img/circle.svg" (click)="PurposeSessionData(i)" *ngIf="!p.status" class="checked1">
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </ion-grid>

</ion-content>

<ion-footer *ngIf="!seatPurposeModalShow" class="footerButtons">
  <ion-row no-padding class="footerRow">
    <ion-col col-6 no-padding>
      <button ion-button full (click)="closeModal()" class="cancel2">{{'CANCEL' | translate}}</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full (click)="confirm()" [ngClass]="{save:ButtonClass,cancel:!ButtonClass}">{{'CONFIRM' | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-footer *ngIf="seatPurposeModalShow" class="footerButtons">
  <ion-row no-padding class="footerRow">
    <ion-col col-6 no-padding>
      <button ion-button full (click)="closeModal()" class="cancel2">{{'CANCEL' | translate}}</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full (click)="goToCart()" [ngClass]="{save:ButtonClass,cancel:!ButtonClass}" class="Confirm">{{'CONFIRM'
        | translate}}</button>
    </ion-col>
  </ion-row>
</ion-footer>