<div class='back'></div>

<ion-content class="mainContent">
  <ion-content class="withdrawContent">

    <ion-grid>
      <ion-row class="rowWithdraw">
        <ion-col class="colWithdraw">
          <ion-label class="labelWithdraw">{{ 'CLASS WITHDRAW' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <img src="assets/img/dislike.svg" class="thumbsdown"> &nbsp; &nbsp; {{ 'ARE YOU SURE' | translate}} ?
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row text-center>
        <ion-col class="colText">
          {{ 'YOU ARE ABOUT TO CANCEL CLASS BOOKING' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="rowButton">
        <ion-col class="colCancel" col-6>
          <button ion-button class="cancelButton" round (click)="closeModal()">{{ 'CANCEL_BUTTON' | translate }}</button>
        </ion-col>
        <ion-col class="colConfirm" col-6>
          <button ion-button class="confirmButton" color="purple" round (click)="continue()">{{ 'CONTINUE' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
</ion-content>