page-withdraw-modal {

    .mainContent{
        background-color: $tranparent_Background;
    }

    .back {
        height: 100%;
        top: 0;
        background-color: $tranparent_Background;
    }

    .withdrawContent {
        align-content: center;
        position: relative;
        display: block;
        margin: auto !important  ;
        margin-top: 90px !important ;
        max-width: 75;
        max-height: 320px;
        border-radius: 7%;
        width: 90vw  !important;
        height: 70vw !important;
        top: 70px;

        .scroll-content {
            overflow: hidden;
        }

    }

    .colText {
        padding-left: 60px;
        padding-right: 30px;
        color: $billing_item_color;
        font-size: 13px;
        margin-top: 10px
    }

    .span {
        padding-left:60px;
        padding-right: 60px;
        text-align: center;
    }

    .cancelButton {
        background-color: $coupon_detail_fontcolor;
    }
    
    .labelques {
        color: $button_itemsincart_bcolor;
        text-align: center;
        font-size: 15px;
    }

    .labelWithdraw {
        text-align: center;
        font-size: 15px;            
    }   

    .thumbsdown {
        color: $button_itemsincart_bcolor;
        text-align: center;
        font-size: 15px;
        margin-left: 100px;
        height: 30px;

    }

   .labelText {
        padding-left: 80px;
        padding-right: 80px;
        font-size: 12px;
    }

   .colCancel {
        padding-left: 36px;
        padding-right: 10px; 
   }

   .colConfirm {    
        padding-right: 20px; 
   }

   .cancelButton {
        background-color: $billing_item_color;
   }

}

