


<ion-content class="mainContent" (click)="closeModal()">

  <ion-content class="modal" no-padding no-margin>
    <div class="Header"> Upgrade Confirmation</div>
    <br>
    <br>
    <ion-grid padding-top>
      <ion-row>
        <ion-col col-7 class="renewDetails">
          Upgrade to 3 Months Passport Membership
        </ion-col>
        <ion-col col-5 class="renewDetails1">
        </ion-col>
        <ion-row class="renewDetailspass">
        </ion-row>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-3 no-padding style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;" class="labelcost">New Cost</ion-label>

          <ion-label style="margin-top:6px !important;" class="value">INR {{upgradeMembership.passportRate}}</ion-label>
        </ion-col>

        <ion-col col-1 no-padding style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;">
            <div class="any"></div>
          </ion-label>
        </ion-col>

        <ion-col col-3 no-padding class="cost1" style="padding-left:5px">
          <ion-label class="labelcost" no-margin style="margin-bottom:5px;">Old Cost</ion-label>

          <ion-label style="margin-top:6px  !important;" class="value">INR {{this.oldcost}}</ion-label>
        </ion-col>

        <ion-col col-1 no-padding style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px !important">
            <div class="any"></div>
          </ion-label>
          <ion-label no-margin style="margin-bottom:5px;">
            <div class="any2" style="margin-top:1px !important;"></div>
          </ion-label>
        </ion-col>

        <ion-col col-4 no-padding class="colrenew" style="padding-left:5px">
          <ion-label no-margin style="margin-bottom:5px;" class="renew" text-wrap>Difference Payable</ion-label>

          <ion-label style="margin-top:6px !important;" class="renewDetails">INR {{ totalcost() }}</ion-label>


        </ion-col>
      </ion-row>

      <ion-row class="eligibleloc">
        Eligible Locations
      </ion-row>
      <hr class="hr">
      <ion-row>
        <ion-col col-6 *ngFor="let c of city.cities" padding-left>
          <b>{{ c.Cityname}} </b>
          <br />


          <p *ngFor="let cl of c.Location" class="eligibleloc">

            &nbsp;&nbsp;- {{cl}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>

    </ion-grid>

  </ion-content>

  
  <ion-footer class="footer">
    <ion-row class="btnrow">
      <ion-col col-4 class="btncol1" (click)="closeModal()">
        <div class="cartItemsProceed">CANCEL</div>
      </ion-col>
      <ion-col col-8 right class="btncol2" (click)="goToCart()">
        <div class="proceed">Proceed to pay &nbsp;
          <br> INR {{ totalcost() }}/-
        </div>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>