page-upgrade-action-modal {

    .mainContent 
    {
background-color: $transparent_background;
::-webkit-scrollbar{
    display:none;
    }
    }
    .modal 
    {
       
        overflow: hidden;
        top: 30%;
        height: 70%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .Header
    {
        background-color: $header_bcolor;
        padding: 10px;
        height: 40px;
        color:black ;
        position: fixed;
        z-index: 1000;
        width: 100%;
        font-size :15px;
        font-weight: 600;
    }
    .hr { 
        width : 100%;
        border-bottom: solid 1px #cdcdcd;
    }


    //
    
    .btncol1
    {
        background-color:$button_itemsincart_bcolor;
        color:$welcome_text_fontColor;
        font-size: 13px;
    
    }
    .btncol2
    {
        background-color:$save_button_color;
        color:$welcome_text_fontColor;
        font-size: 14px;
    }
    .labelcost{
        color:#979797;
        font-size: 10px;
        margin-right:12px;
    }
   
    .value{
        color:#979797;
        font-size: 14px;
        margin-right:12px;
    }
    .cost1{
        padding-left:0px;
    }
    .btnrow
    {
        height: 55px;
    
        vertical-align: bottom;
    }
    
    .any{
        margin-top: 18px;
        display: flex;
        vertical-align: center;
        background-color: gray;
         height:2px; 
         width:11px;        
    }
    .any1{
        margin-top: 18px;
        display: flex;
        vertical-align: center;
        background-color: gray;
         height:2px; 
         width:10px;         
    }

    .any2{

        display: flex;
        background-color: gray;
         height:1.5px; 
         width:11px;
         padding-bottom:2px;
         margin-bottom:2px;
    }

    .proceed
    {
       // position:absolute; 
        margin-top:5px; 
        display:flex;
        justify-content: flex-end;

        margin-inline-end:45px;
    }
    .cartItemsProceed
    {
        position:absolute; 
        display: flex;
        align-content: center;
       margin-inline-start : 25px;
        top:20px; 
        //left:5px;
    }
    .cartItemsProceed1
    {
        position:absolute; 
        top:0px; 
      //  display: flex;
        margin-inline-start : 5px;
        //margin-top :10px
    }
    .col2{
        padding-bottom:25px;
        padding-left:0px;
    }
    .coldifference{
        margin-right:0px;
        padding-left:0px;
        
    }
    .renewDetails
    {
        color : rgba(48, 155, 155, 0.712);
        font-weight: bold;
    }

    .renew{
        color : rgba(48, 155, 155, 0.712);
       font-size:12px;

    }
    .renewDetails1{
font-weight: bold;
color : grey;
    }
.eligibleloc
{
    
    color : grey;
    margin-left: 5px;
}
.renewDetailspass
{
    color :  rgba(48, 155, 155, 0.712);
    font-weight: bold;

    margin-left: 5px;

}
.cityHeader
{
    font-weight: bold;
    color:gray;
}
    //
    .footer{
        margin-left: 10px;
        margin-right: auto;
        width:95%;
    }
    .citylist
    {
        color: gray;
        line-height: 25px;
    }
}
