<ion-content no-margin no-padding class="MainContent">

  <ion-grid class="HeadingGrid">
    <ion-row class="HeadingGridRow">
      <ion-col class="HeadingGridColumn">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-row justify-content-center align-items-center class="WelcomeText">
          {{'WELCOME' | translate}}
        </ion-row>
        <br>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="HelloGrid">
    <ion-row class="HelloGridRow">
      <ion-col col-10 class="HelloGridColumn">
        <br>
        <ion-row class="Hello" *ngIf="!PhoneNumberEditable">
          {{'HELLO' | translate}}, {{fetchDialCode}}-
          <span>{{fetchPhoneNumber}}</span>
        </ion-row>
        <ion-row class="Hello" *ngIf="PhoneNumberEditable">
          {{'HELLO' | translate}}, {{fetchDialCode}}-
          <span>
            <ion-input #inputToFocus autofocus [(ngModel)]="fetchPhoneNumber" type="tel" (keyup)="dynamic()" maxlength=15 class="noinput" text-center
              no-padding>
            </ion-input>
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-2 class="ChangeOptionColumn" *ngIf="!PhoneNumberEditable">
        <a ion-text (click)="changeNumber()" class="ChangeNumber">{{'CHANGE' | translate}}</a>
      </ion-col>
      <ion-col col-2 class="ChangeOptionColumn" *ngIf="PhoneNumberEditable">
        <a ion-text (click)="doneNumber()" class="ChangeNumber">{{'DONE' | translate}}</a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="SubHeadingGrid">
    <ion-row class="SubHeadingGridRow">
      <ion-col class="SubHeadingGridColumn">
        <ion-row class="SubHeading">
          <p no-margin no-padding>
            {{'OOPSITSEEMSYOURFITNESSCENTREISNOTCONNECTED' | translate}}
            <img style="    margin-bottom: -7px;width: 30px; height: 26px;" src="assets/img/OopsEmoji.png" class="OopsEmoji" />
          </p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="OopsInstructionGrid">
    <ion-row class="OopsInstructionGridRow">
      <ion-col class="OopsInstructionGridColumn">
        <ion-row class="OopsInstruction">
          {{'OOPSINSTRUCTIONTEXT' | translate}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-left class="FormHeadingGrid">
    <ion-row class="FormHeadingGridRow">
      <ion-col class="FormHeadingGridColumn">
        <ion-row justify-content-center align-items-center class="FormHeading">
          <b>{{'PLEASEFILLOUTTHEFORMBELOW' | translate}}</b>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-margin no-padding class="GymNameGrid">
    <ion-row no-margin no-padding class="GymNameGridRow">
      <ion-col no-margin no-padding class="GymNameGridColumn">
        <ion-item no-margin no-padding class="GymNameItem">
          <ion-label class="GymNameLabel">
            <img height="25px" width="25px" src="assets/icon/GymSvg.svg" class="GymNameLabelIcon" />
          </ion-label>
          <ion-input placeholder="{{'ENTERYOURGYMNAME' | translate}}" [(ngModel)]="tenantName" class="GymNameInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid no-margin no-padding class="ClientNameGrid">
    <ion-row no-margin no-padding class="ClientNameGridRow">
      <ion-col no-margin no-padding class="ClientNameGridColumn">
        <ion-item no-margin no-padding class="ClientNameItem">
          <ion-label class="ClientNameLabel">
            <img height="25px" width="25px" src="assets/icon/PersonSvg.svg" class="ClientNameLabelIcon" />
          </ion-label>
          <ion-input placeholder="{{'ENTERYOURNAME' | translate}}" [(ngModel)]="name" class="ClientNameInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid no-margin no-padding class="ClientEmailGrid">
    <ion-row no-margin no-padding class="ClientEmailGridRow">
      <ion-col no-margin no-padding class="ClientEmailGridColumn">
        <ion-item no-margin no-padding class="ClientEmailItem">
          <ion-label class="ClientEmailLabel">
            <img height="25px" width="25px" src="assets/icon/EmailSvg.svg" class="ClientEmailLabelIcon" />
          </ion-label>
          <ion-input placeholder="{{'EMAILID' | translate}}" [(ngModel)]="emailAddress" class="ClientEmailInput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid no-margin no-padding class="LocationGrid">
    <ion-row no-margin no-padding class="LocationGridRow">
      <ion-col col-9 no-margin no-padding class="LocationGridColumn">
        <ion-item no-margin no-padding class="LocationItem">
          <ion-label class="LocationLabel">
            <img height="25px" width="25px" src="assets/icon/LocationSvg.svg" class="LocationLabelIcon" />
          </ion-label>
          <ion-input placeholder="{{'LOCATION' | translate}}" [(ngModel)]="tenantlocation" class="LocationInput"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3 no-margin no-padding class="DetectColumn">
        <ion-item no-margin no-padding class="DetectItem">
          <ion-label no-margin no-padding class="DetectLabel">
            <a ion-text (click)="detectLocation()" class="Detect">{{'DETECT' | translate}}</a>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid class="InformCentreButtonGrid">
    <ion-row class="InformCentreButtonGridRow">
      <ion-col class="InformCentreButtonGridColumn">
        <ion-row justify-content-center align-items-center>
          <button ion-button round full class="InformCentreButton" (click)='goToLoginErrorFeedback()'>{{'INFORMMYFITNESSCENTRE'
            | translate}}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid class="FooterLogoGrid">
    <ion-row class="FooterLogoGridRow">
      <ion-col class="FooterLogoGridColumn">
        <ion-row justify-content-center align-items-center>
          <img src="assets/img/ff-purp-logo.png" class="FooterImage">
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>