page-login-error {

    .HeadingGrid {
        background-color: $welcome_backgroundColor;
    }
 
    .WelcomeText {
        color: $welcome_text_fontColor;
        font-size: $welcome_text_fontSize;
        font-family: $welcome_text_font;
    }

    .Hello {
        font-size: $hello_fontSize;
        font-family: $welcome_text_font;
        font-weight: bold;
    }

    .ChangeOptionColumn {
        margin-top: 20px;
    }

    .ChangeNumber {
        text-decoration: underline;
        text-decoration-color: $change_fontColor;
        color: $change_fontColor;
        font-size: 13px;
    }

    .SubHeading {
        color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: $hello_fontSize;
    } 

    .OopsInstructionGridColumn {
        color: $become_a_member_button;
        font-family: $welcome_text_font;
        font-size: 15px;
    }

    .FormHeading {
        font-family: $welcome_text_font;
        font-size: 15px;
    } 

    .GymNameLabel {
        margin-left: 16px;
       
    }

    .ClientNameLabel {
        margin-left: 16px;
    }

    .ClientEmailLabel {
        margin-left: 16px;
    }

    .LocationLabel {
        margin-left: 16px;
    }

    .text-input-md {
        font-size: 13px;
    }

    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }

    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: $become_a_member_button !important;
        box-shadow: none !important;
    }
    
    .label-md {
        margin-bottom: 0px;
    }

    .Detect {
        margin-top: 16px;
        margin-left: 40px;
        text-decoration: underline;
        text-decoration-color: $change_fontColor;
        color: $change_fontColor;
        font-size: 13px;
    }

    .InformCentreButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        background-color: $welcome_backgroundColor;
    }

    .button.InformCentreButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.InformCentreButton:active {
        background-color: $welcome_backgroundColor;
    }
    
    .noinput {
        border: 1px solid $become_a_member_button;
        height: auto;
        align-content: center;
        font-size: $hello_fontSize;
        .text-input {
            padding: 1px;
            margin: -35px;
            color: $become_a_member_button;
            font-size: $hello_fontSize;
        }
    }

    .item-md.item-block .item-inner {
        padding-right: 0px;
    }

}
