<ion-content padding class="contentpage">
  <ion-grid class="contentgrid">

    <ion-grid class="gridimage">
      <ion-row class="rowimage">
        <ion-col class="colimage">
          <img height="170px" width="100%" src="assets/img/img2.jpg" class="logoimage" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="classgrid">
      <ion-row no-padding no-margin class="rowclass">
        <ion-col class="labelcol">
          <ion-label no-padding no-margin class="label1">{{ 'ARE_YOU_ATTENDING' | translate }} {{classattendance.PurposeName}}
            {{'CLASS?' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="rowtrainericon">
        <ion-col class="coltrainericon">
          <ion-label class="label2">{{'WITH' | translate}} {{classattendance.UserName}}</ion-label>
        </ion-col>
        <ion-col class="Image2">
          <ion-avatar class="avatarimage">
            <img src="assets/img/{{classattendance.UserImage}}" class="trainericon">
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gridlocation">
      <ion-row no-padding no-margin class="rowlocation">
        <ion-col col-1 no-padding no-margin class="collocation">
          <img src="assets/icon/locationblue.svg" class="blueloc">
        </ion-col>
        <ion-col col-10 no-padding no-margin class="collabel">
          <ion-row no-padding no-margin class="rowCapacity">
            <ion-label no-padding no-margin class="labelLocation">{{ 'WHERE' | translate }}</ion-label>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-label no-padding no-margin class="labelloc">{{classattendance.CenterAddress}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gridtimer">
      <ion-row no-padding no-margin class="rowtimer">
        <ion-col col-1 no-padding no-margin class="coltimer">
          <ion-icon name="ios-time" class="icontimer"></ion-icon>
        </ion-col>
        <ion-col col-10 no-padding no-margin>
          <ion-row no-padding no-margin class="rowCapacity">
            <ion-label no-padding no-margin class="labelLocation">{{ 'TIME' | translate }}</ion-label>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-label no-padding no-margin class="lblAvailable">{{classattendance.Date }} - {{classattendance.StartTime}}
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gridbutton">
      <ion-row class="rowButton">
        <ion-col class="colCancel">
          <button ion-button round (click)="gotodash()" class="noButton">{{ 'NO' | translate }}</button>
        </ion-col>
        <ion-col class="colConfirm">
          <button ion-button round (click)="gotodash()" class="yesButton">{{ 'YES' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>