<!-- <ion-header>
  <ion-navbar no-margin padding text-center class="NavigationBar">
      <button ion-button menuToggle icon-only class="MenuToggleButton">
          <ion-icon style="color: #fff" name="menu" class="MenuToggleIcon"></ion-icon>
      </button>
      <ion-title class="Title">Chat</ion-title>
      <ion-buttons right>
        <button ion-button icon-only>
            <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
        </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header> -->
    <ion-content>
  

      <ion-row >

          <ion-navbar no-margin padding text-center style="padding:2px; border-bottom:3px solid #7b4e9a;" class="NavigationBar">
              <button ion-button menuToggle icon-only class="MenuToggleButton">
                  <ion-icon  name="menu" class="MenuToggleIcon"></ion-icon>
              </button>
              <ion-title class="Title">Chat</ion-title>
              <ion-buttons right class="noti">
                <button ion-button icon-only>
                    <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
                </button>
            </ion-buttons>
          </ion-navbar>

      </ion-row>
          <ion-item  no-padding   (click)="gotoChat()"  >
         
                  <img  style="margin-left :8px;"item-start src="assets/icon/new.svg" [ngClass]="true ? 'active' : 'inactive'">
     
              <ion-avatar item-start>
                  <img src="assets/icon/pro-pic.png">
                </ion-avatar>
    
    
            
            <strong class="nm"  no-padding>Cade Mcdowell
    
              <p class="listmsg">That would be Great!...</p>
            </strong>
        
            
            <ion-badge   item-end color="transparent"  class="badgefortime" item-end>8:00pm</ion-badge>
            <ion-badge  class="unreaddbadge" item-end >
              
              <p class="unreaddtxt">4</p>
            
            
            </ion-badge>
       
    
    
          </ion-item>
     
          <ion-item no-padding   *ngFor="let u of listToDisplay">
         
                  <img item-start  style="margin-left :8px;" src="assets/icon/new.svg" [ngClass]="u['userStatus'] ? 'active' : 'inactive'">
     
              <ion-avatar  item-start>
                  <img width="50px" [src]="u['img']">
                </ion-avatar>
    
    
            
            <strong class="unametxt"  no-padding>{{u['userName']}} 
    
              <p style="color:lightgrey">{{u['text']}}...</p>
            </strong>
        
            
            <ion-badge class="badgefortime"   item-end color="transparent"  item-end>8:00pm</ion-badge>
            <ion-badge class="unreaddbadge" *ngIf="u.unread"  item-end >
              
              <p class="unreaddtxt" >{{u.unread}}</p></ion-badge>
       
    
    
          </ion-item>
       
    
    </ion-content>