page-chat-list {

    .active{
        background-color: #71DD6C;
        border-radius: 100%;
        height: 8px;
        margin: 10px 6px 10px 8px;
    }
    .inactive{
        background-color:transparent;
        border-radius: 100%;
        height: 8px;
        margin: 10px 6px 10px 8px;
    }
.noti{
    margin-right:11px;
    margin-top: 7px;
}
    .label-md {
        margin: 0px 0px 0px 0;
    }
    .toolbar-background {
        background-color: #955CBB;
      }

      .Title
      {
          color: #fff;
      }

      .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
    }


    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 28px;
        font-weight: 800;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }
    .MenuToggleIcon
    {
        color: #fff
    }

    .nm
    {
        color:#955CBB;
    }

    .listmsg
    {
        color:lightgrey;
    }

    .unreaddbadge
    {
        font-size:5px ;
        background-color:#c4a2db;
        border-radius:50%;
    }

    .unreaddtxt
    {
        font-size:8px;
        color:white;
        width: 6px; 
        height: 14px; 
        padding-top: 2px;
    }

    .badgefortime
    {
        color:lightgrey;
        font-size:12px
    }

    .unametxt
    {
        color:#955CBB;
    }
}
