page-employee-modal {

    .mainContent 
    {
background-color: $transparent_background;
::-webkit-scrollbar{
    display:none;
    }
    }
    .modal 
    {
       
        overflow: hidden;
        top: 70%;
        height: 30%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


    .Header
    {
        background-color: $header_bcolor;
        padding: 10px;
        height: 40px;
        color: $header_color ;
        position: fixed;
        z-index: 1000;
        width: 100%;
        font-size :15px;
        font-weight: 600;
    }

    .itemDoc
    {
     font-size : 14px;
     margin-left : 15px;
     color: $item_color;
    }
    .iconScan
    {
        margin-left : 10px;
        width: 24px;
        height : 24px;
    }
    .label-md {
        margin: 13px 8px 0px 0;
    }
}
