<ion-content class="mainContent">
   
    <ion-content class="modal" no-padding no-margin>
        <div class="Header">   {{'ATTACH_DOC' | translate}}</div>
        <br>
        <br>
        <ion-list no-padding no-margin class="list1"> 
            <ion-item no-padding no-margin class="listItem">
                <ion-row (click)="cropDOC()">
                    <ion-col col-1>
                        <img src="assets/img/scan.svg" class="iconScan" />
                    </ion-col>
                    <ion-col col-10 class="itemDoc">
                        {{'SCAN_DOC' | translate}}
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item no-padding no-margin>
                <ion-row (click)="fileChoose()" >
                    <ion-col col-1>
                        <img src="assets/img/googledrive.svg" class="iconScan" />
                    </ion-col>
                    <ion-col col-10 class="itemDoc">
                        {{'G_DRIVE' | translate}}
                    </ion-col>
                </ion-row>

            </ion-item>
            <ion-item no-padding no-margin>
                <ion-row  (click)="fileChoose()">
                    <ion-col col-1>
                        <img src="assets/img/gdevice.svg" class="iconScan" />
                    </ion-col>
                    <ion-col col-10 class="itemDoc">
                        {{'DEVICE' | translate}}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-content>