<ion-header no-border>

  <ion-navbar color="purple" text-center class="navbarclass">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu" class="HeaderIcon"></ion-icon>
    </button>
    <ion-title class='titlesclass'>Select Facilty - Date & Time</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid no-padding>

    <ion-row class="colorRoww" no-padding>
      <ion-col col-6 class="segSelected">
      </ion-col>
      <ion-col col-6 class="segUnselected">
      </ion-col>
    </ion-row>

    <ion-row class="txtRow" no-padding>
      <ion-col col-6 class="txtSelected">
        Select Slots
      </ion-col>
      <ion-col col-6 class="txtUnselected">
        Make Payment
      </ion-col>
    </ion-row>

    <div class="crdbg">
      <ion-card no-shadow no-border class="fcard">
        <ion-row class="faciltytype">Facilty Type</ion-row>
        <img class="flogo" src="assets/img/FacilityIcons/{{selectedFacility.FacilityPicture}}">
        <p style="text-align: center; font:12px arial #33b7eb">{{selectedFacility.FacilityName}}</p>
      </ion-card>
    </div>

  </ion-grid>


  <div>
    <p text-start class="dandttxt">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Choose Date and Time</p>

    <ion-row no-padding no-margin>

      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsLeft" (click)="slidePrev()">
          <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-10 no-padding no-margin>
        <ion-slides style="width:100%;" no-padding no-marging>
          <ion-slide text-center style="height:70px" *ngFor="let week of YearArray;let wi = index ">
            <div class="width-slide" no-padding no-marging *ngFor="let item of week; let i=index">
              <span class="selectDatee" (click)="selectDateNew(item)" text-center [style.background-color]='item.isColor'>
                &nbsp;{{item.date| amDateFormat: 'D'}}&nbsp;
              </span>
              <br>
              <br>
              <span [style.color]='item.textColor' style="margin-top:6px;">
                {{item.date | amDateFormat: 'dd'}}
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsRight" (click)="slideNext()">
          <ion-icon name="md-arrow-dropright" class="iconArrowRight"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </div>

</ion-header>

<ion-content>

  <ion-grid class="MainGrid">
    <!-- <ion-list [virtualScroll]="halfSlots" [approxItemHeight]="'500px'" class="virtualList" bufferRatio="9" no-padding>
      <ion-item no-lines *virtualItem="let h; let i = index" class="virtualItem" no-padding>
        <ion-row class="ButtonRow">
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 0)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 0)">
              &nbsp; {{ slotInterval(3*i + 0) }} &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 1)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 1)">
              &nbsp; {{ slotInterval(3*i + 1) }} &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 2)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 2)">
              &nbsp; {{ slotInterval(3*i + 2) }} &nbsp;
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list> -->









    <ion-list  no-padding>
      <ion-item no-lines *ngFor="let h of arrayForInfinite; let i = index" class="vItem" no-padding>
        <ion-row class="ButtonRow">
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 0)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 0)">
              &nbsp; {{ slotInterval(3*i + 0) }}  &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 1)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 1)">
              &nbsp; {{ slotInterval(3*i + 1) }} &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear [ngClass]="[slots.slots0[(3*i + 2)].status==true ? 'slots' : 'SlotButtons']"
              (click)="gotoRepeat(3*i + 2)">
              &nbsp; {{ slotInterval(3*i + 2) }} &nbsp;
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="showInfiniteScroll" >
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> 

  </ion-grid>

</ion-content>

<ion-footer class="foot" no-padding no-border>
  <ion-grid no-padding no-border>
    <ion-row class="footrow" no-padding>
      <ion-col class="cartitems" col-4>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-3>
              <div class="cartlogo">
                <ion-icon style="margin-left: 20%;" name="md-cart"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-7>
              <ion-row class="chkoutinnerrow1" no-padding>
                1 {{'ITEMSINCART' | translate}}
              </ion-row>
              <ion-row class="chkoutinnerrow2" no-padding>
                ₹ 5000.00
              </ion-row>
              <ion-row class="chkoutinnerrow" no-padding>
                {{'PLUSTAXES' | translate}}
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col class="viewcart" col-8 (click)="gotoCart()">
        <div class="vtxt">{{'VIEWCART' | translate}}&nbsp;&nbsp;&nbsp;
        </div>
        <div class="arrowicon">
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>