page-facility-date-time {
   
    .titlesclass{
        font-family: 'Champagne & Limousines' !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
        background-color: $welcome_backgroundColor;
        }


  .colorRoww
  {
    height: 4px;
    margin-top: 0px;
  }


  .segSelected
  {
    
    background-color: #00BFC1;
  }

  .segUnselected
  {
    background-color:  rgb(195, 156, 235);
  }

  .txtRow
  {
    padding-top: 5px;
    background-color: #8661AA;
    height: 25px;
  }

  .txtSelected
  {
    color: white;
    text-align: center;
    font : 11px solid #fff
  }

  .txtUnselected
  {
    color: white;
    text-align: center;
    opacity: 0.4;
  }
  .card-md p {
    color: #33b7eb;
  }

.faciltytype{
  margin-top: 10px;
  margin-inline-start: 6px;
  font-weight: 600;
 // font:12px arial #282828 
}

.fcard
{
    height: 140px;
    width: 162px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    align-content: center;
}

.flogo
{
  margin-top: 20px;
  height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.crdbg
{
    background-color: #8661AA;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    height: 50px;
}

.arrows {
  background-color: transparent;

  &:hover {
      background-color:  transparent;
  }

  color: grey;

  &:focus {     
      background-color:  transparent; 
  }

  &:active {
      background-color:  transparent; 
  }

  &:visited {
      background-color:  transparent; 
  }

  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;

}


.arrowsLeft{
  display: inline-block;
  float: left;

}


.arrowsRight{
  display: inline-block;
  float: right;

}

.MainGrid {
  align-content: center;
  margin-left: 8px;
  height: 200px;
}

.width-slide {

  display:inline-block;
  
  width: 13.25%;
  height: 40px;
  // font-size: 1.2em;
  // line-height: 42px;
 text-align: center;
  margin-bottom: 10px;
  //@at-rootwidth: 100px;
  margin-right: 0px;
  //max-width: 15.285%;
  //max-height:42px;
  border-radius: 50%;
  font-size: 12px;
}

.selectDatee
{
  
  border-radius: 50%;
  padding: 4px;
  padding-top: 5px;
  text-align: center !important;
  padding-bottom: 6px;
}

.dandttxt
{
  color: #E78E39;
  font-size: 18px;
  margin-top: 120px;
}


.SlotButtons {
  font-size: 11px;
  background-color: #f4f4f4;
  color: #666666;
  border-radius: 4px;
  border-width: 1px;
  border-color: #e7e7e7;
  border-style: solid;
  width: 78px;
  height: 27px;
}

.button.SlotButtons:hover {
  background-color: #99DDE8;
  color: #FFFFFF;
}

.slots {
  font-size: 11px;
  background-color: #99DDE8;
  color: #FFFFFF;
  border-radius: 4px;
  border-width: 1px;
  border-color: #e7e7e7;
  border-style: solid;
  width: 78px;
  height: 27px;
}

.vItem {
  height: 55px;
}


.virtualList{
  height: 20px;
}

.foot {
  height: 50px;
}

.footrow {
  height: 50px;
}

.cartitems {
  background-color: #43BA5F;
}

.cartlogo {
  margin-top: 16px;
  margin-inline-start: 5px;
  font-size: 17px;
  color: $welcome_text_fontColor;
}

.chkoutinnerrow1 {
  margin-top: 8px;
  font-size: 9px;
  color: $welcome_text_fontColor;
}

.chkoutinnerrow2 {
  font-size: 11px;
  color: $welcome_text_fontColor;
}

.chkoutinnerrow {
  font-size: 10px;
  color: $welcome_text_fontColor;
}

.viewcart {
  background-color: #3BAA59;
  color: $welcome_text_fontColor;
}

.vtxt {
 margin-top: 16px;
 margin-left: 60%;
}

.arrowicon {
  position: absolute;
  margin-top: -20px;
  margin-left: 90%;
  font-size: 22px;
}



}
