page-cart-items {



    .countdown {
        position: absolute;
        height: 40px;
        top: 10px;
        right: 141px;
        width: 40px;
        text-align: center;
        }
        
        .countdown-number {
        color: #4dabf5;
        font-size: bold;
        display: inline-block;
        line-height: 40px;
        }
        .secs
        {
            position: absolute;
            top: 25px;
            right: 112px;
            font-size: 15px;
            color : white;
            font-weight: 400;
            font-family: 'Champagne & Limousines' !important;
        }
        .svgclass {
        position: absolute;
        top: -1px;
        right: 0;
        width: 40px;
        height: 40px;
        transform: rotateY(-180deg) rotateZ(-90deg);
        }
        
        .circleclass {
        stroke-dasharray: 113px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 3px;
        stroke: #4dabf5
        ;
        fill: none;
        animation: countdown 100s linear infinite forwards;
        }
        
        @keyframes countdown {
        from {
        stroke-dashoffset: 0px;
          }
        to {
        stroke-dashoffset: 113px;
          }
        }
        

    .mainRow
    {
        margin-top : 16px;
        padding-bottom: 7px;
    }
    .itemsList
    {
        margin-top:5px;
    }
    .title
    {
        margin-top : 10px;
        margin-right: 50px;
        font-family: 'Champagne & Limousines' !important;
    }
    
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        height: 25px;
    }
    .avatarC
    {
        background-color: $avatar_background_cartpage;
        border-radius: 100%;
        height: 25px;
        margin-inline-start :10px;
        padding: 5px;
        width: 25px;
    }
    .sessionCol
    {
        font-size: 11px;
    }
    .offerappliedFlow
    {
        margin-top:10px;
        border-radius:10px;
        color : white;
        padding-left:15px;
        padding-top:2px;
        padding-bottom: 2px;
        background-color: rgb(255, 153, 0)
    }
    .startsOn1
    {
        font-size: 11px;
        margin-top:5px;
        color : $subfont_cartpage;
    }
    .startsOn
    {
        font-size: 12px;
        margin-top:5px;
        color : $subfont_cartpage;
        font-weight: 400;
        .startsLabel
        {
            position:absolute; 
            top:22px;
            font-size: 10px;
            display: flex;
            justify-content: flex-start;
            margin-inline-start:52px;
            text-decoration: underline;
            text-decoration-style:dashed;
        }
    }

    .itemPrice
    {
        position:absolute; 
        right:5px;
        font-size: 12px;
        margin-top:0px;
        
    }
    .startsButn
    {
        font-size: 10px;
        width: 20px;
        text-transform: none
    }
    .closeIcon
    {
     font-size: 1em;
     top : 20px;
     position:absolute; 
     right:15px;
    }
   .closeIcon1
   {
    font-size: 1.3em;
    top : 20px;
    position:absolute; 
    right:5px;
   }
  .item-md {
   padding-left: 0px; }
  
   .minusButton
   {
       margin-top:3px;
   }

   .plusButton
   {
    margin-top:3px;
   }
    .inputbox
    {
        margin-top : -5px;
        width: 20px;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: $item_border_color;
    
        border-left: solid;
        border-left-width: 1px;
        border-left-color: $item_border_color;
    
        border-right: solid;
        border-right-width: 1px;
        border-right-color: $item_border_color;
    
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: $item_border_color;



   
    }

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0 transparent;
        box-shadow: inset 0 -1px 0 0 transparent
    }

    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]
    {
        margin: 0px 8px 9px 0;
    }

    .Minus
    {
        width: 0px;
    }

    .button-md 
    {
    height: 1rem;
    width: 1rem;
    }

    .cancel
    {
        border-radius: 100%;
        right:0px;
    }

    ion-badge {
        padding: 2px 4px;}

    .label-md {
    margin: 5px 0px 0px 0;
    }


    
    .carttotal
    {
        margin: 0%;
        padding: 0%;
        align-content: center;
        align-items: center;
       background-image:url(../assets/img/carttotal.png) ;
       background-size: cover;
       height: 50px; 
    }



    .item-md.item-block .item-inner {
    padding-right: 0px;
    }

    .saving
    {
    color: $welcome_text_fontColor;
    font-size: 13px;
    .labelTotal
    {
       //position:absolute; 
       display: flex;
       justify-content: flex-end;
       margin-inline-end:5px;

       margin-bottom:5px;
      //  right:5px;
    }

    }

  
    .billingSummary
    {
        color: black;
        font-weight: bold;
        font-size: 14px;
        margin-inline-start:10px;
        margin-bottom:8px;
    }

    .itemDetails
    {
        margin-top :8px;
        color : $billing_item_color;
        font-size: 13px;
        margin-inline-start:10px;
        font-weight: 400;
    }

    .toPay
    {
        color : black;
        font-size: 13px;
        font-weight: 800;
        margin-top : 0px;
        margin-bottom: 5px;
        margin-inline-start:10px;
    }

    .label-md {
        margin: 0px 0px 0px 0;
    }

    .discounts
    {
        margin-top :8px;
        color : $discount_font;
        font-size: 13px;
        margin-inline-start:10px;
        font-weight: 600;;
    }

    .list-header-md {
        margin-bottom: 0px; 
    }

    .billinDetails{
        margin-bottom: 5px;
    }
    .gst
    {
        margin-top :6px;
        color : $billing_item_color;
        margin-inline-start:10px;

        font-size: 13px;
        font-weight: 400;  
        margin-bottom: 10px;
    }

    .btncol1
    {
        background-color:$button_itemsincart_bcolor;
        color:$welcome_text_fontColor;
        font-size: 13px;
    
    }
    .btncol2
    {
        background-color: #3BAA59;
        color:$welcome_text_fontColor;
        font-size: 14px;
    }
    .btnrow
    {
        height: 55px;
    
        vertical-align: bottom;
    }
    .proceed
    {
       // position:absolute; 
        margin-top:16px; 
        display:flex;
        justify-content: flex-end;

        margin-inline-end:5px;
    }
    .cartItemsProceed
    {
        position:absolute; 
        display: flex;
        margin-inline-start : 5px;
        top:16px; 
        //left:5px;
    }
    .cartItemsProceed1
    {
        position:absolute; 
        top:16px; 
        display: flex;
        margin-inline-start : 5px;
        margin-top :15px
    }
//////////// yoU MAY ALSO LIKE
    .backgroundGrey1{
        background-color: $relateditems_backgroud;
    }
////
.referraluser
{  height: 25px;
   
    text-align: center;
    align-content: center;

}

.refUserCol
{
    padding-top: 30px;
    padding-left: 25px;
}
.floatinglabel
{
    font-size:12px;
}
.refItem
{
    border-bottom: grey !important;
}

    .backgroundGrey
    {
        height :10px;
        background-color: $relateditems_backgroud;
    }
///// COUPONS

    .verticalstrip
    {
        border-inline-start: solid 2px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0%;
        margin: 0%;
       // border-left:
    }
    .iconItem1
    {
        margin-inline-start:5px;
        height: 45px;;
    }

    .iconItem2
    {
        height: 35px;
        margin-top:14px;
        text-align: center;
        align-content: center;
        margin-bottom:auto;
    }
    .offerApplied
    {
        font-size:12px;
        white-space:normal;
    }
    .couponAppliedTitle
    {
        margin-top:0px;
    }
    .couponAppliedTitle1
    {
        margin-top:0px;
        white-space:normal;

    }
    .offerAppliedRow
    {
        margin-top:0px;
        margin-inline-start: 5px;
        padding: 5px;
    }

    .text-input-md 
    {
    margin: 0px 0px;
    width: 100%;
    }
    .itemlabel1
    {
        margin-inline-start:10px;
        font-size: 14px;
      //  padding-top:20px;
    }
    .itemlabel2
    {
        margin-bottom: 3px;
        margin-inline-start:10px;
        font-size: 18px;
    }

    .btnClass
    {
        margin-top : 5px;
        align-content: center;
        element.style {
            transform: translate3d(-3px, -59px, 0px) scale(1);
             height: 0px; 
            width: 0px; 
            opacity: 0;
            transition: transform 406ms ease 0s, opacity 284ms ease 122ms;
        }

    }
    .arrowClass
    {
        height: 15px;
        margin-top:10px;
        text-align: center;
        align-content: center;
        margin-bottom:auto;
    }

    .item1
    {
    margin-top : 10px;
    margin-inline-start:15px;
    margin-inline-end: 10px;

    border-top: solid;
    border-top-width: 1px;
    border-top-color: $item_border_color ;

    border-left: solid;
    border-left-width: 1px;
    border-left-color: $item_border_color ;

    border-right: solid;
    border-right-width: 1px;
    border-right-color: $item_border_color ;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $item_border_color ;

    border-radius: 3px;

    padding: 0%;
    
    -webkit-box-shadow:0px 3px 3px $item_border_color ;
    -moz-box-shadow:0px 3px 3px $item_border_color ;
    box-shadow:0px 3px 3px $item_border_color ;
    }
////////////////////////////SLIDES
    .slide{
        font-size: 12px;
    }

.slide1{

    height: 60px;
    width: 65px;
    margin-inline-start:10px;

    border-top: solid;
    border-top-width: 1px;
    border-top-color: $item_border_color ;
 
    border-left: solid;
    border-left-width: 1px;
    border-left-color: $item_border_color ;
 
    border-right: solid;
    border-right-width: 1px;
    border-right-color: $item_border_color ;
 
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $item_border_color ;

    font-size: 12px;
 
}
.relatedLikes
{
    color : $billing_item_color;
    margin-inline-start:10px;
    font-size : 12px;
    font-weight: bold;
}

.imgIcons
{
    height : 20px;
}

.relatedPrice{
    font-size:12px;
}
.addRelatedItem
{
    height: 15px;
    width:15px;
    background-color: $addbutton_relateditems;
    position: fixed;
    color: white;
   
}

.slide-zoom {
    display: block;
     width: 70px;
}
.notification
    {
        height: 38px;
        float: right;
    }
    .totalbill1
    {
        font-size: 13px;
    }



.contentClass
{
  .item-md {
        padding-left: 0px;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    *:focus {
        outline: none;
    }
}


    //zig zag border
    .container {
        position: relative;
        padding: 8px 8px 32px 8px;
        background: #dddccf;
    }
    
    .container:after {
        background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x, ;
        background-size: 32px 32px;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 32px;
    }

    //FACILITY

    .card {
        box-shadow: #000;
        height: 110px;
        width: 110px;
        text-align: center;
        align-content: center;
        border-radius: 10px;
     }
  
     .Badge {
        background-color: #8EDBE6;
        color: white; 
        padding-top: 4px; 
        padding-bottom: 4px;
     }
  
     .BadgeColumn {
         padding-left: 75px;
     }

     .Tennis {
        position: absolute;
        color: #3DB9EC;
        font-size: 12px;
        font-weight: bold;
        width: 6.5em; 
        text-align: center; 
        margin-bottom: 20px;
    }



    //FREEZE

    .Avatar {
        background-color: #d3d1d1;
        height: 50px;
        width: 50px;
        border-radius:50%;
    }
 
    .Image {
        padding-left: 10px;
        padding-top: 10px;
    }
 
    .FreezeFee {
        padding-top: 15px;
        font-size: 14px;
    }
    .FreezeHeading {
        color: #8EDBE6;
        font-size: 13px;
    }
    
    .FreezeButton {
     background-color: #ccc9c9;
     font-weight: 200; 
     height: 24px;
     width: 68px;
     margin-right: 20px;
     text-transform: none;
 }
 .avatarOfFreeze
 {
 }
 .avatarRow
 {
     margin-top : 10px;
 }
.button.FreezeButton:hover {
    background-color: #ccc9c9;
}
  
.button.FreezeButton:active {
    background-color: #ccc9c9;
}
.freezefromrow
{
    padding-left:10px;
    margin-top:10px;
}
.FreezeDate {
    padding-left: 15px;
    padding-top: 0px;
}

.FreezeHeading1
{
    font-size:25px;
    color: #8EDBE6;

}

.resumes
{
    margin-left : 16px;
    font-size:11px;
    color : darkgrey
}


.white {
    position: absolute;
    z-index: 2;
    width: 100%;;
    height:30px;
    outline:0px solid red;
    background: linear-gradient(-45deg, transparent 75%, #fff 75%),
                linear-gradient( 45deg, transparent 75%, #fff 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:30px 30px, 30px 30px;
}

.black {
    position: absolute;
    z-index: 1;
    width: 100%;
    height:30px;
    margin-top: 5px;
    border-top: 0px solid #000;
    background: linear-gradient(-45deg, transparent 75%, #000 75%),
                linear-gradient( 45deg, transparent 75%, #000 75%) 0 50%;
    background-repeat: repeat-x;
    background-size:30px 30px, 30px 30px;
}
.border{
    position: absolute;
    z-index: 0;
    width: 100%;
    height:2px;
    background-color: #000;
}




}