<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center class="title"> {{'CART' | translate}}
      <!-- <img class="notification" src="assets/img/notibell.svg" /> -->
    </ion-title>
    <div class="countdown" *ngIf="facilityFlowCart || appFlowCart">
      <div class="countdown-number">{{countdownNumberEl}}</div>
      <svg class="svgclass">
        <circle r="18" cx="20" cy="20" class="circleclass"></circle>
      </svg>
    </div>
    <label class="secs" *ngIf="facilityFlowCart || appFlowCart">Secs</label>
    <ion-buttons right>
      <button ion-button icon-only>
        <img class="notification" src="assets/img/notibell.svg"> </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding no-margin class="contentClass">

  <ion-grid *ngFor="let CI of cartAddedItem;let i=index">
    <!-- <<<<<<<<<<<<<<<<<OFFER FLOW>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='offer'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row class="mainRow" no-margin>
            <ion-col col-2 class="avatarCol" no-margin no-padding>
              <ion-avatar class="avatarC">
                <img src="assets/img/PT/{{CI.img}}" class="img">
              </ion-avatar>
              <div>
              </div>
            </ion-col>
            <ion-col col-4 class="sessionCol" no-margin no-padding>
              <ion-row>
                <label class="labelTitle">{{CI.purpose}}</label>
              </ion-row>
              <ion-row class="startsOn" (click)="startsOn()">
                <b>{{'START_ON' | translate}}</b>
                <label class="startsLabel">15-Oct-2018</label>
              </ion-row>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
              <button ion-button clear class="minusButton">-</button>
            </ion-col>

            <ion-col col-1 no-margin no-padding>
              <ion-item no-lines>
                <ion-input type="number" [(ngModel)]="CI.quantity" class="inputbox"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
              <button ion-button clear class="plusButton">+</button>
            </ion-col>

            <ion-col col-3 class="priceCol" no-margin no-padding (click)="deleteItem(i)">
              <ion-row>
                <label class="itemPrice"> INR {{CI.quantity * CI.amount}}</label>
              </ion-row>
              <ion-row>
                <ion-icon name="close-circle" color="danger" class="closeIcon"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <!-- ///OFFER FLOW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <!-- <<<<<<<<<<<<<<<<<<<<<<< buy membership >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='buymembership'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row class="mainRow" no-margin>
            <ion-col col-2 class="avatarCol" no-margin no-padding>
              <ion-avatar class="avatarC">
                <!-- <img src="assets/img/PT/gm.svg" class="img"> -->
                <img src="" class="img">
              </ion-avatar>
              <div>
              </div>
            </ion-col>
            <ion-col col-4 class="sessionCol" no-margin no-padding>
              <ion-row>
                <!-- <label class="labelTitle">Nutrition 10 Sess..</label> -->
                <label class="labelTitle">{{CI.purposeName}}</label>
              </ion-row>
              <ion-row class="startsOn" (click)="startsOn()">
                <b>{{'START_ON' | translate}}</b>
                <label class="startsLabel">15-Oct-2018</label>
              </ion-row>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
              <button ion-button clear class="minusButton">-</button>
            </ion-col>

            <ion-col col-1 no-margin no-padding>
              <ion-item no-lines>
                <ion-input type="number" [(ngModel)]="CI.quantity" class="inputbox"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
              <button ion-button clear class="plusButton">+</button>
            </ion-col>

            <ion-col col-3 class="priceCol" no-margin no-padding (click)="deleteItem(i)">
              <ion-row>
                <label class="itemPrice">INR {{CI.quantity * CI.membershipAmount}}</label>
              </ion-row>
              <ion-row>
                <ion-icon name="close-circle" color="danger" class="closeIcon"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!--   <<<<<<<<<<<<<<<<<<<<<<<<<buy membership end >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <!-- <<<<<<<<<<<<<<<<<<My membership>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- UPGRADE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- upgradecontract -->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='upgradeContract'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row class="mainRow" no-margin>
            <ion-col col-2 class="avatarCol" no-margin no-padding>
              <ion-avatar class="avatarC">
                <img src="" class="img">
              </ion-avatar>
            </ion-col>

            <ion-col col-4 class="sessionCol" no-margin no-padding>
              <ion-row>
                <label class="labelTitle">{{CI.contractName}}</label>
              </ion-row>
              <ion-row class="startsOn1">
                Upgraded from {{CI.startDate}}
              </ion-row>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
              <button ion-button clear class="minusButton">-</button>
            </ion-col>

            <ion-col col-1 no-margin no-padding>
              <ion-item no-lines>
                <ion-input [(ngModel)]="CI.quantity" class="inputbox"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
              <button ion-button clear class="plusButton">+</button>
            </ion-col>

            <ion-col col-3 class="priceCol" no-margin no-padding>
              <ion-row>
                <label class="itemPrice"> {{CI.quantity * CI.upgradeAmount}} INR </label>
              </ion-row>
              <ion-row>
                <ion-icon name="close-circle" color="danger" class="closeIcon" (click)="deleteItem(i)"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- upgradeFrozen -->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='upgradeFrozen'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row class="mainRow" no-margin>
            <ion-col col-2 class="avatarCol" no-margin no-padding>
              <ion-avatar class="avatarC">
                <img src="assets/img/PT/{{CI.frozenicon}}" class="img">
              </ion-avatar>
            </ion-col>
            <ion-col col-4 class="sessionCol" no-margin no-padding>
              <ion-row>
                <label class="labelTitle">{{CI.purposedescription}}</label>
              </ion-row>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
              <button ion-button clear class="minusButton">-</button>
            </ion-col>

            <ion-col col-1 no-margin no-padding>
              <ion-item no-lines>
                <ion-input [(ngModel)]="CI.quantity" class="inputbox"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
              <button ion-button clear class="plusButton">+</button>
            </ion-col>

            <ion-col col-3 class="priceCol" no-margin no-padding>
              <ion-row>
                <label class="itemPrice"> {{CI.quantity * CI.totalCost}} INR </label>
              </ion-row>
              <ion-row>
                <ion-icon name="close-circle" color="danger" class="closeIcon" (click)="deleteItem(i)"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>


    <!--END OF UPGRADE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->


    <!-- RENEW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   -->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type == 'renewFrozen'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row class="mainRow" no-margin>
            <ion-col col-2 class="avatarCol" no-margin no-padding>
              <ion-avatar class="avatarC">
                <img src="assets/img/PT/{{CI.frozenicon}}" class="img">
              </ion-avatar>
              <div>
              </div>
            </ion-col>
            <ion-col col-4 class="sessionCol" no-margin no-padding>
              <ion-row>
                <label class="labelTitle">{{CI.purposedescription}}</label>
              </ion-row>
              <!-- <ion-row class="startsOn" (click)="startsOn()">
                <b>{{'START_ON' | translate}}</b>
                <label class="startsLabel">15-Oct-2018</label>
              </ion-row> -->
              <ion-row class="startsOn1">
                Renewed from
              </ion-row>
              <!-- <ion-row class="startsOn1">
                Gym Floor 1M
              </ion-row> -->
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
              <button ion-button clear class="minusButton">-</button>
            </ion-col>

            <ion-col col-1 no-margin no-padding>
              <ion-item text-center no-lines>
                <ion-input type="number" [(ngModel)]="CI.quantity" class="inputbox"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
              <button ion-button clear class="plusButton">+</button>
            </ion-col>

            <ion-col col-3 class="priceCol" no-margin no-padding>
              <ion-row>
                <label class="itemPrice">{{CI.quantity * CI.totalCost}} INR</label>
                <!-- INR 5,000 -->
              </ion-row>
              <ion-row>
                <ion-icon name="close-circle" color="danger" class="closeIcon" (click)="deleteItem(i)"></ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <!-- END OF RENEW>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- FREEZE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type == 'freeze' ">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">

          <ion-row class="avatarRow">
            <ion-col col-1></ion-col>
            <ion-col col-2 class="avatarOfFreeze">
              <ion-avatar class="avatarC">
                <!-- <img src="assets/img/PT/gm.svg" class="img"> -->
                <img src="" class="img">
              </ion-avatar>
            </ion-col>
            <ion-col col-9>
              <ion-row class="FreezeFee">
                FREEZE FEE ({{CI.freezepurposeName}})
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="freezefromrow">
            <ion-col col-4 padding-left>
              <a ion-text class="FreezeHeading">FREEZE FROM</a>
              <br>
              <ion-row>
                <ion-col col-2 no-margin>
                  <ion-row no-margin>
                    <!-- <b class="FreezeHeading1">{{freezeDetails.freezefromDate | amDateFormat: 'DD' }}</b> -->
                  </ion-row>
                </ion-col>
                <ion-col col-5 class="resumes">
                  <ion-row>
                    <!-- <b>{{freezeDetails.freezefromDate | amDateFormat: 'MMM YYYY' }}</b> -->
                  </ion-row>
                  <ion-row>
                    <!-- {{freezeDetails.freezefromDate | amDateFormat: 'dddd' }} -->
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col col-4 no-padding>
              <ion-row justify-content-center align-items-center padding-top>
                <button small round ion-button class="FreezeButton">{{CI.freezedurationinDays}} Days</button>
              </ion-row>
            </ion-col>

            <ion-col col-4 padding-left>
              <a ion-text class="FreezeHeading">RESUMES ON</a>
              <ion-row>
                <ion-col col-2>
                  <ion-row>
                    <!-- <b class="FreezeHeading1">{{freezeDetails.freezetoDate | amDateFormat: 'DD' }}</b> -->
                  </ion-row>
                </ion-col>
                <ion-col col-5 class="resumes">
                  <ion-row>
                    <!-- <b>{{freezeDetails.freezetoDate | amDateFormat: 'MMM YYYY' }}</b> -->
                  </ion-row>
                  <ion-row>
                    <!-- {{freezeDetails.freezetoDate | amDateFormat: 'dddd' }} -->
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <!-- END OF FREEZE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<My membership END>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


<!-- Book an appointment -->

<ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='apponitment'">
  <ion-item class="list1">
    <ion-grid no-margin no-padding class="ItemGrid">
      <ion-row>
        <ion-col col-4>
          <ion-card class="card">
            <ion-card-content class="CardContent">
              <!-- <img height="80px" width="50px" src="assets/img/tennis-icon.png"> -->
              <img height="80px" width="50px" src="assets/img/PT/{{CI.purposelogo}}">
              <div class="Tennis">
                {{CI.purposename}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-8 padding-top>
          <ion-row padding-top>
            <ion-col col-1>
              <ion-icon name="ios-clock-outline"></ion-icon>
            </ion-col>
            <ion-col col-7>
              <ion-row>
                {{CI.date}}
              </ion-row>
              <ion-row><ion-col>
                  <ion-badge class="Badge">
                    07:00 - 09:00
                    
                  </ion-badge>
                </ion-col>
                
                <!-- <ion-col col-3 class="BadgeColumn">
                  <ion-badge class="Badge">
                    07:00 - 09:00
                  </ion-badge>
                </ion-col> -->
              </ion-row>
              <!-- <ion-row>
                <ion-col col-3>
                  <ion-badge class="Badge">
                    07:00 - 09:00
                  </ion-badge>
                </ion-col>
              </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<!--  end of  Book an appointment -->


    <!-- <<<<<<<<<<<<<<<<<<<<<<< BOOK FACILITY PAGE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <ion-list class="listClass" no-padding no-margin *ngIf="CI.type=='facility'">
      <ion-item class="list1">
        <ion-grid no-margin no-padding class="ItemGrid">
          <ion-row>
            <ion-col col-4>
              <ion-card class="card">
                <ion-card-content class="CardContent">
                  <!-- <img height="80px" width="50px" src="assets/img/tennis-icon.png"> -->
                  <img height="80px" width="50px" src="assets/img/FacilityIcons/{{CI.purposelogo}}">
                  <div class="Tennis">
                    <!-- Tennis -->
                    {{CI.purposeName}}
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-8 padding-top>
              <ion-row padding-top>
                <ion-col col-1>
                  <ion-icon name="ios-clock-outline"></ion-icon>
                </ion-col>
                <ion-col col-7>
                  <ion-row>
                    {{CI.bookdate}}
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 *ngFor="let slot of CI.selectedSlots">
                      <ion-badge class="Badge">
                        <!-- 07:00 - 09:00 -->
                        {{slot}}
                      </ion-badge>
                    </ion-col>
                    <!-- <ion-col col-3 class="BadgeColumn">
                      <ion-badge class="Badge">
                        07:00 - 09:00
                      </ion-badge>
                    </ion-col> -->
                  </ion-row>
                  <!-- <ion-row>
                    <ion-col col-3>
                      <ion-badge class="Badge">
                        07:00 - 09:00
                      </ion-badge>
                    </ion-col>
                  </ion-row> -->
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <!--  <<<<<<<<<<<<<<<<<<<<<<<END OF FACILITY >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


    <!-- BOOK AND BUY CLASSES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <!-- <ion-list class="listClass" no-padding no-margin> -->

    <ion-item class="list1" *ngIf="CI.type=='buyclass'">
      <ion-grid no-margin no-padding class="ItemGrid">
        <ion-row class="mainRow" no-margin>
          <ion-col col-2 class="avatarCol" no-margin no-padding>
            <ion-avatar class="avatarC">
              <!-- <img src="assets/img/PT/{{CD.PurposeLogo}}" class="img"> -->
              <img src="assets/img/PT/{{CI.purposeLogo}}" class="img">
            </ion-avatar>
            <div>
            </div>
          </ion-col>
          <ion-col col-4 class="sessionCol" no-margin no-padding>
            <ion-row>
              <label class="labelTitle">{{CI.purposeSessionsNumber}}</label>
            </ion-row>
            <ion-row class="startsOn" (click)="startsOn()">
              <b>{{'START_ON' | translate}}</b>
              <label class="startsLabel">15-Oct-2018</label>
            </ion-row>
            <!-- <ion-row class="startsOn1">
              Upgraded from
            </ion-row> -->
            <!-- <ion-row class="startsOn1">
                  Gym Floor 1M
                </ion-row> -->
          </ion-col>

          <!-- <ion-col col-1 no-margin no-padding (click)="minusbutton1(i)">
            <button ion-button clear class="minusButton">-</button>
          </ion-col> -->

          <!-- <ion-col col-1 no-margin no-padding>
            <ion-item text-center no-lines>
              <ion-input text-center type="number" [(ngModel)]="Quantity[i]" class="inputbox"></ion-input>
            </ion-item>
          </ion-col> -->

          <!-- <ion-col col-1 no-margin no-padding (click)="plusButton1(i)">
            <button ion-button clear class="plusButton">+</button>
          </ion-col> -->

          <ion-col col-6 class="priceCol" no-margin no-padding (click)="deleteItem(i)">
            <ion-row>
              <!-- <label class="itemPrice">{{Quantity[i] * 5000}} INR </label> -->
              <label class="itemPrice">{{CI.purposeSessionCost}} INR </label>
            </ion-row>
            <ion-row (click)="deleteItem(i)">
              <ion-icon name="close-circle" color="danger" class="closeIcon"></ion-icon>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <!--  END BOOK AND BUY CLASSES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <!-- EDITING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <ion-item class="list1" *ngIf="CI.type=='RelatedItem'">
      <ion-grid no-margin no-padding class="ItemGrid">
        <ion-row class="mainRow" no-margin>
          <ion-col col-2 class="avatarCol" no-margin no-padding>
            <ion-avatar class="avatarC">
              <img src="assets/img/PT/{{CI.ProductLogoPath}}" class="img">
            </ion-avatar>
            <div>
            </div>
          </ion-col>
          <ion-col col-4 class="sessionCol" no-margin no-padding>
            <ion-row>
              <label class="labelTitle">{{CI.ProductName}}</label>
            </ion-row>
            <ion-row class="startsOn" (click)="startsOn()">
              <b>{{'START_ON' | translate}}</b>
              <label class="startsLabel">{{CI.ProductStartDate | amDateFormat : 'Do MMM YYYY'}}</label>
            </ion-row>
          </ion-col>

          <ion-col col-1 no-margin no-padding (click)="minusITEM(i)">
            <button ion-button clear class="minusButton">-</button>
          </ion-col>

          <ion-col col-1 no-margin no-padding>
            <ion-item no-lines>
              <ion-input type="number" class="inputbox" [(ngModel)]="myArray[i]"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col col-1 no-margin no-padding (click)="addITEM(i)">
            <button ion-button clear class="plusButton">+</button>
          </ion-col>

          <ion-col col-3 class="priceCol" no-margin no-padding (click)="deleteItem(i)">
            <ion-row>
              <label class="itemPrice">{{ myArray[i] * CI.ProductPrice | currency:'INR' }}</label>
            </ion-row>
            <ion-row>
              <ion-icon name="close-circle" color="danger" class="closeIcon"></ion-icon>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- END OF EDITING>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->



  </ion-grid>


  <!-- EDITING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
  <ion-item *ngFor="let items of localRelatedArray; let i = index" class="list1">
    <ion-grid no-margin no-padding class="ItemGrid" *ngIf="addRelatedBoolean">
      <ion-row class="mainRow" no-margin>
        <ion-col col-2 class="avatarCol" no-margin no-padding>
          <ion-avatar class="avatarC">
            <img src="assets/img/PT/{{items.ProductLogoPath}}" class="img">
          </ion-avatar>
          <div>
          </div>
        </ion-col>
        <ion-col col-4 class="sessionCol" no-margin no-padding>
          <ion-row>
            <label class="labelTitle">{{items.ProductName}}</label>
          </ion-row>
          <ion-row class="startsOn" (click)="startsOn()">
            <b>{{'START_ON' | translate}}</b>
            <label class="startsLabel">{{items.ProductStartDate | amDateFormat : 'Do MMM YYYY'}}</label>
          </ion-row>
        </ion-col>

        <ion-col col-1 no-margin no-padding (click)="minusITEM(i)">
          <button ion-button clear class="minusButton">-</button>
        </ion-col>

        <ion-col col-1 no-margin no-padding>
          <ion-item no-lines>
            <ion-input type="number" class="inputbox" [(ngModel)]="myArray[i]"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-1 no-margin no-padding (click)="addITEM(i)">
          <button ion-button clear class="plusButton">+</button>
        </ion-col>

        <ion-col col-3 class="priceCol" no-margin no-padding>
          <ion-row>
            <label class="itemPrice">{{ myArray[i] * items.ProductPrice | currency:'INR' }}</label>
          </ion-row>
          <ion-row (click)="deleteItem(i)">
            <ion-icon name="close-circle" color="danger" class="closeIcon"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <!-- END OF EDITING>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

  <div class="backgroundGrey1">
    <br>
    <label class="relatedLikes"> {{'YOU_MAY_LIKE' | translate}}</label>
    <br>
    <br>
    <ion-slides class="mainSlides" no-padding no-margin slidesPerView="4" spaceBetween="20">
      <ion-slide class="slide" *ngFor="let item of RelArray;let i =index" no-padding no-margin>
        <div class="slide1" [ngStyle]="setMyStylesSlides(i)">
          <div class="addRelatedItem" (click)="addItemsYouLike(i,item)">+</div>
          <br>
          <img src="assets/img/PT/{{item.ProductLogoPath}}" class="imgIcons">
          <div class="relatedPrice">{{item.ProductPrice | currency:'INR' }}</div>
        </div>
        <label class="relatedTitles">{{item.ProductName}}</label>
      </ion-slide>
    </ion-slides>
    <br>
  </div>


  <!-- COUPON SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

  <ion-row class="row4" no-padding *ngIf="offerFlowCart || membershipFlowCart || renewFlowCart || updgradeFlowCart || classFLowCart ">
    <ion-col class="row4col1" no-padding>
      <ion-row class="item1">

        <ion-col col-11 class="verticalstrip" [ngStyle]="setMyStyles2()">
          <ion-row class="offerAppliedRow">
            <ion-col col-2 no-padding no-margin>
              <img src="assets/img/discount.svg" class="iconItem2">
            </ion-col>
            <ion-col col-8 no-padding no-margin>
              <button ion-item no-lines detail-push no-padding (click)="goToCouponPage()">
                <label [ngStyle]="setMyStylesFont()" class="couponAppliedTitle1">{{offernameFromOfferDetails}}</label>
                <br>
                <label class="offerApplied">{{'OFFER_APPLIED' | translate}}</label>
                <br>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-icon name="close-circle" color="grey" class="closeIcon1" (click)="deleteItem(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!--END COUPON SECTION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


  <!-- REFERRAL  CODE >>>>>>>>>>>>>>>>>>>-->
  <div class="backgroundGrey"></div>
  <ion-row>
    <ion-col col-2 class="refUserCol">
      <img src="assets/img/referraluser.svg" class="referraluser">
    </ion-col>
    <ion-col col-9>
      <ion-item class="refItem">
        <ion-label color="primary" class="floatinglabel" floating>Enter Referral code</ion-label>
        <ion-input class="refItem"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="backgroundGrey"></div>
  <!-- END REFERRAL  CODE >>>>>>>>>>>>>>>>>>>-->


  <!-- BILLING SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
  <ion-list no-padding no-margin>
    <ion-list-header class="billingSummary">{{'BILLING_SUMMARY' | translate}}</ion-list-header>
    <ion-item class="billinDetails" no-padding no-margin>

      <ion-row no-padding no-margin>
        <ion-col col-9 no-padding no-margin>
          <div class="itemDetails">{{'ITEM_TOTAL' | translate}}</div>
        </ion-col>
        <ion-col col-3 no-padding no-margin class="totalbill1"> {{totalBill | currency:'INR' }} </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-9 no-padding no-margin>
          <div class="discounts"> {{'OFFER_DISCOUNT' | translate}}</div>
        </ion-col>
        <ion-col col-3 no-padding no-margin class="totalbill1">{{discountAmount | currency:'INR' }} </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-9 no-padding no-margin>
          <div class="itemDetails">{{'REGISTRATION_CHARGES' | translate}}</div>
        </ion-col>
        <ion-col col-3 no-padding no-margin class="totalbill1">{{relatedItemRegiPrice | currency:'INR'}}</ion-col>
      </ion-row>


      <ion-row no-padding no-margin>
        <ion-col col-9 no-padding no-margin>
          <div class="gst">{{'GST' | translate}}</div>
        </ion-col>
        <ion-col col-3 no-padding no-margin class="totalbill1">{{gstAmount | currency:'INR'}} </ion-col>
      </ion-row>
    </ion-item>

    <ion-item class="toPay" no-padding no-margin>
      <ion-row no-padding no-margin>
        <ion-col col-8 no-padding no-margin> {{'TO_PAY' | translate}} </ion-col>
        <ion-col col-4 no-padding no-margin class="totalbill1"> {{toPayAmount | currency:'INR' }}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item no-padding no-margin>
      <div class="carttotal" no-padding no-margin>
        <div></div>
        <br>
        <div class="saving">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'SAVINGS_ON_ORDER' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
          discountAmount | currency:'INR' }}
          <!-- <label class="labelTotal"></label> -->
        </div>
      </div>
      <div></div>
      <div></div>
    </ion-item>
  </ion-list>
  <!-- BILLING SECTION END >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
  <br>


</ion-content>


<ion-footer>
  <ion-row class="btnrow">
    <ion-col col-4 class="btncol1">
      <div class="cartItemsProceed">{{cartAddedItem.length}} {{'ITEM_IN_CART' | translate}}</div>
      <div class="cartItemsProceed1"> {{CBP.res + toPayAmount | currency:'INR'}}
        <!-- {{ toPayAmount | currency:'INR' }} -->
      </div>
    </ion-col>
    <ion-col col-8 right class="btncol2" (click)="showWaiver()">
      <div class="proceed">{{'PROCEED_TO_PAY' | translate}} &nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>