page-facility-modal {
    .main-content {
        background-color: $transparent_background;
        align-content: center;
        position: relative;
      }
    .modal{
        border-radius:10px;
        height: 260px;
        width:90%;
        margin-top: 240px !important;
        margin-left: auto;
        margin-right: auto;
    }

.facilityModalbutton{
background-color: $welcome_backgroundColor !important;
}
}
