 
<ion-content class="main-content">
    <ion-card class="modal">

        <ion-card-header no-margin no-padding>
          <ion-grid>
            <ion-row>
    
              <ion-col col-2 push-2>
                <img width="6px" height="20px"  style="margin-top:10px;margin-left:5px;"src="assets/img/Warning.png" float-left>
              </ion-col>
    
              <ion-col col-7 push-2 padding-top padding-left>
                <b>&nbsp;&nbsp;&nbsp;Warning</b>
              </ion-col>
    
            </ion-row>
          </ion-grid>
        </ion-card-header>
    
        <ion-card-content text-center content-justify no-margin padding>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <p>You are changing dates.Your currentselection will be lost if you proceed further</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <p>Do you want to proceed further</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <button ion-button color="light" round (click)="closemodal()">Cancel</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button  class="facilityModalbutton" round (click)="closemodal()">Proceed</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    
      </ion-card>
  </ion-content>