page-video-category {
        
.contentCard
{
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
    .NavigationBar{
        padding:2px;
        border-bottom:3px solid $welcome_backgroundColor;
    }
    
    .VideoCategoryCards{
        background-color:$Category_Cards;
        border-bottom:none;
        box-shadow: none;
    }
    
    
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: 'Champagne & Limousines' !important;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .NotificationIcon {
        float: right;
        width:30px
    }

    .SearchBar {
        background-color: $welcome_backgroundColor;
    }

    .searchBarContainer {
        display: block;
        min-width: 64vw !important; 
        width: 64vw !important; 
        align-content: center;
    }

    .countrySearch {
        margin: 0%;
        min-width: 100% !important; 
        width: 100% !important; 
    }

    .searchbar-ios .searchbar-search-icon {
        right: 16px;
        top: 15px;
        margin-left: calc(50% - 60px);
        position: absolute;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: 13px; 
        color: $welcome_text_fontColor;
    }

    .searchbar-md .searchbar-input {    
        padding: 6px 55px;
        border-radius: 0px;
        font-size: 1.4rem;
        font-weight: 400;
        color: $welcome_text_fontColor;
        background-color: $location_background;
        background-position: left 8px center;
        height: auto;
        line-height: 3rem;
    }

    .MyFavouritesRow {
        background-color: $clientName_fontColor;
        display:flex;
   
        height: 40px;
    }

    .MyFavourites {
        font-family: 'Champagne & Limousines' !important; 
        color: $welcome_backgroundColor;
        font-size: 20px;
        font-weight: bold;
        padding:10px;
    }

    .MyFavouritesSvg {
        margin-top: 8px;
        height:25px;
        width:25px
    }

    .VideoCategoryRow {
        height: 140px;
    }

    .VideoCategoryColumn {
        border: 1px solid $background-color;
    }

    .VideoCategoryCards {
        height: 90px;
    }

    .VideoCategoryIcons {
        height: 30px;
        width: 30px;
        margin: auto;
    }

    .VideoCategoryName {
        margin-top: 20px;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        color: $welcome_backgroundColor;
    }

}
