<ion-header class="Header">

  <ion-navbar no-margin padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{'MY_VIDEOS' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid no-padding class="SearchBar">
    <ion-row no-padding>
      <ion-col no-padding class="searchBarContainer">
        <ion-searchbar class="countrySearch" [(ngModel)]="myInput" (keyup)="onBackPress($event)" [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="{{'SEARCH_VIDEOS' | translate }}">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content class="contentCard">

  <ion-grid no-padding class="MyFavouritesGrid">
    <ion-row class="MyFavouritesRow" (click)="goToList('favourites')">
      <ion-col col-11>
        <ion-row class="MyFavourites">
          {{'My Favourites' | translate }}
        </ion-row>
      </ion-col>
      <ion-col col-1>
        <img  src="assets/img/MyFavourites.png" class="MyFavouritesSvg" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding class="VideoCategory">
    <ion-row class="VideoCategoryRow">
      <ion-col col-6 *ngFor="let vc of videoCategory['VideoCategory'], let i = index" class="VideoCategoryColumn">
        <ion-card class="VideoCategoryCards" (click)="goToList(vc.purposeName)">
          <ion-card-content>
            <ion-row text-center>
              <img class="VideoCategoryIcons" src="assets/img/Purpose-Svg/{{vc.purposeIcon}}">
            </ion-row>
            <ion-row>
              <span class="VideoCategoryName">{{vc.purposeName}}</span>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>