<ion-slides no-padding no-margin slidesPerView="1.5" spaceBetween="5" class="mainSlides">
  <ion-slide no-padding no-margin *ngFor="let schedule of combinedArray, let i = index" [style.background-color]="colorarray[i]"
    (click)="goToMySchedules(schedule)" class="slide1">

    <ion-avatar class="userImage1">
      <img src="assets/img/PT/groupclass.svg" *ngIf="schedule['ClassId']">
      <img src="assets/img/facilityGrey.svg" *ngIf="schedule['FacilityId']">
    </ion-avatar>

    <ion-avatar class="userImage">
      <img src="assets/img/{{schedule.UserImage}}" *ngIf="!schedule['FacilityId']" class="userImage">
      <img src="assets/img/FacilityIcons/{{schedule.FacilityImage}}" *ngIf="schedule['FacilityId']" class="userImage">
    </ion-avatar>

    <ion-avatar class="IconClass">
      <img src="assets/img/PT/{{schedule.PurposeLogo}}" *ngIf="!schedule['FacilityId']">
      <img src="assets/img/facilityGrey.svg" *ngIf="schedule['FacilityId']">
    </ion-avatar>

    <div *ngIf="!schedule['FacilityId']" class="title1">{{schedule.PurposeName}} {{'SESSIONS' | translate}}</div>
    <div *ngIf="schedule['FacilityId']" class="title1">{{schedule.FacilityName}} - {{schedule.FacilityCourt}}</div>

    <div class="title2">{{date[i]}} {{schedule.StartTime}} {{schedule.Duration}}</div>
    <div class="title3">{{timeToGo[i]}}</div>

  </ion-slide>
</ion-slides>