page-schedule-card-dashboard {

    width: 100%;

    .mainSlides {
        height: 160px;
    }

    .slide1 {
        background: $mySchedule_Card_Color;
    }

    .userImage1 {
        width : 35px;
        height: 35px;
        right: 10px;
        top: 20px;
        position: absolute;
    }

    .userImage {
        top: 10px;
        left: 50px;
        right: 50px;
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 100px;
    }

    .IconClass {
        position: absolute;
        width: 45px;
        height: 55px;
        left: 10px;
        top: 90px;
    }

    .title1 {
        position: absolute;
        top: 90px;
        float: left;
        text-align: left;
        font-style: bold;
        font-weight: 100;
        font-size: 16px;
        width: 100%;
        left: 60px;
        color: $welcome_text_fontColor;
    }

    .title2 {
        position: absolute;
        top: 115px;
        text-align: left;
        font-size: 13px;
        width: 100%;
        font-style: bold;  
        left: 60px;
        color: $billing_item_color;
    }

    .title3 {
        position: absolute;
        top: 135px;
        font-weight: 500;
        text-align: left;
        font-size: 12px;
        width: 100%;
        left : 60px;
        color: $input_fontColor;
    }

    ion-card {
        margin: 0px;
        padding: 0px;
        width: 100%;  
    }

    .card-md {
        margin: 0px;
        border-radius: 2px;
        width: 100%;
    }

    .swiper-slide img {
        align-content: center;
    }

    .swiper-pagination-bullet-active {
        background: $welcome_text_fontColor;
    }
    
    .swiper-slide img {
        width: 100%;
    }

}
