<ion-content class="main-content" (click)="closemodal()">
    <!-- CARD AS MODAL -->
    <ion-card padding class="modal">
      <ion-grid class="mainGrid" no-padding>
        <!-- ROW 1 -->
        <ion-row align-self-center class="waiverText">
         Alert
        </ion-row>
        <br>
        <br>
        <!-- ROW 2 -->
        <ion-row class="row2">
          <ion-col col-1>
            <img src="assets/img/tick.svg" />
          </ion-col>
          <ion-col col-11 class="col11">
            Your Checkout time has been expired
          </ion-col>
  
        </ion-row>
        <br>
        <!-- ROW 3 -->
        <ion-row class="redirecting">
        Please try again
        </ion-row>
        <!-- ROW 4 -->
        <ion-row class="redirecting">
          <ion-spinner class="spinnerClass" name="dots"></ion-spinner>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>