page-transaction-history-list {
    .contentCard
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
            margin-right: auto;
    }
 
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
       
    }

    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
.timeicoLabel
{
    color: $timeicoLabel-color; 
    padding-bottom: 3px; 
    font-size: 12px;
}

.locationLabel
{
    color: $timeicoLabel-color;
    padding-bottom: 4px;
    font-size: 12px;
}

.billCard
{
    background-color: $billcard-bgcolor;
    padding: 10px; 
    margin-top: 0%; 
    border-bottom: 2px solid $offer_Validity_Color;
    border-top: 1px solid $avatar_background_cartpage; 
    border-left: 1px solid $avatar_background_cartpage; 
    border-right: 1px solid $avatar_background_cartpage;
    box-shadow: none;
}
.billNumber
{
    color:$billnumber-color
}
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }
    .desc
    {
    
        font-family: $welcome_text_font;
        margin-left:auto;
        margin-right:auto;
        color: $range-ios-knob-background-color;
        font-size: 25px;

    }
    .desc1
    {
      margin-top:10px;
      font-size: 14px;
      color: $Label_Address;
        margin-left:auto;
        margin-right:auto;

    }
.gridImage
{
    margin-top:50px;
}
.NotificationIcon
{
    height:35px;
    width:30px
}
.IMG
{
    height:250px;
     width:100%
}
   .buybutton
   {
    background-color:$button_Join;
   }
      .package {
        height: 20px;
        width: 20px;
        margin-top: 0px;
      }
      .partitionRow{
        background-color: $avatar_background_cartpage;
        height: 14px;
    }

    .packdetail{
        font-size:12px;
        text-align: right
    }
    .packdetail1
    {
        font-size:12px;
    }

    .timeico
{
    height: 20px;
    width: 20px;
    margin-top: 0px;
 
}

.rowtime{
    padding-left:30px;
}
.location{
    
    height: 18px;
    width: 20px;
    margin-top: 0px;
}
}
