<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">{{'MYPURCHASEHISTORY' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentCard" *ngIf="availableHistory">
  <ion-row *ngFor="let PH of phList;let i=index" (click)="gotopurchasehistory(PH)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row justify-content-center align-items-center>
            <h6>{{PH.purchaseDate | amDateFormat : 'dddd, MMMM Do YYYY'}}</h6>
          </ion-row>
          <ion-row justify-content-center align-items-center>
            <img class="timeico" src="assets/icon/time.svg"><label class="timeicoLabel">{{phList[i].time}}</label>&nbsp;&nbsp;
            <img class="location" src="assets/icon/locationgrey.svg"><label clas="locationLabel">{{PH.location}}</label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="billCard">
      <p class="billNumber">{{'BILL' | translate}} {{PH.billNumber}}</p>
      <ion-row>
        <ion-col col-8>
          <ion-row>
            <img class="package" src="assets/img/package1.svg">&nbsp;&nbsp;<strong class="packdetail1">{{PH.packageName}}</strong></ion-row>
        </ion-col>
        <ion-col col-4>
          <p class="packdetail">INR {{PH.totalAmount}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let P of phList[i]['packages']">
        <ion-col col-8>
          <ion-row>
            <img class="package" [src]="P.img">&nbsp;&nbsp;<label class="packdetail1">{{P.purposeName}}</label>
          </ion-row>
        </ion-col>
        <ion-col col-4>
          <p class="packdetail">INR {{P.amount}} </p>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col col-12>
          <br>
          <ion-row class="partitionRow"></ion-row>
          <br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>

<ion-content *ngIf="!availableHistory">
  <ion-grid class="contentCard">
    <ion-grid class="gridImage">
      <ion-row>
        <ion-col>
          <img class="IMG" src="assets/img/empty.png" />
        </ion-col>

      </ion-row>
      <ion-label no-margin no-padding class="desc">{{'YOURBAGISEMPTY' | translate}}</ion-label>
      <ion-label no-margin no-padding class="desc1">{{'HAVENOTMADE' | translate}}</ion-label>
      <ion-label no-margin no-padding class="desc1">{{'PURCHASEMEMBERSHIP' | translate}}</ion-label>

    </ion-grid>


    <ion-grid class="joingrid">
      <ion-row class="rowbutton">
        <ion-col class="colbutton">
          <button ion-button round full class="buybutton" (click)="buyMembership()">{{'BUYMEMBERSHIP' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>