<ion-header class="Header">
  <ion-navbar no-margin no-padding text-center class="NavigationBar">
    <ion-title class="Title">{{'MYPURCHASEHISTORY' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentPurchase">
  <ion-grid *ngFor="let b of bill;let i=index" no-padding no-margin>
    <ion-grid no-padding no-margin>
      <ion-row no-padding no-margin class="rowdetails">

        <ion-row no-padding no-margin class="row1">
          <ion-col col-12>
            <ion-label class="labltime" no-padding no-margin class="billid">{{b.billNumber}}</ion-label>
          </ion-col>
        </ion-row>


        <ion-row no-padding no-margin class="row1">
          <ion-col col-12>
            <ion-label class="labltime" no-padding no-margin>{{'PURCHASEDATE' | translate}}{{b.purchaseDate | amDateFormat : 'ddd,Do MMM YYYY'}}</ion-label>
          </ion-col>
        </ion-row>



        <ion-row no-padding no-margin class="row1">
          <ion-col col-12 class="coltime">
            <ion-row no-padding no-margin>

              <ion-label no-padding no-margin class="labltime"> {{'TIMELOCATION' | translate}}
                <img class="blueloc" src="assets/icon/time.svg">{{b.time}}
                &nbsp;&nbsp;<img class="blueloc" src="assets/icon/locationgrey.svg">{{b.location}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-row>
    </ion-grid>

    <ion-grid class="gridzigzag">
      <ion-row no-padding no-margin>
        <ion-col no-padding col-12 no-margin>

          <div class="zigzag"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="rowbill">
        <ion-col col-6>
          <ion-label no-padding no-margin class="bill">{{'TOTALBILLAMOUNT' | translate}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="totalbill" no-padding no-margin>{{'BALANCEDUE' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="ttlamount">
          <ion-label no-padding no-margin class="labelbill">INR {{b.totalAmount}}</ion-label>
        </ion-col>
        <ion-col col-6 class="ttlamount1">
          <ion-label no-padding no-margin class="duebill">
            <b>INR {{ b.balanceAmount}} </b>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-grid class="gridamount">
        <ion-row class="rowamount" no-padding no-margin>
          <ion-col col-4 text-wrap>
            <ion-label class="labelamount" no-padding no-margin>{{'AMOUNTPAID' | translate}}</ion-label>
          </ion-col>
          <ion-col col-4 text-wrap>
            <ion-label class="labelamount" no-padding no-margin>{{'PAYMENTDATE' | translate}}</ion-label>
          </ion-col>
          <ion-col col-4 text-wrap>
            <ion-label class="labelamount" no-padding no-margin>{{'PAYMENTTYPE' | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row no-padding no-margin *ngFor="let a of bill[i]['payments']">
          <ion-col col-4 class="lblAmount" text-wrap>
            <ion-label class="labelamount" no-padding no-margin>INR {{a.amountPaid}}</ion-label>

          </ion-col>
          <ion-col col-4 text-wrap>
            <ion-label class="labelamount" no-padding no-margin>{{a.paymentDate  | amDateFormat : 'Do MMM YYYY'}}</ion-label>
          </ion-col>
          <ion-col col-4 text-wrap>
            <ion-label class="labelamount" no-padding no-margin>{{a.paymentType}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid class="gridClass">
        <ion-row>
          <ion-label no-padding no-margin class="label2"> {{'ORDERSUMMARY' | translate}}</ion-label>
        </ion-row>
      </ion-grid>

      <ion-grid no-padding no-margin>
        <ion-row>
          <ion-col col-12>
            <ion-row class="partitionRow"></ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br />
      <ion-grid no-margin no-padding class="ItemGrid" *ngFor="let os of bill[i]['packages']">
        <ion-row class="mainRow" no-margin>

          <ion-col col-2 class="avatarCol" no-margin no-padding>
            <ion-avatar class="avatarC">
              <img [src]="os.img" class="img">
            </ion-avatar>
          </ion-col>

          <ion-col col-4 class="sessionCol" padding>
            <ion-row>
              <label class="labelTitle">{{os.purposeName}}</label>
            </ion-row>
          </ion-col>

          <ion-col col-6 class="priceCol" col-6 no-margin>
            <label class="itemPrice"> INR {{os.amount}}</label>
          </ion-col>
        </ion-row>


        <br>
      </ion-grid>
      <ion-grid no-padding no-margin>
        <ion-row>
          <ion-col col-12>
            <ion-row class="partitionRow"></ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid no-padding no-margin class="gridAfterPartition">
        <ion-row>
          <ion-col col-6>
          </ion-col>

          <ion-col col-6>

            <ion-row>
              <ion-col col-6 class="total"> 
                <ion-label no-padding no-margin>{{'SUBTOTAL' | translate}}</ion-label>
              </ion-col>

              <ion-col col-6 no-padding no-margin>
                <ion-label class="price" no-padding no-margin>INR {{b.subtoal}}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 class="total">
                <ion-label no-padding no-margin>{{'TAXES' | translate}}</ion-label>
              </ion-col>

              <ion-col col-6 no-padding no-margin>
                <ion-label class="price" no-padding no-margin>INR {{b.taxAmount}}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 class="total">
                <ion-label no-padding no-margin> {{'TOTAL' | translate}}</ion-label>
              </ion-col>

              <ion-col col-6 no-padding no-margin>
                <ion-label no-padding no-margin class="price"> INR {{b.total}}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 class="amount">
                <ion-label no-padding no-margin class="price1">{{'AMOUNTPAID' | translate}} </ion-label>
              </ion-col>

              <ion-col col-6 class="total" no-padding no-margin>
                <ion-label no-padding no-margin class="amountPaid">
                  INR {{b.paidAmount}}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="partitionRow">
              <ion-col>
                <!-- <ion-row class="partitionRow"></ion-row> -->
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6 class="total1">
                <ion-label no-margin class="labelbalance">{{'BALANCEDUE' | translate}} </ion-label>
              </ion-col>

              <ion-col col-6 no-padding no-margin>
                <ion-label no-margin class="price2"> INR {{b.balanceAmount}}</ion-label>
              </ion-col>
            </ion-row>

          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin col-12>
            <div class="zigzag" no-margin></div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-grid>
  </ion-grid>
</ion-content>

<ion-footer class="foot" no-padding no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-1></ion-col>

      <ion-col col-5 align-self-center class="emailCol">
        <button class="emailbutton" ion-button round outline (click)="EmailReceipt()">{{'EMAILRECEIPT' | translate}} </button>
      </ion-col>

      <ion-col col-5 align-self-center class="dwnlCol">
        <button class="downloadbutton" ion-button round outline (click)="DownloadReceipt()">
          <img src="assets/img/downloadimg.svg" class="img">{{'DOWNLOADRECEIPT' | translate}}
        </button>
      </ion-col>
      <ion-col col-1></ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>