page-purchase-history {
    .contentPurchase
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (min-width: 600px) {
        .contentPurchase
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
       
    }
    
    @media only screen and (min-width: 768px) {
        .contentPurchase
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
.foot
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 600px) {
    .foot
    {
      
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
   
}

@media only screen and (min-width: 768px) {
    .foot
    {
       
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
.NotificationIcon
{
    height:35px ;width:30px;
}
.ttlamount
{
    padding-top: 0%;padding-left: 0%;padding-bottom: 10px;
}
.ttlamount1
{
    padding-top: 0%;padding-right: 0%;padding-bottom: 10px;
}
    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 10px;
    }
    .colLoc{
        padding-right:12px;
    }
.gridAfterPartition
{
    margin-top:10px;
}
    .timeico{
        height: 19px;
        width: 19px;
       padding-top:2px;           
    }
    .labelLoc{
        font-size: 14px;
        padding-left: 0px;
        padding: 0px;
        display: flex;        
    }

    .colTime{
      width: 100%; 
    }
    .total1{
        text-align-last: right;
    }
    .gridzigzag{
        padding-top:0px;
        height:48px;
    }
    .lbltime{
        padding-right:12px;
        font-size: 12px;
    }
    .labelbalance{
        font-size:12px;
        text-align-last: right;
        display:inline-block;     
    }   
    
    .label2{
        font-size: 12px;
    }
    .blueloc{
        height: 19px;
        width: 19px;
    } 
    
    .labltime{       
        font-size: 14px;
    }
    .rowdetails{
        border: 2px solid $header_bcolor;
    }

    
    .row1{
        width:100%;
    }
            //////////----code for zigzag line--------//////
            $height: 12px;
            $halfheight: ($height/2);
            $thickness: 0px;; // increase to make the line thicker
            $offset: 4px;
            $linecolor:  $header_bcolor;

    .zigzag {
        margin: 25px 0;
        position: relative;
        z-index: 1;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
              right: 0;
        }
        &:before {
            height: ($height - $offset);
            top: $thickness;
            background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
            background-position: top left;
            background-repeat: repeat-x;
            background-size: $height $height;
        }
        &:after {
            height: $height;
            top: 100%;
            background: linear-gradient(-135deg, $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg,  $halfheight, transparent 0) 0 $halfheight;
            background-position: top left;
            background-repeat: repeat-x;
            background-size: $height $height;
        }
    }

    //////////=-----------------End of Zigzag Lines-----------/////////
    
    .bill{
        color:$waiver_text;
        font-size:12px;    
        display: flex;
        justify-content: flex-start;    
    }
    .totalbill{
        color:$waiver_text;
        font-size:12px;
        display: flex;
        justify-content: flex-end;   
    }
    .rowbill{
        padding:0px;
    }
    .labelbill{
        font-weight: bold;
        font-size:20px;
        color:$input_fontColor
    }
    .duebill{
        font-weight:20px;
        font-size:20px;
        color:$Withdraw-button;
        display: flex;
        justify-content: flex-end;   

    }
  
    [text-wrap] .label-md {
        font-size:12px;
        line-height: 1.5;
    }

.gridClass
{
    padding-bottom: 3px;
}
        .gridamount{
            border: 2px solid $header_bcolor;
            padding:0px;
            margin: 0px;
        }
        .rowamount{
            height:30px;
            background-color: $redirecting_fontcolor;
        }
        
        .partitionRow{
           
            background-color: $avatar_background_cartpage;
            height: 2px;            
        }
        .avatarC
            {
                background-color: $avatar_background_cartpage;
                border-radius: 100%;
                height: 30px;
              
                margin-inline-start :10px;
                padding: 5px;
                width: 30px;


                
            }
            .sessionCol{
                font-size:14px;
                padding-top: 5px;font-size: 13px;  
            }

    .billid {
        color:$applycoupon_color;
    }
       .priceCol{
        text-align-last: right;  
        padding-top: 5px;font-size: 13px;
       }     
    .itemPrice
    {           
        font-size: 12px;        
        display: flex;
        justify-content: flex-end;
    }
    .emailbutton{
        border-color:  $border-color;
        background-color: $emailBG-color;
        font-size:12px;
        color:$emailbtn-color;
    }
    .img
    {
        height:20px;
         width:20px;
    }
.emailCol
{
  display: flex;
justify-content: flex-start;
}
.dwnlCol{
    display: flex;
    justify-content: flex-end;
}
    .downloadbutton{
        border-color:  $border-color;
        background-color: $emailBG-color;
        font-size:12px;
        color:$emailbtn-color;

      
    
    }
    .total{
        font-size: 13px;
        text-align-last: right;
    }
    .amount{
        font-size: 13px;
        color:$addbutton_relateditems;
        text-align-last: right;
        padding-left:0px;
    }

    .price{
        font-size: 12px; 
        display: flex;
        justify-content: flex-end;
    }
    .amountPaid{
        font-size: 12px; 
        display: flex;
        justify-content: flex-end;
        color:$button_Join
    }
    .timecol{
        padding-right:12px;
        padding-left:12px;
    }
    .price1{       
        display: inline-block;
        text-align-last: left;
        color:$button_Join;
    }

   .price2{
        text-align-last: right;
        font-size: 12px; 
        display: flex;
        justify-content: flex-end;
        color:$Withdraw-button;
    }
    .total2{
        font-size: 13px;      
        text-align-last: right;
    }
}
