page-rating-widget-modal {



    .TransparentBack {
        top: 0;
        height: 100%;
        background-color: $transparent_background;
    }


    .maincontent
    {
       
        opacity: 1;
        position: absolute;
        top: auto;
        bottom: 0%;
        height: 180px;
       background-color: transparent;
    }


    .card
    {
        width: 100%;
        margin: 0%;
        height: 100%;
    }

    .scroll-content
    {
        padding: 0%;
    }

    .ratingtxt
    {
        margin-top: 8px;
    }

    .TrainerPhoto
    {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .avtrcol
    {
        display: flex;
        justify-content: flex-end;
    }

    .label
    {
        margin : 0px;
        margin-left: 5px;
        color: $label_color;
        font-size: 13px;
    }

    .rowStar{
        align-self: center;
        margin-top: 10px;
    }

    .colstar{
        margin-left:auto;
        margin-right:auto;
       

    }

    .stargeneral {      ///// css styling for star rating
        margin-top: 1px;
        height: 45px;
        width: 45px;
        margin-right: 6px;

    }

    .ratingcard
    {
        z-index: 100;
    }


}
