<!--
  Generated template for the RatingWidgetModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class='TransparentBack' (click)="closeModal()"></div>


<ion-content class="maincontent" padding>
  
  <ion-card class="ratingcard">

    
      <ion-grid>
        <ion-row>
          <ion-col col-8 class="ratingtxt">
            {{'CLASSREVIEWTEXT' | translate}} {{class}} {{'WITH' | translate}} {{trainer}} ?
          </ion-col>

          <ion-col col-4 class="avtrcol">
              <ion-avatar class="ClientProfilePhotoAvatar" >
               
                  <img src="assets/img/sarah-avatar.png.jpeg" class="TrainerPhoto" />
               
                </ion-avatar>
          </ion-col>

        </ion-row>

        <ion-row no-padding no-margin>
            <ion-label  class="dateTime">{{datetime}}</ion-label>
          
          </ion-row>
        
          <ion-row class="rowStar">
            
                <img (click)="rate($event)" class="stargeneral" id="{{i}}" *ngFor="let s of starRating( RATING ) ; let i =index" src="assets/icon/{{s}}">
             
            </ion-row>
          

      </ion-grid>

      <ion-grid>
         
      </ion-grid>
     
  
  

  
  </ion-card>
</ion-content>
