<ion-content class="main-content">

    <ion-card class="modal" padding>

        <ion-grid>
            <ion-row class='Heading'>
                <b>Confirm Logout</b>
            </ion-row>
            <ion-row class='reason'>
                Do you really want to logout from the application ?
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <button (click)="clearData()" class='confirmbutton' full ion-button>Yes</button>
                </ion-col>
                <ion-col col-6>
                    <button (click)="closeModal()" class='confirmbutton' full ion-button>No</button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

</ion-content>