page-logoutconfirm {

    .main-content {
      background-color: rgba(0,0,0,0.5) !important;
      align-content: center;
      position: relative;
      .scroll-content {
        overflow: hidden;
      }
    }
  
   .modal {
      align-content: center;
      display: block;
      margin: auto !important  ;
      margin-top: 30vh !important ;
      max-width:75vw;
      max-height: 320px;
      border-radius: 5%;
      width: 75vw  !important  ;
      height: 170px !important ;
      position: relative;
    }

    .Heading {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      font-size: 18px;
    }

    .reason {
      color: #BFB7B6;
      margin-bottom: 12px;
      margin-block-start:10px;
    }
   
    .select {
      padding: 5px;
      font-size: 14px;
      max-width: 100% !important;
      border-bottom: solid;
      border-bottom-color: #BFB7B6;
      border-bottom-width: 1px;
    }

    .commentarea {
      margin-top: 10px;
      border: 1px solid #BFB7B6;
      border-radius: 1px;
      height: 100px;
      left : -1px;
    }

    .selectoptions {
      margin-inline-start: -6px;
    }

    .confirmbutton {
      margin-inline-start: -1px;
      border-radius: 5px;
      text-transform: none;
      font-size: 18px;
      font-family: $welcome_text_font;
      height : 32px;
      margin-top: 15px;
      background-color: $welcome_backgroundColor;
    }

    .button.confirmbutton:hover {
      background-color: $welcome_backgroundColor;
    }
    
}
