<ion-header class="Header">
  <ion-navbar no-margin padding text-center class="NavigationBar">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon name="menu" class="MenuToggleIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{'PAYMENTSUCCESSFUL' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item no-padding no-margin no-lines>
    <ion-grid class="gridMembership">
      <ion-row justify-content-center text-center no-padding class="SuccessGridRow">
        <ion-col col-2 class="successImageCol">
          <img src="assets/img/tick.svg">
        </ion-col>
        <ion-col col-10 class="SuccessGridColumn">
          <ion-row class="SuccessRow">
            <h2 col-10>{{'MEMBERSHIPPURCHASEDSUCCESSFULLY' | translate}}</h2>
          </ion-row>

        </ion-col>
      </ion-row>
      <sub ion-text class="InvoiceRow" text-center padding-bottom>{{'FORINVOICEID' | translate}} #FF1235MM2018</sub>
    </ion-grid>
  </ion-item>

  <ion-item-divider text-left class="ProductDetailsDevider">
    <p class="ListHeader">{{'PRODUCTDETAILS' | translate}}</p>
  </ion-item-divider>

  <ion-item no-margin no-padding>
    <ion-grid class="ProductDetailsList">
      <ion-row class="ProductsRow">
        <ion-col col-2 class="ProductsIconColumn">
          <ion-avatar>
            <img class="image_styling" src="assets/img/PT/{{cartProducts.purposeIcon}}">
          </ion-avatar>
        </ion-col>
        <ion-col col-7>
          <p class="ProductsName">{{cartProducts.purpose}}</p>
        </ion-col>
        <ion-col col-3 push-1>
          <p class="ProductsCost">INR {{cartProducts.price}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item no-margin no-padding *ngFor="let items of additionalProducts; let i = index">
    <ion-grid class="ProductDetailsList">
      <ion-row class="ProductsRow">
        <ion-col col-2 class="ProductsIconColumn">
          <ion-avatar>
            <img class="image_styling" src="assets/img/PT/{{items.ProductLogoPath}}">
          </ion-avatar>
        </ion-col>
        <ion-col col-7>
          <p class="ProductsName">{{items.ProductTypeName}}</p>
        </ion-col>
        <ion-col col-3 push-1>
          <p class="ProductsCost">INR {{items.ProductPrice}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item no-padding>
    <ion-grid class="SavingGrid">
      <ion-row class="SavingRow" no-padding no-margin>
        <ion-col col-2 class="SavingColumn">
          <ion-avatar class="avatarC">
            <img src="assets/img/discount.svg">
          </ion-avatar>
        </ion-col>
        <ion-col col-10 class="SavingColumn">
          <p>{{'YOURSAVINGONTHISORDER' | translate}}
            <span class="span_color">INR {{discountAmount}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item no-lines no-padding no-margin>
    <ion-grid class="QueryGrid">
      <ion-row padding-bottom class="QuerysRow">
        <p padding-left margin-top>{{'FORANYOTHERQUERIES' | translate}}</p>
      </ion-row>
      <ion-row class="CallMailRow">
        <ion-col col-1 no-padding no-margin class="CallColumn">
          <img src="assets/icon/call1.svg">
        </ion-col>
        <ion-col col-5>
          <p> 022-1234567890</p>
        </ion-col>
        <ion-col col-1 no-padding no-margin class="MailColumn">
          <img src="assets/icon/mail1.svg">
        </ion-col>
        <ion-col col-5>
          <p>xyz@fitnessforce.com</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <br>
  <br>

  <ion-row justify-content-center align-items-center>
    <button ion-button round small class="GoToDashboardButton" (click)='gotoDashboard()'>{{'GOTODASHBOARD' | translate}}</button>
  </ion-row>
</ion-content>