page-payment-successful-purchase {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .SuccessRow h2 {
        color: $input_fontColor;
        font-weight: bold;
        margin: 2px 0;
        font-size: 14px;
        font-weight: normal;
    }
    
    .InvoiceRow {
        bottom: 1em !important;
        margin-top: -19px;
        padding-bottom: 0px !important;
    }
    
    .ProductDetailsDevider {
        padding-left: 16px;
        font-size: 1.4rem;
        background-color: $card_subitem_bcolor;
        margin-top: 5px;
    }

    .ProductDetailsDevider p {
        color: $applycoupon_color;
    }

    .ProductsRow p {
        font-size: 12px;
    }

    .image_styling {
        margin-top: 0vh;
        width: 7vw;
        height: 7vh;
        background-color: $avatar_background_cartpage;
        border-radius: 100%;
        padding: 8px;
    }

    .ProductsName {
        padding-top: 12px;
    }

    .ProductsCost {
        padding-top: 12px;
    }

    .SavingRow {
        margin-left: 7px;
        margin-top: 6px;
        margin-bottom: 6px;
        background: $startdate_button_color;
    }

    .SavingColumn p {
        padding-top: 12px !important;
    }

    .span_color {
        color: $button_Join;
    }

    .QuerysRow p {
        font-size: 12px;
    }

    .CallMailRow p {
        font-size: 12px
    }

    .CallColumn img {
        width: 4vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
        height: 4vh;
        right: 0px;
        position: absolute;
    }

    .MailColumn img {
        width: 4vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: auto;
        margin-top: auto;
        height: 4vh;
        right: 0px;
        position: absolute;
    }

    .GoToDashboardButton {
        display: block;
        color: $welcome_text_fontColor;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        text-transform: none;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
        background-color: $welcome_backgroundColor;
    }

    .button.GoToDashboardButton:hover {
        background-color: $welcome_backgroundColor;
    }
      
    .button.GoToDashboardButton:active {
        background-color: $welcome_backgroundColor;
    }
    
    .label-md {
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }

}
    
