page-country-modal {
  .back
    {
        height: 100%;
        top:0;
        background-color: rgba(0,0,0,0.6) !important;
    }
  .main-content {
    background-color: $transparent_background_country_modal;
    align-content: center;
    position: relative;
  }
  .mainContent{
    background-color: $transparent_background;

        }
  .searchBarContainer {
    display: block;
    min-width: 64vw !important; 
    width: 64vw !important; 
    align-content: center;
  }

  ion-searchbar {
    z-index: 101;
    position: fixed;
    width: 72%  !important;
  }

  .countrySearch {
    margin: 0%;
    margin-inline-start: 15.8%;
    min-width: 70vw !important; 
    width: 70vw !important; 
  }

  .modal {
    align-content: center;
    display: block;
    margin: auto !important;
    margin-top: 12% !important;
    margin-left: 58px;
    max-width:64vw;
    width: 64vw !important;
    height: 70% !important;
    z-index: -10;
    background-color:transparent !important;
  }

  ion-list {
    position: relative;
    z-index: 99;
    width: 100%;
  }

  ion-scroll {
    height: 100px;
  }

  align-content: center;

  .scroll-content {
    margin-top:-7px;
  }

  .searchbar-ios {
    background:none;
  }

  .searchbar-ios .searchbar-input {    
    padding: 6px 55px;
    border-radius: 0px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    background-color: #666666;
    background-position: left 8px center;
    height: auto;
    line-height: 3rem;
  }

  .searchbar-input-container {
    width:98%;
  }

  .searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 15px;
    margin-left: calc(50% - 60px);
    position: absolute;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 13px; 
  }

  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background-image: none ;
    padding-right: 0px; 
    background-position: right 14px center;
    background-repeat: no-repeat;
    background-size: 14px 14px; 
  }

  $searchbar-ios-input-search-icon-svg : none ;
  
  padding-right: 0px; 

}