<div class='back' (click)="closeModal1()"></div>
<ion-content class="mainContent" (click)="closeModal1($event)">
<ion-content class="main-content">

  <br>
  <br>

  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col no-padding class="searchBarContainer">
        <ion-searchbar class="countrySearch" [(ngModel)]="myInput" (keyup)="onBackPress($event)" [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="{{'SEARCHCOUNTRY' | translate}}">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content class="modal">

    <ion-list [virtualScroll]="allCountries">
      <button ion-item (click)="closeModal(c) " text-wrap *virtualItem="let c" no-padding>

        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img src="assets/img/Flag-Svg/{{c.img}}" width="40px" height="20px">
            </ion-col>
            <ion-col col-9 class="postg">
              <h4 no-padding></h4>
              <p no-padding class="sub-info-label">{{c.name}}&nbsp;&nbsp; ({{c.Dialcode}})
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>

      </button>
    </ion-list>

  </ion-content>
  </ion-content>

</ion-content>