page-emptyclasses {

        .title{            
            font-family: 'Champagne & Limousines' !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            z-index: -1;
            background-color: $welcome_backgroundColor;
            border-bottom: solid 3px $title_border_bottomColor;
        }

        .labelclass{
            position: absolute;
            text-align: center;
            color: $progressBar_backgroundColor;
            padding-top:20px;
            padding-left:13px;
           font-size: 20px;
        }

        .joinclassbutton{       
            background-color:$welcome_backgroundColor;
            align-content: center;       
        }

        .joingrid{
            padding-top:15px;
        }

        .labelgrid{
            padding-top:50px;
        }

        .labelrow{
            text-align: center;
            padding:80px;
        }
        
        .labeldesc{
            text-align:center;
            font-size: 18px;
            padding-top:0px;
            padding-left:15px;
            color:$button_backgroundColor;
        }
        .desc{
            padding-left:14px;
            padding-right:12px;
        }

}

