<ion-header class="Header">
  <ion-navbar color="purple" class="emptyclassMenuBar">
    <ion-title class="title">{{'CLASSES' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only class="buttonNotification">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentclass">
  <ion-grid class="contentgrid">
    <ion-grid class="labelgrid">
      <ion-row class="labelrow">
        <ion-col>
          <ion-label class="labelclass">{{ 'NOTHING AT ALL' | translate }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="labeldesc">
        <ion-col>
          <ion-label text-wrap label="desc">{{ 'NO_CLASSES_SCHEDULDED' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="joingrid">
      <ion-row class="rowbutton">
        <ion-col class="colbutton">
          <button ion-button round full class="joinclassbutton" (click)="goToClasslist()">{{'JOIN CLASS' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>