// page-datetime {
//   .notification
//   {
//       height: 38px;
//       float: right;
//       margin-top: 5px;

//   }
//   .title {
//     font-family: 'Champagne & Limousines' !important;
//     font-size: 21px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 0 90px 1px;
//     height: 100%;
//     width: 100%;
//     text-align: center;
//     border-bottom: solid 3px #774E9A;
//   }
// //
// .divseg
// {
//     height : 5px;
//     background-color: #8D69B2;
// }
// .segRow
// {
// height : 5px;
// background-color: #8D69B2;
// font-size: 12px;
// padding-top:5px;
// }
// .segCol1
// {
// border-right: solid 1px black;
// height: 3px;
// background-color: rgb(0, 243, 243);
// }
// .segCol
// {
// border-right: solid 1px black;
// height: 3px;
// background-color: rgba(142, 105, 178, 0.548);
// }

// .segCol11
// {
// align-content: center;
// text-align: center;
// margin-left: auto;
// margin-right: auto;
// color : white;
// font-style: bold;
// }

// .dntText{
//   margin:0px;
//   color : orange
// }

// .segCol2
// {
// align-content: center;
// text-align: center;
// margin-left: auto;
// margin-right: auto;
// color : rgba(255, 255, 255, 0.404)

// }
// .datetime{
//   margin-top:60px;
// }

//   .belowheader {
//     padding-top : 15px;
//     background-color: #8D69B2;
//     border-bottom-left-radius: 100%;
//     border-bottom-right-radius: 100%;
//     height: 100px;;

//   }

//   .row {
//     margin-top: 0%;
//     padding: 0%;
//   }

//   .card1 {
//     box-shadow: #000;
//     height: 110px;
//     width: 140px;
//     text-align: center;
//     align-content: center;
//     border-radius: 10px;
//     padding-right: 25px;
//   }

//   .card-header1 {
//     padding-top: 15px;
//     font-size: 12px;
//     font-weight: bold;
//   }

//   .image1 {
//     position: absolute;
//     color : #6FD050;
//     height: 40px;
//     width: 30px;
//     margin-left: 40px;
//     align-content: center;
//   }

//   .kickboxing1 {
//     position: absolute;
//     color: #3DB9EC;
//     font-size: 12px;
//     font-weight: bold;
//     width: 9em; 
//     text-align: center; 
//     margin: 38px auto;
//   }

//   .card2 {
//     box-shadow: #000;
//     height: 110px;
//     width: 140px;
//     text-align: center;
//     align-content: center;
//     border-radius: 10px;
//     padding-right: 25px;
//     float: right;
//   }

//   .card-header2 {
//     padding-top: 15px;
//     font-size: 12px;
//     font-weight: bold;
//     margin-right: 55px;
//   }

//   .image2 {
//     position: absolute;
//     height: 40px;
//     width: 30px;
//     margin-left: 40px;
//     align-content: center;
//   }

//   .imgKickBoxing2 {
//     border-radius: 50%;
//   }

//   .kickboxing2 {
//     position: absolute;
//     color: #EC5172;
//     font-size: 12px;
//     font-weight: bold;
//     width: 9em; 
//     text-align: center; 
//     margin: 35px auto;
//   }

//   .arrows {
//     background-color: transparent;

//     &:hover {
//         background-color:  transparent;
//     }

//     color: grey;

//     &:focus {     
//         background-color:  transparent; 
//     }

//     &:active {
//         background-color:  transparent; 
//     }

//     &:visited {
//         background-color:  transparent; 
//     }

//     text-shadow:none !important;
//     border:none !important;
//     box-shadow:none !important;

//   }

//   .slide1 {
//     height: 150%;
//     width: 260px;
//   }

//   .width-slide {
//     width: 50px;
//     margin-right: 0px;
//     max-width: 50px;
//     max-height: 50px;
//     border-radius: 50%;
//     font-size: 12px;
//   }

//   .MainGrid {
//     margin-top: 20px;
//     align-content: center;
//     margin-left: 8px;
//   }

//   .virtualList{
//     height: 20px;
//   }

//   .virtualItem {
//     height: 55px;
//   }

//   .SlotButtons {
//     font-size: 12px;
//     background-color: #F4F4F4; 
//     color: black; 
//     border-radius: 6px; 
//     border-width: 1px; 
//     border-color: #B0BEC5 ; 
//     border-style: solid; 
//     width: 85px; 
//     height: 35px;
//   }

//   .button.SlotButtons:hover {
//     background-color: rgb(143, 220, 231);
//     color: white;
//   }
  
//   .label-md {
//       margin-top: 13px;
//       margin-right: 8px;
//       margin-bottom: 13px;
//       margin-left: 0px;
//   }
  


//   //NIKHIL'S SLIDER
  

// .labelclass{
//   position: absolute;
//   text-align: center;
//   color: $progressBar_backgroundColor;
//   padding-top:0px;
//   padding-left:80px;
//  font-size: 20px;
// }

// .joinclassbutton{       
//   background-color:$welcome_backgroundColor;
//   align-content: center;       
// }

// .joingrid{
//   padding-top:15px;
// }

// .labelgrid{
//    padding-top:0px;
//    vertical-align: text-top;
// }

// .labelrow{
//   text-align: center;
//   padding:20px;
// }

// .labeldesc{
//   text-align:center;
//   font-size: 18px;
//   padding-top:13px;
//   padding-left:15px;
//   color:$button_backgroundColor;
// }
// .desc{
//   padding-left:14px;
//   padding-right:12px;
// }

// .row {
//   margin-top: 0%;
//   padding: 0%;
// }

// ion-slides {
//   margin: 0px;
//   max-width: 100%;
// }

// .arrows {
//   background-color: transparent;

//   &:hover {
//       background-color:  transparent;
//   }

//   color: grey;

//   &:focus {     
//       background-color:  transparent; 
//   }

//   &:active {
//       background-color:  transparent; 
//   }

//   &:visited {
//       background-color:  transparent; 
//   }

//   text-shadow:none !important;
//   border:none !important;
//   box-shadow:none !important;

// }


// .arrowsLeft{
//   display: inline-block;
//   float: left;

// }


// .arrowsRight{
//   display: inline-block;
//   float: right;

// }



// .width-slide {

//   display:inline-block;
  
//   width: 13.25%;
//   height: 40px;
//   // font-size: 1.2em;
//   // line-height: 42px;
//  text-align: center;
//   margin-bottom: 10px;
//   //@at-rootwidth: 100px;
//   margin-right: 0px;
//   //max-width: 15.285%;
//   //max-height:42px;
//   border-radius: 50%;
//   font-size: 12px;
// }

// .selectDatee
// {
  
//   border-radius: 50%;
//   padding: 4px;
//   padding-top: 5px;
//   text-align: center !important;
//   padding-bottom: 6px;
// }

// .picker
// {
//     margin-top: 0px;
// }

// .segment
// {
//   margin-top: 10px;
// }
// }

page-datetime {
  
  .ext-end {
        display: flex;
        justify-content: flex-end;
    }
    .ext-start {
        display: flex;
        justify-content: flex-start;
    }
    .cust-strt {margin-inline-start:16px;}
    .cust-end {margin-inline-end:16px;}

  .notification
  {
      height: 38px;
      float: right;
      margin-top: 5px;

  }
  .title {
    font-family: 'Champagne & Limousines' !important;
    font-size: 21px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    height: 100%;
    width: 100%;
    text-align: center;
    border-bottom: solid 3px #774E9A;
  }
//
.divseg
{
    height : 5px;
    background-color: #8D69B2;
}
.segRow
{
height : 5px;
background-color: #8D69B2;
font-size: 12px;
padding-top:5px;
}
.segCol1
{
border-right: solid 1px black;
height: 3px;
background-color: rgb(0, 243, 243);
}
.segCol
{
border-right: solid 1px black;
height: 3px;
background-color: rgba(142, 105, 178, 0.548);
}

.segCol11
{
align-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
color : white;
font-style: bold;
}

.dntText{
  color : orange
}

.segCol2
{
align-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
color : rgba(255, 255, 255, 0.404)

}
.datetime{
  margin-top:80px;
}

  .belowheader {
    padding-top : 15px;
    background-color: #8D69B2;
    //border-bottom-left-radius: 100%;
    //border-bottom-right-radius: 100%;
    height: 80px;

  }

  .row {
    margin-top: 0%;
    padding: 0%;
  }

  .card1 {
    box-shadow: #000;
    height: 110px;
    width: 140px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding-right: 25px;
  }

  .card-header1 {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  .image1 {
    position: absolute;
    color : #6FD050;
    height: 40px;
    width: 30px;
    margin-left: 40px;
    align-content: center;
  }

  .kickboxing1 {
    position: absolute;
    color: #3DB9EC;
    font-size: 12px;
    font-weight: bold;
    width: 9em; 
    text-align: center; 
    margin: 38px auto;
  }

  .card2 {
    box-shadow: #000;
    height: 110px;
    width: 140px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding-right: 25px;
    float: right;
  }

  .card-header2 {
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 55px;
  }

  .image2 {
    position: absolute;
    height: 40px;
    width: 30px;
    margin-left: 40px;
    align-content: center;
  }

  .imgKickBoxing2 {
    border-radius: 50%;
  }

  .kickboxing2 {
    position: absolute;
    color: #EC5172;
    font-size: 12px;
    font-weight: bold;
    width: 9em; 
    text-align: center; 
    margin: 35px auto;
  }

  .arrows {
    background-color: transparent;

    &:hover {
        background-color:  transparent;
    }

    color: grey;

    &:focus {     
        background-color:  transparent; 
    }

    &:active {
        background-color:  transparent; 
    }

    &:visited {
        background-color:  transparent; 
    }

    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;

  }

  .slide1 {
    height: 150%;
    width: 260px;
  }

  .width-slide {
    width: 50px;
    margin-right: 0px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    font-size: 12px;
  }

  .MainGrid {
    align-content: center;
    margin-left: 8px;
  }

  .virtualList{
    height: 20px;
  }

  .virtualItem {
    height: 55px;
  }
/*
  .SlotButtons {
    font-size: 12px;
    background-color: #F4F4F4; 
    color: black; 
    border-radius: 6px; 
    border-width: 1px; 
    border-color: #B0BEC5 ; 
    border-style: solid; 
    width: 85px; 
    height: 35px;
  }
*/
  
  
  .label-md {
      margin-top: 13px;
      margin-right: 8px;
      margin-bottom: 13px;
      margin-left: 0px;
  }
  


  //NIKHIL'S SLIDER
  

.labelclass{
  position: absolute;
  text-align: center;
  color: $progressBar_backgroundColor;
  padding-top:0px;
  padding-left:80px;
  font-size: 20px;
}

.joinclassbutton{       
  background-color:$welcome_backgroundColor;
  align-content: center;       
}

.joingrid{
  padding-top:15px;
}

.labelgrid{
   padding-top:0px;
   vertical-align: text-top;
}

.labelrow{
  text-align: center;
  padding:20px;
}

.labeldesc{
  text-align:center;
  font-size: 18px;
  padding-top:13px;
  padding-left:15px;
  color:$button_backgroundColor;
}
.desc{
  padding-left:14px;
  padding-right:12px;
}

.row {
  margin-top: 0%;
  padding: 0%;
}

ion-slides {
  margin: 0px;
  max-width: 100%;
}

.arrows {
  background-color: transparent;

  &:hover {
      background-color:  transparent;
  }

  color: grey;

  &:focus {     
      background-color:  transparent; 
  }

  &:active {
      background-color:  transparent; 
  }

  &:visited {
      background-color:  transparent; 
  }

  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;

}


.arrowsLeft{
  display: inline-block;
  float: left;

}


.arrowsRight{
  display: inline-block;
  float: right;

}



.width-slide {

  display:inline-block;
  
  width: 13.25%;
  height: 40px;
  // font-size: 1.2em;
  // line-height: 42px;
 text-align: center;
  margin-bottom: 10px;
  //@at-rootwidth: 100px;
  margin-right: 0px;
  //max-width: 15.285%;
  //max-height:42px;
  border-radius: 50%;
  font-size: 12px;
}

.selectDatee
{
  
  border-radius: 50%;
  padding: 4px;
  padding-top: 5px;
  text-align: center !important;
  padding-bottom: 6px;
}

.picker
{
    margin-top: 20px;
}
.segment
{
  margin-top: 10px;
}
.SlotButtons {
    font-size: 11px;
    background-color: #f4f4f4;
    color: #666666;
    border-radius: 4px;
    border-width: 1px;
    border-color: #e7e7e7;
    border-style: solid;
    width: 78px;
    height: 27px;
}
.noti
{
    margin-right:11px;
    margin-top: 7px;
    
}
  .button.SlotButtons:hover {
        background-color: rgb(143, 220, 231);
        color: white;
      }


}



















