<ion-header dir="ltr" no-border>

  <!-- Header -->
  <ion-navbar class="primary" color="purple" text-center>
    <ion-buttons left>
    </ion-buttons>
    <ion-title class="title" text-center>{{"Choose Timing" | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>  <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" /> </button>
    </ion-buttons>
  </ion-navbar>

  <!--Grid for cards-->
  <ion-grid class="mygrid" no-padding>

    <ion-row *ngIf="cartOrbooked">
      <ion-col col-4 class="segCol">
      </ion-col>
      <ion-col col-4 class="segCol1">
      </ion-col>
      <ion-col col-4 class="segCol">
      </ion-col>
    </ion-row>

    <div *ngIf="cartOrbooked" class="divseg"></div>

    <ion-row *ngIf="cartOrbooked" class="segRow">
      <ion-col col-4 class="segCol2">
        Select Trainer
      </ion-col>
      <ion-col col-4 class="segCol11">
        Select Slot
      </ion-col>
      <ion-col col-4 class="segCol2">
        Make payment
      </ion-col>
    </ion-row>

    <div class="belowheader" *ngIf="!editFromApp">
      <ion-row class="row" no-padding no-margin>
        <!--Left Card-->
        <ion-col col-6 no-padding>
          <ion-card class="card1" [ngStyle]="setMyStyles()">
            <div class="card-header1">
              Appointment type
            </div>
            <ion-card-content>
              <ion-avatar class="image1">
                <img src="assets/img/Purpose-Svg/{{icon}}" class="imgKickBoxing1">
              </ion-avatar>
              <div class="kickboxing1">
                {{purpose}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!--Right Card-->
        <ion-col col-6 no-padding>
          <ion-card class="card2" [ngStyle]="setMyStyles()">
            <div class="card-header2">
              Trainer
            </div>
            <ion-card-content>
              <ion-avatar class="image2">
                <img src="assets/img/{{trainerIcon}}" class="imgKickBoxing2">
              </ion-avatar>
              <div class="kickboxing2">
                {{trainername}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div class="belowheader" *ngIf="editFromApp">
      <ion-row class="row" no-padding no-margin>
        <!--Left Card-->
        <ion-col col-6 no-padding>
          <ion-card class="card1" [ngStyle]="setMyStyles()">
            <div class="card-header1">
              Appointment type
            </div>
            <ion-card-content>
              <ion-avatar class="image1">
                <img src="assets/img/Purpose-Svg/{{icon}}" class="imgKickBoxing1">
              </ion-avatar>
              <div class="kickboxing1">
                {{purpose}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!--Right Card-->
        <ion-col col-6 no-padding>
          <ion-card class="card2" [ngStyle]="setMyStyles()">
            <div class="card-header2">
              Trainer
            </div>
            <ion-card-content>
              <ion-avatar class="image2">
                <img src="assets/img/{{trainerIcon}}" class="imgKickBoxing2">
              </ion-avatar>
              <div class="kickboxing2">
                {{trainername}}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <div class="datetime">
    <div text-start class="dntText cust-strt">Choose Date and Time</div>
    <br>
    <ion-row class="picker" no-padding no-margin>
      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsLeft" (click)="slidePrev()">
          <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-10 no-padding no-margin>
        <ion-slides style="width:100%;" no-padding no-marging>
          <ion-slide text-center style="height:70px" *ngFor="let week of YearArray;let wi = index ">
            <div class="width-slide" no-padding no-marging *ngFor="let item of week; let i=index">
              <span class="selectDatee" (click)="selectDateNew(item)" text-center [style.background-color]='item.isColor'>
                &nbsp;{{item.date| amDateFormat: 'D'}}&nbsp;
              </span>
              <br>
              <br>
              <span [style.color]='item.textColor' style="margin-top:6px;">
                {{item.date | amDateFormat: 'dd'}}
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear class="arrows arrowsRight" (click)="slideNext()">
          <ion-icon name="md-arrow-dropright" class="iconArrowRight"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<!-- End of header -->
<!-- End of Slider -->

<ion-content>
  <ion-grid class="MainGrid">
    <ion-list [virtualScroll]="halfSlots" [approxItemHeight]="'500px'" class="virtualList" bufferRatio="9" no-padding>
      <ion-item no-lines *virtualItem="let h; let i = index" class="virtualItem" no-padding>
        <ion-row class="ButtonRow">
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear class="SlotButtons" (click)="gotoRepeat(3*i + 0)">
              &nbsp; {{ slotInterval(3*i + 0) }} &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear class="SlotButtons" (click)="gotoRepeat(3*i + 1)">
              &nbsp; {{ slotInterval(3*i + 1) }} &nbsp;
            </button>
          </ion-col>
          <ion-col col-4 text-center class="ButtonCol">
            <button *ngIf="chckAvailAbility(true)" ion-button small clear class="SlotButtons" (click)="gotoRepeat(3*i + 2)">
              &nbsp; {{ slotInterval(3*i + 2) }} &nbsp;
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>