<ion-content class="main-content">

  
         
          
  <ion-card class="modal" padding>
  
  <ion-grid>
      <ion-row class='Heading' >
          <b>Cancel Appointment</b>

      </ion-row>
      <ion-row class='reason'> 
         Choose a cancellation reason

      </ion-row>
      
      
    <ion-row class='selectoptions'> 
      <ion-col >
          <ion-select [(ngModel)]="selectednow" class="select">
              <ion-option *ngFor="let reason of selectreason">{{reason}}</ion-option>
            </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-textarea [(ngModel)]='comment' class='commentarea'  placeholder="Detailed Comments"></ion-textarea>
  </ion-row>
  <ion-row>
  <button (click)='onSubmit()' class='confirmbutton' full ion-button>Confirm Cancel</button>
  </ion-row>
  </ion-grid>
  
  </ion-card>
  
  
        
    
    
    
    
    </ion-content>