page-cancel-appointment-modal {
    .main-content 
        {

          background-color: rgba(0,0,0,0.5) !important;
          align-content: center;
          position: absolute;

              .scroll-content
              {
                overflow: hidden;
              }
        }
      
  
       .modal
      {
          //align-content: center;
          display: block;
          //margin: auto !important  ;
         //  margin-inline-start: auto;
         //  margin-inline-end: auto;
          margin-top: 30vh !important ;
          max-width:75vw;
          max-height: 320px;
          border-radius: 5%;
          width: 75vw  !important  ;
          height: 320px !important ;
          position: absolute;
          margin-left: 12.5%;
          //margin-right: auto;
       }

       .Heading
       {
          display: flex;
          justify-content: center;
          margin-bottom: 14px;
          font-size: 15px;
       }

       .reason
       {
          color: #BFB7B6;
          margin-bottom: 12px;
          margin-block-start: 20px;
       }
       
       
       .select
       {
           padding: 5px;
           font-size: 14px;
           max-width: 100% !important;
           border-bottom: solid;
           border-bottom-color: #BFB7B6;
           border-bottom-width: 1px;
       }


       .commentarea
       {
         //margin: 10px 9.70486px 12.9861px 7.98611px;
         margin-top: 10px;
         border: 1px solid #BFB7B6;
         border-radius: 1px;
         // width: 222px;
         height: 100px;
         left : -1px;
       }

       .selectoptions
       {
          margin-inline-start: -6px;
       }

       .confirmbutton
       {
            margin-inline-start: -1px;
            border-radius: 5px;
            text-transform: none;
            font-size: 18px;
            font-family: 'Champagne & Limousines' !important;
            height : 32px;
            margin-top: 10px;
            background-color: #A3A3A5;
       }
     

}
