<ion-header>

  <ion-navbar no-margin padding text-center class="navbarclass">
    <button ion-button menuToggle icon-only class="MenuToggleButton">
      <ion-icon color="#000" name="menu" class="HeaderIcon"></ion-icon>
    </button>
    <ion-title class='Header'>{{'CLASSES' | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToNotification()">
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="notification" />
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid no-padding *ngIf="classList!=null" class="clistgrid">
    <ion-row>
      <ion-col col-11>
        <div (click)="locationSelection()" class="location">
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-auto no-padding>
                <img src="assets/icon/location.svg" class="locationico">
              </ion-col>
              <ion-col col-auto class="locationtxt">
                {{currentSelectedLoc}}
              </ion-col>
              <ion-col col-auto>
                <img src="assets/icon/downarrow.svg" class="arroww">
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
      <ion-col col-1 text-center (click)="goToFilter()">
        <div class="filtericon">
          <img src="assets/icon/sort.svg" class="sortico">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content no-padding *ngIf="classList!=null">

  <ion-grid ion-fixed no-padding class="fixedbg">
    <ion-row no-padding no-margin class="picker margtop10">
      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear (click)="slidePrev()" class="arrows arrowsLeft">
          <ion-icon name="md-arrow-dropleft" class="iconArrowLeft"></ion-icon>
        </button>
      </ion-col>

      <ion-col col-10 no-padding no-margin>
        <ion-slides no-padding no-marging class="slidesh">
          <ion-slide text-center *ngFor="let week of YearArray; let wi = index " class="slideh">
            <div no-padding no-marging *ngFor="let item of week; let i=index" class="width-slide">
              <span text-center (click)="selectDateNew(item)" [style.background-color]='item.isColor' class="selectDatee">
                &nbsp;{{item.date| amDateFormat: 'D'}}&nbsp;
              </span>
              <br>
              <br>
              <span [style.color]='item.textColor' class="selectday">
                {{item.date | amDateFormat: 'dd'}}
              </span>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col col-1 no-padding no-margin>
        <button ion-button icon-only no-padding clear (click)="slideNext()" class="arrows arrowsRight">
          <ion-icon name="md-arrow-dropright" class="iconArrowRight"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-item no-padding no-border no-shadow>
        <ion-range no-border no-padding no-shadow (ionChange)="sliderChanger()" [(ngModel)]="knobValue" dualKnobs="true" pin="false"
          max="48" class="timeslider"></ion-range>
      </ion-item>
    </ion-row>

    <div [ngStyle]="{'left': leftknob + '%'}" class="selectedStartTime">{{startTime}}</div>
    <div [ngStyle]="{'left': rightknob + '%'}" class="selectedEndTime">{{endTime}}</div>

    <ion-row no-shadow class="segrow">
      <ion-segment class="men-seg">
        <button ion-button no-border (click)="sortByPurpose(i)" value="{{ca}}" *ngFor="let ca of categories; let i= index" [ngClass]="(i == selectedCategory) ? 'selectedButton' : 'classbuttons'">
          {{ca}}
        </button>
      </ion-segment>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding class="cardgrid">
    <ion-card no-padding *ngFor="let c of classesVisible" (click)="goToClassDetail(c)" class="ccard">

      <ion-row no-padding class="statusgrid">
        <div *ngIf="c.MemberClassStatus=='Join'" class="cardlabeljoin">{{c.MemberClassStatus}}</div>
        <div *ngIf="c.MemberClassStatus=='Buy'" class="cardlabelbuy">{{c.MemberClassStatus}}</div>
        <div *ngIf="c.MemberClassStatus=='Joined'" class="cardlabeljoined">{{c.MemberClassStatus}}</div>
      </ion-row>

      <ion-card-content no-padding>
        <ion-grid>

          <ion-row no-padding>
            <ion-col col-3 no-padding class="timeandduration">
              <ion-row class="strttime">
                {{c.StartTime}}
              </ion-row>
              <ion-row class="classduration">
                <img src="assets/icon/time.svg" class="timeico">{{c.DurationEndtime}}
              </ion-row>
            </ion-col>
            <ion-col col-9 no-padding class="clsinfo">
              <ion-row>
                <ion-col col-auto>
                  <ion-avatar class="classico">
                    <img src="assets/img/PT/{{c.PurposeLogo}}">
                  </ion-avatar>
                </ion-col>
                <ion-col col-auto>
                  <ion-row>
                    <div class="classname">{{c.PurposeName}}</div>
                  </ion-row>
                  <ion-row class="usercount margtop2">
                    <img *ngFor="let s of starRating( c.Rating )" src="assets/icon/{{s}}" class="stargeneral">&nbsp;
                    <span class="margtop4">({{c.Ratingcount}} {{'USERS' | translate}})</span>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row no-padding class="bottomrow">
            <ion-col col-4 no-padding class="c1">
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <ion-avatar>
                    <img src="assets/img/{{c.UserImage}}" class="trainericon">
                  </ion-avatar>
                </ion-col>
                <ion-col col-10 no-padding>
                  <div class="trainername">{{c.UserName}}</div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-4 no-padding class="c2">
            </ion-col>
            <ion-col col-4 no-padding class="c3">
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <img src="assets/icon/locationblue.svg" class="blueloc">
                </ion-col>
                <ion-col col-10 no-padding>
                  <div class="locaname">{{c.classlocation}} ({{c.dist}} km)</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>

    </ion-card>
  </ion-grid>

</ion-content>

<!-- -----For displaying empty class page ----------->
<ion-content *ngIf="classList==null" class="contentclass">

  <ion-grid class="contentgrid">

    <ion-grid class="gridImage">
      <ion-row>
        <ion-col>
          <img height="170px" width="100%" src="assets/img/img1.png" class="IMG" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="labelgrid">
      <ion-row class="labelrow">
        <ion-label class="labelclass">{{ 'NOTHING AT ALL' | translate }}</ion-label>
      </ion-row>
      <ion-row class="labeldesc">
        <ion-col>
          <ion-label text-wrap label="desc">{{ 'NO_CLASSES_SCHEDULDED' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="joingrid">
      <ion-row class="rowbutton">
        <ion-col class="colbutton">
          <button ion-button round full (click)="goToClasslist()" class="joinclassbutton">{{'JOIN CLASS' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>

</ion-content>