page-classes {

    .navbarclass {
        padding: 2px; 
        border-bottom: 3px solid $welcome_backgroundColor;
    }

    .titlebar {
        background-color : $item-md-detail-push-color;
        color : $welcome_text_fontColor;
        font-family: $welcome_text_font;
        height: 100px;    
    }

    .MenuToggleButton {
        color: $searchbar-md-input-text-color;
        background-color: transparent;
    }

    .HeaderIcon {
        margin-top: 13px;
    }

    .Header {
        margin-top: 5px;
        font-size: 23px;
        font-family: $welcome_text_font;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
        background-color: $item-md-detail-push-color; 
    }

    .notification {
        margin-top: 9px;
        margin-right: 11px;
    }

    .clistgrid {
        border-bottom: 3px solid $clistgrid;
        background-color : $welcome_backgroundColor;
    }

    .location {   
        background-color: $location_background;
        height: 30px;
        margin-inline-end: 8px;
        margin-inline-start: 8px;
        margin-bottom: 8px;
        border-radius: 2px;
        color: $welcome_text_fontColor;   
    }

    .locationico {   
        width: 19px;
        height: 35px;
        padding: 5px;
        margin-inline-start: 5px;
    }  

    .locationtxt {
       margin-top: 10px;
       margin-inline-start: 3px;
       font-size: 12px;
       color: $location_color;
    }

    .arroww {  
        width: 14px;
        height: 39px;
        padding: 1px;
        margin-inline-start: 4px;
    }

    .filtericon {
       background-color: $location_background;
       height: 30px;
       margin-inline-end: 8px;
    }

    .sortico {
        margin-top: 3px;
        width: 28px;
        height: 28px;
    }

    .fixedbg {
        background-color: $welcome_text_fontColor;
    }

    .margtop10 {
        margin-top: 10px;
    }

    .arrows {
        background-color: transparent;
    
        &:hover {
            background-color:  transparent;
        }
    
        color: $arrowclr;
    
        &:focus {     
            background-color:  transparent; 
        }
    
        &:active {
            background-color:  transparent; 
        }
    
        &:visited {
            background-color:  transparent; 
        }
    
        text-shadow: none !important;
        border: none !important;
        box-shadow: none !important;
    
    }

    .arrowsLeft {
        display: inline-block;
        float: left;
    }

    .iconArrowLeft {
        font-size: 1.4em; 
        color: $clsiconArrow;
    }
    
    .slidesh {
        width: 100%;
    }

    .slideh {
        height: 70px
    }

    .width-slide {
        display: inline-block;
        width: 13.25%;
        height: 40px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 0px;
        border-radius: 50%;
        font-size: 12px;
    }

    .selectDatee {
        border-radius: 50%;
        padding: 4px;
        padding-top: 5px;
        text-align: center !important;
        padding-bottom: 6px;
    }

    .selectday {
        margin-top: 6px; 
    }

    .arrowsRight {
        display: inline-block;
        float: right;
    }

    .iconArrowRight {
        font-size: 1.4em; 
        color: $clsiconArrow;
    }

    .timeslider {
        height: 35px;
        padding: 10px;
    }

    .selectedStartTime {
        position: absolute;
        z-index: 102;
        width: 47px;
        top: 110px;
        background-color: $welcome_text_fontColor;
        color: $selectedStartTimeclr;
        font-size: 11px;
    }

    .selectedEndTime {
        position: absolute;
        z-index: 100;
        width: 47px;
        top: 110px;
        color: $classbuttonstxt;
        background-color: $welcome_text_fontColor;
        font-size: 11px;
    }

    .segrow {
        margin-top: 10px;
    }

    .selectedButton {
        background-color: $selected_Button_Color;
        color: $welcome_text_fontColor;
        font-size: 11px;
        width: 80px;
        margin: 5px;
        height: 30px;
        border-radius: 3px;
        box-shadow: none !important;
        border-top: 3px solid $range-ios-knob-background-color;
    }

    .button.selectedButton:hover {
        background-color: $selected_Button_Color;
        color: $welcome_text_fontColor;
        border-top: 3px solid $range-ios-knob-background-color;
    }
    
    .classbuttons {
        background-color: $classbuttonsbackground;
        color: $classbuttonstxt;
        font-size: 11px;
        width: 65px;
        margin: 5px;
        height: 30px;
        border-radius: 3px;
        box-shadow: none !important;
    }

    .button.classbuttons:hover {
        background-color: $classbuttonshoverbg;
        color: $classbuttonshoverclr; 
    }

    .cardgrid {
        margin-top: 180px;
    }

    .ccard {
        border-bottom: solid 3px $range-ios-knob-background-color;
        background-color: $ccardbg;
        height: 90px;
    }

    .statusgrid {
        z-index: 10000;
        display: flex;
        justify-content: flex-end;
        height: 1px;
    }

    .cardlabeljoin {
        padding: 3px;
        width: 40px;
        background-color: $cardlabeljoinclr;
        color: $welcome_text_fontColor;
        font-size: 10px;
        text-align: center;
        height: 18px;
    }

    .cardlabelbuy {
        padding: 3px;
        width: 40px;
        background-color: $cardlabelbuyclr;
        color: $welcome_text_fontColor;
        font-size: 10px;
        text-align: center;
        height: 18px;
    }

    .cardlabeljoined {
        padding: 3px;
        width: 40px;
        background-color: $cardlabeljoinedclr;
        color: $welcome_text_fontColor;
        font-size: 10px;
        text-align: center;
        height: 18px;
    }

    .strttime {
        font-size: 13px;
        color: $strttimeclr;
    }

    .classduration {
        color: $classdurationtxt;
        font-size: 11px;
    }

    .timeico {
        height: 15px;
        width: 15px;
        margin-top: 2px;
        color: $timeicocolor;
    }

    .classico {
        height: 45px;
        width : 45px;
        border-radius: 20%;
    }

    .classname {
        width: 165px;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $classnametxtclr;
    }

    .usercount {
        font-size: 11px;
        color: $usercountclr;
    }

    .stargeneral {   
        margin-top: 1px;
        height: 16px;
        width: 16px;
    }

    .margtop4 {
        margin-top: 4px;
    }

    .c1 {
        display: inline-block;
    }

    .trainericon {
        height: 20px;
        width: 20px;
        border-radius: 20px;
    }

    .trainername {  
        font-size: 12px;
        color: $trainernameclr;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .c2 {
        font-size: 10px;
    }

    .blueloc {
        margin-top: 3px;
        width: 19px;
        height: 15px;
        color: $locationclr;
    }

    .locaname {
        margin-top: 2px;
        font-size: 11px;
        color: $locationclr;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .range .range-knob {
        left: 12px;
        top: 9px;
        border-top: 1px solid $rangeknobbordertop;
        border-radius: 50%;
        position: absolute;
        z-index: 100;
        width: 25px;
        height: 25px;
        background: $welcome_text_fontColor;
        box-shadow: 2px 4px 3px $rangeknobboxshadow;
    }
    
    .range .range-bar {
        height: 3px;
    }

    .range .range-bar {
        background: $rangebg;
    }

    .range .range-bar-active {
        bottom: 0;
        width: auto;
        z-index: 10;
        background: $range-ios-knob-background-color;
    }
    
    .card, .card-md, .card-ios {
        webkit-box-shadow: none;
        box-shadow: 0px 3px 1px $cardsbg;
    }
    
    .item.item-block .item-inner {
        border-bottom: none;
    }

    .toolbar-title {
        font-size: 20px;
        color: $welcome_text_fontColor;
    }

    .toolbar-background {
        border-color: $classtoolbarbg;
        background: $item-md-detail-push-color; 
    }

    ion-segment {
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        ion-segment-button.segment-button {
          display: inline-block;
          min-width: 30%;
          width: auto;
        }
    }

    .no-scroll .scroll-content {
        overflow: hidden;
    }

    .dateslider {
        height: 60px;
        background-color: $welcome_text_fontColor;
    }
      
}