<ion-content class="main-content">
  <!-- CARD AS MODAL -->
  <ion-card padding class="modal">
    <ion-grid class="mainGrid">
      <!-- ROW 1 -->
      <ion-row align-self-center class="couponApplied">
        {{'COUPON_APPLIED' | translate}}
      </ion-row>
      <br>
      <!-- ROW 2 -->
      <ion-row class="row2">
        <ion-col col-3>
          <ion-avatar class="avatarClass" [ngStyle]="setMyStyles()">
            <br>
            <div class="couponDiv">{{oneRecord.OfferLogo}}</div>
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-row class="couponDetails" [ngStyle]="setMyStyles1()">
            {{oneRecord.OfferShortName}}
          </ion-row>
          <ion-row class="couponDetails">
            {{oneRecord.OfferDescription}}
          </ion-row>
        </ion-col>
      </ion-row>
      <br>
      <!-- ROW 3 -->
      <ion-row class="redirecting">
       {{redirecting + tick}}
      </ion-row>
      <!-- ROW 4 -->
      <ion-row class="redirecting">
        <ion-spinner class="spinnerClass" name="dots"></ion-spinner>
      </ion-row>
      <!-- ROW 5 -->
      <ion-row class="cancelCoupon">
        <u (click)="cancelCoupon()" class="CancelLabel"> {{'CANCEL_COUPON' | translate}}</u>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>