page-apply-coupon-modal {

    .main-content {
        background-color: $transparent_background;
        align-content: center;
        position: relative;
      }
    .modal{
        border-radius:10px;
        height: 220px;
        width:90%;
        margin-top: 120px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .couponApplied
    {
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-weight: 500;
    }
    .couponDetails
    {
        font-weight: 400;
        white-space:normal;
        font-size:14px;
        color:$coupon_detail_fontcolor;
    }
   .redirecting
    {
      margin-left: auto;
      margin-right: auto;
      font-size: 13px;
      color: $redirecting_fontcolor;
    }
    .cancelCoupon
    {
        position: absolute;
        right:30px;
        top: 300px;
        font-size: 13px;
        color: $redirecting_fontcolor;
    }

    .avatarClass
    {
        border-radius: 100%;
        height: 60px;
        width: 60px;
     }
     .couponDiv{
        justify-content: center;
        align-content: center;
        align-items: center;
        color:white;
        font-size: 19px;
        text-align: center;
        white-space:normal
    }
  
     

}
