<ion-header>
  <ion-navbar color="purple" class="notificationMenuBar" text-center>
    <button ion-button icon-only menuToggle class="menuButton">
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title class="Title">{{ "Notifications" | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <img class="notification" height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding no-margin>
  <ion-card no-padding no-margin class="card1" [ngClass]="{ 'card2': n.selected==true}" *ngFor="let n of notification" (click)="gotodetail(n)">
    <ion-grid no-padding no-margin>
      <ion-row no-padding>
        <ion-col col-3>
          <ion-avatar class="userImage">
            <img class="userImage" src="assets/img/{{n.img}}">
          </ion-avatar>
        </ion-col>
        <ion-col col-9 margin-top>
          <ion-row no-padding no-margin>
            <strong no-padding no-margin>{{n.name}}</strong>
            &nbsp;&nbsp;<button ion-button class="adminlabel">{{n.role}}</button>
            <ion-label no-padding no-margin class="time"> {{n.status}} </ion-label>
          </ion-row>
          <ion-row>
            <p class="desc">{{n.desc}}</p>
          </ion-row>
        </ion-col>
      </ion-row>
      <br/>
    </ion-grid>
  </ion-card>
</ion-content>