page-notificationlist {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .notificationMenuBar{
        border-bottom: 3px solid $title_Border_Bottom;
       }
    .userImage {
                top:5px;
                left : 8px;
                right : 8px;
                position: absolute;
                width : 50px;
                height: 50px;
                border-radius: 100px;

               
            }

            .LabelActive {
                // position: absolute; 
                height: 12px;
                 width:12px;
                background-color:$Capacity_available;
                // padding-right: 4px;
               // padding-left: 4px;
                color: $welcome_text_fontColor;
                // margin-right: 30px;
                // margin-top: 30px;
                font-size: 12px;
            }

            .adminlabel{
                background-color: #45C199;
                font-size: 12px;
                height: 20px;
                width: 90px;
                margin-bottom: 0px;
                margin-top: 0px;
                text-transform: none;
                box-shadow: none;
            }
            .time{
                color: $Class_level;
                text-align-last: right;
                padding-block-end: 12px;
                padding-right: 15px;
            }
            
            .card1{
                margin-top: 3px;
                background-color: #FFFFFF;  
                width: 100%;
                box-shadow: none;
                border-bottom: 1px solid #CDCDCD;
            }

            .card2{
                margin-top: 3px;
                background-color: #ECEFF4;  
                width: 100%;
                box-shadow: none;
                border-bottom: 1px solid #CDCDCD;
            }
            .desc{
                font-size:12px;
            }
}
