<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center class="title">{{'APPLY_COUPON' | translate}}
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only> <img class="notification" src="assets/img/notibell.svg"> </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="contentClass">

  <!-- SEARCH  -->
  <div class="searchDiv">
    <ion-grid>
      <ion-row>
        <ion-col col-10>

          <ion-searchbar placeholder="{{'ENTER_COUPON_CODE' | translate}}" [(ngModel)]="searchTerm" [formControl]="searchControl" (keyup)="onBackPress($event)" (ionInput)="onSearchInput()"></ion-searchbar>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>


        </ion-col>
        <ion-col col-2 class="col3" align-self-center>
          {{'APPLY' | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- END OF SEARCH -->
  <br>
  <div class="availableCouponText"> {{'AVAILABLE_COUPONS' | translate}}</div>

  <!-- COUPON LIST -->
  <ion-list class="listClass" NO-LINES>
    <ion-item *ngFor="let item of CouponArray;let i =index" class="list1">
      <ion-card class="cardItem" (click)="couponCliked(i,item)">
        <ion-row class="row" >
          <ion-col col-3 no-margin align-self-center class="col1">
            <div class="semiCircle" align-self-center></div>
            <ion-avatar class="avatarClass" [ngStyle]="setMyStyles2(i)">
              <br>
              <div class="couponDiv">{{item.OfferLogo}}</div>
            </ion-avatar>
          </ion-col>
          <ion-col col-7 class="col2">
            <div class="couponTitle" [ngStyle]="setMyStyles1(i)">{{item.OfferShortName}}</div>
            <p class="couponDesc">{{item.OfferDescription}}</p>
          </ion-col>
          <ion-col col-2 align-self-center class="col3">
            {{'APPLY' | translate}}
            
          </ion-col>
          <div class="semiCircle1" align-self-center>
          </div>
        </ion-row>
      </ion-card>

      <!-- VALIDITY -->
      <div class="cardSubItem">
        <p class="validity"> {{'VALID_TILL' | translate}} {{item.OfferValidTill | amDateFormat : 'Do MMM YYYY'}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>