page-cart-coupon {

    
 
    .title
    {
        font-family: 'Champagne & Limousines' !important;
        margin-top : 10px;
       
    }

    .availableCouponText
    {
        margin-inline-start:10px;
        color : $coupon_detail_fontcolor;
        font-size:12px;
    }

// SEARCH
    .searchbar-md .searchbar-search-icon 
    {
        left: 0px;
        top: 0px;
        background-image: url();
        width: 0px;
        height: 0px;
    }



    .searchDiv
    {
        height: 70px;;
        background-color: $relateditems_backgroud
    }


    .searchbar-md .searchbar-input
    {
        background-color: white;
        height: 35px;
        color: black;
        font-size:14px;
        padding: 6px 6px;
    }

    .col1
    {
    padding-left: 5px;
    }


.avatarClass
{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-inline-start: 10px; 
}

.couponDiv
{
    justify-content: center;
    align-content: center;
    align-items: center;
    color:white;
    font-size: 19px;
    text-align: center;
    white-space:normal;
}

.semiCircle
{
    height: 15px;
    width: 8px;
    background-color:$relateditems_backgroud;
    position: absolute;
    
    vertical-align: middle;
    bottom: 28px;

    display: flex;
    justify-content: flex-start;
    margin-inline-start:-5px;

    
   border-top-right-radius: 100%;
   border-bottom-right-radius: 100%;
}
.semiCircle1
{

    height: 15px;
    width: 8px;
    background-color:$relateditems_backgroud;
    position: absolute;
    

    vertical-align: middle;
    //bottom: 4px;
//right: 0px;;
    top:55px;
    display: flex;
    justify-content: flex-end;
    margin-inline-end:0px;

    
   border-top-right-radius: 100%;
   border-bottom-right-radius: 100%;









//     height: 15px;
//     width: 8px;
//     background-color:$relateditems_backgroud;
//     position: absolute;
  
//  right:0px;
//     //vertical-align: middle;
//     bottom: 4px;
    

//     // display: flex;
//     // justify-content: flex-end;
//     // margin-inline-end:0px;

//    border-top-left-radius: 100%;
//    border-bottom-left-radius: 100%;
}

    .cardItem
    {
        border-top: dashed;
        border-top-width: 1px;
        border-top-color: $item_border_color;
     
        border-left: dashed;
        border-left-width: 1px;
        border-left-color: $item_border_color;
     
        border-right: dashed;
        border-right-width: 1px;
        border-right-color: $item_border_color;
     
        border-bottom: dashed;
        border-bottom-width: 1px;
        border-bottom-color: $item_border_color;
    }
    .item-md {
        padding-left: 0px;}
     
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
    .label-md {
        margin: 13px 0px 13px 0;
    }
    .item-md.item-block .item-inner {
         padding-right: 0px;}
    .couponTitle
    {
        font-size: 13px;
        font-weight: 500;
        padding-top: 6px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .couponDesc
    {
        font-size: 13px;
        padding-bottom: 8px;
        padding-left: 5px;
        white-space:normal;
    }
    .notification
    {
        height: 38px;
        float: right;
    
     bottom: 0px
     
    }
    .cardSubItem
    {
 
        height : 22px;
    
        margin-top :2px;
        margin-inline-start: 30px;;
        margin-inline-end: 30px;;

        font-size: 11px;

        background-color: $card_subitem_bcolor;

        text-align: center;

        border-left: solid;
        border-left-width: 1px;
        border-left-color: $item_border_color;
     
        border-right: solid;
        border-right-width: 1px;
        border-right-color: $item_border_color;
     
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: $item_border_color;
      
    }
    .card-md {
      //  margin: 10px;
        margin-top: 10px;
        margin-inline-end: auto;
        margin-bottom: 0px;
        margin-inline-start: auto;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: white;
        -webkit-box-shadow: $box_shadow;
        box-shadow: $box_shadow;
    }
    .validity
        {
            display: inline-block;
            position: fixed;
            right: 60px;
            top:105px;
            font-size: 11px;
        }
        .item-md p {
             margin: 0 0 2px;
        }

        .col3
        {
            color : $applycoupon_color;
            font-size: 13px;
            margin-inline-end:0px;
        }

        //
        .spinner-container {
            width: 100%;
            text-align: center;
            padding: 10px;
        }
}
