<ion-header class="Head">
  <ion-navbar no-margin padding text-center class="NavigationBar">
    <ion-title class="Title">{{'CLASSRATING' | translate}}</ion-title>
    <ion-buttons right class="noti">
      <button ion-button icon-only>
        <img height="35px" width="30px" src="assets/icon/notification.svg" class="NotificationIcon" />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-grid no-padding no-margin>

    <ion-grid class="gridTrainer">
      <ion-row>
        <ion-col class="colimage">
          <img src="assets/img/{{classrating.UserImage}}" class="imageTrainer" />
        </ion-col>
        <ion-col class="colinfo">
          <ion-row>
            <ion-label no-padding no-margin class="trainerName">{{classrating.UserName}}</ion-label>
          </ion-row>
          <ion-row no-padding no-margin>
            <ion-label class="dateTime">{{classrating.Date }} - {{classrating.StartTime}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-col no-padding no-margin class="colIcon">
              <ion-avatar class="classicon">
                <img src="assets/img/{{classrating.PurposeLogo}}">
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-label no-padding no-margin class="className">{{classrating.PurposeName}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="rowText">
        <ion-label class="labelrate">{{tagname}}</ion-label>
      </ion-row>
      <ion-row class="rowStar">
        <ion-col class="colstar">
          <img (click)="rate($event)" id="{{i}}" *ngFor="let s of starRating( RATING ) ; let i =index" src="assets/icon/{{s}}" class="stargeneral">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col>
          <ion-row class="partitionRow"></ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding>
      <ion-row class="type">
        <ion-label>{{tagname}}</ion-label>
      </ion-row>
      <ion-row no-padding class="tagbuttons">
        <ion-col col-auto *ngFor="let t of tagsToShow; let i = index;" class="tagsautocol">
          <button ion-button outline (click)="ClickTag(i)" [ngClass]="t.clicked ? 'reviewbuttonsSelected' : 'reviewbuttons'">{{t.name}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding no-margin class="gridButton">
      <ion-row class="rowButton">
        <ion-col class="colbutton">
          <button (click)="submit()" ion-button round full class="continueButton">{{'DONE_BUTTON' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>
</ion-content>