page-class-rating {

    .Title {
        background-color: $welcome_backgroundColor;
        font-family: $welcome_text_font;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .toolbar-title-md {
        color: $welcome_text_fontColor;
    }

    .toolbar-background-md {
        background-color: $welcome_backgroundColor;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
        padding-right: 400px;
    }

    .classicon {
        height: 35px;
        width : 35px;
        border-radius: 10%;
        margin-left: -27px;
    }

    .rowRating {
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;       
    }

    .rowimage {
        height: 60px;
        width: 60px;
    }

    .colIcon {
        margin-right: -180px;
    }

    .tagsautocol {
        margin-left: 6px;
        margin-right: 0px;
    }

    .colinfo {
        margin-left: -85PX;       
    }

    .dateTime {
        margin-left: -27px;
        color: $classRatingclr;    
        font-size: 12px;  
        margin-top: 5px;  
    }

    .labelday {
        font-size: 12px;
    }

    .classTime {
        margin-left: -27px;       
    }

    .gridTrainer {
        background-color: $item_border_color;       
    }

    .colstar {
        margin-left: auto;
        margin-right: auto;
    }

    .rowStar {
        align-self: center;
    }

    .className {
        margin-left: -27px;
        padding-left:  25px;
        padding-top: 0px;
        margin-top: 4px;
        font-weight: 500;
        font-size: 13px;
        color: $classRatingclr;
    }

    .trainerName {
        margin-left: -27px;
        font-weight: 500;
        margin-top: 3px;
    }

    .partitionRow {
        background-color: $avatar_background_cartpage;
        height: 14px;
    }

    .rowText {
        align-self: center;
        padding-top: 20px;
        font-weight: bold;
    }

    .type {
        align-self: center;
        color: $label_color;
    }

    .Text {
        align-self: center;
        padding-top: 25px;
    }

    .colimage {
        padding-right: 0px;
        height: 30px;
        width : 30px;
    }
    .continueButton {
        background-color: $welcome_backgroundColor;   
        height: 45px;    
    }

    .stargeneral {      
        margin-top: 1px;
        height: 45px;
        width: 45px;
        margin-right: 6px;
    }

    .reviewbuttons {
        margin-left: 5px;
        margin-right: 5px;
        padding : 9px;
        height: 28px;
        font-size: 13px;
        text-transform: none;
        color: $label_color;
        border-color: $label_color;
    }

    .reviewbuttonsSelected {
        margin-left: 5px;
        margin-right: 5px;
        padding : 9px;
        height: 28px;
        font-size: 13px;
        text-transform: none;
        color: $welcome_backgroundColor;
        border-color: $welcome_backgroundColor;
    }

    .patitionGrid {
        margin-top: 50px;
    }

    .gridButton {
        margin-top: 75px;
    }

    .colbutton {
        margin-left: 20px;
        margin-right: 20px;
    }

    .notification {
        margin-top: 7px;
        width: 28px;
        height: 28px;
    }

}
