<ion-content class="mainContent" (click)="closeModal()">

  <ion-content class="modal" no-padding no-margin>
    <div class="Header"> {{"RENEW_CONFIRMATION" | translate }} </div>

    <br>
    <br>
    <ion-grid padding-top>
      <ion-row>
        <ion-col col-7 class="renewDetails">
            {{"RENEWING" | translate}} 1 {{"MONTHS" | translate}} gym
        </ion-col>
        <ion-col col-5 class="renewDetails1">
        </ion-col>
        <ion-row class="renewDetailspass">
          {{ "HOME_MEMBERSHIP" | translate }}
        </ion-row>
      </ion-row>
      <br><br>
      <button class="fbutton" ion-button full round (click)="goToCart(renewMembership.homeRate)"> {{"RENEW" | translate }} -
        {{"PASSPORT_MEMBERSHIP" | translate }} - {{"PAY" | translate }} INR {{renewMembership.homeRate}}</button>
      <br>

      <ion-row justify-content-center align-items-center>
        <ion-col col-1></ion-col>
        <ion-col col-4>
          <hr>
        </ion-col>
        <ion-col col-2 class=ffbutton1>
          {{"OR" | translate }}
        </ion-col>
        <ion-col col-4>
          <hr>
        </ion-col>
        <ion-col col-1></ion-col>

      </ion-row>
      <br>
      <ion-row class="additionalPayment" align-self-center>
        <div class="passInfo">
          <p class="passInfoPara">
              {{"RENEW_HOMERATE_MODAL_OFFER" | translate }} </p>
          <p class="passInfoPara1"><b>{{"UPGRADE_TO_PASSPORT_MEMBERSHIP" | translate}}</b></p>
        </div>

      </ion-row>
      <br>
      <ion-row justify-content-center align-items-center class="eligibleloc">
        {{ "ELIGIBLE_LOCATIONS" | translate }} for Passport (26 Locations)
      </ion-row>
      <hr class="hr">
      <ion-row>
        <ion-col *ngFor="let c of city.cities" col-6 padding-left>
          <b> {{ c.Cityname}}</b>
          <br />
          <p *ngFor="let cl of c.Location" class="eligibleloc">

            &nbsp;&nbsp;- {{cl}}
          </p>
        </ion-col>
        <!-- <ion-col col-6 padding-left>
          <b>Dubai (12)</b>
        </ion-col> -->
      </ion-row>
      <!-- <ion-row>
        <ion-col col-6 class="citylist" padding-left>
          &nbsp;&nbsp;- Bandra
          <br> &nbsp;&nbsp;- Cuffe Parade
          <br> &nbsp;&nbsp;- Colaba
          <br> &nbsp;&nbsp;- Andheri
          <br> &nbsp;&nbsp;- Seepz

        </ion-col>
        <ion-col col-6 class="citylist" padding-left>
          &nbsp;&nbsp;- Deiar
          <br> &nbsp;&nbsp;- Burj Khalifa
          <br> &nbsp;&nbsp;- Business Bay
          <br> &nbsp;&nbsp;- Al Barsha
          <br> &nbsp;&nbsp;- Al Marina
          <br> &nbsp;&nbsp;- Discovery Gardens
          <br> &nbsp;&nbsp;- Jebel Ali
          <br> &nbsp;&nbsp;- Bur Dubai

        </ion-col>
      </ion-row> -->

      <!-- <ion-row class="cityHeader">
        <ion-col col-6 padding-left>
          <b>Riyadh (7)</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="citylist" padding-left>
          &nbsp;&nbsp;- Al Nakheel
          <br> &nbsp;&nbsp;- Sulamanya
          <br> &nbsp;&nbsp;- Humra
          <br> &nbsp;&nbsp;- Olaya
          <br> &nbsp;&nbsp;- Rabya
        </ion-col>
      </ion-row> -->
    </ion-grid>
    <button class="fbutton" ion-button full round (click)="goToCart(renewMembership.passportRate)"> {{"RENEW" | translate }} -
      {{"PASSPORT_MEMBERSHIP" | translate }} - {{"PAY" | translate }} INR {{renewMembership.passportRate}}</button>

  </ion-content>

</ion-content>