<!--
  Generated template for the CartWaiverActionModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="main-content" padding (click)="closeModal($event)">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <ion-content class="Modal" >
        <ion-header >
            
              <ion-navbar>
                <ion-title class="waiverTitle">Waiver Terms</ion-title>
              </ion-navbar>
            
            </ion-header>
            <br>
            <div  class="termsHeading">
            <p>In order to proceed, you first need to complete Waiver terms & conditions</p>
            </div>
           
    
            <ion-scroll scrollY="true" class="termsContent"  >
              <div [innerHTML]="waiver">
                
              </div>
                </ion-scroll>
          
                <ion-grid class="termsButton" >
                  <ion-row>
                      <ion-col col-1 center> 
                        
                        </ion-col>
                    <ion-col col-5 center> 
                      <button ion-button round (click)="waiverOtp()" class="otpButton" >OTP</button>
                    </ion-col>
                    <ion-col col-6 center>
                      <button ion-button round (click)="waiverEsign()" class="esignButton">E-sign</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
    
    
    
              
    </ion-content>
    </ion-content>
    