page-cart-waiver-action-modal {
    .main-content {
        background-color: rgba(0,0,0,0.5) !important;
        padding: 30px;
        position: relative;
        overflow: hidden;
        overflow-y: hidden;
        z-index: -100;
        
      }

      .Modal {

        position: relative;
          border-radius: 6px !important;
          overflow: hidden;
          z-index: 1000;
          
      }
        
      .scroll-content {
          overflow-y: hidden;
      }

      .toolbar-md {
        min-height: 40px;
    }

    .termsHeading {
        border-bottom:1px solid #dedede;
    }
       .termsContent {
           font-size: 12px;
        height: 50%;
       } 
       .termsButton {
        border-top:1px solid #dedede;
       }
       .otpButton {
        background-color : #8D69B2;
       }

       .esignButton {
        background-color : #8D69B2;; 
       }
}


