<ion-content class="main-content">
  <br>
  <ion-card class="modal" padding>
    <b class="title">Select Trainer</b>
    <!-- close button -->
    <button ion-button class="closeButton" icon-only (click)="closeModal()" end>
      <ion-icon name="close" class="close"></ion-icon>
    </button>
    <br>
    <!-- scroll view -->
    <ion-scroll scrollY="true">
      <ion-grid>
        <ion-row>
          <!-- column 1 -->
          <ion-col col-6>
            <ion-row class="tselection" *ngFor='let d of trainerList; let odd = odd; let i =index;'>
              <div *ngIf='!odd' (click)="gotoDateTime(i)" class="trainerDetails">
                <ion-avatar item-center class="anytavatar1">
                  <img class="anytavatarimg" src="assets/img/{{d.TrainerPicture}}">
                </ion-avatar>
                <h6 text-center>{{d.TrainerName}}</h6>
                <img class="stargeneral" *ngFor="let s of starRating( d.TrainerRating )" src="assets/icon/{{s}}">
                <p class="surveycount" text-center>({{d.RatingSurveyCount}} users)</p>
              </div>
            </ion-row>
          </ion-col>
          <!-- column 2 -->
          <ion-col col-6>
            <ion-row class="tselection" *ngFor='let d of trainerList; let even = even; let i =index;'>
              <div *ngIf='!even' (click)="gotoDateTime(i)" class="trainerDetails">
                <ion-avatar item-center class="anytavatar1">
                  <img class="anytavatarimg" src="assets/img/{{d.TrainerPicture}}">
                </ion-avatar>
                <h6 text-center>{{d.TrainerName}}</h6>
                <img class="stargeneral" *ngFor="let s of starRating( d.TrainerRating )" src="assets/icon/{{s}}">
                <p class="surveycount" text-center>({{d.RatingSurveyCount}} users)</p>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </ion-scroll>
    <!-- end of scroll view -->
  </ion-card>
</ion-content>