page-any-trainer {
    
    .main-content {
        background-color: rgba(0,0,0,0.5) !important;
        align-content: center;
        position: relative;
    }

    .surveycount {
        color:#C3C3C3
    }

    .modal {
        align-content: center;
        display: block;
        margin: auto !important;
        margin-top: 100px !important;
        max-width:330px;
        max-height: 500px;
        border-radius: 5%;
        width: 330px  !important;
        height: 500px !important;
    }

    .title {
        font-size:16px;
        margin-left:90px;
        align-content: center;
        text-align: center;
        font-weight: bold;
        color:black;
    }


    .ratingCount {
        color:#C3C3C3;
    }
    .namesize
    {
        font-size: 15px;
    }
    .closeButton {
        color: black;
    }

    .stargeneral
    {   margin-top: 1px;
        height: 16px;
        width: 16px;
        display:inline-block
    }

    .tselection {
        justify-content: center;
        align-items: center;
    }

    .anytavatarimg{
        max-width: 12vh !important; 
        max-height: 12vh !important; 
       }

    .anytavatar1 {
        align-content: center;
        width: 60px;
        margin-left: 20px;
    }

    .titleContext {
        color: #989898;
    }

    .button {
        margin-left: 60px;
        background-color: transparent;
        text-transform: none;
    }
    
    .button:hover {
        background-color:transparent !important;
    }

    ion-scroll {
        height: 400px;
    }
}



