<ion-content class="mainContent" (click)="closeModaly($event)">
  <ion-content class="modal" no-padding no-margin>

    <ion-title class="Header">{{"Choose appointment types" | translate}}</ion-title>

    <ion-list style="padding-top: 45px" no-padding>
      <ion-item *ngFor='let a of purposeList; let i = index;' no-padding>

        <ion-grid class='customcard' *ngIf="buybuttonstatus[i]" (click)="gototrainer(i)">
          <ion-row class="cardsrow">
            <ion-col col-2>
              <ion-row no-padding>
                <img class="aicon" width="25px" height="25px" src="assets/img/PT/{{a.PurposeIcon}}" />
              </ion-row>
            </ion-col>
            <ion-col col-5 class="pad0">
              <ion-row class='aname' no-padding>
                {{a.PurposeName}}
              </ion-row>
            </ion-col>
            <ion-col col-5 class="pad0 ext-end">
              <ion-row no-padding>
                <img class="buyicon" width="20px" height="20px" src="assets/icon/buycart.svg" />
                <div class='buytxt'> Buy</div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class='customcard' *ngIf="!buybuttonstatus[i]" (click)="gototrainer2(i)">
          <ion-row class="cardsrow">
            <ion-col col-2>
              <ion-row no-padding>
                <img class="aicon" width="25px" height="25px" src="assets/img/PT/{{a.PurposeIcon}}" />
              </ion-row>
            </ion-col>
            <ion-col col-5 class="pad0">
              <ion-row class='aname' no-padding>
                {{a.PurposeName}}
              </ion-row>
            </ion-col>
            <ion-col col-5 class="pad0 ext-end">
              <ion-row no-padding>
                <div class='sessiontxt'> {{a.BookedSession}}/{{a.TotalSession}} sessions used</div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-content>