page-appointment-modal {
    
    .ext-end {
        display: flex;
        justify-content: flex-end;
    }

    .ext-start {
        display: flex;
        justify-content: flex-start;
    }

    .mainContent {
        
        background-color: $transparent_background;
        
        ::-webkit-scrollbar {
            display:none;
        }

    }

    .modal {
        overflow: hidden;
        top: 30%;
        height: 70%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .title {
        background-color: #EBEBEB;
        padding: 11px;
        color: #000000;
        font-weight:bold;
        font-size : 18px;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    
    .Header {
        color : black;
    }

    .toolbar-title {
        font-size: 15px;
        font-weight: 400;
        padding:0px;
    }

    .toolbar-title-ios {
        text-align: left;
        font-size: 15px;
        pointer-events: auto;
        color: #424242;
    }

    .back {
        height: 50%;
        top:0;
        background-color: rgba(0,0,0,0.6) !important;
    }

    .label {
        margin: 8px;
    }

    .aname {
        font-size: 12px;
        padding-top: 3px;
        color:#666666;  
    }

    .buytxt {
        margin-inline-start: 6px;
        color: #2ab153;
        margin-top: 6px;
        font-size:13px;
    }

    .buyicon {
        margin-top: 3px;
        fill:#2ab153;
        font-size:13px;
    }

    .cardsrow {
        margin: 1px;
    }

    .customcard {
        padding: 1px;
    }

    .sessiontxt {
        margin-top: 6px;
        font-size: 12px;
        padding: 0px;
        color:#999999;
    }

    .pad0 {padding:0px;}
    .list-md .item-block .item-inner {border-bottom:1px solid #e4e4e4;}
    .list-ios .item-block .item-inner {border-bottom:1px solid #e4e4e4;}
   
}