page-chat-window {


    $userBackgroundColor: #8E66B5;
    $toUserBackgroundColor: #fff;
  
    ion-content .scroll-content {
      background-color: #f5f5f5;
    }

    .toolbar-background {
      background-color: #8E66B5;
    }
    
  
    ion-footer {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      height: 255px;
    }
  
    .line-breaker {
      white-space: pre-line;
    }
  
    .input-wrap {
      padding: 5px;
      display: flex;
      textarea {
        flex: 1;
        border: 0;
        border-bottom: 1px $userBackgroundColor;
        border-style: solid;
      }
    }
  
    .message-wrap {
      padding: 0 1px;
      .message {
        position: relative;
        padding: 1px 0;
  
        .msg-detail {
          width: 100%;
          display: inline-block;
          p {
            margin: 0;
          }
          .msg-info {
            p {
              font-size: .8em;
              color: #888;
            }
          }
  
          .msg-content {
            position: relative;
            margin-top: 5px;
            border-radius: 5px;
            padding: 8px;
            border: 1px solid #ddd;
            color: #fff;
            width: auto;
            max-width: 80%;
            span.triangle {
              background-color: #fff;
              border-radius: 2px;
              height: 8px;
              width: 8px;
              top: 12px;
              display: block;
              border-style: solid;
              border-color: #ddd;
              border-width: 1px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
            }
          }
  
        }
      }
  
      .message.left {
        .msg-content {
          background-color: $toUserBackgroundColor;
          float: left;

          .msg-info {
            float: right;
            text-align: right;
          }
        }
        .msg-detail {
          padding-left: 8px;
        }
    
        .msg-content {
          color: #343434;
          span.triangle {
            border-top-width: 0;
            border-right-width: 0;
            left: -5px;
          }
        }
  
      }
  
      .message.right {
        .msg-detail {
          padding-right: 8px;
          .msg-info {
            float: right;
            text-align: left;
          }
        }
        .user-img {
          right: 0;
        }
  
        .msg-content {
          background-color: $userBackgroundColor;
          float: right;
          span.triangle {
            background-color: $userBackgroundColor;
            border-bottom-width: 0;
            border-left-width: 0;
            right: -5px;
          }
        }
  
      }
  
    }
  
.profileimg
{
  width: 40px;
  height: 40px;
}


.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #fff;
  background-color: transparent;
}

.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
  color: #fff;
  background-color: transparent;
}



.Title {
  background-color: #8E66B5;
  font-family: "Champagne & Limousines";
  font-size: 25px;
  /* position: absolute; */
  top: 0;
  /* left: 0; */
  /* width: 100%; */
  /* height: 100%; */
  z-index: -1;
  text-transform: capitalize;
}

.toolbar-title-md {
  color: $welcome_text_fontColor;
}


}
