<ion-header>

  <ion-navbar>
    <ion-title>
      
      <ion-row>
        <ion-avatar item-start>
          <img class="profileimg" src="assets/img/pro-pic.png">
      </ion-avatar>
  <strong class="Title" style=" color : #fff; padding-top: 8px; font-size:24px; padding-left:14px;">&nbsp; &nbsp; {{mydetails.userName}}</strong></ion-row>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
      <ion-icon name="ios-information-circle-outline" color="white">
      </ion-icon>
      
       <!-- 
<img height="25px" width="18px" src="assets/icon/info.svg" class="NotificationIcon" />


         --> 
      </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="message-wrap">

    <div *ngFor="let msg of msgnlist"
         class="message"
         [class.left]=" msg.userId === toUser.id "
         [class.right]=" msg.userId === userId.id ">
     
    
      <div class="msg-detail">
     
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
          <span  class="msg-info"   style="font-size:12px; padding-top:5px;"> 

      {{fromNow(msg.time)}} </span>

        </div>
             <br> 
    
    
      </div>

    </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="'55px'">
  <div class="input-wrap">
&nbsp;
    <textarea #chat_input
              placeholder="Enter message"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon style="color:#8E66B5" name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>

</ion-footer>
