<ion-menu id="authenticated"  side="left"   [content]="content">
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-nav #content [root]="rootPage"></ion-nav>