page-video-playing {

           
    .contentCard
    {
        width: 100%;       
    }
    @media only screen and (min-width: 600px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .videorow1
{
    
    display: flex;
    margin-inline-end: 30px;
    margin-inline-start: 18px;
    max-width: 550px;    padding:10px;
    //white-space: nowrap;
    //overflow: hidden;
  //  display:inline-block;
  //  text-overflow: ellipsis;
}

    }
    
    @media only screen and (min-width: 768px) {
        .contentCard
        {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
        .videorow1 {
    
            display: flex;
            margin-inline-end: 30px;
            margin-inline-start: 18px;
            max-width: 700px;    padding:10px;
            //white-space: nowrap;
            //overflow: hidden;
          //  display:inline-block;
          //  text-overflow: ellipsis;
        }
        
    }





    .videoPlayer
    {
        width: 100%;

    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: $welcome_text_fontColor;
        background-color: transparent;
    }
    .maintitle{
       
        margin-top: 5px;
        background:$welcome_text_fontColor;
        padding: 5px;
        
    }

    .titleroww
    {
        
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 6px;
        color: $item-md-detail-push-color;
    }
    
    .inforoww
    {
        color: $item-md-detail-push-color;
        margin-inline-start: 25px;
    }
   
    .viewstxt
    {
    color: $item-md-detail-push-color;
    top: 6px;
    margin-left: 7px;
    font-size: 12px;
    position: absolute;
    
    }

.addiconn
{
    fill: $VideoAddIcon;
    width: 20px;
    height: 20px;
    margin-top: -4px;
}

.addfavtxt
{
    top: 7px;
    margin-left: 7px;
    font-size: 12px;
    position: absolute;
}

.dsctxt
{
    color: $item-md-detail-push-color;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.descgrid
{
    margin-top: 5px;
    background:$welcome_text_fontColor;
    padding: 5px;
}


.tagsgrid
{
    margin-top: 5px;
    background:$welcome_text_fontColor;
    padding: 5px;
}


.chip-md {
    border-radius: 16px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    color: $welcome_text_fontColor;
    background: $welcome_backgroundColor;
    margin: 2px 0;
}

.viewico{
    margin-inline-start: 9px;
}

.likeico
{
    margin-inline-start: 6px;
}

.addico
{
    margin-inline-start: 6px;
    color:$item-md-detail-push-color;
}

.shareico
{
    margin-inline-start: 12px;
}

.videotitle
{    
    background:$welcome_text_fontColor;
    padding: 5px;
}
.ttxt
{
    margin-top: 5px;
}

.videorow
{
    padding-right: 18px;
    padding-left: 18px;
    width: 85vw;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    text-overflow: ellipsis;
}

.videorow1
{
    
    display: flex;
    margin-inline-end: 30px;
    margin-inline-start: 18px;
    width: 100%;;
    padding:10px;
    //white-space: nowrap;
    //overflow: hidden;
  //  display:inline-block;
  //  text-overflow: ellipsis;
}


.toggledesc
{
    right: 0px;
  //  position: absolute;
    display: flex;
    justify-content: flex-end;
    //margin-inline-end: 15px;
    margin-top: 2px;
}

.vdscblurr
{
    height: 5px;
    white-space: pre-line;
    filter: blur(3px);
}
.videocolor{
    fill:$welcome_backgroundColor;
}

.Title {
    background-color: $welcome_backgroundColor;
    font-family: 'Champagne & Limousines' !important;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toolbar-title-md {
    color: $welcome_text_fontColor;
    padding-left: 55px;
}



}
