<ion-header>
    <ion-navbar>
        <ion-title class="Title">
            {{videoDetails.VideoTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="contentCard" overflow-scroll="true">
    <video controls="controls" preload="metadata" autoplay="autoplay" controlsList="nodownload" webkit-playsinline="webkit-playsinline"
        class="videoPlayer">
        <source [src]="videoDetails.VideoURL" type="video/mp4" />
    </video>
    <ion-grid class="videotitle">
        <ion-row class="titleroww">
            {{videoDetails.VideoTitle}}
        </ion-row>
    </ion-grid>
    <ion-grid class="maintitle">
        <ion-row class="inforoww">
            <ion-col>
                <ion-row class="viewico">
                    <ion-icon name="md-eye"></ion-icon>
                </ion-row>
                <ion-row>
                    <span class="ttxt"> {{videoDetails.viewCount}} </span>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row class="likeico">
                    <ion-icon md="md-thumbs-up"></ion-icon>
                </ion-row>
                <ion-row>
                    <span class="ttxt"> {{ "LIKE" | translate}}</span>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row class="addico">
                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="addiconn"
                        style="pointer-events: none;">
                        <g  class="videocolor" fill="#8D69B2">
                            <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z"
                                class="style-scope yt-icon">
                            </path>
                        </g>
                    </svg>
                </ion-row>
                <ion-row>
                    <span class="ttxt">{{ "ADD" | translate}} </span>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row class="shareico">
                    <ion-icon name="md-share-alt"></ion-icon>
                </ion-row>
                <ion-row>
                    <span class="ttxt">{{ "SHARE" | translate}} </span>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="descgrid">
        <ion-row class="dsctxt" >
        <ion-col col-4>
            {{ "DESCRIPTION" | translate}}
        </ion-col>   
        <ion-col col-8 class="toggledesc">
            <ion-icon name="ios-more" (click)="toggleD()"></ion-icon>
        </ion-col>
           
        </ion-row>

        <ion-row (click)="toggleD()" *ngIf="!showDesc" class="videorow">
            {{videoDetails.VideoDescription}}</ion-row>
        <ion-row *ngIf="showDesc" class="videorow1">
            {{videoDetails.VideoDescription}}
        </ion-row>
    </ion-grid>
    <ion-grid class="tagsgrid">
        <ion-row class="dsctxt">
            {{ "TAGS" | translate}}
        </ion-row>
        <ion-row>
            <ion-col *ngFor="let t of videoDetails.Tags" col-auto>
                <ion-chip>
                    <ion-label>{{t}}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>